<!DOCTYPE html>
<html lang="en">
<head>
    <title>Credit Cash Analytics</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=9; IE=8; IE=7" />
    <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <!--===============================================================================================-->
    <link href="/Content/Styles/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Content/Login_v12/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Content/Login_v12/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Content/Login_v12/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Content/Login_v12/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Content/Login_v12/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Content/Login_v12/css/util.css">
    <link rel="stylesheet" type="text/css" href="Content/Login_v12/css/main.css">
    <script src="/Content/Scripts/angular.min.js"></script>
    <link href="/Content/Styles/loading.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body ng-app="analytics" ng-controller="loginController">

    <div>
        <div class="limiter">

            <div class="container-login100" style="background: url('/Content/Images/ccashbg.jpg') no-repeat right top; position: absolute;">
                <div id="teste" class="col-xs-12 col-sm-10 col-md-6 col-lg-5 ">
                    <form name="loginForm" autocomplete="off">
                        <div>
                            <img style="width:200px;height:200px; top: 100px; margin-left: auto;margin-right: auto;display: block;" src="Content/Images/CreditCash/logofull-new-500x500.png" alt="AVATAR">
                        </div>

                        <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                            <input class="input100" type="text" name="username" placeholder="Usuario" ng-model="usuario.login" ng-required="true">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                            <input class="input100" type="password" name="pass" placeholder="Senha" ng-model="usuario.senha" ng-required="true">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-10" data-validate="Access is required">
                            <select class="input100" name="acesso" ng-model="usuario.acesso" ng-required="true">
                                <option value="interno" selected>Interno</option>
                                <option value="cliente">Cliente</option>
                            </select>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-address-card"></i>
                            </span>
                        </div>

                        <div class="container-login100-form-btn p-t-10">
                            <button style="width:80%" class="login100-form-btn" type="submit" ng-click="logar(usuario)" ng-disabled="loginForm.$invalid">
                                Login
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>


    <style>
        #teste {
            background-color: lightgrey;
            padding: 10px;
            border-radius: 25px;
            height: 480px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        #img {
            width: 200px;
            height: 200px;
            top: 100px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
    <!--LOADING-->
    <div ng-class="dadosPagina.loading ? 'loading' : ''"><div></div></div>
    <script>

        localStorage.removeItem('token');

        var app = angular.module('analytics', []);
        app.controller('loginController', function ($scope, $http, $window) {
           

            if (/MSIE 10/i.test(navigator.userAgent)) {
                window.open("./ie.html");
                window.close();

            }

            if (/MSIE 9/i.test(navigator.userAgent) || /rv:11.0/i.test(navigator.userAgent)) {
                window.open("./ie.html");
                window.close();

            } 


            $scope.dadosPagina = {
                loading: false
            }

            $scope.usuario = {
                login: '',
                senha: '',
                acesso: 'interno',
                recaptcha: ''
            };

            //$scope.imNotARobot = function () {
            //    $scope.usuario.recaptcha = (grecaptcha.getResponse());
            //};
            //$window.imNotARobot = $scope.imNotARobot;

            $scope.logar = function (usuario) {
                $scope.dadosPagina.loading = true;

                delete $scope.usuario;
                //grecaptcha.reset();

                $.ajax({
                    type: "POST",
                    url: "/api/autenticacao/logar",
                    data: usuario,
                    success: function (data) {
                        localStorage.setItem('token', data);
                        $window.location.href = '/';
                    },
                    error: function (r) {
                        $scope.dadosPagina.loading = false;
                        $scope.$apply();
                        alert(r.responseText);
                    }
                });
            }

           
        });

        //if (/MSIE 10/i.test(navigator.userAgent)) {
        //    // This is internet explorer 10
        //    document.body.innerHTML = 'aplicação não homologada para IE'

        //    //$scope.navegador.valor = false;

        //}

        //if (/MSIE 9/i.test(navigator.userAgent) || /rv:11.0/i.test(navigator.userAgent)) {
        //    // This is internet explorer 9 or 11
        //    document.body.innerHTML = 'aplicação não homologada para IE'

        //    //$scope.navegador.valor = false;

        //}

    </script>


    <!--===============================================================================================-->
    <script src="/Content/Scripts/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script src="Content/Login_v12/vendor/bootstrap/js/popper.js"></script>
    <script src="/Content/Scripts/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="Content/Login_v12/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="Content/Login_v12/js/main.js"></script>

</body>
</html>