@{
    Layout = "~/Views/master.cshtml";
}
    <!-- DAHSBOARD -->

<div ng-controller="ctrl-riachuelo-analise">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Analise Malas</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--EMPRESA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Empresa</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.empresa" dados="dashFiltros.empresa" style="width:100%"></select2>
                        </div>

                        <!--CARTEIRA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Carteira</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteira" dados="dashFiltros.carteira" style="width:100%"></select2>
                        </div>

                        <!--GRUPOS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Grupos</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.grupo" dados="dashFiltros.grupo" style="width:100%"></select2>
                        </div>

                        <!--VISÃO-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Visão</label>
                            <select class="form-control" ng-model="filtros.visao">
                                <option value="vencimento">Vencimento</option>
                                <option value="andamento" selected>Andamento</option>
                            </select>
                        </div>

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial Acao</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final Acao</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-black" style="background: url('/Content/Images/Riachuelo/Banner.jpg') center center;">
            </div>
        </div>
        <div class="col-xs-12 col-md-4 margin-bottom">

            <h3 class="text-center">Malas e Pagamentos</h3>
            <div class="info-box bg-black">
                <span class="info-box-icon"><i class="fa fa-percent"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">EFETIVIDADE</span>
                    <span class="info-box-number">{{dashboard.resumo.EFETIVDADE | percent }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
                <div class="info-box bg-black color-palette">
                    <span class="info-box-icon"><i class="fa fa-minus-square"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">MALA DIRETA</span>
                        <span class="info-box-number">{{dashboard.resumo.MALA | number}}</span>
                        <span class="progress-description">
                            {{dashboard.resumo.MALAVLR | currency:'R$'}} (Custo Ação)
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>

                <div class="info-box bg-black color-palette">
                    <span class="info-box-icon"><i class="fa fa-archive"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">PAGAMENTO</span>
                        <span class="info-box-number">{{dashboard.resumo.PAGAMENTO | number}}</span>
                        <span class="progress-description">
                            {{dashboard.resumo.PAGVLR | currency:'R$'}}
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>

            <div class="info-box bg-black color-palette">
                <span class="info-box-icon"><i class="fa fa-money"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">COMISSÃO</span>
                    <span class="info-box-number">{{dashboard.resumo.COMISSAO | currency:'R$'}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>

            </div>
        <div class="col-xs-12 col-md-8">
            <h4 class="text-center">Cascata por Semana</h4>
            <high-chart series="dashboard.diaProm" axis-Categories="dashboard.diasEfetividadeNew" type="column"
                        plot-Options-Column-Data-Label="true" plot-Options-Column-Stacking="normal" height="500px"></high-chart>
        </div>

        <div class="row margin-bottom">
            <div class="col-xs-12">
                <h3 class="box-title">
                    Analise Grafica
                    <small class="pull-right">
                        <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                            <option value="MALA">Mala</option>
                            <option value="PAGAMENTO">Pagamento</option>
                            <option value="EFETIVIDADE">Efetividade</option>
                        </select>
                    </small>
                </h3>
            </div>
        </div>

                <!--VALOR-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Faixa Valor</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('ResumoValor','Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.valor" axis-Categories="dashboard.faixaValor" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>
            </div>
        </div>


            <!--POR FAIXA DE ATRASO-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Faixa de Atraso</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('ResumoAtraso','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.atraso" axis-Categories="dashboard.faixaAtraso" plot-Options-Line-Data-Label="true" type="line"></high-chart>
                    </div>
                </div>
            </div>
        </div>

            <!--VALOR-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Faixa Idade</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('ResumoIdade','Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.idade" axis-Categories="dashboard.faixaIdade" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>
            </div>
        </div>

            <!--GRUPOS-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12">
                <div class="card col-md-6">
                    <div class="card-header">
                        <span class="card-header-title">Grupos</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('ResumoGrupo','Table5')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.grupo" axis-Categories="dashboard.faixaGrupo" plot-Options-Bar-Data-Label="true" type="bar"></high-chart>
                    </div>
                </div>
                <div class="card col-md-6">
                    <div class="card-header">
                        <span class="card-header-title">Localização</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('ResumoRegiao','Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <mapa-brasil style="height:400px" width="100%" dados="dashboard.mapa"></mapa-brasil>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>


    <script>
        angular.module('app').controller('ctrl-riachuelo-analise', function ($scope, $http, $filter, $interval, dadosPagina) {
            dadosPagina.titulo = 'Analise Mala Direta';
            dadosPagina.descricao = 'Riachuelo'

            // filtros iniciais
            let newdate = new Date();
            let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth()-1, 1);

            $scope.filtros = {
                dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
                dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
                empresa: '',
                carteira: '',
                grupo: '',
                visao: 'andamento',
            };
            $scope.dashFiltros = {};
            $scope.dashboard = {};
            $scope.grafico = {
                indicador: 'PAGAMENTO'
            };

            //carregar os filtros
            $http({
                method: 'GET',
                url: "/api/riachuelo/dashboard/humano/filtros",
            }).then(function success(r) {
                let data = r.data;
                $scope.dashFiltros.status = r.status;
                $scope.dashFiltros.empresa = data.Table;
                $scope.dashFiltros.carteira = data.Table1;
                $scope.dashFiltros.grupo = data.Table2;


            });

            $scope.carregarDashboard = function () {
                $http({
                    method: 'POST',
                    url: "/api/riachuelo/dashboard/humano/grupo",
                    data: $scope.filtros,
                }).then(function success(r) {
                    $scope.dashboard.status = r.status;
                    let data = r.data;

                    $scope.dashboard.resumo = data.Table[0];
                    $scope.dashboard.dados = r.data;

                    $scope.dashboard.faixaAtraso = data.Table1.map(obj => obj.ds_faixaAtraso);
                    $scope.dashboard.faixaValor = data.Table3.map(obj => obj.ds_faixaSaldo);
                    $scope.dashboard.faixaGrupo = data.Table5.map(obj => obj.GRUPO);
                    $scope.dashboard.faixaIdade = data.Table2.map(obj => obj.ds_faixaIdade);

                    $scope.dashboard.dadoAtraso = data.Table1;
                    $scope.dashboard.dadoMapa = data.Table4;
                    $scope.dashboard.dadoGrupo = data.Table5;
                    $scope.dashboard.dadoValor = data.Table3;
                    $scope.dashboard.dadoIdade = data.Table2;

                    $scope.dashboard.diaProm = [
                    { name: 'pagamento', type: 'column', data: data.Table6.map(obj => obj.PAGAMENTO), color: '#bcbcbc' },
                    { name: 'mala', type: 'column', data: data.Table6.map(obj => obj.MALA), color: '#000000' },
                  
                    ];

                    $scope.dashboard.diasEfetividadeNew = data.Table6.map(obj => obj.periodo);


                    $scope.carregarGrafico();
                });
            }


            // carrega o mapa de acordo com o indicador escolhido
            $scope.carregarGrafico = function () {
                let dadosMapa = $scope.dashboard.dadoMapa;

                //let dadosAtraso = $scope.dashboard.dadoAtraso;
                //let dadosGrupo = $scope.dashboard.dadoGrupo;
                //let dadosValor = $scope.dashboard.dadoValor;
                //let dadosIdade = $scope.dashboard.dadoIdade;

                let indicador = $scope.grafico.indicador;

                //let indicador = $scope.grafico.indicador;            
                let dadosValor = $scope.dashboard.dadoValor.sort(function (a, b) { return b[indicador] - a[indicador] });
                let dadosAtraso = $scope.dashboard.dadoAtraso.sort(function (a, b) { return b[indicador] - a[indicador] });
                let dadosGrupo = $scope.dashboard.dadoGrupo.sort(function (a, b) { return b[indicador] - a[indicador] });
                let dadosIdade = $scope.dashboard.dadoIdade.sort(function (a, b) { return b[indicador] - a[indicador] });

                $scope.dashboard.faixaAtraso = dadosAtraso.map(obj => obj.ds_faixaAtraso);
                $scope.dashboard.faixaValor = dadosValor.map(obj => obj.ds_faixaSaldo);
                $scope.dashboard.faixaGrupo = dadosGrupo.map(obj => obj.GRUPO);
                $scope.dashboard.faixaIdade = dadosIdade.map(obj => obj.ds_faixaIdade);

                $scope.dashboard.valor = [{ name: [indicador], data: dadosValor.map(obj => (obj[indicador])), color: '#000000' }];
                $scope.dashboard.grupo = [{ name: [indicador], data: dadosGrupo.map(obj => (obj[indicador])), color: '#000000' }];
                $scope.dashboard.atraso = [{ name: [indicador], data: dadosAtraso.map(obj => (obj[indicador])), color: '#000000' }];
                $scope.dashboard.idade = [{ name: [indicador], data: dadosIdade.map(obj => (obj[indicador])), color: '#000000' }];
                $scope.dashboard.mapa = dadosMapa.map(obj => ({ id: 'BR-' + obj.ds_estado, value: obj[indicador] }));


            }


            $scope.carregarDashboard();

            // extrair dados para excel
            $scope.extrair = function (nomeArquivo, tabela) {
                alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
            }


        });
    </script>
