@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-omne-producao">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Produção Omne 3.0</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">

            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--FILA-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Campanhas</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.campanha" dados="dashFiltros.campanha" style="width:100%"></select2>
                            </div>

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- RESUMO -->
        <div class="box box-widget widget-user">
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <h5 class="description-header">
                                <i class="fa fa-whatsapp"></i> Whatsapp
                            </h5>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <h5 class="description-header">
                                <i class="fa fa-commenting-o"></i> Chat
                            </h5>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <h5 class="description-header">
                                <i class="fa fa-television"></i> Portal
                            </h5>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <h5 class="description-header">TOTAL</h5>
                        </div>
                    </div>
                </div>

                <div class="row" style="background-color: #0073b7; color: white; opacity: 0.8">
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.atendimento_zap | number"></h5>
                            <span class="description-text">Atendimento</span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.atendimento_chat | number"></h5>
                            <span class="description-text">Atendimento</span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.atendimento_portal | number"></h5>
                            <span class="description-text">Atendimento</span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.atendimento | number"></h5>
                            <span class="description-text">Atendimento</span>
                        </div>
                    </div>
                </div>


                <div class="row" style="background-color: #00a65a; color:white; opacity: 0.8">
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.negociacao_zap | number"></h5>
                            <span class="description-text">Negociação</span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.negociacao_chat | number"></h5>
                            <span class="description-text">Negociação</span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.negociacao_portal | number"></h5>
                            <span class="description-text">Negociação</span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.negociacao | number"></h5>
                            <span class="description-text">Negociação</span>
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <div class="row margin-bottom">
            <!--ANALISE POR DIA-->
            <div class="col-xs-12 col-md-6 margin-bottom">
                <div class="card">
                    <div class="card-body">
                        <high-charts config="dashboard.graficoDia" style="width: 100%; height: 300px"></high-charts>
                    </div>
                </div>
            </div>
            <!--ANALISE POR CAMPANHA-->
            <div class="col-xs-12 col-md-6 margin-bottom">
                <div class="card">
                    <div class="card-body">
                        <high-charts config="dashboard.graficoCampanha" style="width: 100%; height: 300px"></high-charts>
                    </div>
                </div>
            </div>
        </div>

        <!--DIAGRAMA PORTAL-->
        <div class="row margin-bottom">
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Fluxo Portal</span>
                    </div>
                    <div class="card-body">
                        <sankey-chart dados="dashboard.portal" series-name="Acesso"></sankey-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--OCORRENCIA-->
        <div class="row">
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Ocorrências</span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.ocorrencia">
                                <thead>
                                    <tr>
                                        <th>Ocorrencia</th>
                                        <th>Quantidade</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="c in dashboard.ocorrencia | groupBy: 'ds_grupo'">

                                    <tr class="text-bold">
                                        <td class="text-bold">
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{c[0].ds_grupo}}
                                        </td>
                                        <td>{{c | sumByColumn: 'qtd' | number}}</td>
                                    </tr>

                                    <tr ng-repeat="p in c" ng-show="showTbody">
                                        <td>{{p.ds_ocorrencia}}</td>
                                        <td>{{p.qtd | number}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    angular.module('app').controller('ctrl-omne-producao', function ($scope, $http, $filter) {

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);
        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            campanha: ''
        };

        // FILTROS
        $scope.dashFiltros = {};
        $http({
            method: 'GET',
            url: "/api/omne/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.campanha = r.data.Table2;

        });

        // DASHBOARD
        $scope.dashboard = {};
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/omne/omne3/producao",
                data: $scope.filtros,
            }).then(function success(r) {

                $scope.dashboard.status = r.status;

                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.portal = r.data.Table3;
                $scope.dashboard.ocorrencia = r.data.Table4;
             
                $scope.dashboard.graficoCampanha = {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Campanha'
                    },
                    yAxis: {
                        title: '',
                    },
                    xAxis: {
                        categories: r.data.Table1.map(obj => obj['ds_campanha'])
                    },
                    plotOptions: {
                        column: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {
                        enabled: false,
                    },
                    credits: {
                        enabled: false
                    },
                    series: [
                        { name: 'Atendimento', data: r.data.Table1.map(obj => obj.atendimento) },
                    ]

                };
                $scope.dashboard.graficoDia = {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Dia a Dia'
                    },
                    yAxis: {
                        title: '',
                        stackLabels: {
                            enabled: true,
                        }
                    },
                    xAxis: {
                        categories: r.data.Table2.map(obj => obj['data'])
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal'
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: [
                        { name: 'Chat', data: r.data.Table2.map(obj => obj.atendimento_chat) },
                        { name: 'Portal', data: r.data.Table2.map(obj => obj.atendimento_portal) },
                        { name: 'Whatsapp', data: r.data.Table2.map(obj => obj.atendimento_zap) },
                    ]
                };

                
            });
        }

        $scope.carregarDashboard();

    });

</script>