@{
    Layout = "~/Views/master.cshtml";
}

<!-- DAHSBOARD -->
<div ng-controller="ctrl-semparar-boletosms-digital">
    <div ng-if="dashboard.status === 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Boleto - SMS</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">

            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--FILAS-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Filas</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.filas" dados="dashFiltros.filas" style="width:100%"></select2>
                            </div>

                            <div class="form-group">
                                <label>Carregar Analítico: </label>
                                <input type="checkbox" ng-model="filtros.carregar" />
                            </div>

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                                <button type="button" data-target="#exampleModal" data-toggle="modal" class="btn btn-success" onclick="addDisplayNone('filtros-window')">Download Promessas</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Marcar todos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Deseja baixar as promessas do período de {{filtros.dtini}} até {{filtros.dtfim}} ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" ng-click="downloadfile()">Sim</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- RESUMO -->
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box bg-purple-active">
                    <span class="info-box-icon">
                        <i class="fa fa-handshake-o"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="text">Total Promessas</div>
                        <div class="info-box-number" ng-bind="dashboard.resumo.promessa | number"></div>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            <b>{{dashboard.resumo.promessa_media_dia}}</b> - Média Promessas Dia
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box bg-aqua-active">
                    <span class="info-box-icon">
                        <i class="fa fa-barcode"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="text">Boletos Cadastrados</div>
                        <div class="info-box-number" ng-bind="dashboard.resumo.boleto | number"></div>
                        <div class="progress">
                            <div class="progress-bar" style="width: {{dashboard.resumo.pct_cadastrado}}%"></div>
                        </div>
                        <span class="progress-description">
                            <b>{{dashboard.resumo.pct_cadastrado}}%</b> Promessas Cadastradas
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box bg-green-active">
                    <span class="info-box-icon">
                        <i class="fa fa-envelope-open-o "></i>
                    </span>
                    <div class="info-box-content">
                        <div class="text">SMS Enviados</div>
                        <div class="info-box-number" ng-bind="dashboard.resumo.envio_sms | number"></div>
                        <div class="progress">
                            <div class="progress-bar" style="width: {{dashboard.resumo.pct_enviado}}%"></div>
                        </div>
                        <span class="progress-description">
                            <b>{{dashboard.resumo.pct_enviado}}%</b> Boletos Enviados
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box bg-yellow-active">
                    <span class="info-box-icon">
                        <i class="fa fa-money"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="text">Custo</div>
                        <div class="info-box-number" ng-bind="dashboard.resumo.custo | currency:'R$ '"></div>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            <b>{{dashboard.resumo.custo_media_dia}}</b> - Média Custo Dia
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!--ANALISE POR DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por DIA</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('GraficoDia','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>

                        <div class="card-header-button" ng-show="buttonDownload.exibir == true" ng-click="extrair('NaoCadastrados','Table3')">
                            <i class="fa fa-cloud-download"></i>
                        </div>

                        <small class="pull-right">
                            <label>
                                <input type="radio" name="graficoDiaExibir" ng-model="graficoDia.exibir" value="true" />
                                Tabela
                            </label>
                            <label>
                                <input type="radio" name="graficoDiaExibir" ng-model="graficoDia.exibir" value="false" checked="checked" />
                                Gráfico
                            </label>
                        </small>

                    </div>
                    <div class="card-body">
                        <!--TABELA-->
                        <div class="table-responsive" ng-show="graficoDia.exibir == 'true'">
                            <table class="table table-striped table-bordered" style="text-align:center" ng-if="dashboard.dia">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Dia</th>
                                        <th style="text-align:center">Promessa</th>
                                        <th style="text-align:center">Boleto Cadastrado</th>
                                        <th style="text-align:center">SMS Enviado</th>
                                        <th style="text-align:center">Custo</th>
                                        <th style="text-align:center">% Boleto</th>
                                        <th style="text-align:center">% SMS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dia in dashboard.dia">
                                        <td>{{dia.data | date : 'dd/MM/yyyy'}}</td>
                                        <td>{{dia.promessa | number}}</td>
                                        <td>{{dia.boleto | number}}</td>
                                        <td>{{dia.envio_sms | number}}</td>
                                        <td>{{dia.custo | currency:'R$ '}}</td>
                                        <td>{{dia.boleto / dia.promessa | percentage:1}}</td>
                                        <td>{{dia.envio_sms / dia.boleto | percentage:1}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th style="text-align:center">Total</th>
                                        <th style="text-align:center">{{dashboard.resumo.promessa | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.boleto | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.envio_sms | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.custo | currency:'R$ '}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.boleto / dashboard.resumo.promessa | percentage: 1}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.envio_sms / dashboard.resumo.boleto | percentage: 1}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <!--GRAFICO-->
                        <div ng-show="graficoDia.exibir == 'false'">
                            <high-chart series="dashboard.graficoDia" axis-Categories="dashboard.dias" plot-Options-Column-Data-Label="true"></high-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--ANALISE POR FILA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Fila</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <!--TABELA-->
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="text-align:center" ng-if="dashboard.fila">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Fila</th>
                                        <th style="text-align:center">Promessa</th>
                                        <th style="text-align:center">Boleto Cadastrado</th>
                                        <th style="text-align:center">SMS Enviado</th>
                                        <th style="text-align:center">Custo</th>
                                        <th style="text-align:center">% Boleto</th>
                                        <th style="text-align:center">% SMS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dia in dashboard.fila">
                                        <td>{{dia.fila }}</td>
                                        <td>{{dia.promessa | number}}</td>
                                        <td>{{dia.boleto | number}}</td>
                                        <td>{{dia.envio_sms | number}}</td>
                                        <td>{{dia.custo | currency:'R$ '}}</td>
                                        <td>{{dia.boleto / dia.promessa | percentage:1}}</td>
                                        <td>{{dia.envio_sms / dia.boleto | percentage:1}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th style="text-align:center">Total</th>
                                        <th style="text-align:center">{{dashboard.resumo.promessa | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.boleto | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.envio_sms | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.custo | currency:'R$ '}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.boleto / dashboard.resumo.promessa | percentage: 1}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.envio_sms / dashboard.resumo.boleto | percentage: 1}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<script>
    angular.module('app').controller('ctrl-semparar-boletosms-digital', function ($scope, $http, $filter, $interval, dadosPagina) {

        dadosPagina.titulo = 'Boleto Sms';
        dadosPagina.descricao = 'Sem Parar Digital'
        $scope.showTbody = false;
        $scope.dashFiltros = {};


        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);


        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            filas: '',
            carregar: false
        };

         // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/semparar/dashboard/digital/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            $scope.dados = r.status;

            $scope.dashFiltros.filas = r.data.Table3;

        });

        $scope.dashboard = {};
        $scope.graficoDia = { exibir: 'false' };
        $scope.buttonDownload = { exibir: false };

        $scope.carregarDashboard = function () {
            $scope.buttonDownload.exibir = $scope.filtros.carregar
            $http({
                method: 'POST',
                url: "/api/semparar/dashboard/digital/boletosms",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.dia = r.data.Table1;
                $scope.dashboard.fila = r.data.Table2;
                $scope.dashboard.dias = r.data.Table1.map(obj => obj.data);

                $scope.carregarGraficoDia();


            });
        }

        // carrega o gráfico dia
        $scope.carregarGraficoDia = function () {
            let dados = $scope.dashboard.dia;

            $scope.dashboard.graficoDia = [
                { name: 'Promessa', type: 'column', color: '#555299', data: dados.map(obj => (obj.promessa)) },
                { name: 'Boleto', type: 'column', color: '#00a7d0', data: dados.map(obj => (obj.boleto)) },
                { name: 'Sms', type: 'column', color: '#008d4c', data: dados.map(obj => (obj.envio_sms)) }];
        }

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        //extrair dados para excel
        $scope.downloadfile = function () {

            var dtini = $filter('date')($scope.filtros.dtini, "dd")
            var dtfim = $filter('date')($scope.filtros.dtfim, "dd")

            if ((dtfim - dtini) < 0) {

                alert("O período inserido no filtro deverá ser de 1 mês fechado!")

            } else {

                $http({
                    method: 'POST',
                    url: "/api/semparar/dashboard/digital/download",
                    data: $scope.filtros,
                    responseType: 'arraybuffer',

                }).then(function success(r) {
                    $scope.dashboard.status = r.status;

                    var file = new File([r.data], { type: "application/csv" });
                    var objectUrl = URL.createObjectURL(file);

                    var link = document.createElement('a');
                    link.style = "display: none";
                    link.href = objectUrl;
                    link.download = 'PROMESSASDIGITAL_' + $filter('date')(new Date(), "yyyyMMdd HH:mm:ss") + '.txt';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                    window.URL.revokeObjectURL(objectUrl);

                    $('#exampleModal').modal('hide');
                   

                });
            }
        }

        $scope.carregarDashboard();

    });

</script>
