@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-mktzap-operacional">
    <div ng-if="dashboard.status == 200">

        <header class="page-header">
            <div class="page-name">Dashboard Hora Hora</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">

            <div class="col-xs-12" ng-if="dadosFiltros.status === 200">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <br />
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--CAMPANHAS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Campanhas</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.campanhas" dados="dadosFiltros.campanhas" style="width:100%"></select2>
                        </div>

                        <!--SETORES-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Setores</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.setores" dados="dadosFiltros.setores" style="width:100%"></select2>
                        </div>

                        <!--CANAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Canal</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.canal" dados="dadosFiltros.canal" style="width:100%"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

       
        <div class="row">
            <!--RESUMO-->
            <div class="col-xs-12 col-md-6 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Resumo</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!--QUANTIDADE-->
                            <div class="col-xs-8">
                                <div class="small-box bg-gray">
                                    <div class="inner">
                                        <b>Atendimento:</b><span class="pull-right" ng-bind="dashboard.resumo.atendimento | number"></span>
                                    </div>
                                </div>
                                <div class="small-box bg-blue">
                                    <div class="inner">
                                        <b>Finalizado:</b>
                                        <span class="pull-right" ng-bind="dashboard.resumo.finalizado | number"></span>
                                    </div>
                                </div>
                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <b>Interação:</b>
                                        <span class="pull-right" ng-bind="dashboard.resumo.interacao | number"></span>
                                    </div>
                                </div>
                                <div class="small-box bg-red">
                                    <div class="inner">
                                        <b>CPC:</b><span class="pull-right" ng-bind="dashboard.resumo.cpc | number"></span>
                                    </div>
                                </div>
                                <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <b>CPCA:</b><span class="pull-right" ng-bind="dashboard.resumo.cpca | number"></span>
                                    </div>
                                </div>
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <b>Negociação:</b><span class="pull-right" ng-bind="dashboard.resumo.negociacao | number"></span>
                                    </div>
                                </div>
                            </div>
                            <!--PERCENTUAL-->
                            <div class="col-xs-4">
                                <div class="small-box bg-gray">
                                    <div class="inner">
                                        <b>NOVOS:</b><span class="pull-right" ng-bind="dashboard.resumo.atendimento_unq | number"></span>
                                    </div>
                                </div>
                                <div class="small-box bg-blue">
                                    <div class="inner">
                                        <b>%</b>
                                        <span class="pull-right" ng-bind="dashboard.resumo.finalizado / dashboard.resumo.atendimento | percentage:1"></span>
                                    </div>
                                </div>
                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <b>%</b>
                                        <span class="pull-right" ng-bind="dashboard.resumo.interacao / dashboard.resumo.finalizado | percentage:1"></span>
                                    </div>
                                </div>
                                <div class="small-box bg-red">
                                    <div class="inner">
                                        <b>%</b><span class="pull-right" ng-bind="dashboard.resumo.cpc / dashboard.resumo.interacao | percentage:1"></span>
                                    </div>
                                </div>
                                <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <b>%</b><span class="pull-right" ng-bind="dashboard.resumo.cpca / dashboard.resumo.cpc | percentage:1"></span>
                                    </div>
                                </div>
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <b>%</b><span class="pull-right" ng-bind="dashboard.resumo.negociacao / dashboard.resumo.cpca | percentage:1"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--TABULACAO-->
            <div class="col-xs-12 col-md-6 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Finalizações</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvasjs config="dashboard.tabulacao" style="width: 100%; height: 360px"></canvasjs>
                    </div>
                </div>
            </div>
        </div>        
       
        <!--HORA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Hora</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right">
                            <label>
                                <input type="radio" name="graficoHoraExibir" ng-model="graficoHora.exibir" value="false" checked="checked" />
                                Tabela
                            </label>
                            <label>
                                <input type="radio" name="graficoHoraExibir" ng-model="graficoHora.exibir" value="true" />
                                Gráfico
                            </label>
                        </small>
                    </div>
                    <div class="card-body">
                        <!--TABELA-->
                        <div class="table-responsive" ng-show="graficoHora.exibir == 'false'">
                            <table class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Hora</th>
                                        <th>Atendimento</th>
                                        <th>Finalizado</th>
                                        <th>Interação</th>
                                        <th>CPC</th>
                                        <th>CPCA</th>
                                        <th>Negociação</th>
                                        <th>% Finalizado</th>
                                        <th>Conversão</th>
                                        <th>TME</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="hora in dashboard.hora">
                                        <td>{{hora.hora}}</td>
                                        <td>{{hora.atendimento | number}}</td>
                                        <td>{{hora.finalizado | number}}</td>
                                        <td>{{hora.interacao | number}}</td>
                                        <td>{{hora.cpc | number}}</td>
                                        <td>{{hora.cpca | number}}</td>
                                        <td>{{hora.negociacao | number}}</td>
                                        <td>{{hora.finalizado / hora.atendimento | percentage:1}}</td>
                                        <td>{{hora.negociacao / hora.cpca | percentage:1}}</td>
                                        <td>{{hora.tme | number}}m</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{dashboard.resumo.atendimento | number}}</th>
                                        <th>{{dashboard.resumo.finalizado | number}}</th>
                                        <th>{{dashboard.resumo.interacao | number}}</th>
                                        <th>{{dashboard.resumo.cpc | number}}</th>
                                        <th>{{dashboard.resumo.cpca | number}}</th>
                                        <th>{{dashboard.resumo.negociacao | number}}</th>
                                        <th>{{dashboard.resumo.finalizado / dashboard.resumo.atendimento | percentage:1}}</th>
                                        <th>{{dashboard.resumo.negociacao / dashboard.resumo.cpca | percentage:1}}</th>
                                        <th>{{dashboard.resumo.tme | number}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>                        
                        <!--GRAFICO-->
                        <div ng-show="graficoHora.exibir == 'true'">
                            <span class="pull-right">
                                <select ng-model="graficoHora.indicador" ng-change="carregarGraficoHora()">
                                    <option value="atendimento">Atendimento</option>
                                    <option value="finalizado">Finalizado</option>
                                    <option value="interacao">Interação</option>
                                    <option value="cpc">CPC</option>
                                    <option value="cpca">CPCA</option>
                                    <option value="negociacao">Negociação</option>
                                    <option value="%finalizado">% Finalizado</option>
                                    <option value="%interacao">% Interação</option>
                                    <option value="conversao">Conversão</option>
                                    <option value="tme">TME</option>
                                </select>
                            </span>
                            <high-chart series="graficoHora.dados" axis-Categories="dashboard.horas" plot-Options-Line-Data-Label="true"></high-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--OPERADOR-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">
                            Produção por Operador
                        </span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row margin-bottom">
                            <div class="col-xs-12">
                                <d-table id="tabela" class="table table-striped table-bordered" style="width:100%" dados="dashboard.operador"></d-table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    angular.module('app').controller('ctrl-mktzap-operacional', function ($scope, $http, $filter) {

        $scope.dadosFiltros = {};
        $scope.filtros = {
            dtini: $filter('date')(new Date(), "yyyy-MM-dd"),
            dtfim: $filter('date')(new Date(), "yyyy-MM-dd"),
            campanhas: '',
            setores: '',
            canal: '',
        };
        $scope.dashboard = {};
        $scope.graficoHora = { indicador: 'atendimento', dados: [], exibir: 'false' };

        // carrega os filtros e colocar no scope
        $http({
            method: 'GET',
            url: "/api/mktzap/filtros",
        }).then(function success(r) {
            $scope.dadosFiltros.status = r.status;

            $scope.dadosFiltros.campanhas = r.data.Table;
            $scope.dadosFiltros.setores = r.data.Table1;
            $scope.dadosFiltros.canal = r.data.Table2;
        });

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/mktzap/horahora",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.dados = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.hora = r.data.Table1;
                $scope.dashboard.operador = r.data.Table2;
                $scope.carregarGraficoHora();

                $scope.dashboard.tabulacao = {
                    animationEnabled: true,
                    data: [{
                        type: "doughnut",
                        innerRadius: 70,
                        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                        dataPoints: r.data.Table3.map(obj => ({ label: obj.status, y: obj.qtd }))
                    }]
                };
            });
        }

        $scope.carregarGraficoHora = function () {
            let dados = $scope.dashboard.hora;
            $scope.dashboard.horas = dados.map(obj => obj.hora);
            switch ($scope.graficoHora.indicador) {
                case 'conversao':
                    $scope.graficoHora.dados = [{ name: 'conversao', data: dados.map(obj => (obj.negociacao * 100 / obj.cpca).toFixed(1) * 1) }];
                    break;
                case '%finalizado':
                    $scope.graficoHora.dados = [{ name: '%finalizado', data: dados.map(obj => (obj.finalizado * 100 / obj.atendimento).toFixed(1) * 1) }];
                    break;
                case '%interacao':
                    $scope.graficoHora.dados = [{ name: '%interacao', data: dados.map(obj => (obj.interacao * 100 / obj.finalizado).toFixed(1) * 1) }];
                    break;
                default:
                    $scope.graficoHora.dados = [{ name: $scope.graficoHora.indicador, data: dados.map(obj => obj[$scope.graficoHora.indicador]) }];
            }
        }


        $scope.carregarDashboard();

        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });
</script>