@{
    Layout = "~/Views/master.cshtml";
}

<div>
    <!-- HEADER-->
    <header class="page-header">
        <div class="page-name">Teste Webhook</div>
    </header>
</div>

<script>

    let data = {
        "date": "2020-03-25T03:00:00Z",
        "type": "visitors",
        "action": "insert",
        "data": {
            "id": "3cf38ca0-6e98-11ea-8bc7-f5ed9eb2a8e7",
            "ip": "177.129.199.103",
            "so": "Android",
            "city": "",
            "browser": "Handheld Browser",
            "country": "BR",
            "bot_name": "2 - Sem Parar",
            "lat_long": "-22.8305,-43.2192",
            "reference": "",
            "date_entry": "03/25/2020 09:57:52"
        }
    }

    fetch('/api/omne/webhook', {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    });


</script>