@{
    Layout = "~/Views/master.cshtml";
}


<!-- DAHSBOARD -->
<div ng-controller="ctrl-renner-horahora-sinergy">
    <div ng-if="dashboard.status === 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Hora Hora Sinergy</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>


        <!-- FILTROS -->
        <div class="row margin-bottom">

            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-black" style="background: url('/Content/Images/Renner/fachada.jpg') center center;">
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="/Content/Images/Renner/logo.jpg" height="128" width="128">
            </div>
            <div class="box-footer">

                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.discado | megaNumber"></h5>
                            <span class="description-text">Discado</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.contato | megaNumber"></h5>
                            <span class="description-text">Contato</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.cpc | megaNumber"></h5>
                            <span class="description-text">CPC</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.cpca | number"></h5>
                            <span class="description-text">CPCA</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.promessa | number"></h5>
                            <span class="description-text">Promessa</span>
                        </div>
                    </div>
                </div>

                <div class="row bg-red-gradient">
                    <div class="col-sm-2 col-sm-offset-1 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1"></h5>
                            <span class="description-text">Hit Rate</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1"></h5>
                            <span class="description-text">Tx Loc</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.cpca / dashboard.resumo.cpc | percentage: 1"></h5>
                            <span class="description-text">Tx Apv</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.promessa / dashboard.resumo.cpca | percentage: 1"></h5>
                            <span class="description-text">Conversao</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.discado / dashboard.resumo.promessa | number: 1"></h5>
                            <span class="description-text">Esforço</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--ANALISE POR HORA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Hora</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right">
                            <label>
                                <input type="radio" name="graficoHoraExibir" ng-model="graficoHora.exibir" value="false" checked="checked" />
                                Tabela
                            </label>
                            <label>
                                <input type="radio" name="graficoHoraExibir" ng-model="graficoHora.exibir" value="true" />
                                Gráfico
                            </label>

                        </small>
                    </div>
                    <div class="card-body">

                        <!--TABELA-->
                        <div class="table-responsive" ng-show="graficoHora.exibir == 'false'">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.horahora">
                                <thead>
                                    <tr>
                                        <th>Hora</th>
                                        <th>Discado</th>
                                        <th>Contato</th>
                                        <th>CPC</th>
                                        <th>CPCA</th>
                                        <th>Promessa</th>
                                        <th>Hit Rate</th>
                                        <th>Tx Loc</th>
                                        <th>Tx Apv</th>
                                        <th>Conversão</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="hora in dashboard.horahora">
                                        <td>{{hora.hora}}</td>
                                        <td>{{hora.discado | number}}</td>
                                        <td>{{hora.contato | number}}</td>
                                        <td>{{hora.cpc | number}}</td>
                                        <td>{{hora.cpca | number}}</td>
                                        <td>{{hora.promessa | number}}</td>
                                        <td>{{hora.contato / hora.discado | percentage:1}}</td>
                                        <td>{{hora.cpc / hora.contato | percentage:1}}</td>
                                        <td>{{hora.cpca / hora.cpc | percentage:1}}</td>
                                        <td>{{hora.promessa / hora.cpca | percentage:1}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{dashboard.resumo.discado | number}}</th>
                                        <th>{{dashboard.resumo.contato | number}}</th>
                                        <th>{{dashboard.resumo.cpc | number}}</th>
                                        <th>{{dashboard.resumo.cpca | number}}</th>
                                        <th>{{dashboard.resumo.promessa | number}}</th>
                                        <th>{{dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.cpca / dashboard.resumo.cpc | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.promessa / dashboard.resumo.cpca | percentage: 1}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!--GRAFICO-->
                        <div ng-show="graficoHora.exibir == 'true'">
                            <span class="pull-right">
                                <select ng-model="graficoHora.indicador" ng-change="carregarGraficoHora()">
                                    <option value="hitrate">Hit Rate</option>
                                    <option value="txloc">Tx Loc</option>
                                    <option value="txapv">Tx Apv</option>
                                    <option value="conversao">Conversão</option>
                                    <option value="discado">Discado</option>
                                    <option value="contato">Contato</option>
                                    <option value="cpc">CPC</option>
                                    <option value="cpca">CPCA</option>
                                    <option value="promessa">Promessa</option>
                                </select>
                            </span>
                            <high-chart series="dashboard.graficoHora" axis-Categories="dashboard.horas" plot-Options-Line-Data-Label="true"></high-chart>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--DIAGRAMA DE FINALIZAÇÕES & FINALIZAÇÕES DO DISCADOR-->
        <div class="row margin-bottom">
            <div class="col-xs-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Produto</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row margin-bottom">
                            <high-chart series="dashboard.discador" type="pie" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Funil</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row margin-bottom">
                            <high-chart series="dashboard.funil" type="funnel" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    angular.module('app').controller('ctrl-renner-horahora-sinergy', function ($scope, $http, $filter, $interval, dadosPagina) {

        dadosPagina.titulo = 'Hora Hora';
        dadosPagina.descricao = 'Renner'
        $scope.showTbody = false;

        $scope.filtros = {
            dtini: $filter('date')(new Date(), "yyyy-MM-dd"),
            dtfim: $filter('date')(new Date(), "yyyy-MM-dd"),
        };

        $scope.dashboard = {};
        $scope.graficoHora = { indicador: 'promessa', exibir: 'false' };

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/renner/dashboard/sinergy/horahora",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.horahora = r.data.Table1;
                //$scope.dashboard.diagrama = r.data.Table2;
                $scope.dashboard.discador = [{ name: 'Quantidade', innerSize: '60%', data: r.data.Table2.map(obj => ({ name: obj.tabulacao, y: obj.quantidade })) }];

                let funil = r.data.Table3[0];
                let dadosFunil = [];
                Object.keys(funil).map(function (key, index) {
                    if (key != 'discado')
                        dadosFunil.push([key, funil[key]]);
                });

                $scope.dashboard.funil = [{ name: 'Quantidade', data: dadosFunil }];


                $scope.carregarGraficoHora();

            });
        }

        // carrega o grafico de acordo com o indicador escolhido
        $scope.carregarGraficoHora = function () {
            let dados = $scope.dashboard.horahora;
            $scope.dashboard.horas = dados.map(obj => obj.hora);
            switch ($scope.graficoHora.indicador) {
                case 'hitrate':
                    $scope.dashboard.graficoHora = [{ name: 'hitrate', data: dados.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) * 1) }];
                    break;
                case 'txloc':
                    $scope.dashboard.graficoHora = [{ name: 'txloc', data: dados.map(obj => (obj.cpc * 100 / obj.contato).toFixed(1) * 1) }];
                    break;
                case 'txapv':
                    $scope.dashboard.graficoHora = [{ name: 'txapv', data: dados.map(obj => (obj.cpca * 100 / obj.cpc).toFixed(1) * 1) }];
                    break;
                case 'conversao':
                    $scope.dashboard.graficoHora = [{ name: 'conversao', data: dados.map(obj => (obj.promessa * 100 / obj.cpca).toFixed(1) * 1) }];
                    break;
                default:
                    $scope.dashboard.graficoHora = [{ name: $scope.graficoHora.indicador, data: dados.map(obj => obj[$scope.graficoHora.indicador]) }];
            }

        }
        
        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.carregarDashboard();

    });
</script>