@{
    Layout = "~/Views/master.cshtml";
}


<!-- DAHSBOARD -->
<div ng-controller="ctrl-vivo-producao">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Produção Humano</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashFiltros.status == 200">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--EMPRESA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Empresa</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.empresa" dados="dashFiltros.empresa"></select2>
                        </div>

                        <!--CARTEIRA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Billing</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.tipobilling" dados="dashFiltros.tipobilling"></select2>
                        </div>

                        <!--AGING-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Aging</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.aging" dados="dashFiltros.aging"></select2>
                        </div>

                        <!--ESTRATÉGIA (segmentacao)-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Estratégia</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.segmentacao" dados="dashFiltros.segmentacao"></select2>
                        </div>

                        <!--SUPERVISOR-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Supervisor</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.supervisor" dados="dashFiltros.supervisor" style="width:100%"></select2>
                        </div>

                        <!--EQUIPE-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Equipe</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.equipe" dados="dashFiltros.equipe" style="width:100%"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- RESUMO -->
        <div class="row margin-bottom">            
            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-black" style="opacity: 0.6">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.mailing | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.penetrado / dashboard.resumo.mailing | percentage: 1"></h4>
                        <p>Mailing</p>
                    </div>
                </div>

                <div class="small-box bg-black">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.mailing_dia | megaNumber"></h3>
                        <p>Mailing Dia</p>
                    </div>
                </div>

                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.pa | megaNumber"></h3>
                        <p>Média PA</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-gray" style="opacity: 0.8">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.discado | megaNumber"></h3>
                        <p>Discado</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                </div>

                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.discado_dia | megaNumber"></h3>
                        <p>Discado Dia</p>
                    </div>
                </div>

                <div class="small-box bg-gray-active">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.discado_pa | megaNumber"></h3>
                        <p>Discado PA</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-aqua" style="opacity: 0.8">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.contato | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1"></h4>
                        <p>Contato</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                </div>

                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.contato_dia | number"></h3>
                        <p>Contato Dia</p>
                    </div>
                </div>

                <div class="small-box bg-aqua-active">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.contato_pa | megaNumber"></h3>
                        @*<h4 class="pull-right" ng-bind="dashboard.resumo.contato_pa / dashboard.resumo.discado_pa | percentage: 1"></h4>*@
                        <p>Contato PA</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-red" style="opacity: 0.8">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpc | megaNumber"></h3>
                        @*<h4 class="pull-right" ng-bind="dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1"></h4>*@
                        <p>CPC</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-male"></i>
                    </div>
                </div>

                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpc_dia | number"></h3>
                        <p>CPC Dia</p>
                    </div>
                </div>

                <div class="small-box bg-red-active">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpc_pa | megaNumber"></h3>
                        @*<h4 class="pull-right" ng-bind="dashboard.resumo.cpc_pa / dashboard.resumo.contato_pa | percentage: 1"></h4>*@
                        <p>CPC PA</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-yellow" style="opacity: 0.8">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpca | number"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.cpca / dashboard.resumo.cpc | percentage: 1"></h4>
                        <p>CPCA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-street-view"></i>
                    </div>
                </div>

                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpca_dia | number"></h3>
                        <p>CPCA Dia</p>
                    </div>
                </div>

                <div class="small-box bg-yellow-active">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpca_pa | number"></h3>
                        @*<h4 class="pull-right" ng-bind="dashboard.resumo.cpca_pa / dashboard.resumo.cpc_pa | percentage: 1"></h4>*@
                        <p>CPCA PA</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-green" style="opacity: 0.8">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.promessa | number"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.promessa / dashboard.resumo.cpca | percentage: 1"></h4>
                        <p>Promessa</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                </div>

                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.promessa_dia | number"></h3>
                        <p>Promessa Dia</p>
                    </div>
                </div>

                <div class="small-box bg-green-active">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.promessa_pa | number"></h3>
                        @*<h4 class="pull-right" ng-bind="dashboard.resumo.promessa_pa / dashboard.resumo.cpca_pa | percentage: 1"></h4>*@
                        <p>Promessa PA</p>
                    </div>
                </div>


            </div>
        </div>

        <!-- ANÁLISE POR DIA -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.dia">
                                <thead>
                                    <tr>
                                        <th>Dia</th>
                                        <th>Penetrado</th>
                                        <th>Mailing</th>
                                        <th>Penetração</th>
                                        <th>PA</th>
                                        <th>SPIN</th>
                                        <th>Discado</th>
                                        <th>Contato</th>
                                        <th>CPC</th>
                                        <th>CPCA</th>
                                        <th>Promessa</th>
                                        <th>Vlr Prom</th>
                                        <th>Prom / PA </th>
                                        <th>HitRate</th>
                                        <th>TxLoc</th>
                                        <th>TxApv</th>
                                        <th>Conversão</th>
                                        <th>Mailing / PA </th>
                                        <th>TMA</th>
                                        <th>Ocupação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr align="center" ng-repeat="dia in dashboard.dia">
                                        <td>{{dia.dt | date : 'dd/MM/yyyy'}}</td>
                                        <td>{{dia.penetrado | number}}</td>
                                        <td>{{dia.mailing | number}}</td>
                                        <td>{{dia.penetrado / dia.mailing | percentage:1}}</td>
                                        <td>{{dia.pa | number }}</td>
                                        <td>{{dia.discado / dia.mailing | number:1}}</td>
                                        <td>{{dia.discado | number}}</td>
                                        <td>{{dia.contato | number}}</td>
                                        <td>{{dia.cpc | number}}</td>
                                        <td>{{dia.cpca | number}}</td>
                                        <td>{{dia.promessa | number}}</td>
                                        <td>{{dia.vlr_promessa | currency: ''}}</td>
                                        <td>{{dia.promessa / dia.pa | number : 0 }}</td>
                                        <td>{{dia.contato / dia.discado | percentage:1}}</td>
                                        <td>{{dia.cpc / dia.contato | percentage:1}}</td>
                                        <td>{{dia.cpca / dia.cpc | percentage:1}}</td>
                                        <td>{{dia.promessa / dia.cpca | percentage:1}}</td>
                                        <td>{{dia.mailing / dia.pa | number : 0 }}</td>
                                        <td>{{dia.tma | formatTimer }}</td>
                                        <td>{{dia.ocupacao | percentage: 1 }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{dashboard.resumo.penetrado | megaNumber}}</th>
                                        <th>{{dashboard.resumo.mailing | megaNumber}}</th>
                                        <th>{{dashboard.resumo.penetrado / dashboard.resumo.mailing | percentage : 1}}</th>
                                        <th>{{dashboard.resumo.pa | number}}</th>
                                        <th>{{dashboard.resumo.discado / dashboard.resumo.mailing | number: 1}}</th>
                                        <th>{{dashboard.resumo.discado | megaNumber }}</th>
                                        <th>{{dashboard.resumo.contato | number }}</th>
                                        <th>{{dashboard.resumo.cpc | number}}</th>
                                        <th>{{dashboard.resumo.cpca | number}}</th>
                                        <th>{{dashboard.resumo.promessa | number}}</th>
                                        <th>{{dashboard.resumo.vlr_promessa | megaNumber }}</th>
                                        <th>{{dashboard.resumo.promessa_pa | number: 0 }}</th>
                                        <th>{{dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.cpca / dashboard.resumo.cpc | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.promessa / dashboard.resumo.cpca | percentage: 1}}</th>
                                        <th>{{( dashboard.resumo.mailing / dashboard.resumo.pa ) /  dashboard.resumo.dias | number : 0}}</th>
                                        <th>{{dashboard.resumo.tma | formatTimer }}</th>
                                        <th>{{dashboard.resumo.ocupacao | percentage: 1}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- GRÁFICO POR DIA -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Gráfico por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <small class="pull-right">
                            <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                                <option value="penetracao">Penetração</option>
                                <option value="mailing">Mailing</option>
                                <option value="penetrado">Penetrado</option>
                                <option value="hitrate">Hit Rate</option>
                                <option value="txloc">Tx Loc</option>
                                <option value="txapv">Tx Apv</option>
                                <option value="conversao">Conversão</option>
                                <option value="discado">Discado</option>
                                <option value="contato">Contato</option>
                                <option value="cpc">CPC</option>
                                <option value="cpca">CPCA</option>
                                <option value="promessa">Promessa</option>
                                <option value="vlr_promessa">Valor Promessa</option>
                                <option value="tma">TMA</option>
                                <option value="ocupacao">Ocupação</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.grafico" axis-Categories="dashboard.datas" plot-Options-Line-Data-Label="true"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--PRODUÇÃO POR EQUIPE-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Supervisor/Equipe</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.equipe">
                                <thead>
                                    <tr>
                                        <th>Equipe</th>
                                        <th>Contato</th>
                                        <th>CPC</th>
                                        <th>CPCA</th>
                                        <th>Promessa</th>
                                        <th>Valor Promessa</th>
                                        <th>TxLoc</th>
                                        <th>TxApv</th>
                                        <th>Conversão</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="c in dashboard.equipe | groupBy: 'supervisor'">

                                    <tr class="text-bold">
                                        <td>
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{c[0].supervisor}}
                                        </td>
                                        <td>{{c | sumByColumn: 'contato'| number}}</td>
                                        <td>{{c | sumByColumn: 'cpc'| number}}</td>
                                        <td>{{c | sumByColumn: 'cpca'| number}}</td>
                                        <td>{{c | sumByColumn: 'promessa'| number}}</td>
                                        <td>{{c | sumByColumn: 'vlr_promessa'| currency: 'R$ '}}</td>
                                        <td>{{c | divideSumColumns: 'cpc':'contato' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'cpca':'cpc' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'promessa':'cpca' | percentage:1}}</td>
                                    </tr>

                                    <tr ng-repeat="p in c" ng-show="showTbody">
                                        <td>{{p.equipe}}</td>
                                        <td>{{p.contato | number}}</td>
                                        <td>{{p.cpc | number}}</td>
                                        <td>{{p.cpca | number}}</td>
                                        <td>{{p.promessa | number}}</td>
                                        <td>{{p.vlr_promessa | currency: 'R$ '}}</td>
                                        <td>{{p.cpc / p.contato | percentage:1}}</td>
                                        <td>{{p.cpca / p.cpc | percentage:1}}</td>
                                        <td>{{p.promessa / p.cpca | percentage:1}}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>  
        
        <!-- ANÁLISE POR OCORRENCIA -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Ocorrências</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <d-table class="table table-striped table-bordered" style="width:100%" dados="dashboard.tabulacao" paging="false" order="[[1,'desc']]"></d-table>
                    </div>
                </div>
            </div>
        </div>


    </div> 
</div>

<script>
    angular.module('app').controller('ctrl-vivo-producao', function ($scope, $http, $filter) {
        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            empresa: '',
            tipobilling: '',
            aging: '',
            segmentacao: '',
            supervisor: '',
            equipe: '',
        };
        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = { indicador: 'promessa' };

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/vivo/new/humano/dashboard/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.empresa = data.Table;
            $scope.dashFiltros.tipobilling = data.Table1;
            $scope.dashFiltros.aging = data.Table2;
            $scope.dashFiltros.supervisor = data.Table3;
            $scope.dashFiltros.equipe = data.Table4;
            $scope.dashFiltros.segmentacao = data.Table6;
        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/vivo/new/humano/dashboard/producao",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;

                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.dia = data.Table1;
                $scope.dashboard.equipe = data.Table2;
                $scope.dashboard.tabulacao = data.Table3;

                $scope.carregarGrafico();

            });
        }

        // carrega o mapa de acordo com o indicador escolhido
        $scope.carregarGrafico = function () {
            let dados = $scope.dashboard.dia;
            $scope.dashboard.datas = dados.map(obj => obj.dt);
            switch ($scope.grafico.indicador) {
                case 'hitrate':
                    $scope.dashboard.grafico = [{ name: 'Hit Rate', data: dados.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) * 1) }];
                    break;
                case 'txloc':
                    $scope.dashboard.grafico = [{ name: 'Taxa de Localização', data: dados.map(obj => (obj.cpc * 100 / obj.contato).toFixed(1) * 1) }];
                    break;
                case 'txapv':
                    $scope.dashboard.grafico = [{ name: 'Taxa de Aproveitamento', data: dados.map(obj => (obj.cpca * 100 / obj.cpc).toFixed(1) * 1) }];
                    break;
                case 'conversao':
                    $scope.dashboard.grafico = [{ name: 'Conversão', data: dados.map(obj => (obj.promessa * 100 / obj.cpca).toFixed(1) * 1) }];
                    break;
                case 'penetracao':
                    $scope.dashboard.grafico = [{ name: 'Penetração', data: dados.map(obj => (obj.penetrado * 100 / obj.mailing).toFixed(1) * 1) }];
                    break;
                case 'ocupacao':
                    $scope.dashboard.grafico = [{ name: 'Ocupação', data: dados.map(obj => (obj.ocupacao * 100).toFixed(1) * 1) }];
                    break;
                default:
                    $scope.dashboard.grafico = [{ name: $scope.grafico.indicador, data: dados.map(obj => obj[$scope.grafico.indicador]) }];
            }

        }

        $scope.carregarDashboard();

        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });
</script>