@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-caedu-humano-efetividade">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Efetividade Humano</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--SEGMENTOS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Segmento</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.segmento" dados="dashFiltros.segmento"></select2>
                        </div>
                        <!--FAIXAS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Faixas</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.faixa" dados="dashFiltros.faixa"></select2>
                        </div>

                        <!--ENTRADA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Segmentação</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.entrada" dados="dashFiltros.entrada"></select2>
                        </div>

                        <!--TIPO ACORDO-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Tipo de Acordo</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.acordo" dados="dashFiltros.acordo"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- RESUMO E GRAFICO MES -->
        <div class="row clearfix margin-bottom">
            <!-- RESUMO -->
            <div class="col-xs-4">
                <div class="col-xs-12">
                    <div class="margin-bottom">
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="info-box bg-green-active">
                        <span class="info-box-icon">
                            <i class="fa fa-check-circle"></i>
                        </span>
                        <div class="info-box-content">
                            <div class="text">Efetividade</div>
                            <div class="info-box-number" ng-bind="dashboard.resumo.qtd_pago / dashboard.resumo.qtd_acordo | percentage: 1"></div>
                            <div class="progress">
                                <div class="progress-bar" style="width: {{dashboard.resumo.efetividadeQtd}}%"></div>
                            </div>
                            <span class="progress-description">
                                <b>{{dashboard.resumo.qtd_pago | number}}</b> Pagamentos
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="info-box bg-yellow-active">
                        <span class="info-box-icon">
                            <i class="fa fa-handshake-o"></i>
                        </span>
                        <div class="info-box-content">
                            <div class="text">Acordos</div>
                            <div class="info-box-number" ng-bind="dashboard.resumo.qtd_acordo | number"></div>
                            <div class="progress">
                                <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description">
                                <b>{{dashboard.resumo.qtd_acordoDia | number}}</b> - Média Dia
                            </span>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12">
                    <div class="info-box bg-purple-active">
                        <span class="info-box-icon">
                            <i class="fa fa-money"></i>
                        </span>
                        <div class="info-box-content">
                            <div class="text">Efetividade em Valor</div>
                            <div class="info-box-number" ng-bind="dashboard.resumo.vlr_pago / dashboard.resumo.vlr_acordo | percentage: 1"></div>
                            <div class="progress">
                                <div class="progress-bar" style="width:{{dashboard.resumo.efetividadeVlr}}%"></div>
                            </div>
                            <span class="progress-description">
                                <b>{{dashboard.resumo.vlr_pago | megaNumber}}</b> Valor Pago
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="info-box bg-aqua-active">
                        <span class="info-box-icon">
                            <i class="fa fa-usd"></i>
                        </span>
                        <div class="info-box-content">
                            <div class="text">Valor Acordos</div>
                            <div class="info-box-number" ng-bind="dashboard.resumo.vlr_acordo | megaNumber"></div>
                            <div class="progress">
                                <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description">
                                <b>{{dashboard.resumo.vlr_acordoDia | megaNumber}}</b> Média Dia
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!--GRAFICO MES-->
            <div class="col-xs-8">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Efetividade por mês</span>

                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.mes" axis-Categories="dashboard.meses" plot-Options-Spline-Data-Label="true" plot-Options-Column-Stacking="normal"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--FILTRO INDICADOR-->
        <div class="row margin-bottom">
            <div class="text-center margin-bottom">
                <label class="control-sidebar-subheading">Indicador:</label>
                <select ng-model="grafico.indicador" ng-change="carregarGraficos()">
                    <option value="qtd">Quantidade</option>
                    <option value="vlr">Valor</option>
                </select>
            </div>
        </div>

        <!--ANALISE POR DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Efetividade por dia</span>

                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.dia" axis-Categories="dashboard.dias" plot-Options-Spline-Data-Label="true" plot-Options-Column-Stacking="normal"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--SEGMENTO E ENTRADA-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Segmento - Carteira</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.segmento" axis-Categories="dashboard.segmentos" plot-Options-Spline-Data-Label="true" plot-Options-Column-Stacking="normal" height="300"></high-chart>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Segmentação</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.entrada" axis-Categories="dashboard.entradas" plot-Options-Spline-Data-Label="true" plot-Options-Column-Stacking="normal" height="300"></high-chart>
                    </div>
                </div>
            </div>

        </div>

        <!--ANALISE POR FAIXA DE ATRASO-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Faixa de Atraso</span>

                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table5')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.faixa" axis-Categories="dashboard.faixas" plot-Options-Spline-Data-Label="true" plot-Options-Column-Stacking="normal"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--ANÁLISE POR SUPERVISOR-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Supervisor</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table6')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.supervisor">
                            <thead>
                                <tr>
                                    <th>Supervisor</th>
                                    <th>Efetividade</th>
                                    <th>Pago</th>
                                    <th>Promessa</th>
                                    <th>R$ Efetividade</th>
                                    <th>R$ Pago</th>
                                    <th>R$ Promessa</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="e in dashboard.supervisor | groupBy: 'ds_supervisor'">
                                <tr class="text-bold">
                                    <td>
                                        <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                        {{e[0].ds_supervisor}}
                                    </td>
                                    <td>{{e | divideSumColumns: 'qtd_pago':'qtd_acordo' | percentage:1}}</td>
                                    <td>{{e | sumByColumn: 'qtd_pago'| number}}</td>
                                    <td>{{e | sumByColumn: 'qtd_acordo'| number}}</td>
                                    <td>{{e | divideSumColumns: 'vlr_pago':'vlr_acordo' | percentage:1}}</td>
                                    <td>{{e | sumByColumn: 'vlr_pago'| currency: 'R$ '}}</td>
                                    <td>{{e | sumByColumn: 'vlr_acordo'| currency: 'R$ '}}</td>
                                </tr>
                                <tr ng-repeat="p in e" ng-show="showTbody">
                                    <td>{{p.ds_equipe}}</td>
                                    <td>{{p.qtd_pago / p.qtd_acordo | percentage:1}}</td>
                                    <td>{{p.qtd_pago | number}}</td>
                                    <td>{{p.qtd_acordo | number}}</td>
                                    <td>{{p.vlr_pago / p.vlr_acordo | percentage:1}}</td>
                                    <td>{{p.vlr_pago | currency: 'R$ '}}</td>
                                    <td>{{p.vlr_acordo | currency: 'R$ '}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--ANÁLISE POR OPERADOR-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Operador</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table7')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <d-table class="table table-striped table-bordered" style="width:100%" dados="dashboard.operador" scroll-collapse="true" scroll-y="400px" order="[[3,'desc']]"></d-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    angular.module('app').controller('ctrl-caedu-humano-efetividade', function ($scope, $http, $filter) {
        $scope.showTbody = false;

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            segmento: '',
            faixa: '',
            entrada: '',
            acordo: '',
        }

        $scope.dashboard = {};
        $scope.dashFiltros = {};

        $scope.grafico = { indicador: 'qtd' };
        $scope.showTbody = false;


        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/caedu/dashboard/humano/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            $scope.dashFiltros.status = r.status;

            $scope.dashFiltros.segmento = r.data.Table;
            $scope.dashFiltros.faixa = r.data.Table1;
            $scope.dashFiltros.entrada = r.data.Table4;
            $scope.dashFiltros.acordo = r.data.Table5;
        });


        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/caedu/dashboard/humano/efetividade",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;

                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.supervisor = r.data.Table6;
                $scope.dashboard.operador = r.data.Table7;

                $scope.carregarGraficos();
            });
        }

        // carrega o grafico conforme com o indicador escolhido
        $scope.carregarGraficos = function () {
            let dados = $scope.dashboard.dados;
            let indicador = $scope.grafico.indicador;

            $scope.dashboard.meses = dados.Table1.map(obj => obj.mesAno);
            $scope.dashboard.mes = [
                { name: 'Acordos', type: "column", data: dados.Table1.map(obj => obj[indicador + '_acordo']) }
                , { name: 'Pago', type: "column", data: dados.Table1.map(obj => obj[indicador + '_pago']) }
                , { name: '% Efetividade', yAxis: 1, type: 'spline', color: 'rgba(232, 2, 39, 1)', data: dados.Table1.map(obj => (obj[indicador + '_pago'] * 100 / obj[indicador + '_acordo']).toFixed(1) * 1) }];

            $scope.dashboard.dias = dados.Table2.map(obj => obj.data);
            $scope.dashboard.dia = [
                { name: 'Acordos', type: "column", data: dados.Table2.map(obj => obj[indicador + '_acordo']) }
                , { name: 'Pago', type: "column", data: dados.Table2.map(obj => obj[indicador + '_pago']) }
                , { name: '% Efetividade', yAxis: 1, type: 'spline', color: 'rgba(232, 2, 39, 1)', data: dados.Table2.map(obj => (obj[indicador + '_pago'] * 100 / obj[indicador + '_acordo']).toFixed(1) * 1) }];


            $scope.dashboard.segmentos = dados.Table3.map(obj => obj.ds_segmento);
            $scope.dashboard.segmento = [
                { name: 'Acordos', type: "column", data: dados.Table3.map(obj => obj[indicador + '_acordo']) }
                , { name: 'Pago', type: "column", data: dados.Table3.map(obj => obj[indicador + '_pago']) }
                , { name: '% Efetividade', yAxis: 1, type: 'spline', color: 'rgba(232, 2, 39, 1)', data: dados.Table3.map(obj => (obj[indicador + '_pago'] * 100 / obj[indicador + '_acordo']).toFixed(1) * 1) }];

            $scope.dashboard.entradas = dados.Table4.map(obj => obj.ds_carteira);
            $scope.dashboard.entrada = [
                { name: 'Acordos', type: "column", data: dados.Table4.map(obj => obj[indicador + '_acordo']) }
                , { name: 'Pago', type: "column", data: dados.Table4.map(obj => obj[indicador + '_pago']) }
                , { name: '% Efetividade', yAxis: 1, type: 'spline', color: 'rgba(232, 2, 39, 1)', data: dados.Table4.map(obj => (obj[indicador + '_pago'] * 100 / obj[indicador + '_acordo']).toFixed(1) * 1) }];


            $scope.dashboard.faixas = dados.Table5.map(obj => obj.ds_faixa);
            $scope.dashboard.faixa = [
                { name: 'Acordos', type: "column", data: dados.Table5.map(obj => obj[indicador + '_acordo']) }
                , { name: 'Pago', type: "column", data: dados.Table5.map(obj => obj[indicador + '_pago']) }
                , { name: '% Efetividade', yAxis: 1, type: 'spline', color: 'rgba(232, 2, 39, 1)', data: dados.Table5.map(obj => (obj[indicador + '_pago'] * 100 / obj[indicador + '_acordo']).toFixed(1) * 1) }];


        }

        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });
</script>