@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-vivo-tempo">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Tempos</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashFiltros.status == 200">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--SABADOS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Sábados</label>
                            <input type="checkbox" ng-model="check" ng-change="checked(check == true ? '0' : '7')" />
                        </div>

                        <!--EMPRESA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Empresa</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.empresa" dados="dashFiltros.empresa"></select2>
                        </div>

                        <!--CARTEIRA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Carteira</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.carteira" dados="dashFiltros.carteira"></select2>
                        </div>

                        <!--AGING-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Aging</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.aging" dados="dashFiltros.aging"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- QUADROS -->
        <div class="row margin-bottom">
            <!--INDICADORES ABSOLUTOS-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.qtd_pa"></h3>
                        <p>PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'qtd_pa'" class="small-box-footer">PA <i class="fa fa-arrow-circle-right"></i></a>-->
                </div>

                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.logado | formatTimer"></h3>
                        <p>{{dashboard.tmp_lg.p1 | percentage : 1}} - Logado PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'logado'" class="small-box-footer">Logado PA <i class="fa fa-arrow-circle-right"></i></a>-->
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.contato_pa "></h3>
                        <p>Contato PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'contato_pa'" class="small-box-footer">Contato PA <i class="fa fa-arrow-circle-right"></i></a>-->
                </div>
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.falado | formatTimer"></h3>
                        <p>{{dashboard.tmp_fl.p1 | percentage : 1}} - Falado PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass-start"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a>-->
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.promessa_pa "></h3>
                        <p>Promessa PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'promessa_pa'" class="small-box-footer">Promessa PA <i class="fa fa-arrow-circle-right"></i></a>-->
                </div>

                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.ocioso | formatTimer"></h3>
                        <p>{{dashboard.tmp_oc.p1 | percentage : 1}} - Ocioso PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass-half"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.tma | formatTimer"></h3>
                        <p>T. Médio Atendimento</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>

                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.pausa_total | formatTimer"></h3>
                        <p>{{dashboard.tmp_ps.p1 | percentage : 1}} - Pausa PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass-half"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.tmo | formatTimer"></h3>
                        <p>T. Médio Ocioso</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>

                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.after_call | formatTimer"></h3>
                        <p>{{dashboard.tmp_pos.p1 | percentage : 1}} - Pós Atend. PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass-end"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.tmp_pausa_NR17 | formatTimer"></h3>
                        <p>Pausa NR17 PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>

                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.offline | formatTimer"></h3>
                        <p>{{dashboard.tmp_of.p1 | percentage : 1}} - Off-line PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass-o"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>
            </div>
        </div>
        
        <!--TEMPOS OPERACIONAIS DIA - HORA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise dos Tempos</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.horaHora">
                                <thead>
                                    <tr>
                                        <th>Dia</th>
                                        <th>PA</th>
                                        <th>Logado Ef.</th>
                                        <th>Logado</th>
                                        <th>Falado</th>
                                        <th>Ocioso</th>
                                        <th>Pausa Total</th>
                                        <th>Pós Atend.</th>
                                        <th>Off-Line</th>
                                        <th>TMA</th>
                                        <th>TMO</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="c in dashboard.horaHora | groupBy: 'data'">

                                    <tr class="text-bold">
                                        <td>
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{c[0].data}}
                                        </td>
                                        <td>{{c | avgColumn: 'qtd_pa' | number : 0 }}</td>
                                        <td>{{c | sumByColumn: 'logadoEF'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'logado'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'falado'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'ocioso'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'pausa_total'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'after_call'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'offline'| formatTimer}}</td>
                                        <td>{{c | avgColumn: 'tma' | number : 0 | formatTimer}}</td>
                                        <td>{{c | avgColumn: 'tmo' | number : 0 | formatTimer}}</td>
                                    </tr>

                                    <tr ng-repeat="p in c" ng-show="showTbody">
                                        <td>{{p.hora}}</td>
                                        <td>{{p.qtd_pa | number}}</td>
                                        <td>{{p.logadoEF | formatTimer}}</td>
                                        <td>{{p.logado | formatTimer }}</td>
                                        <td>{{p.falado | formatTimer }}</td>
                                        <td>{{p.ocioso | formatTimer }}</td>
                                        <td>{{p.pausa_total | formatTimer }}</td>
                                        <td>{{p.after_call | formatTimer }}</td>
                                        <td>{{p.offline | formatTimer}}</td>
                                        <td>{{p.tma | formatTimer}}</td>
                                        <td>{{p.tmo | formatTimer}}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--TEMPOS PAUSAS DIA - HORA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise de Pausas</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.horaHora">
                                <thead>
                                    <tr>
                                        <th>Dia</th>
                                        <th>PA</th>
                                        <th>Pausa NR17</th>
                                        <th>Refeição</th>
                                        <th>Reunião</th>
                                        <th>Pessoal</th>
                                        <th>Descanso</th>
                                        <th>Banheiro</th>
                                        <th>Trab. Interno</th>
                                        <th>FeedBack</th>
                                        <th>Treinamento</th>
                                        <th>Rh</th>
                                        <th>Manutenção</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="c in dashboard.horaHora | groupBy: 'data'">

                                    <tr class="text-bold">
                                        <td>
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{c[0].data}}
                                        </td>
                                        <td>{{c | avgColumn: 'qtd_pa' | number : 0 }}</td>
                                        <td>{{c | sumByColumn: 'tmp_pausa_NR17'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'tmp_refeicao'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'tmp_Reuniao'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'tmp_Pessoal'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'tmp_Descanso'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'tmp_Banheiro'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'tmp_TrabInterno'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'tmp_Feedback'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'tmp_Treinamento'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'tmp_rhFinanceiro'| formatTimer}}</td>
                                        <td>{{c | sumByColumn: 'tmp_ManutencaoPA'| formatTimer}}</td>
                                    </tr>

                                    <tr ng-repeat="p in c" ng-show="showTbody">
                                        <td>{{p.hora}}</td>
                                        <td>{{p.qtd_pa | number}}</td>
                                        <td>{{p.tmp_pausa_NR17 | formatTimer}}</td>
                                        <td>{{p.tmp_refeicao | formatTimer }}</td>
                                        <td>{{p.tmp_Reuniao | formatTimer }}</td>
                                        <td>{{p.tmp_Pessoal | formatTimer }}</td>
                                        <td>{{p.tmp_Descanso | formatTimer }}</td>
                                        <td>{{p.tmp_Banheiro | formatTimer }}</td>
                                        <td>{{p.tmp_TrabInterno | formatTimer }}</td>
                                        <td>{{p.tmp_Feedback | formatTimer}}</td>
                                        <td>{{p.tmp_Treinamento | formatTimer}}</td>
                                        <td>{{p.tmp_rhFinanceiro | formatTimer}}</td>
                                        <td>{{p.tmp_ManutencaoPA | formatTimer}}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-vivo-tempo', function ($scope, $http, $filter) {
        // filtros iniciais
        let _dt1 = new Date();
        _dt1.setDate(_dt1.getDate());
        _dt1 = $filter('date')(_dt1, "yyyy-MM-dd");


        /*let _dt2 = new Date();
        _dt2.setDate(_dt2.getDate() - 2);
        _dt2 = $filter('date')(_dt2, "yyyy-MM-dd");*/

        $scope.checked = function (name) {

            $scope.filtros.sabado = name;
            console.log($scope.filtros.sabado)
        };

        $scope.filtros = {
            dtini: _dt1,
            dtfim: _dt1,

            sabado: '0',
            empresa: '',
            carteira: '',
            aging: '',
            

            /*dtini_2: _dt2,
            dtfim_2: _dt2,

            empresa_2: '',
            carteira_2: '',
            aging_2: '',
            visao: 'hora',*/
        };
        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = { indicador: 'promessa_pa' };

        
        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/vivo/humano/dashboard/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.empresa = data.Table;
            $scope.dashFiltros.carteira = data.Table1;
            $scope.dashFiltros.aging = data.Table2;
        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/vivo/humano/dashboard/tempo",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;

                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.horaHora = r.data.Table1;
                $scope.dashboard.dia = r.data.Table2;

                $scope.carregarGrafico();
                $scope.carregarTempo();
            });
        }


        $scope.carregarGrafico = function () {
            let indicador = $scope.grafico.indicador;
            let dados = $scope.dashboard.dia;

            $scope.dashboard.datas = dados.map(obj => obj.data)
           /* $scope.dashboard.categories = dados.map(r => r.categoria);*/

            let series1;
            switch (indicador) {
                case 'promessa_pa':
                    $scope.dashboard.grafico = [{ name: 'Promessa PA', data: dados.map(obj => obj.promessa_pa) }];

                    break;
                case 'contato_pa':
                    $scope.dashboard.grafico = [{ name: 'Contato PA', data: dados.map(obj => obj.contato_pa) }];

                    break;
                case 'logado':
                    $scope.dashboard.grafico = [{ name: 'Logado PA', data: dados.map(obj => obj.logado) }];

                    break;
                case 'falado':
                    $scope.dashboard.grafico = [{ name: 'Falado PA', data: dados.map(obj => obj.falado) }];

                    break;
                case 'ocioso':
                    $scope.dashboard.grafico = [{ name: 'Ocioso PA', data: dados.map(obj => obj.ocioso) }];

                    break;
                case 'pausa_total':
                    $scope.dashboard.grafico = [{ name: 'Pausa PA', data: dados.map(obj => obj.pausa_total) }];

                    break;
                case 'tma':
                    $scope.dashboard.grafico = [{ name: 'TMA', data: dados.map(obj => obj.pausa_total) }];

                    break;
                case 'tmo':
                    $scope.dashboard.grafico = [{ name: 'TMO', data: dados.map(obj => obj.pausa_total) }];

                    break;
                default:
                    $scope.dashboard.grafico = [{ name: $scope.grafico.indicador, data: dados.map(obj => obj[$scope.grafico.indicador]) }];
                    
            }

        }
      
        $scope.carregarTempo = function () {

            let dados1 = $scope.dashboard.resumo;
           
            let ocupacao = {
                percent_logado: dados1.logado / dados1.logadoEF,
                percent_pausa: dados1.pausa_total / dados1.logadoEF,
                percent_falado: dados1.falado / dados1.logadoEF,
                percent_aftercall: dados1.after_call / dados1.logadoEF,
                percent_ocioso: dados1.ocioso / dados1.logadoEF,
                percent_offline: dados1.offline / dados1.logadoEF
            }

            
            $scope.dashboard.tmp_lg = { p1: ocupacao.percent_logado };
            $scope.dashboard.tmp_ps = { p1: ocupacao.percent_pausa };
            $scope.dashboard.tmp_fl = { p1: ocupacao.percent_falado };
            $scope.dashboard.tmp_pos = { p1: ocupacao.percent_aftercall };
            $scope.dashboard.tmp_oc = { p1: ocupacao.percent_ocioso };
            $scope.dashboard.tmp_of = { p1: ocupacao.percent_offline };

                       
           
        }

        $scope.carregarDashboard();

        $scope.$watch('grafico.indicador', function (newVal, oldVal) {
            if ($scope.dashboard.status == 200)
            $scope.carregarGrafico();
        });

        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });
</script>
