@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-vivo-tempo">
    <div ng-if="dashboard.status == 200">

        <!-- QUADROS -->
        <div class="row">

            <!--INDICADORES ABSOLUTOS-->
            <div class="col-xs-12 col-sm-6 col-md-1 col-lg-2">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.qtd_pa"></h3>
                        <p>PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>  
                   
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.logado | formatTimer"></h3>
                        <p>{{dashboard.tmp_lg.p1 | percentage : 1}} - Logado PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>          
            </div>

            <div class="col-xs-12 col-sm-6 col-md-1 col-lg-2">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.qtd_contato_pa "></h3>
                        <p>Contato PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.falado | formatTimer"></h3>
                        <p>{{dashboard.tmp_fl.p1 | percentage : 1}} - Falado PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass-start"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>
                            
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-1 col-lg-2">
                
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.qtd_promessa_pa "></h3>
                        <p>Promessa PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>

                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.ocioso | formatTimer"></h3>
                        <p>{{dashboard.tmp_oc.p1 | percentage : 1}} - Ocioso PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass-half"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>
                
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-1 col-lg-2">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.tma | formatTimer"></h3>
                        <p>T. Médio Atendimento</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>  

                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.pausa_total | formatTimer"></h3>
                        <p>{{dashboard.tmp_ps.p1 | percentage : 1}} - Pausa PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass-half"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-1 col-lg-2">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.tmo | formatTimer"></h3>
                        <p>T. Médio Ocioso</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>

                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.after_call | formatTimer"></h3>
                        <p>{{dashboard.tmp_pos.p1 | percentage : 1}} - Pós Atend. PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass-end"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-1 col-lg-2">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.tmp | formatTimer"></h3>
                        <p>T. Médio Promessa</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>

                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.offline | formatTimer"></h3>
                        <p>{{dashboard.tmp_of.p1 | percentage : 1}} - Off-line PA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass-o"></i>
                    </div>
                    <!--<a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>
            </div>           
    </div>

    <!-- SIDE BAR CONTROL -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a data-target="#control-sidebar-filters-tab" data-toggle="tab">Período 1</a></li>           
        </ul>

        <div class="tab-content" ng-if="dashFiltros.status === 200">

            <!-- PERIODO 1 -->
            <div class="tab-pane active" id="control-sidebar-filters-tab">

                <!--DATA INCIAL-->
                <div class="form-group">
                    <label class="control-sidebar-subheading">Data Inicial</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                    </div>
                </div>

                <!--EMPRESA-->
                <div class="form-group">
                    <label class="control-sidebar-subheading">Empresa</label>
                    <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.empresa" dados="dashFiltros.empresa"></select2>
                </div>

                <!--CARTEIRA-->
                <div class="form-group">
                    <label class="control-sidebar-subheading">Carteira</label>
                    <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteira" dados="dashFiltros.carteira"></select2>
                </div>

                <!--AGING-->
                <div class="form-group">
                    <label class="control-sidebar-subheading">Aging</label>
                    <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.aging" dados="dashFiltros.aging"></select2>
                </div>               

                <!--BOTÃO-->
                <div class="form-group">
                    <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                </div>

            </div>           

        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>

</div>

<script>
    angular.module('app').controller('ctrl-vivo-tempo', function ($scope, $http, $filter, dadosPagina) {
        dadosPagina.titulo = 'Tempo';
        dadosPagina.descricao = 'Vivo Humano'

        // filtros iniciais
        let _dt1 = new Date();        
        _dt1.setDate(_dt1.getDate() - 1);
        _dt1 = $filter('date')(_dt1, "yyyy-MM-dd");

        /*let _dt2 = new Date();
        _dt2.setDate(_dt2.getDate() - 2);
        _dt2 = $filter('date')(_dt2, "yyyy-MM-dd");*/

        $scope.filtros = {
            dtini: _dt1,
            dtfim: _dt1,
            
            empresa: '',
            carteira: '',
            aging: '',

            /*dtini_2: _dt2,
            dtfim_2: _dt2,

            empresa_2: '',
            carteira_2: '',
            aging_2: '',
            visao: 'hora',*/
        };
        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = { indicador: 'promessa' };

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/vivo/humano/dashboard/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.empresa = data.Table;
            $scope.dashFiltros.carteira = data.Table1;
            $scope.dashFiltros.aging = data.Table2;
        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/vivo/humano/dashboard/tempo",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.horaHora = r.data.Table1;
                $scope.dashboard.carteira = r.data.Table2;
                $scope.dashboard.graficoHora = r.data.Table3;

                /*$scope.carregarGrafico();*/
                $scope.carregarTempo();
            });
        }


        /*$scope.carregarGrafico = function () {
            let indicador = $scope.grafico.indicador;

            $scope.dashboard.categories = $scope.dashboard.dados.Table.map(r => r.categoria);

            let series1, series2;
            switch (indicador) {
                case 'hitrate':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.contato2 * 100 / obj.discado2).toFixed(1) * 1);
                    break;
                case 'txloc':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.cpc * 100 / obj.contato).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.cpc2 * 100 / obj.contato2).toFixed(1) * 1);
                    break;
                case 'txapv':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.cpca * 100 / obj.cpc).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.cpca2 * 100 / obj.cpc2).toFixed(1) * 1);
                    break;
                case 'conversao':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.promessa * 100 / obj.cpca).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.promessa2 * 100 / obj.cpca2).toFixed(1) * 1);
                    break;
                case 'esforco':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.discado / obj.promessa).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.discado2 / obj.promessa2).toFixed(1) * 1);
                    break;
                default:
                    series1 = $scope.dashboard.dados.Table.map(obj => obj[indicador]);
                    series2 = $scope.dashboard.dados.Table.map(obj => obj[indicador + '2']);
            }

            $scope.dashboard.series = [
                { name: 'Período 1', data: series1 },
                { name: 'Período 2', data: series2, dashStyle: 'shortdot' }
            ];

        }*/
       
        $scope.Tempo = function () { }


        $scope.carregarTempo = function () {

            let dados1 = $scope.dashboard.resumo;
           
            let ocupacao = {
                percent_logado: dados1.logado / dados1.logadoEF,
                percent_pausa: dados1.pausa_total / dados1.logadoEF,
                percent_falado: dados1.falado / dados1.logadoEF,
                percent_aftercall: dados1.after_call / dados1.logadoEF,
                percent_ocioso: dados1.ocioso / dados1.logadoEF,
                percent_offline: dados1.offline / dados1.logadoEF
            }

            
            $scope.dashboard.tmp_lg = { p1: ocupacao.percent_logado };
            $scope.dashboard.tmp_ps = { p1: ocupacao.percent_pausa };
            $scope.dashboard.tmp_fl = { p1: ocupacao.percent_falado };
            $scope.dashboard.tmp_pos = { p1: ocupacao.percent_aftercall };
            $scope.dashboard.tmp_oc = { p1: ocupacao.percent_ocioso };
            $scope.dashboard.tmp_of = { p1: ocupacao.percent_offline };

            
           
            /*$scope.dashboard.hitrate = { p1: calculo.hitrate1, p2: calculo.hitrate2, vs: calculo.hitrate1 - calculo.hitrate2 };
            $scope.dashboard.txloc = { p1: calculo.txloc1, p2: calculo.txloc2, vs: calculo.txloc1 - calculo.txloc2 };
            $scope.dashboard.txapv = { p1: calculo.txapv1, p2: calculo.txapv2, vs: calculo.txapv1 - calculo.txapv2 };
            $scope.dashboard.conversao = { p1: calculo.conversao1, p2: calculo.conversao2, vs: calculo.conversao1 - calculo.conversao2 };
            $scope.dashboard.esforco = { p1: calculo.esforco1, p2: calculo.esforco2, vs: calculo.esforco1 / calculo.esforco2 - 1 };*/

        }

        $scope.carregarDashboard();

       /* $scope.$watch('grafico.indicador', function (newVal, oldVal) {
            if ($scope.dashboard.status == 200)
                $scope.carregarGrafico();

        });*/

    });
</script>