@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-telecom">
    <div>

        <!--HEADER-->
        <header class="page-header">
            <div class="page-name">De/Para Filas</div>
        </header>

        <!--TABELA-->
        <div class="col-xs-12 margin-bottom">
            <div class="card">
                <div class="card-header">
                    <span class="card-header-title">Filas</span>
                    <div class="card-header-button" ng-click="extrair()">
                        <i class="fa fa-file-excel-o"></i>
                    </div>
                </div>
                <div class="card-body" ng-if="dashboard.fila">
                    <d-table id="tabela" class="table table-striped table-bordered" style="width:100%" dados="dashboard.fila" order="[[0,'desc']]"></d-table>
                </div>
            </div>
        </div>

        <!-- MODAL-->
        <div class="modal fade" id="modal" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Fila - <span ng-bind="dashboard.itemSelecionado.fila"></span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">

                                <p>ID: {{dashboard.itemSelecionado.id_fila}}</p>
                                <p>Nº Fila: {{dashboard.itemSelecionado.id_fila_}}</p>
                                <p>Fila: {{dashboard.itemSelecionado.fila}}</p>
                                <p>
                                    Carteira:
                                    <select ng-model="dashboard.itemSelecionado.id_carteira">
                                        <option ng-repeat="o in dashboard.carteira" value="{{o.id_carteira}}" ng-selected="o.id_carteira == dashboard.itemSelecionado.id_carteira">{{o.carteira}}</option>
                                    </select>
                                </p>
                                <p>
                                    Gerente:
                                    <select ng-model="dashboard.itemSelecionado.id_gerente">
                                        <option ng-repeat="o in dashboard.gerente" value="{{o.id_gerente}}" ng-selected="o.id_gerente == dashboard.itemSelecionado.id_gerente">{{o.gerente}}</option>
                                    </select>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-success pull-right" data-dismiss="modal" ng-click="salvar()">Salvar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-telecom', function ($scope, $http, $filter) {

        $scope.dashboard = {};

        $scope.carregarDados = function () {
            $http({
                method: 'POST',
                url: "/api/telecom/filtros",
            }).then(function success(r) {
                $scope.dashboard.fila = r.data.Table7;
                $scope.dashboard.carteira = r.data.Table5;
                $scope.dashboard.gerente = r.data.Table6;
            });
        };

        $scope.carregarDados();

        $(document).on('click', '#tabela tbody tr', function () {
            let id = $(this).find('td:nth-child(1)').html();

            $scope.$apply(function () {
                $scope.dashboard.itemSelecionado = $scope.dashboard.fila.find(r => r.id_fila == id);
            });

            $('#modal').modal('show');
        });

        $scope.salvar = function () {

            $http({
                method: 'POST',
                url: "/api/telecom/atualizar/fila",
                data: $scope.dashboard.itemSelecionado,
            }).then(function success(r) {
                $scope.carregarDados();
            });
            
        };

        $scope.extrair = function () {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.fila]);
        }

    });
</script>

<style>
    #tabela tbody tr {
        cursor: pointer;
    }

        #tabela tbody tr:hover {
            font-weight: bold;
        }
</style>
