@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-claro-bkocpc">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">BKO CPC</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashboard.status == 200">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">

                            <!--DATA INICIO-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-black" style="background: url('/Content/Images/Claro/banner-claro.jpg') center center;">
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="/Content/Images/Claro/icone.png" style="background-color: rgba(255, 255, 255, 0.00)" height="160" width="200">
            </div>
            <div class="box-footer">

                <div class="row">
                    <div class="col-sm-3">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.entrantes | number"></h5>
                            <span class="description-text">Entrantes</span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.tratados | number"></h5>
                            <span class="description-text">Tratados</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.retorno | number"></h5>
                            <span class="description-text">Retornos</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.chamado_aberto | number"></h5>
                            <span class="description-text">Chamados Abertos</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.chamado_reaberto | number"></h5>
                            <span class="description-text">Chamados Reabertos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--PAINEL-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Painel Entrantes x Tratados</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right">
                            <label>
                                <input type="radio" name="graficoHoraExibir" ng-model="graficoDia.exibir" value="false" checked="checked" />
                                Tabela
                            </label>
                            <label>
                                <input type="radio" name="graficoHoraExibir" ng-model="graficoDia.exibir" value="true" />
                                Gráfico
                            </label>

                        </small>
                    </div>
                    <div class="card-body">

                        <!--TABELA-->
                        <div class="table-responsive" ng-show="graficoDia.exibir == 'false'">
                            <table class="table table-striped table-bordered" style="width:100%; text-align:center" ng-if="dashboard.dia">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Data</th>
                                        <th style="text-align:center">Entrantes</th>
                                        <th style="text-align:center">Tratados</th>
                                        <th style="text-align:center">Retornos</th>
                                        <th style="text-align:center">Chamados Abertos</th>
                                        <th style="text-align:center">Chamados Reabertos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="d in dashboard.dia">
                                        <td>{{d.data}}</td>
                                        <td>{{d.entrantes | number}}</td>
                                        <td>{{d.tratados | number}}</td>
                                        <td>{{d.retorno | number}}</td>
                                        <td>{{d.chamado_aberto | number}}</td>
                                        <td>{{d.chamado_reaberto | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!--GRAFICO-->
                        <div ng-show="graficoDia.exibir == 'true'">
                            <high-chart series="graficoDia.dados" axis-Categories="dashboard.dias" plot-Options-Column-Data-Label="true" style="width:100%"></high-chart>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--DEVOLUTIVA-->
        <div class="row margin-bottom">
            <div class="col-xs-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">
                            Chamados abertos
                        </span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%; text-align:center" ng-if="dashboard.dia">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Data</th>
                                        <th style="text-align:center">CEC</th>
                                        <th style="text-align:center">IW</th>
                                        <th style="text-align:center">CPC</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="c in dashboard.devolutiva | groupBy: 'data'">
                                    <tr class="text-bold">
                                        <td class="text-bold">
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{c[0].data}}
                                        </td>
                                        <td>{{c | sumByColumn: 'cec' | number}}</td>
                                        <td>{{c | sumByColumn: 'iw'| number}}</td>
                                        <td>{{c | sumByColumn: 'cpc'| number}}</td>
                                    </tr>
                                    <tr ng-repeat="p in c" ng-show="showTbody">
                                        <td>{{p.ds_motivo}}</td>
                                        <td>{{p.cec | number}}</td>
                                        <td>{{p.iw | number}}</td>
                                        <td>{{p.cpc | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">
                            Análise de Devolutiva CEC
                        </span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%; text-align:center" ng-if="dashboard.ddp">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Data/DDP</th>
                                        <th style="text-align:center">Quantidade</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="c in dashboard.ddp | groupBy: 'data'">
                                    <tr class="text-bold">
                                        <td class="text-bold">
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{c[0].data}}
                                        </td>
                                        <td>{{c | sumByColumn: 'quantidade' | number}}</td>
                                    </tr>
                                    <tr ng-repeat="p in c" ng-show="showTbody">
                                        <td>{{p.ddp}}</td>
                                        <td>{{p.quantidade | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--ABS-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Absenteísmo</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <!--GRAFICO-->
                        <div>
                            <high-chart series="dashboard.graficoAbs" axis-Categories="dashboard.diasAbs" plot-Options-Column-Data-Label="true" style="width:100%"></high-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>

<script>
    angular.module('app').controller('ctrl-claro-bkocpc', function ($scope, $http, $filter, dadosPagina) {
        dadosPagina.titulo = 'Produção';
        dadosPagina.descricao = 'Claro RCV'

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
        };

        $scope.dashboard = {};
        $scope.graficoDia = { dados: [], exibir: 'true' };

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/claro/dashboard/rcv/bkocpc",
                data: $scope.filtros,
            }).then(function success(r) {

                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;

                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.dia = r.data.Table1;
                $scope.dashboard.devolutiva = r.data.Table2;
                $scope.dashboard.diaAbs = r.data.Table3;
                $scope.dashboard.ddp = r.data.Table4;


                $scope.carregarGraficoEntrantes();
                $scope.carregarGraficoAbs();
            });
        }

        $scope.carregarGraficoEntrantes = function () {
            let dados = $scope.dashboard.dia;
            $scope.dashboard.dias = dados.map(obj => obj.data);

            $scope.graficoDia.dados = [
                { name: 'Entrantes', type: 'column', data: dados.map(obj => obj.entrantes) },
                { name: 'Tratados', type: 'column', data: dados.map(obj => obj.tratados) },
                { name: 'Retorno', type: 'column', data: dados.map(obj => obj.retorno) },
                { name: 'Chamados Abertos', type: 'column', data: dados.map(obj => obj.chamado_aberto) },
                { name: 'Chamados Reabertos', type: 'column', data: dados.map(obj => obj.chamado_reaberto) }
            ];
        }

        $scope.carregarGraficoAbs = function () {
            let dados = $scope.dashboard.diaAbs;
            $scope.dashboard.diasAbs = dados.map(obj => obj.data);

            $scope.dashboard.graficoAbs = [
                { name: 'Presença', type: 'column', color: '#3c763d', data: dados.map(obj => obj.presenca) },
                { name: 'Falta', type: 'column', color: '#d03431', data: dados.map(obj => obj.falta) },
                { name: 'Folga', type: 'column', color: '#777', data: dados.map(obj => obj.folga) },
            ];
        }

        

        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.carregarDashboard();

    });

</script>
