@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-caedusac-producao">
    <div ng-if="dashboard.status === 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Produção</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--HORA INCIAL-->
                        <div class="form-group">
                            <label>Hora Inicial</label>
                            <div class="input-group bootstrap-timepicker timepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <select class="form-control pull-right" ng-model="filtros.hrini">
                                    <option value="00">00 hr</option>
                                    <option value="01">01 hr</option>
                                    <option value="02">02 hr</option>
                                    <option value="03">03 hr</option>
                                    <option value="04">04 hr</option>
                                    <option value="05">05 hr</option>
                                    <option value="06">06 hr</option>
                                    <option value="07">07 hr</option>
                                    <option value="08">08 hr</option>
                                    <option value="09">09 hr</option>
                                    <option value="10">10 hr</option>
                                    <option value="11">11 hr</option>
                                    <option value="12">12 hr</option>
                                    <option value="13">13 hr</option>
                                    <option value="14">14 hr</option>
                                    <option value="15">15 hr</option>
                                    <option value="16">16 hr</option>
                                    <option value="17">17 hr</option>
                                    <option value="18">18 hr</option>
                                    <option value="19">19 hr</option>
                                    <option value="20">20 hr</option>
                                    <option value="21">21 hr</option>
                                    <option value="22">22 hr</option>
                                    <option value="23">23 hr</option>
                                </select>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--HORA FINAL-->
                        <div class="form-group">
                            <label>Hora Final</label>
                            <div class="input-group bootstrap-timepicker timepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <select class="form-control pull-right" ng-model="filtros.hrfim">
                                    <option value="00">00 hr</option>
                                    <option value="01">01 hr</option>
                                    <option value="02">02 hr</option>
                                    <option value="03">03 hr</option>
                                    <option value="04">04 hr</option>
                                    <option value="05">05 hr</option>
                                    <option value="06">06 hr</option>
                                    <option value="07">07 hr</option>
                                    <option value="08">08 hr</option>
                                    <option value="09">09 hr</option>
                                    <option value="10">10 hr</option>
                                    <option value="11">11 hr</option>
                                    <option value="12">12 hr</option>
                                    <option value="13">13 hr</option>
                                    <option value="14">14 hr</option>
                                    <option value="15">15 hr</option>
                                    <option value="16">16 hr</option>
                                    <option value="17">17 hr</option>
                                    <option value="18">18 hr</option>
                                    <option value="19">19 hr</option>
                                    <option value="20">20 hr</option>
                                    <option value="21">21 hr</option>
                                    <option value="22">22 hr</option>
                                    <option value="23">23 hr</option>
                                </select>
                            </div>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!--RESUMO-->
        <div class="box box-widget widget-user">
            <div class="widget-user-header" style="background: url('/Content/Images/Caedu/Logo-banner2.png') center center; ">
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="/Content/Images/Caedu/LOGO VERDE02.png" height="128" width="128" style="background-color: white">
            </div>
            <div class="box-footer">

                <div class="row">
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <span class="description-text">Chamadas</span>
                            <h5 class="description-header" ng-bind="dashboard.resumo.chamada | number"></h5>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <span class="description-text">Atendidas</span>
                            <h5 class="description-header" ng-bind="dashboard.resumo.atendido | number"></h5>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <span class="description-text">Abandonadas</span>
                            <h5 class="description-header" ng-bind="dashboard.resumo.abandonado | number"></h5>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <span class="description-text">Tempo Médio Atendimento</span>
                            <h5 class="description-header" ng-bind="dashboard.resumo.tma"></h5>
                        </div>
                    </div>
                </div>

                <div class="row" style="background-color: #c2c030">
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <span class="description-text">NS (20s)</span>
                            <h5 class="description-header" ng-bind="dashboard.resumo.sla_ok / dashboard.resumo.chamada | percentage:1"></h5>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <span class="description-text">Atendidas</span>
                            <h5 class="description-header" ng-bind="dashboard.resumo.atendido / dashboard.resumo.chamada | percentage:1"></h5>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <span class="description-text">Abandonadas</span>
                            <h5 class="description-header" ng-bind="dashboard.resumo.abandonado / dashboard.resumo.chamada | percentage:1"></h5>
                        </div>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="description-block">
                            <span class="description-text">Tempo Médio em Fila</span>
                            <h5 class="description-header" ng-bind="dashboard.resumo.tmf"></h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--POR DATA GRAFICO-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Gráfico por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.graficodia" axis-Categories="dashboard.dias" type="column"
                                    plot-Options-Column-Data-Label="true" plot-Options-Column-Stacking="normal" y-Axis1-Min="0"
                                    y-Axis1-Max="100"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--POR DIA TABELA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <!--TABELA-->
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.dia">
                                <thead>
                                    <tr>
                                        <th>Dia</th>
                                        <th>Agente</th>
                                        <th>NS (20s)</th>
                                        <th>Chamada</th>
                                        <th>Atendida</th>
                                        <th>Abandonada</th>
                                        <th>% Abandono</th>
                                        <th>Tempo Médio Atendimento</th>
                                        <th>Tempo Médio em Fila</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dia in dashboard.dia">
                                        <td>{{dia.data}}</td>
                                        <td>{{dia.agente | number}}</td>
                                        <td>{{dia.sla_ok / dia.chamada | percentage:1}}</td>
                                        <td>{{dia.chamada | number}}</td>
                                        <td>{{dia.atendido | number}}</td>
                                        <td>{{dia.abandonado | number}}</td>
                                        <td>{{dia.abandonado / dia.chamada | percentage:1}}</td>
                                        <td>{{dia.tma}}</td>
                                        <td>{{dia.tmf}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{dashboard.resumo.agente | number}}</th>
                                        <th>{{dashboard.resumo.sla_ok / dashboard.resumo.chamada | percentage:1}}</th>
                                        <th>{{dashboard.resumo.chamada | number}}</th>
                                        <th>{{dashboard.resumo.atendido | number}}</th>
                                        <th>{{dashboard.resumo.abandonado | number}}</th>
                                        <th>{{dashboard.resumo.abandonado / dashboard.resumo.chamada | percentage:1}}</th>
                                        <th>{{dashboard.resumo.tma}}</th>
                                        <th>{{dashboard.resumo.tmf}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--POR FILA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Fila</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <!--TABELA-->
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.fila">
                                <thead>
                                    <tr>
                                        <th>Fila</th>
                                        <th>Agente</th>
                                        <th>NS (20s)</th>
                                        <th>Chamada</th>
                                        <th>Atendida</th>
                                        <th>Abandonada</th>
                                        <th>% Abandono</th>
                                        <th>Tempo Médio Atendimento</th>
                                        <th>Tempo Médio em Fila</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="f in dashboard.fila">
                                        <td>{{f.fila}}</td>
                                        <td>{{f.agente | number}}</td>
                                        <td>{{f.sla_ok / f.chamada | percentage:1}}</td>
                                        <td>{{f.chamada | number}}</td>
                                        <td>{{f.atendido | number}}</td>
                                        <td>{{f.abandonado | number}}</td>
                                        <td>{{f.abandonado / f.chamada | percentage:1}}</td>
                                        <td>{{f.tma}}</td>
                                        <td>{{f.tmf}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{dashboard.resumo.agente | number}}</th>
                                        <th>{{dashboard.resumo.sla_ok / dashboard.resumo.chamada | percentage:1}}</th>
                                        <th>{{dashboard.resumo.chamada | number}}</th>
                                        <th>{{dashboard.resumo.atendido | number}}</th>
                                        <th>{{dashboard.resumo.abandonado | number}}</th>
                                        <th>{{dashboard.resumo.abandonado / dashboard.resumo.chamada | percentage:1}}</th>
                                        <th>{{dashboard.resumo.tma}}</th>
                                        <th>{{dashboard.resumo.tmf}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--OCUPACAO E TEMPO DE FILA-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Ocupação da Operação</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.ocupacao" type="pie" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Tempo de Fila</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.tempofila" axis-Categories="dashboard.tempos" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--POR OPERADOR-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Operador</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table5')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <d-table class="table table-striped table-bordered" style="width:100%" dados="dashboard.operador" scroll-collapse="true" scroll-y="324px" order="[[1,'desc']]"></d-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-caedusac-producao', function ($scope, $http, $filter) {
        $scope.dashboard = {};

       // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            hrini: '08',
            hrfim: '21'
        };

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/caedu/sac/dashboard/producao",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;

                $scope.dashboard.resumo = r.data.Table[0];

                $scope.dashboard.dia = r.data.Table1;
                $scope.dashboard.dias = r.data.Table1.map(obj => obj.data);
                $scope.dashboard.graficodia = [
                    { name: 'atendido', type: 'column', data: r.data.Table1.map(obj => obj.atendido) },
                    { name: 'abandonado', type: 'column', data: r.data.Table1.map(obj => obj.abandonado) },
                    { name: 'NS (20s)', type: 'spline', yAxis: 1, data: r.data.Table1.map(obj => (obj.sla_ok * 100 / obj.chamada).toFixed(1) / 1) },
                ];

                $scope.dashboard.fila = r.data.Table2;

                $scope.dashboard.tempos = r.data.Table3.map(obj => obj.tempo_fila);
                $scope.dashboard.tempofila = [{ name: 'chamada', data: r.data.Table3.map(obj => obj.chamada) }]


                $scope.dashboard.ocupacao = [{ name: 'Qtd', data: r.data.Table4.map(obj => ({ name: obj.tipo_pausa, y: obj.duracao })) }];
                $scope.dashboard.operador = r.data.Table5;
            });
        }

        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });
</script>