@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-marisa-editar">

    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Editar Informações</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                Periodo
            </div>
        </header>

        <!-- SELEÇÃO DE CAMPANHA-->
        <div class="row margin-bottom text-center" style="margin-top: 15px;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-info active" ng-click=" carregarDashboard(301, 7)">
                    <input type="radio"> 31 a 60 - Cartão
                </label>
                <label class="btn btn-info" ng-click="carregarDashboard(301, 8)">
                    <input type="radio"> 61 a 90 - Cartão
                </label>
                <label class="btn btn-info" ng-click="carregarDashboard(1022,0)">
                    <input type="radio"> Empréstimo
                </label>
                @*<label class="btn btn-danger">
                    <input type="radio"> Receptivo
                </label>*@
            </div>
        </div>

        <!-- FILTROS -->
        <div class="row margin-bottom">

            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Período</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard(filtros.carteiras,filtros.atrasos)">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--VISÃO DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Quantidade de Mailing</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row margin-bottom">
                            <!--Cadastrar Mailing-->
                            <div>
                                <small>
                                    <input type="button" class="btn btn-secondary" value="{{opcoes.edit? 'Cancelar':'Editar'}}" ng-click="editar()" />
                                </small>
                                <small>
                                    <input type="button" class="btn btn-success" value="Salvar" ng-if="opcoes.edit" ng-click="salvar(filtros.carteiras,filtros.atrasos)" />
                                </small>
                            </div>

                        </div>
                        <div class="table">
                            <table class="table table-striped table-bordered" ng-if="dashboard.dia" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Data</th>
                                        <th style="text-align:center">Mailing</th>
                                    </tr>
                                </thead>
                                <tbody id="idtbody">
                                    <tr ng-repeat="dia in dashboard.dia">
                                        <td>{{dia.data | date : 'dd/MM/yyyy'}}</td>
                                        <td ng-if="opcoes.edit">
                                            <input type="number" id="idinput" min="0" max="9999999" placeholder="9.999.999" class="form-control" onkeyup="if (this.value > 9999999) { this.value = '9999999';} else if (this.value < 0) {this.value = '0';}" value="{{dia.qtd_mailing}}" ng-disabled="!opcoes.edit" />
                                        </td>
                                        <td ng-if="!opcoes.edit">{{dia.qtd_mailing | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    angular.module('app').controller('ctrl-marisa-editar', function ($scope, $http, $filter, dadosPagina) {
        dadosPagina.titulo = 'Editar';
        dadosPagina.descricao = 'Marisa'

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            conceito: '',
            atrasos: '',
            carteiras: '',
        };

        $scope.dashboard = {};

        $scope.opcoes = {
            edit: false
        };

        // Objeto Mailing
        $scope.mailing = [{
            data: '',
            qtd_mailing: '',
            carteira: '',
            atraso: ''
        }];

        $scope.cadastrarMailing = function (carteira, atraso) {
            $http({
                method: 'POST',
                url: "/api/marisa/dashboard/humano/tele/cadmailing",
                data: JSON.stringify($scope.mailing),
            }).then(function success(r) {

                $scope.mailing = [{
                    data: '',
                    qtd_mailing: '',
                    carteira: '',
                    atraso: ''
                }];

                //location.reload();
                console.log(JSON.stringify($scope.mailing));
                $scope.carregarDashboard(carteira, atraso);

            });
        }

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function (carteira, atraso) {
            $scope.filtros.carteiras = carteira;
            $scope.filtros.atrasos = atraso;
            $http({
                method: 'POST',
                url: "/api/marisa/dashboard/humano/tele/editar",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.dia = data.Table;

            });
        }

        $scope.editar = function () {
            $scope.opcoes.edit = !$scope.opcoes.edit;
        }

        $scope.salvar = function (carteira, atraso) {

            $scope.opcoes.edit = !$scope.opcoes.edit;

            let tabela = document.getElementById('idtbody')
       

            for (let i = 0; i < tabela.rows.length; i++) {

                let dt = $scope.converterData(tabela.children[i].children[0].innerHTML);
                let txt = tabela.children[i].children[1].getElementsByTagName('input').item(0).value;
                let id_carteira = carteira;
                let id_atraso = atraso;

                $scope.mailing.push({ data: dt, qtd_mailing: txt, carteira: id_carteira, atraso: id_atraso });
            }

            $scope.cadastrarMailing(carteira, atraso);

        }

        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.carregarDashboard(301, 7);

        $scope.converterData = function (data) {
            var dia = data.split("/")[0];
            var mes = data.split("/")[1];
            var ano = data.split("/")[2];

            return ano + '-' + ("0" + mes).slice(-2) + '-' + ("0" + dia).slice(-2);
        }
    });

</script>