
@{
    ViewBag.Title = "Index";
}

<div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content container-fluid">
            <span></span>
        </section>
    </div>
</div>

