@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="analytics">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="~/ccashico.ico" />
    <title>Credit Cash Analytics</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/coreStyles")
    @Scripts.Render("~/coreScripts")

    <style>
        .bg {
            position: absolute;
            height: 100%;
            width: 100%;
            background: url('../../Content/Images/CreditCashDig_CloudWord_1920x1080.jpg') no-repeat right top;
        }

        .login-box {
            border: 1px solid gray;
            -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
            opacity: 0.98;
        }
    </style>
</head>
<body class="hold-transition login-page" ng-controller="loginController">
    <div class="bg">
        <div class="login-box">
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Entre com seu login e senha</p>
                <form name="loginForm">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Usuário" ng-model="usuario.login" ng-required="true">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Senha" ng-model="usuario.senha" ng-required="true">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" ng-click="logar(usuario)" ng-disabled="loginForm.$invalid" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                        <!-- /.col -->                       
                    </div>   
                </form>
            </div>
            <!-- /.login-box-body -->
        </div>
    </div>
    <!-- /.login-box -->

    <script>
        var app = angular.module('analytics', []);
        app.controller('loginController', function ($scope, $http, $window) {
            $scope.logar = function (usuario) {
                delete $scope.usuario;
                $.ajax({
                    type: "POST",
                    url: "/Default/Logar",
                    data: usuario,
                    success: function (data) {
                        $window.location.href = "/Default/Index";
                    },
                    error: function (r) {
                        alert(r.responseText);
                    }
                });
            }
        });
    </script>

</body>
</html>
