@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-marisa-editar">

    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Editar Informações</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                Periodo
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">

            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Período</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--VISÃO DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Quantidade AD e Mailing</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row margin-bottom">
                            <!--Cadastrar Mailing-->
                            <div>
                                <small>
                                    <input type="button" class="btn btn-secondary" value="{{opcoes.edit? 'Cancelar':'Editar'}}" ng-click="editar()" />
                                </small>
                                <small>
                                    <input type="button" class="btn btn-success" value="Salvar" ng-if="opcoes.edit" ng-click="salvar()" />
                                </small>
                            </div>

                        </div>
                        <div class="table">
                            <table class="table table-striped table-bordered" ng-if="dashboard.dia" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Data</th>
                                        <th style="text-align:center">AD</th>
                                        <th style="text-align:center">Mailing</th>
                                    </tr>
                                </thead>
                                <tbody id="idtbody">
                                    <tr ng-repeat="dia in dashboard.dia">
                                        <td>{{dia.data | date : 'dd/MM/yyyy'}}</td>
                                        <td ng-if="opcoes.edit">
                                            <input type="number" id="idinputagt" min="0" max="150" placeholder="150" class="form-control" onkeyup="if (this.value > 150) { this.value = '150';} else if (this.value < 0) {this.value = '0';}" value="{{dia.quantidade}}" ng-disabled="!opcoes.edit" />
                                        </td>
                                        <td ng-if="!opcoes.edit">{{dia.quantidade | number}}</td>
                                        <td ng-if="opcoes.edit">
                                            <input type="number" id="idinput" min="0" max="9999999" placeholder="9.999.999" class="form-control" onkeyup="if (this.value > 9999999) { this.value = '9999999';} else if (this.value < 0) {this.value = '0';}" value="{{dia.qtd_mailing}}" ng-disabled="!opcoes.edit" />
                                        </td>
                                        <td ng-if="!opcoes.edit">{{dia.qtd_mailing | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    angular.module('app').controller('ctrl-marisa-editar', function ($scope, $http, $filter, dadosPagina) {
        dadosPagina.titulo = 'Editar';
        dadosPagina.descricao = 'Marisa'

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            conceito: '',
        };

        $scope.dashboard = {};

        $scope.opcoes = {
            edit: false
        };

        // Objeto Mailing
        $scope.mailing = [{
            data: '',
            qtd_mailing: ''
        }];

        // Objeto Agente
        $scope.qtd_agente = [{
            data: '',
            qtd_ad: ''
        }];


        $scope.cadastrarMailing = function () {
            $http({
                method: 'POST',
                url: "/api/marisa/dashboard/digital/cadmailing",
                data: JSON.stringify($scope.mailing),
            }).then(function success(r) {

                $scope.mailing = [{
                    data: '',
                    qtd_mailing: ''
                }];

                location.reload();
                $scope.carregarDashboard();

            });
        }

        $scope.cadastrarAD = function () {
            $http({
                method: 'POST',
                url: "/api/marisa/dashboard/digital/cadagente",
                data: JSON.stringify($scope.qtd_agente),
            }).then(function success(r) {

                $scope.qtd_agente = [{
                    data: '',
                    qtd_ad: ''
                }];
            });
        }

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/marisa/dashboard/digital/editar",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.dia = data.Table;

            });
        }

        $scope.editar = function () {
            $scope.opcoes.edit = !$scope.opcoes.edit;
        }

        $scope.salvar = function () {

            $scope.opcoes.edit = !$scope.opcoes.edit;

            let tabela = document.getElementById('idtbody')


            for (let i = 0; i < tabela.rows.length; i++) {

                let dt = $scope.converterData(tabela.children[i].children[0].innerHTML);
                let txt = tabela.children[i].children[2].getElementsByTagName('input').item(0).value;
                let qtd = tabela.children[i].children[1].getElementsByTagName('input').item(0).value;

                $scope.mailing.push({ data: dt, qtd_mailing: txt });
                $scope.qtd_agente.push({ data: dt, qtd_ad: qtd });

            }

            $scope.cadastrarAD();
            $scope.cadastrarMailing();

        }

        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.carregarDashboard();

        $scope.converterData = function (data) {
            var dia = data.split("/")[0];
            var mes = data.split("/")[1];
            var ano = data.split("/")[2];

            return ano + '-' + ("0" + mes).slice(-2) + '-' + ("0" + dia).slice(-2);
        }
    });
</script>