@{
    Layout = "~/Views/master.cshtml";
}


<!-- DAHSBOARD -->

<div ng-controller="ctrl-leader-baseativa">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Estratificação de Base</div>
        </header>

        
        <!--RESUMO-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-white">
                    <div class="inner" style="color:black">
                        <h3 ng-bind="dashboard.resumo.CONTRATO | number"></h3>
                        <p>Total Contratos</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-file-text"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.CONTRATOVLR | megaNumber"></h3>
                        <p>Total Financeiro</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.TCK_MEDIO | currency:'R$'"></h3>
                        <p>Tckt Medio</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ticket"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--FAIXA DE ATRASO-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Faixa de Atraso/ Carteiras</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Extratificacao_Analytics_Atraso','Table5')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.aging" axis-Categories="dashboard.faixaAtraso" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>
            </div>
        </div>


        <!--VALOR E CARTEIRAS-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Faixa Valor</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraValor','Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.valor" axis-Categories="dashboard.faixaValor" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="card ">
                    <div class="card-header">
                        <span class="card-header-title">Localização</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraRegiao','Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right">
                            <select ng-model="mapa.indicador" ng-change="carregarMapa()">
                                <option value="quantidade">Quantidade</option>
                                <option value="percentual">Percentual</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <mapa-brasil style="height:400px" width="100%" dados="dashboard.mapa"></mapa-brasil>
                    </div>
                </div>
            </div>

        </div>

        <!--SITUACAO E IDADE-->
        <div class="row margin-bottom">

            <div class="col-xs-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Faixa Idade</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Extratificacao_Analytics_Idade','Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.idade" axis-Categories="dashboard.faixaIdade" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Situação Contratos</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraGrupo','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.situacao" type="pie" inner-size="60%" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-leader-baseativa', function ($scope, $http, $filter, $interval, dadosPagina) {
        dadosPagina.titulo = 'Estratificação de Base';


        // filtros iniciais
        $scope.filtros = {
            dtini: $filter('date')(new Date(), "yyyy-MM-dd")

        };

        $scope.mapa = {
            indicador: 'percentual'
        };

        $scope.dashFiltros = {};
        $scope.dashboard = {};


        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/leader/baseativa",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                let data = r.data;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.resumo = data.Table[0];


                $scope.dashboard.faixaIdade = data.Table2.map(obj => obj.ds_idade);
                $scope.dashboard.faixaValor = data.Table3.map(obj => obj.ds_faixa_valor);
                $scope.dashboard.faixaSituacao = data.Table5.map(obj => obj.ds_situacao);
                $scope.dashboard.faixaAtraso = data.Table1.map(obj => obj.carteira);

                let indicador = 'CONTRATO';
                $scope.dashboard.aging = [{ name: [indicador], data: data.Table1.map(obj => (obj[indicador])), color: '#000' }];
                $scope.dashboard.idade = [{ name: [indicador], data: data.Table2.map(obj => (obj[indicador])), color: '#000' }];
                $scope.dashboard.valor = [{ name: [indicador], data: data.Table3.map(obj => (obj[indicador])), color: '#000' }];
                $scope.dashboard.situacao = [{ name: 'Quantidade', data: r.data.Table5.map(obj => ({ name: obj.ds_situacao, y: obj.CONTRATO })) }];

                $scope.carregarMapa();

            });
        }

        // carrega o mapa de acordo com o indicador escolhido
        $scope.carregarMapa = function () {
            let dados = $scope.dashboard.dados.Table4;
            switch ($scope.mapa.indicador) {
                case 'percentual':
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.ds_estado, value: (obj.percentual) }));
                    break;
                case 'quantidade':
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.ds_estado, value: (obj.quantidade) }));
                    break;
                default:
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.ds_estado, value: obj[$scope.mapa.indicador] }));
            }
        }

        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });
</script>