@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-tim-producao">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Producao</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->
        <div class="row margin-bottom">

            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.venda | number:0"></h3>
                        <p>Vendas</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.venda_vl | megaNumber"></h3>
                        <p>Valor Vendas</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.ativacao | number:0"></h3>
                        <p>Ativações</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.ativacao_vl | megaNumber"></h3>
                        <p>Valor Ativações</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <!-- ANALISE POR PLANO-->
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Plano</span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Plano</th>
                                        <th>Vendas</th>
                                        <th>Ativações</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="c in dashboard.plano | groupBy: 'tipo'">
                                    <tr class="text-bold">
                                        <td class="text-bold">
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{c[0].tipo}}
                                        </td>
                                        <td>{{c | sumByColumn: 'venda' | number}}</td>
                                        <td>{{c | sumByColumn: 'ativacao'| number}}</td>
                                    </tr>
                                    <tr ng-repeat="p in c" ng-show="showTbody">
                                        <td>{{p.plano}}</td>
                                        <td>{{p.venda | number}}</td>
                                        <td>{{p.ativacao | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--GRAFICO POR DIA-->
            <div class="col-xs-12 col-md-6 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Vendas e Ativações por Dia</span>
                    </div>
                    <div class="card-body">
                        <high-charts config="dashboard.grafico_dia" style="width: 100%; height: 300px"></high-charts>
                    </div>
                </div>
            </div>

            <!--GRAFICO POR STATUS-->
            <div class="col-xs-12 col-md-6 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Status das Vendas</span>
                    </div>
                    <div class="card-body">
                        <high-charts config="dashboard.grafico_status" style="width: 100%; height: 300px"></high-charts>
                    </div>
                </div>
            </div>

            <!--PORTABILIDADE-->
            <div class="col-xs-12 col-sm-6 col-md-4 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Portabilidade</span>
                    </div>
                    <div class="card-body">
                        <high-chart height="200" series="dashboard.grafico_portabilidade" type="pie" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>

            <!--DEBITO EM CONTA-->
            <div class="col-xs-12 col-sm-6 col-md-4 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Débito em Conta</span>
                    </div>
                    <div class="card-body">
                        <high-chart height="200" series="dashboard.grafico_debito" type="pie" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>

            <!--CONTA ONLINE-->
            <div class="col-xs-12 col-md-4 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Conta Online</span>
                    </div>
                    <div class="card-body">
                        <high-chart height="200" series="dashboard.grafico_contaonline" type="pie" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>

            <!--POR OPERADOR-->
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Operador</span>
                    </div>
                    <div class="card-body">
                        <d-table class="table table-striped table-bordered" style="width:100%" dados="dashboard.operador" scroll-collapse="true" scroll-y="300px" order="[[1,'desc']]"></d-table>
                    </div>
                </div>
            </div>

            <!--POR UF-->
            <div class="col-xs-12 col-md-4 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Vendas Região</span>
                    </div>
                    <div class="card-body">
                        <mapa-brasil style="height: 300px" width="100%" dados="dashboard.mapa"></mapa-brasil>
                    </div>
                </div>
            </div>

            <!--POR SEXO-->
            <div class="col-xs-12 col-md-3 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Genêro</span>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.grafico_sexo" axis-Categories="dashboard.sexos" plot-Options-Column-Data-Label="true" type="column" height="300"></high-chart>
                    </div>
                </div>
            </div>

            <!--POR FX ETARIA-->
            <div class="col-xs-12 col-md-5 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Vendas por Faixa Etária</span>
                    </div>
                    <div class="card-body">
                        <high-chart height="300" series="dashboard.grafico_fxetaria" type="pie" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<script>
    angular.module('app').controller('ctrl-tim-producao', function ($scope, $http, $filter) {

        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
        };

        $scope.dashboard = {};

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/tim/vendas/producao",
                data: $scope.filtros,
            }).then(function success(r) {
                // #1 RESUMO
                $scope.dashboard.resumo = r.data.Table[0];

                // #2 DIA
                $scope.dashboard.grafico_dia = {
                    title: {
                        text: ''
                    },
                    yAxis: {
                        title: {
                            text: ''
                        },
                    },
                    xAxis: {
                        categories: r.data.Table1.map(obj => obj.data)
                    },
                    series: [
                        {
                            type: 'line',
                            name: 'Venda',
                            color: '#00a65a',
                            dataLabels: {
                                enabled: true,
                            },
                            data: r.data.Table1.map(obj => obj.venda)
                        },
                        {
                            type: 'column',
                            name: 'Ativação',
                            color: 'rgba(0,115,183,0.4)',
                            dataLabels: {
                                enabled: true,
                            },
                            data: r.data.Table1.map(obj => obj.ativacao)
                        },
                    ],
                    tooltip: {
                        shared: true,
                    },
                    credits: {
                        enabled: false
                    }
                };

                // #3 PLANO
                $scope.dashboard.plano = r.data.Table2;

                // #4 STATUS
                let dados_status = alasql('select status, sum(venda) venda from ? group by status', [r.data.Table3]);
                dados_status = dados_status.map(o => ({ name: o.status, drilldown: o.status, y: o.venda }));
                let dados_substatus = [];
                for (s in dados_status) {
                    let d = alasql('select substatus,venda from ?', [r.data.Table3.filter(d => d.status == dados_status[s]['name'])]);
                    d = d.map(o => [o.substatus, o.venda]);
                    let obj = {
                        name: dados_status[s]['name'],
                        id: dados_status[s]['name'],
                        data: d
                    }
                    dados_substatus.push(obj);
                }
                $scope.dashboard.grafico_status = {
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: ''
                    },
                    plotOptions: {
                        series: {
                            dataLabels: {
                                enabled: true,
                                format: '{point.name}: {point.y}'
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.percentage:.2f}%</b> do total<br/>'
                    },
                    series: [{
                        name: "Status",
                        colorByPoint: true,
                        data: dados_status
                    }],
                    drilldown: {
                        series: dados_substatus
                    },
                    credits: {
                        enabled: false
                    },
                };

                // #5 UF
                $scope.dashboard.mapa = r.data.Table4.map(obj => ({ id: 'BR-' + obj.uf, value: obj.venda }));

                // #6 OPERADOR
                $scope.dashboard.operador = r.data.Table5;

                // #7 SEXO
                $scope.dashboard.sexos = r.data.Table6.map(obj => obj.sexo);
                $scope.dashboard.grafico_sexo = [{ name: 'Gênero', data: r.data.Table6.map(obj => obj.venda)}];

                // #8 FX ETARIA
                $scope.dashboard.grafico_fxetaria = [{ innerSize: '60%', data: r.data.Table7.map(obj => ({ name: obj.faixa_etaria, y: obj.venda })) }];

                // #9 PORTABILIDADE
                $scope.dashboard.grafico_portabilidade = [{ data: r.data.Table8.map(obj => ({ name: obj.portabilidade, y: obj.venda })) }];

                // #10 DEBITO EM CONTA
                $scope.dashboard.grafico_debito = [{ data: r.data.Table9.map(obj => ({ name: obj.debito_em_conta, y: obj.venda })) }];

                // #11 CONTA ONLINE
                $scope.dashboard.grafico_contaonline = [{ data: r.data.Table10.map(obj => ({ name: obj.aceitou_conta_online, y: obj.venda })) }];

                // STATUS DASHBOARD OK
                $scope.dashboard.status = r.status;

            });
        }

        $scope.carregarDashboard();
    });

</script>