@{
    Layout = "~/Views/master.cshtml";
}


<!-- DAHSBOARD -->

<div ng-controller="ctrl-kroton-analise">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Estratificação de Base</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--EMPRESA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Carteiras</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashFiltros.carteiras" style="width:100%"></select2>
                        </div>

                        <!--CARTEIRA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Status alunos</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.statusaln" dados="dashFiltros.statusaluno" style="width:100%"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-white">
                    <div class="inner" style="color:black">
                        <h3 ng-bind="dashboard.resumo.CONTRATO | number"></h3>
                        <p>Total Contratos</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-file-text"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.CONTRATOVLR | megaNumber"></h3>
                        <p>Total Financeiro</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.TCK_MEDIO | currency:'R$'"></h3>
                        <p>Tckt Medio</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ticket"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--VALOR-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Faixa Valor</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraValor','Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.valor" axis-Categories="dashboard.faixaValor" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>
            </div>
        </div>


        <div class="row margin-bottom">
            <!--REGIAO-->
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Localização</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraRegiao','Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right">
                            <select ng-model="mapa.indicador" ng-change="carregarMapa()">
                                <option value="quantidade">Quantidade</option>
                                <option value="percentual">Percentual</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <mapa-brasil style="height:400px" width="100%" dados="dashboard.mapa"></mapa-brasil>
                    </div>
                </div>
            </div>
            <!--CARTEIRAS-->
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Carteiras</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraGrupo','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.carteira" type="pie" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>
        </div>


        <!--TENURE-->
        <div class="row margin-bottom">
            <div class="col-xs-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Sexo</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table6')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.sexo" axis-Categories="dashboard.faixaSexo" type="pie" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Faixa Idade</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraIdade','Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.idade" axis-Categories="dashboard.faixaIdade" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>

            </div>
        </div>

        <!--ALUNO E ATRASO-->
        <div class="row margin-bottom">
            <div class="col-xs-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Status Alunos</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table7')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.alunos"  axis-Categories="dashboard.faixaAluno" plot-Options-Bar-Data-Label="true" type="bar"></high-chart>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Situações Contratos</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraIdade','Table8')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.situacao" axis-Categories="dashboard.faixaSituacao" plot-Options-Column-Data-Label="true" type="bar"></high-chart>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

<script>
    angular.module('app').controller('ctrl-kroton-analise', function ($scope, $http, $filter, $interval, dadosPagina) {
        dadosPagina.titulo = 'Estratificação de Base';
        dadosPagina.descricao = 'Kroton Ativos'

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            carteiras: '',
            statusaln: '',
            id_empresa: '1',
        };

        $scope.mapa = {
            indicador: 'percentual'
        };

        $scope.dashFiltros = {};
        $scope.dashboard = {};

        //carregar os filtros
        $http({
            method: 'POST',
            url: "/api/kroton/dashboard/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            $scope.dados = r.status;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.carteiras = r.data.Table;
            $scope.dashFiltros.statusaluno = r.data.Table1;

        });

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/kroton/dashboard/baseativa",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                let data = r.data;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.resumo = data.Table[0];


                $scope.dashboard.faixaCarteira = data.Table1.map(obj => obj.empresa);
                $scope.dashboard.faixaIdade = data.Table2.map(obj => obj.ds_idade);
                $scope.dashboard.faixaValor = data.Table3.map(obj => obj.ds_saldo);
                $scope.dashboard.faixaAtraso = data.Table5.map(obj => obj.ds_atraso);
                $scope.dashboard.faixaSexo = data.Table6.map(obj => obj.ds_sexo);
                $scope.dashboard.faixaAluno = data.Table7.map(obj => obj.ds_status);
                $scope.dashboard.faixaSituacao = data.Table8.map(obj => obj.ds_situacao);

                let indicador = 'CONTRATO';
                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.atraso = [{ name: [indicador], data: data.Table5.map(obj => (obj[indicador])), color: '#0073b7' }];
                $scope.dashboard.idade = [{ name: [indicador], data: data.Table2.map(obj => (obj[indicador])), color: '#0073b7' }];
                $scope.dashboard.valor = [{ name: [indicador], data: data.Table3.map(obj => (obj[indicador])), color: '#0073b7' }];
                $scope.dashboard.carteira = [{ name: 'Quantidade', data: r.data.Table1.map(obj => ({ name: obj.empresa, y: obj.CONTRATO })) }];
                $scope.dashboard.sexo = [{ name: 'Quantidade', innerSize: '60%', data: data.Table6.map(obj => ({ name: obj.ds_sexo, y: obj.CONTRATO })) }];
                //$scope.dashboard.sexo = [{ name: 'Quantidade', data: data.Table6.map(obj => (obj.CONTRATO)), color: '#0073b7' }];
                $scope.dashboard.alunos = [{ name: 'Quantidade', data: data.Table7.map(obj => (obj.CONTRATO)), color: '#0073b7' }];
                $scope.dashboard.situacao = [{ name: 'Quantidade', data: data.Table8.map(obj => (obj.CONTRATO)), color: '#0073b7' }];
                $scope.carregarMapa();

            });
        }

        // carrega o mapa de acordo com o indicador escolhido
        $scope.carregarMapa = function () {
            let dados = $scope.dashboard.dados.Table4;
            switch ($scope.mapa.indicador) {
                case 'percentual':
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.ds_estado, value: (obj.percentual) }));
                    break;
                case 'quantidade':
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.ds_estado, value: (obj.quantidade) }));
                    break;
                default:
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.ds_estado, value: obj[$scope.mapa.indicador] }));
            }
        }


        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });
</script>
