@{
    Layout = "~/Views/master.cshtml";
}



<div ng-controller="ctrl-vivo-btc">
    <div ng-if="dashboard.status === 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Best Time to Call</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashFiltros.status == 200">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--CARTEIRAS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Carteiras</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashFiltros.carteiras" style="width: 100%;"></select2>
                        </div>

                        <!--ALUNOS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Alunos</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.alunos" dados="dashFiltros.alunos" style="width: 100%;"></select2>
                        </div>

                        <!--CAMPANHAS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Campanhas</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.campanhas" dados="dashFiltros.campanhas" style="width: 100%;"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDados()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--BTC E REGIAO-->
        <div class="row">
            <!--BTC-->
            <div class="col-xs-12 col-md-6 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">BTC</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">                       
                        <high-chart series="dashboard.discado" axis-Categories="dashboard.horas" plot-Options-Column-Data-Label="true" type="column" height="200"></high-chart>
                        <high-chart series="dashboard.contato" axis-Categories="dashboard.horas" plot-Options-Column-Data-Label="true" type="column" height="200"></high-chart>
                        <high-chart series="dashboard.hitratePorHora" axis-Categories="dashboard.horas" plot-Options-Column-Data-Label="true" type="column" height="200"></high-chart>
                    </div>
                </div>
            </div>

            <!--REGIAO-->
            <div class="col-xs-12 col-md-6 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Analise por Região</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right">
                            <select ng-model="mapa.indicador" ng-change="carregarMapa()">
                                <option value="hitrate">Hit Rate</option>
                                <option value="discado">Discado</option>
                                <option value="contato">Contato</option>
                                <option value="custo">Custo R$</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <mapa-brasil style="height: 600px" width="100%" dados="dashboard.mapa"></mapa-brasil>
                    </div>
                </div>
            </div>
        </div>

        <!--ROTA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Analise por Rota</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <h4 class="text-center">Volume por Rota</h4>
                                <high-chart series="dashboard.quantidadePorRota" type="pie" height="300" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <h4 class="text-center">Hit Rate por Rota</h4>
                                <high-chart series="dashboard.hitratePorRota" axis-Categories="dashboard.rotas" plot-Options-Bar-Data-Label="true" type="bar" height="300"></high-chart>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <h4 class="text-center">Custo por Rota</h4>
                                <high-chart series="dashboard.custoRota" axis-Categories="dashboard.rotas" plot-Options-Column-Data-Label="true" type="column" height="300"></high-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--TIPO TEL-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Analise por Tipo de Telefone</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <h4 class="text-center">Volume por Tipo de Telefone</h4>
                                <high-chart series="dashboard.quantidadePorTel" type="pie" height="300" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <h4 class="text-center">Hit Rate por Tipo de Telefone</h4>
                                <high-chart series="dashboard.hitratePorTel" axis-Categories="dashboard.tipos" plot-Options-Bar-Data-Label="true" type="bar" height="300"></high-chart>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <h4 class="text-center">Custo por Telefone</h4>
                                <high-chart series="dashboard.custoTel" axis-Categories="dashboard.tipos" plot-Options-Column-Data-Label="true" type="column" height="300"></high-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-vivo-btc', function ($scope, $http, $filter) {
        $scope.dashboard = {};
        $scope.mapa = {
            indicador: 'hitrate'
        }
        $scope.dashFiltros = {};

        // filtros iniciais
        let dtini = new Date();
        let dtfim = new Date();
        dtini.setDate(dtini.getDate() - 2);
        dtfim.setDate(dtfim.getDate() - 1);

        $scope.filtros = {
            dtini: $filter('date')(dtini, "yyyy-MM-dd"),
            dtfim: $filter('date')(dtfim, "yyyy-MM-dd"),
            carteiras: '',
            alunos: '',
            campanhas: '',
            id_empresa: '1',
        };

        // carrega os filtros e colocar no scope
        $scope.carregarFiltros = function () {
            $http({
                method: 'POST',
                url: "/api/kroton/dashboard/filtros",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashFiltros.status = r.status;
                $scope.dashFiltros.carteiras = r.data.Table;
                $scope.dashFiltros.alunos = r.data.Table1;
                $scope.dashFiltros.campanhas = r.data.Table2;
            });
        }


        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDados = function () {
            $http({
                method: 'POST',
                url: "/api/kroton/dashboard/btc",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;

                $scope.dashboard.horas = r.data.Table.map(obj => obj.hora_nome);
                $scope.dashboard.rotas = r.data.Table2.map(obj => obj.ds_rota);
                $scope.dashboard.tipos = r.data.Table3.map(obj => obj.tipo_telefone);

                $scope.dashboard.hitratePorHora = [{ name: 'HitRate', data: r.data.Table.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) / 1) }];
                $scope.dashboard.discado = [{ name: 'Discado', data: r.data.Table.map(obj => (obj.discado)) }];
                $scope.dashboard.contato = [{ name: 'Contato', data: r.data.Table.map(obj => (obj.contato)) }];

                $scope.dashboard.quantidadePorRota = [{ name: 'Qtd', data: r.data.Table2.map(obj => ({ name: obj.ds_rota, y: obj.discado })) }];
                $scope.dashboard.hitratePorRota = [{ name: 'HitRate', data: r.data.Table2.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) / 1) }];
                $scope.dashboard.custoRota = [{ name: 'Custo', data: r.data.Table2.map(obj => (obj.custo)) }];

                $scope.dashboard.quantidadePorTel = [{ name: 'Qtd', data: r.data.Table3.map(obj => ({ name: obj.tipo_telefone, y: obj.discado })) }];
                $scope.dashboard.hitratePorTel = [{ name: 'HitRate', data: r.data.Table3.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) / 1) }];
                $scope.dashboard.custoTel = [{ name: 'Custo', data: r.data.Table3.map(obj => (obj.custo)) }];

                $scope.carregarMapa();

            });
        }

        // carrega o mapa de acordo com o indicador escolhido
        $scope.carregarMapa = function () {
            let dados = $scope.dashboard.dados.Table1;
            switch ($scope.mapa.indicador) {
                case 'hitrate':
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.uf, value: (obj.contato * 100 / obj.discado).toFixed(1) }));
                    break;
                case 'discado':
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.uf, value: (obj.discado) }));
                    break;
                case 'contato':
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.uf, value: (obj.contato) }));
                    break;
                case 'custo':
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.uf, value: (obj.custo) }));
                    break;
                default:
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.uf, value: obj[$scope.mapa.indicador] }));
            }
        }

        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.carregarFiltros();
        $scope.carregarDados();

    });
</script>