@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-tim-backoffice">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Backoffice</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->
        <div class="row margin-bottom">

            <div class="col-xs-12 col-sm-4">
                <div class="small-box bg-black">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.venda | number:0"></h3>
                        <p>Vendas</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-2">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.emaberto | number:0"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.emaberto / dashboard.resumo.venda | percentage: 1"></h4>
                        <p>BackLog</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-2">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.ativado | number:0"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.ativado / dashboard.resumo.venda | percentage: 1"></h4>
                        <p>Tráfego</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-2">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.nativado | number:0"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.nativado / dashboard.resumo.venda | percentage: 1"></h4>
                        <p>Não Ativado</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-2">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.restricao | number:0"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.restricao / dashboard.resumo.nativado | percentage: 1"></h4>
                        <p>Quebra</p>
                    </div>
                </div>
            </div>

        </div>

        <!--GRAFICO POR STATUS-->
        <div class="row margin-bottom">
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Status Tabulados</span>
                    </div>
                    <div class="card-body">
                        <high-charts config="dashboard.grafico_status" style="width: 100%; height: 300px"></high-charts>
                    </div>
                </div>
            </div>
        </div>

        <!-- ANALISE POR DIA -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Dia</span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Dia</th>
                                        <th>Vendas</th>
                                        <th>Em Aberto</th>
                                        <th>Não Ativado</th>
                                        <th>Ativações Com Tráfego</th>
                                        <th>Restrição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dia in dashboard.dia">
                                        <td>{{dia.data}}</td>
                                        <td>{{dia.venda | number}}</td>
                                        <td><b>{{dia.emaberto | number}}</b> ({{dia.emaberto / dia.venda | percentage:1}})</td>
                                        <td><b>{{dia.ativado | number}}</b> ({{dia.ativado / dia.venda | percentage:1}})</td>
                                        <td><b>{{dia.nativado | number}}</b> ({{dia.nativado / dia.venda | percentage:1}})</td>
                                        <td><b>{{dia.restricao | number}}</b> ({{dia.restricao / dia.venda | percentage:1}})</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- BACKOFFICE -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Backoffices</span>
                    </div>
                    <div class="card-body">
                        <d-table class="table table-striped table-bordered" style="width:100%" dados="dashboard.backoffice" paging="true" order="[[1,'desc']]"></d-table>
                    </div>
                </div>
            </div>
        </div>

        <!-- SUPERVISORES -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Supervisores Ofensores</span>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.supervisor" axis-Categories="dashboard.supervisores" plot-Options-Column-Data-Label="true" type="column" height="300"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!-- RESTRIÇÕES -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Restrições</span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Quantidade</th>
                                        <th>% do Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="r in dashboard.restricao">
                                        <td>{{r.substatus}}</td>
                                        <td>{{r.quantidade | number}}</td>
                                        <td>{{r.quantidade / dashboard.resumo.venda | percentage:1}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    angular.module('app').controller('ctrl-tim-backoffice', function ($scope, $http, $filter) {

        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
        };

        $scope.dashboard = {};

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/tim/vendas/backoffice",
                data: $scope.filtros,
            }).then(function success(r) {
                // # RESUMO
                $scope.dashboard.resumo = r.data.Table[0];

                // # DIA
                $scope.dashboard.dia = r.data.Table1;

                // # STATUS
                let dados_status = alasql('select status, sum(quantidade) quantidade from ? group by status', [r.data.Table2]);
                dados_status = dados_status.map(o => ({ name: o.status, drilldown: o.status, y: o.quantidade }));
                let dados_substatus = [];
                for (s in dados_status) {
                    let d = alasql('select substatus, quantidade from ?', [r.data.Table2.filter(d => d.status == dados_status[s]['name'])]);
                    d = d.map(o => [o.substatus, o.quantidade]);
                    let obj = {
                        name: dados_status[s]['name'],
                        id: dados_status[s]['name'],
                        data: d
                    }
                    dados_substatus.push(obj);
                }
                $scope.dashboard.grafico_status = {
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: ''
                    },
                    plotOptions: {
                        series: {
                            dataLabels: {
                                enabled: true,
                                format: '{point.name}: {point.y}'
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.percentage:.2f}%</b> do total<br/>'
                    },
                    series: [{
                        name: "Status",
                        colorByPoint: true,
                        data: dados_status
                    }],
                    drilldown: {
                        series: dados_substatus
                    },
                    credits: {
                        enabled: false
                    },
                };

                // # SUPERVISOR
                $scope.dashboard.supervisor = [{ name: 'Quantidade', data: r.data.Table3.map(obj => obj.quantidade) }];
                $scope.dashboard.supervisores = r.data.Table3.map(obj => obj.supervisor);

                // # BACKOFFICE
                $scope.dashboard.backoffice = r.data.Table4;

                // # RESTRIÇÕES
                $scope.dashboard.restricao = r.data.Table5;

                // STATUS DASHBOARD OK
                $scope.dashboard.status = r.status;

            });
        }

        $scope.carregarDashboard();
    });

</script>