@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-vivo-ad3d">

    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Atendimento AD3D</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- RESUMO -->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.atendimento | megaNumber"></h3>
                        <p>Atendimento</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.interacao | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.interacao / dashboard.resumo.atendimento | percentage: 1"></h4>
                        <p>Interação</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpc | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.cpc / dashboard.resumo.interacao | percentage: 1"></h4>
                        <p>CPC</p>
                    </div>
                </div>
            </div>       
            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.promessa | number"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.promessa / dashboard.resumo.cpc | percentage: 1"></h4>
                        <p>Promessa</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                </div>
            </div>       
        </div>

        <!-- DIA -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('analise_por_dia','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.dia">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Atendimento</th>
                                        <th>Interação</th>
                                        <th>CPC</th>
                                        <th>Promessa</th>
                                        <th>% Interagiu</th>
                                        <th>% CPC</th>
                                        <th>% Promessa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="d in dashboard.dia">
                                        <td>{{d.data}}</td>
                                        <td>{{d.atendimento | number}}</td>
                                        <td>{{d.interacao | number}}</td>
                                        <td>{{d.cpc | number}}</td>
                                        <td>{{d.promessa | number}}</td>
                                        <td>{{d.interacao / d.atendimento | percentage:1}}</td>
                                        <td>{{d.cpc / d.interacao | percentage:1}}</td>
                                        <td>{{d.promessa / d.cpc | percentage:1}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{dashboard.resumo.atendimento | number}}</th>
                                        <th>{{dashboard.resumo.interacao | number}}</th>
                                        <th>{{dashboard.resumo.cpc | number}}</th>
                                        <th>{{dashboard.resumo.promessa | number}}</th>
                                        <th>{{dashboard.resumo.interacao / dashboard.resumo.atendimento | percentage:1}}</th>
                                        <th>{{dashboard.resumo.cpc / dashboard.resumo.interacao | percentage:1}}</th>
                                        <th>{{dashboard.resumo.promessa / dashboard.resumo.cpc | percentage:1}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DIAGRAMA -->
        <div class="row">
            <div class="col-xs-12 margin-bottom">
                <div id="filtros-window" class="card">
                    <div class="card-header">
                        <span class="card-header-title">Diagrama de Finalizações</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('diagrama','Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <sankey-chart dados="dashboard.diagrama" series-name="Quantidade"></sankey-chart>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<script>

    angular.module('app').controller('ctrl-vivo-ad3d', function ($scope, $http, $filter) {

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
        };
        $scope.dashboard = {};

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/vivo/dashboard/ad3d",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.dados = r.data;
                $scope.dashboard.status = r.status;

                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.dia = r.data.Table1;
                $scope.dashboard.diagrama = r.data.Table2;
            });
        }

        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });

</script>
