@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-vivo-ad3d">

    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status == 200">

        <!-- RESUMO -->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-2">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.acesso | megaNumber"></h3>
                        <p>Acesso</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpc | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.cpc / dashboard.resumo.acesso | percentage: 1"></h4>
                        <p>CPC</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.validou | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.validou / dashboard.resumo.cpc | percentage: 1"></h4>
                        <p>Validou CPF</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.alega | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.alega / dashboard.resumo.validou | percentage: 1"></h4>
                        <p>Alega Pagamento</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.promessa | number"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.promessa / dashboard.resumo.validou | percentage: 1"></h4>
                        <p>Promessa</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- DIA -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Dia</span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.dia">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Acesso</th>
                                        <th>CPC</th>
                                        <th>Validou CPF</th>
                                        <th>Validou Pagamento</th>
                                        <th>Promessa</th>
                                        <th>% CPC</th>
                                        <th>% Validou CPF</th>
                                        <th>% Alega</th>
                                        <th>% Promessa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="d in dashboard.dia">
                                        <td>{{d.data}}</td>
                                        <td>{{d.acesso | number}}</td>
                                        <td>{{d.cpc | number}}</td>
                                        <td>{{d.validou | number}}</td>
                                        <td>{{d.alega | number}}</td>
                                        <td>{{d.promessa | number}}</td>
                                        <td>{{d.cpc / d.acesso | percentage:1}}</td>
                                        <td>{{d.validou / d.cpc | percentage:1}}</td>
                                        <td>{{d.alega / d.validou | percentage:1}}</td>
                                        <td>{{d.promessa / d.validou | percentage:1}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{dashboard.resumo.acesso | number}}</th>
                                        <th>{{dashboard.resumo.cpc | number}}</th>
                                        <th>{{dashboard.resumo.validou | number}}</th>
                                        <th>{{dashboard.resumo.alega | number}}</th>
                                        <th>{{dashboard.resumo.promessa | number}}</th>
                                        <th>{{dashboard.resumo.cpc / dashboard.resumo.acesso | percentage:1}}</th>
                                        <th>{{dashboard.resumo.validou / dashboard.resumo.cpc | percentage:1}}</th>
                                        <th>{{dashboard.resumo.alega / dashboard.resumo.validou | percentage:1}}</th>
                                        <th>{{dashboard.resumo.promessa / dashboard.resumo.validou | percentage:1}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- HORA -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Hora</span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.hora">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Acesso</th>
                                        <th>CPC</th>
                                        <th>Validou CPF</th>
                                        <th>Validou Pagamento</th>
                                        <th>Promessa</th>
                                        <th>% CPC</th>
                                        <th>% Validou CPF</th>
                                        <th>% Alega</th>
                                        <th>% Promessa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="d in dashboard.hora">
                                        <td>{{d.hora}}</td>
                                        <td>{{d.acesso | number}}</td>
                                        <td>{{d.cpc | number}}</td>
                                        <td>{{d.validou | number}}</td>
                                        <td>{{d.alega | number}}</td>
                                        <td>{{d.promessa | number}}</td>
                                        <td>{{d.cpc / d.acesso | percentage:1}}</td>
                                        <td>{{d.validou / d.cpc | percentage:1}}</td>
                                        <td>{{d.alega / d.validou | percentage:1}}</td>
                                        <td>{{d.promessa / d.validou | percentage:1}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{dashboard.resumo.acesso | number}}</th>
                                        <th>{{dashboard.resumo.cpc | number}}</th>
                                        <th>{{dashboard.resumo.validou | number}}</th>
                                        <th>{{dashboard.resumo.alega | number}}</th>
                                        <th>{{dashboard.resumo.promessa | number}}</th>
                                        <th>{{dashboard.resumo.cpc / dashboard.resumo.acesso | percentage:1}}</th>
                                        <th>{{dashboard.resumo.validou / dashboard.resumo.cpc | percentage:1}}</th>
                                        <th>{{dashboard.resumo.alega / dashboard.resumo.validou | percentage:1}}</th>
                                        <th>{{dashboard.resumo.promessa / dashboard.resumo.validou | percentage:1}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DIAGRAMA -->
        <div class="row">
            <div class="col-xs-12 margin-bottom">
                <div id="filtros-window" class="card">
                    <div class="card-header">
                        <span class="card-header-title">Diagrama de Finalizações</span>
                    </div>
                    <div class="card-body">
                        <sankey-chart dados="dashboard.diagrama" series-name="Quantidade"></sankey-chart>
                    </div>
                </div>
            </div>

        </div>


        <!-- SIDE BAR CONTROL -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a data-target="#control-sidebar-filters-tab" data-toggle="tab"><i class="fa fa-filter"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Filtros -->
                <div class="tab-pane active" id="control-sidebar-filters-tab">
                    <!--DATA INCIAL-->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">Data Inicial</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                        </div>
                    </div>

                    <!--DATA FINAL-->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">Data Final</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                        </div>
                    </div>

                    <!--BOTÃO-->
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                    </div>

                </div>
                <!-- /.tab-pane -->

            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>
</div>


<script>

    angular.module('app').controller('ctrl-vivo-ad3d', function ($scope, $http, $filter) {

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
        };
        $scope.dashboard = {};

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/vivo/dashboard/ad3d",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.dados = r.data;
                $scope.dashboard.status = r.status;

                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.dia = r.data.Table1;
                $scope.dashboard.diagrama = r.data.Table2;
                $scope.dashboard.hora = r.data.Table3;
            });
        }

        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });

</script>