@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-oi-gerencial">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Gerencial - {{dashboard.mesAtual.mesNome}}</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>


        <!-- FILTROS -->
        <div class="row margin-bottom">

            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">

                            <!--ANO-->
                            <div class="form-group">
                                <label style="width: 100px;">Ano</label>
                                <select  ng-model="filtros.ano">
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                </select>
                            </div>

                            <!--MES-->
                            <div class="form-group">
                                <label style="width: 100px;">Mês</label>
                                <select  ng-model="filtros.mes">
                                    <option value="1">Janeiro</option>
                                    <option value="2">Fevereiro</option>
                                    <option value="3">Março</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Maio</option>
                                    <option value="6">Junho</option>
                                    <option value="7">Julho</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Setembro</option>
                                    <option value="10">Outubro</option>
                                    <option value="11">Novembro</option>
                                    <option value="12">Dezembro</option>
                                </select>
                            </div>


                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DAHSBOARD -->
        <div ng-if="dashboard.status == 200">

            <div class="row margin-bottom">
                <div class="col-xs-4">
                    <div class="small-box bg-orange">
                        <div class="inner">
                            <h3 ng-bind="dashboard.mesAtual.base_ativo| megaNumber"></h3>
                            <p>Estoque atual - {{dashboard.mesAtual.mesNome}}</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-plus-square"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="small-box bg-gray">
                        <div class="inner">
                            <h3 ng-bind="dashboard.capacityAtual.capacity| megaNumber"></h3>
                            <p>PA CAPACITY</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user-circle-o"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="small-box bg-gray">
                        <div class="inner">
                            <h3 ng-bind="dashboard.capacityAtual.capacity_real| megaNumber"></h3>
                            <p>PA REAL</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user-circle"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3 ng-bind="dashboard.mesAtual.base_ativo / dashboard.capacityAtual.capacity | megaNumber"></h3>
                            <p>CONTAS/PA</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-plus-circle"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3 ng-bind="dashboard.capacityAtual.capacity_real / dashboard.capacityAtual.capacity | percentage:1"></h3>
                            <p>REAL/CAPACITY</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-percent"></i>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row margin-bottom">
                <div class="col-xs-4">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Estoque Evolução - 3M</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                        </div>
                        <div class="card-body">

                            <high-chart height="200" type="column" series="dashboard.estoque3M" axis-Categories="dashboard.datasEstoque3M" plot-Options-Line-Data-Label="true"></high-chart>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Capacity vs Real - 3M</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                        </div>
                        <div class="card-body">

                            <high-chart height="200" type="line" series="dashboard.capacity3M" axis-Categories="dashboard.datasCapacity3M" plot-Options-Line-Data-Label="true"></high-chart>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Evolução Estoque/PA - 3M</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                        </div>
                        <div class="card-body">

                            <high-chart height="200" type="bar" series="dashboard.estoqueXpa" axis-Categories="dashboard.datasEstoque3M" plot-Options-Line-Data-Label="true"></high-chartheight="200">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row margin-bottom">
                <div class="col-xs-2">
                    <div class="small-box bg-blue">
                        <div class="inner">
                            <h3 ng-bind="dashboard.producaoResumo.alo| megaNumber"></h3>
                            <p>ALO</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-volume-control-phone"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="small-box bg-blue-active">
                        <div class="inner">
                            <h3 ng-bind="dashboard.producaoResumo.cpc| megaNumber"></h3>
                            <p>CPC</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-male"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3 ng-bind="dashboard.producaoResumo.cpca| megaNumber"></h3>
                            <p>CPCA</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-street-view"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3 ng-bind="dashboard.producaoResumo.promessa| megaNumber"></h3>
                            <p>PROMESSA</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-thumbs-o-up"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="small-box bg-gray">
                        <div class="inner">
                            <h3 ng-bind="dashboard.producaoResumo.sms| megaNumber"></h3>
                            <p>SMS</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-comments"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="small-box bg-gray">
                        <div class="inner">
                            <h3 ng-bind="dashboard.producaoResumo.mala| megaNumber"></h3>
                            <p>BOLETO</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row margin-bottom">

                <div class="col-xs-4">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Produção/PA - 3M</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                        </div>
                        <div class="card-body">

                            <high-chart type="column" series="dashboard.producao3M" axis-Categories="dashboard.datasEstoque3M" plot-Options-Line-Data-Label="true"></high-chart>
                        </div>
                    </div>
                </div>

                <div class="col-xs-8">
                    <div class="card" style="height: 500px">
                        <div class="card-header">
                            <span class="card-header-title">% Negocio</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table5')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row margin-bottom">
                                <div class="col-xs-4">
                                    <high-charts config="dashboard.pizza.spin" style="width: 100%; height: 200px"></high-charts>
                                </div>
                                <div class="col-xs-4">
                                    <high-charts config="dashboard.pizza.hitrate" style="width: 100%; height: 200px"></high-charts>
                                </div>
                                <div class="col-xs-4">
                                    <high-charts config="dashboard.pizza.cpc_alo" style="width: 100%; height: 200px"></high-charts>
                                </div>
                                <div class="col-xs-4">
                                    <high-charts config="dashboard.pizza.cpca_alo" style="width: 100%; height: 200px"></high-charts>
                                </div>
                                <div class="col-xs-4">
                                    <high-charts config="dashboard.pizza.cpca_cpc" style="width: 100%; height: 200px"></high-charts>
                                </div>
                                <div class="col-xs-4">
                                    <high-charts config="dashboard.pizza.promessa_cpca" style="width: 100%; height: 200px"></high-charts>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row margin-bottom">
                <!--INDICADORES ABSOLUTOS-->
                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="small-box bg-blue-active">
                        <div class="inner">
                            <h3 ng-bind="dashboard.temposresumoAtual.media_tma | formatTimer"></h3>
                            <p>T. Médio Atendimento</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-volume-control-phone"></i>
                        </div>
                    </div>

                    <div class="small-box bg-blue-active">
                        <div class="inner">
                            <h3 ng-bind="dashboard.temposresumoAtual.media_tme | formatTimer"></h3>
                            <p>T. Médio Espera</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-stop-circle-o"></i>
                        </div>
                    </div>

                    <div class="small-box bg-blue-active">
                        <div class="inner">
                            <h3 ng-bind="dashboard.temposresumoAtual.media_pausas_total | formatTimer"></h3>
                            <p>T. Médio Pausa</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-pause "></i>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Ocupação</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <high-chart series="dashboard.ocupacao" type="pie" height="250" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="small-box bg-gray-active">
                        <div class="inner">
                            <h3 ng-bind="dashboard.temposresumoAtual.media_atendimento_total | formatTimer "></h3>
                            <p>Média Falado</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-hourglass-half"></i>
                        </div>
                    </div>

                    <div class="small-box bg-gray-active">
                        <div class="inner">
                            <h3 ng-bind="dashboard.temposresumoAtual.media_disponivel | formatTimer "></h3>
                            <p>Média Disponível</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-hourglass-start"></i>
                        </div>
                    </div>
                    <div class="small-box bg-gray-active">
                        <div class="inner">
                            <h3 ng-bind="dashboard.temposresumoAtual.media_logado | formatTimer "></h3>
                            <p>Média Logado</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-hourglass"></i>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row margin-bottom">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="card">
                        @*<div class="card-header">
                            <span class="card-header-title">Ocupação</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                        </div>*@
                        <div class="card-body">
                            <high-charts config="dashboard.recusa" style="width: 100%; height: 190px"></high-charts>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="card">
                        @*<div class="card-header">
                            <span class="card-header-title">Ocupação</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                        </div>*@
                        <div class="card-body">
                            <high-charts config="dashboard.recusaPercentual" style="width: 100%; height: 190px"></high-charts>
                        </div>
                    </div>
                </div>

            </div>

            </div>
        </div>
</div>

<script>

    angular.module('app').controller('ctrl-oi-gerencial', function ($scope, $http, $filter, $interval, dadosPagina) {
        dadosPagina.titulo = 'Gerencial';
        dadosPagina.descricao = 'Oi Telecomunicações'

        // filtros iniciais
        $scope.filtros = {
            ano: '' + new Date().getFullYear(),
            mes: '' + (new Date().getMonth() + 1),
        };

        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = { indicador: 'hitrate' };


        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/oi/dashboard/gerencial",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = data.Table[0];

                //ESTOQUE
                $scope.dashboard.datasEstoque3M = r.data.Table7.map(obj => obj.mesNome);
                $scope.dashboard.mesAtual = r.data.Table8[0];
                $scope.dashboard.estoque3M = [{ name: 'Estoque', data: r.data.Table7.map(obj => obj.base_ativo), color: 'orange' }];

                //ESTOQUE / PA
                $scope.dashboard.estoqueXpa = [{ name: 'Contas/PA', data: r.data.Table7.map(obj => (obj.base_ativo / obj.capacity).toFixed(1) * 1), color:'#00a65a' }];

                //CAPACITY
                $scope.dashboard.datasCapacity3M = r.data.Table4.map(obj => obj.mesNome);
                $scope.dashboard.capacityAtual = r.data.Table4[0];
                $scope.dashboard.capacity3M = [ { name: 'Capacity', data: r.data.Table4.map(obj => obj.capacity) }
                                               ,{ name: 'Capacity Real', data: r.data.Table4.map(obj => obj.capacity_real) }];

                //PRODUCAO
                $scope.dashboard.producaoResumo = r.data.Table2[0];
                $scope.dashboard.producao3M = [ { name: 'Alo/PA', data: r.data.Table3.map(obj => (obj.alo / obj.capacity).toFixed(0) * 1)  }
                                              , { name: 'Cpc/PA', data: r.data.Table3.map(obj => (obj.cpc/ obj.capacity).toFixed(0) * 1) }
                                              , { name: 'Cpca/PA', data: r.data.Table3.map(obj => (obj.cpca/ obj.capacity).toFixed(0) * 1) }
                                              , { name: 'PP/PA', data: r.data.Table3.map(obj => (obj.promessa/ obj.capacity).toFixed(0) * 1) }
                ];

                //TEMPOS
                $scope.dashboard.temposresumoAtual = r.data.Table5[0];
                $scope.dashboard.temposresumo3M = r.data.Table6[0];
                $scope.dashboard.ocupacao = [{ name: 'Quantidade', innerSize: '10%', data: r.data.Table10.map(obj => ({ name: obj.legenda, y: obj.segundos })) }];

                $scope.gerarGrafico();
                $scope.gerarGraficoRecusa();
            });
        }

        $scope.dashboard.pizza = {};

        //gera graficos pizza
        $scope.gerarGrafico = function () {
            let dados = $scope.dashboard.dados.Table9[0];

            var indicadores = ["hitrate", "spin", "cpc_alo", "cpca_alo", "cpca_cpc", "promessa_cpca"];
            var titulos = ["HIT RATE", "SPIN", "CPC X ALO", "CPCA X ALO", "CPCA X CPC", "PROMESSA X CPCA"];
            var contador = 0;

            for (var prop in indicadores) {
              

                 $scope.dashboard.pizza[ indicadores[prop] ] = {
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: dados[ indicadores[prop] ] + '%',
                        align: 'center',
                        verticalAlign: 'middle',
                        y: 27,
                    },
                    subtitle: {
                        text: titulos[contador], 
                        style: {
                                    fontSize: '18px',
                                },
                    },
                    tooltip: {
                        enabled: false
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: false,
                            cursor: 'pointer',
                            innerSize: '70%',
                            dataLabels: {
                                enabled: false,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    },
                     //series: [{ name: indicadores[prop], data: [ dados[indicadores[prop]], (100 - dados[indicadores[prop]]  ) ], color: 'red' }]

                     series: [{ name: indicadores[prop], data: [ {name: 'Teste', color: '#7cb5ec', y: dados[indicadores[prop]], dataLabels: { enabled: false } }, ( {name: 'Teste', color: '#e3e1e1', y: 100 - dados[indicadores[prop]], dataLabels: { enabled: false } }  )  ] }]

                };

                contador = contador + 1;
            }

        }


        //gera graficos recusa
        $scope.gerarGraficoRecusa = function () {

            let dados = $scope.dashboard.dados.Table11;

                 $scope.dashboard.recusa = {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Motivos Recusas - Quantidade'
                    },
                    yAxis: {
                        visible: false,
                    },
                    xAxis: {
                        categories: dados.map(obj => obj.motivos)
                    },
                    legend: {
                        enabled: false,
                    },
                    plotOptions: {
                        column: {
                            dataLabels: {
                                enabled: true,
                                style: {
                                    fontSize: '18px',
                                },
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{ name: 'Quantidade', data: dados.map(obj => ({ name: obj.motivos, y: obj.qtd })) }]
                 };

                 $scope.dashboard.recusaPercentual = {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Motivos Recusas - Percentual'
                    },
                    yAxis: {
                        visible: false,
                    },
                    xAxis: {
                        categories: dados.map(obj => obj.motivos)
                    },
                    legend: {
                        enabled: false,
                    },
                    plotOptions: {
                        column: {
                            dataLabels: {
                                enabled: true,
                                style: {
                                    fontSize: '18px',
                                },
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{ name: 'Quantidade', data: dados.map(obj => ({ name: obj.motivos, y: obj.percentual })) }]
                };

            
        }


        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.carregarDashboard();

    });


</script>
