@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-tim-producao">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Produção Humano</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashFiltros.status == 200">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row margin-bottom">

                            <div class="col-xs-12 col-md-6">
                                <!--DATA INCIAL-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Data Inicial</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                    </div>
                                </div>

                                <!--EMPRESA-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Empresa</label>
                                    <select2 style="width: 100%;" class="form-control" data-placeholder="Selecione" ng-model="filtros.empresa" dados="dashFiltros.empresa"></select2>
                                </div>

                                <!--SEGMENTO-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Segmento</label>
                                    <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.segmento" dados="dashFiltros.segmento"></select2>
                                </div>

                                <!--ATRASO-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Atraso</label>
                                    <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.atraso" dados="dashFiltros.atraso"></select2>
                                </div>

                                <!--PRODUTO-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Produto</label>
                                    <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.produto" dados="dashFiltros.produto"></select2>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <!--DATA FINAL-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Data Final</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                    </div>
                                </div>

                                <!--SUPERVISOR-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Supervisor</label>
                                    <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.supervisor" dados="dashFiltros.supervisor"></select2>
                                </div>

                                <!--EQUIPE-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Equipe</label>
                                    <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.equipe" dados="dashFiltros.equipe"></select2>
                                </div>
                            </div>

                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->
        <div class="row margin-bottom">

            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.discado | megaNumber"></h3>
                        <p>Discado</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.contato | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1"></h4>
                        <p>Contato</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpc | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1"></h4>
                        <p>CPC</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-male"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpca | number"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.cpca / dashboard.resumo.cpc | percentage: 1"></h4>
                        <p>CPCA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-street-view"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.promessa | number"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.promessa / dashboard.resumo.cpca | percentage: 1"></h4>
                        <p>Promessa</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="small-box" style="color:white; background-color:#004592;">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.vlr_promessa | megaNumber"></h3>
                        <p>Valor de Promessa</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-usd"></i>
                    </div>
                </div>
            </div>

        </div>

        <!--ANALISE POR DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Produção por DIA</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right">
                            <label>
                                <input type="radio" name="graficoDiaExibir" ng-model="graficoDia.exibir" value="true" checked="checked" />
                                Tabela
                            </label>
                            <label>
                                <input type="radio" name="graficoDiaExibir" ng-model="graficoDia.exibir" value="false" />
                                Gráfico
                            </label>

                        </small>
                    </div>
                    <div class="card-body">
                        <!--TABELA-->
                        <div class="table-responsive" ng-show="graficoDia.exibir == 'true'">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.dia">
                                <thead>
                                    <tr>
                                        <th>Dia</th>
                                        <th>Discado</th>
                                        <th>Contato</th>
                                        <th>CPC</th>
                                        <th>CPCA</th>
                                        <th>Promessa</th>
                                        <th>Valor Promessa</th>
                                        <th>HitRate</th>
                                        <th>TxLoc</th>
                                        <th>TxApv</th>
                                        <th>Conversão</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dia in dashboard.dia">
                                        <td>{{dia.data | date : 'dd/MM/yyyy'}}</td>
                                        <td>{{dia.discado | number}}</td>
                                        <td>{{dia.contato | number}}</td>
                                        <td>{{dia.cpc | number}}</td>
                                        <td>{{dia.cpca | number}}</td>
                                        <td>{{dia.promessa | number}}</td>
                                        <td>{{dia.vlr_promessa | currency: 'R$ '}}</td>
                                        <td>{{dia.contato / dia.discado | percentage:1}}</td>
                                        <td>{{dia.cpc / dia.contato | percentage:1}}</td>
                                        <td>{{dia.cpca / dia.cpc | percentage:1}}</td>
                                        <td>{{dia.promessa / dia.cpca | percentage:1}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{dashboard.resumo.discado | number}}</th>
                                        <th>{{dashboard.resumo.contato | number}}</th>
                                        <th>{{dashboard.resumo.cpc | number}}</th>
                                        <th>{{dashboard.resumo.cpca | number}}</th>
                                        <th>{{dashboard.resumo.promessa | number}}</th>
                                        <th>{{dashboard.resumo.vlr_promessa | currency: 'R$ '}}</th>
                                        <th>{{dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.cpca / dashboard.resumo.cpc | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.promessa / dashboard.resumo.cpca | percentage: 1}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <!--GRAFICO-->
                        <div ng-show="graficoDia.exibir == 'false'">
                            <span class="pull-right">
                                <select ng-model="graficoDia.indicador" ng-change="carregarGraficoDia()">
                                    <option value="hitrate">Hit Rate</option>
                                    <option value="txloc">Tx Loc</option>
                                    <option value="txapv">Tx Apv</option>
                                    <option value="conversao">Conversão</option>
                                    <option value="discado">Discado</option>
                                    <option value="contato">Contato</option>
                                    <option value="cpc">CPC</option>
                                    <option value="cpca">CPCA</option>
                                    <option value="promessa">Promessa</option>
                                    <option value="vlr_promessa">Valor Promessa</option>
                                </select>
                            </span>
                            <high-chart series="dashboard.graficoDia" axis-Categories="dashboard.datas" plot-Options-Line-Data-Label="true"></high-chart>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--TABELA CARTEIRA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Produção por produto</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table5')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.produto">
                                <thead>
                                    <tr>
                                        <th>Carteira</th>
                                        @*<th>Discado</th>*@
                                        <th>Contato</th>
                                        <th>CPC</th>
                                        <th>CPCA</th>
                                        <th>Promessa</th>
                                        <th>Valor Promessa</th>
                                        @*<th>HitRate</th>*@
                                        <th>TxLoc</th>
                                        <th>TxApv</th>
                                        <th>Conversão</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="e in dashboard.produto | groupBy: 'ds_produto'">

                                    <tr class="text-bold">
                                        <td>
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{e[0].ds_produto}}
                                        </td>
                                        @*<td>{{e | sumByColumn: 'discado'| number}}</td>*@
                                        <td>{{e | sumByColumn: 'contato'| number}}</td>
                                        <td>{{e | sumByColumn: 'cpc'| number}}</td>
                                        <td>{{e | sumByColumn: 'cpca'| number}}</td>
                                        <td>{{e | sumByColumn: 'promessa'| number}}</td>
                                        <td>{{e | sumByColumn: 'vlr_promessa'| currency: 'R$ '}}</td>
                                        @*<td>{{e | divideSumColumns: 'contato':'discado' | percentage:1}}</td>*@
                                        <td>{{e | divideSumColumns: 'cpc':'contato' | percentage:1}}</td>
                                        <td>{{e | divideSumColumns: 'cpca':'cpc' | percentage:1}}</td>
                                        <td>{{e | divideSumColumns: 'promessa':'cpca' | percentage:1}}</td>
                                    </tr>

                                    <tr ng-repeat="c in e" ng-show="showTbody">
                                        <td>{{c.ds_aging}}</td>
                                        @*<td>{{c.discado | number}}</td>*@
                                        <td>{{c.contato | number}}</td>
                                        <td>{{c.cpc | number}}</td>
                                        <td>{{c.cpca | number}}</td>
                                        <td>{{c.promessa | number}}</td>
                                        <td>{{c.vlr_promessa| currency: 'R$ '}}</td>
                                        @*<td>{{c.contato / c.discado | percentage:1}}</td>*@
                                        <td>{{c.cpc / c.contato | percentage:1}}</td>
                                        <td>{{c.cpca / c.cpc | percentage:1}}</td>
                                        <td>{{c.promessa / c.cpca | percentage:1}}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--GRAFICO ALEGA PAGAMENTO-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Indice de Alega Pagamento Por: </span>
                        <div class="card-header-title">
                            <select style="margin-left: 20px" class="form-control" ng-model="graficoAlega.visao" ng-change="carregarGraficoAlega()">
                                <option value="data" selected="selected">Dia</option>
                                <option value="semana">Semana</option>
                                <option value="mes">Mês</option>                                
                            </select>
                        </div>

                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart class="margin-bottom" series="dashboard.alegaPagamento" axis-Categories="dashboard.categoria"
                                    plot-Options-spline-Data-Label="true" y-Axis1-Min="0"
                                    y-Axis1-Max="50" height="300"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--TABELA SUPERVISOR/EQUIPE-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Supervisor/Equipe</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.supervisor">
                                <thead>
                                    <tr>
                                        <th>Supervisor/Equipe</th>
                                        <th>Contato</th>
                                        <th>CPC</th>
                                        <th>CPCA</th>
                                        <th>Promessa</th>
                                        <th>Valor Promessa</th>
                                        <th>TxLoc</th>
                                        <th>TxApv</th>
                                        <th>Conversão</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="e in dashboard.supervisor | groupBy: 'ds_supervisor'">

                                    <tr class="text-bold">
                                        <td>
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{e[0].ds_supervisor}}
                                        </td>
                                        <td>{{e | sumByColumn: 'contato'| number}}</td>
                                        <td>{{e | sumByColumn: 'cpc'| number}}</td>
                                        <td>{{e | sumByColumn: 'cpca'| number}}</td>
                                        <td>{{e | sumByColumn: 'promessa'| number}}</td>
                                        <td>{{e | sumByColumn: 'vlr_promessa' | currency: 'R$ ' }}</td>
                                        <td>{{e | divideSumColumns: 'cpc':'contato' | percentage:1}}</td>
                                        <td>{{e | divideSumColumns: 'cpca':'cpc' | percentage:1}}</td>
                                        <td>{{e | divideSumColumns: 'promessa':'cpca' | percentage:1}}</td>
                                    </tr>

                                    <tr ng-repeat="c in e" ng-show="showTbody">
                                        <td>{{c.ds_equipe}}</td>
                                        <td>{{c.contato | number}}</td>
                                        <td>{{c.cpc | number}}</td>
                                        <td>{{c.cpca | number}}</td>
                                        <td>{{c.promessa | number}}</td>
                                        <td>{{c.vlr_promessa | currency: 'R$ '}}</td>
                                        <td>{{c.cpc / c.contato | percentage:1}}</td>
                                        <td>{{c.cpca / c.cpc | percentage:1}}</td>
                                        <td>{{c.promessa / c.cpca | percentage:1}}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- ANÁLISE POR OCORRENCIA -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Ocorrências</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <d-table class="table table-striped table-bordered" style="width:100%" dados="dashboard.tabulacao" paging="false" order="[[1,'desc']]"></d-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    angular.module('app').controller('ctrl-tim-producao', function ($scope, $http, $filter, $interval) {

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);
        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            empresa: '',
            segmento: '',
            atraso: '',
            produto: '',
            equipe: '',
            supervisor: '',
        };
        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.graficoDia = { indicador: 'promessa', exibir: 'true' };
        $scope.graficoAlega = { visao: 'data' };

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/tim/dashboard/humano/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;

            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.empresa = r.data.Table;
            $scope.dashFiltros.segmento = r.data.Table1;
            $scope.dashFiltros.atraso = r.data.Table2;
            $scope.dashFiltros.produto = r.data.Table9;
            $scope.dashFiltros.supervisor = r.data.Table3;
            $scope.dashFiltros.equipe = r.data.Table4;

        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/tim/dashboard/humano/producao",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;

                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;

                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.dia = data.Table1;
                $scope.dashboard.supervisor = data.Table2;
                $scope.dashboard.tabulacao = data.Table3;
                $scope.dashboard.alega = data.Table4;
                $scope.dashboard.produto = data.Table5;

                $scope.carregarGraficoDia();
                $scope.carregarGraficoAlega();
            });
        }

        // carrega o gráfico de alega pagamento, com a visão escolhida
        $scope.carregarGraficoAlega = function () {

            let dados = alasql('SELECT ' + $scope.graficoAlega.visao + ', sum(CPC) CPC, sum(AlegaPagamento) AlegaPagamento from ? group by ' + $scope.graficoAlega.visao + '', [$scope.dashboard.alega]);

            $scope.dashboard.categoria = dados.map(obj => obj[$scope.graficoAlega.visao]);

            $scope.dashboard.alegaPagamento = [
                    { name: 'CPC', type: 'column', color: 'rgba(124, 197, 230, 1)', data: dados.map(obj => obj.CPC) },
                    { name: 'Alega Pagamento', type: 'area', color: 'rgb(1, 70, 145)', data: dados.map(obj => obj.AlegaPagamento) },
                    { name: '% Alega Pagamento', yAxis: 1, type: 'spline', color: 'rgba(232, 2, 39, 1)', data: dados.map(obj => (obj.AlegaPagamento * 100 / obj.CPC).toFixed(1) * 1) }
            ];
        }

        // carrega o gráfico de acordo com o indicador escolhido
        $scope.carregarGraficoDia = function () {
            let dados = $scope.dashboard.dia;
            $scope.dashboard.datas = dados.map(obj => obj.data);
            switch ($scope.graficoDia.indicador) {
                case 'hitrate':
                    $scope.dashboard.graficoDia = [{ name: 'hitrate', data: dados.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) * 1) }];
                    break;
                case 'txloc':
                    $scope.dashboard.graficoDia = [{ name: 'txloc', data: dados.map(obj => (obj.cpc * 100 / obj.contato).toFixed(1) * 1) }];
                    break;
                case 'txapv':
                    $scope.dashboard.graficoDia = [{ name: 'txapv', data: dados.map(obj => (obj.cpca * 100 / obj.cpc).toFixed(1) * 1) }];
                    break;
                case 'conversao':
                    $scope.dashboard.graficoDia = [{ name: 'conversao', data: dados.map(obj => (obj.promessa * 100 / obj.cpca).toFixed(1) * 1) }];
                    break;
                default:
                    $scope.dashboard.graficoDia = [{ name: $scope.graficoDia.indicador, data: dados.map(obj => obj[$scope.graficoDia.indicador]) }];
            }
        }

        $scope.carregarDashboard();

        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });

</script>