@{
    Layout = "~/Views/master.cshtml";
}




<div ng-controller="ctrl-caedu-metas">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Metas Operacionais</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('metas-window')">
                <i class="fa fa-edit"></i>
                CADASTRO DE META
            </div>
        </header>

        <!--CADASTRO DE META -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="metas-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Cadastro de Meta - Valores do dia</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Filtros -->
                            <div class="tab-pane active" id="control-sidebar-filters-tab">
                                <!--ANO-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading" style="width: 100px;">Ano</label>
                                    <select ng-model="filtros.ano">
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                    </select>
                                </div>

                                <!--MES-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading" style="width: 100px;">Mês</label>
                                    <select ng-model="filtros.mes">
                                        <option value="1">Janeiro</option>
                                        <option value="2">Fevereiro</option>
                                        <option value="3">Março</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Maio</option>
                                        <option value="6">Junho</option>
                                        <option value="7">Julho</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Setembro</option>
                                        <option value="10">Outubro</option>
                                        <option value="11">Novembro</option>
                                        <option value="12">Dezembro</option>
                                    </select>
                                </div>

                                <!--MES-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading" style="width: 100px;">Segmento</label>
                                    <select ng-model="mascara.indicador" ng-change="carregarMascara()">
                                        <option value="1">DIGITAL</option>
                                        <option value="2">TELE</option>
                                        <option value="3">VARIAVEL</option>
                                    </select>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">

                                        <div class="form-group" ng-repeat="n in dashboard.mascara">
                                            <label class="control-sidebar-subheading" style="width: 100px;"> {{n.ds_faixa }} - CPCA</label>
                                            <input-mask class="mask" ng-model="n.cpca"  mask="0000" reverse="true" placeholder="5.000"></input-mask>
                                        </div>
                                    </div>

                                    <div class="col-md-6">

                                        <div class="form-group" ng-repeat="n in dashboard.mascara">
                                            <label class="control-sidebar-subheading" style="width: 100px;"> {{n.ds_faixa }} - PROM</label>
                                            <input-mask class="mask" ng-model="n.promessa"  mask="0000" reverse="true" placeholder="5.000"></input-mask>
                                        </div>

                                    </div>

                                </div>

                                <!--BOTÃO-->
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="salvarMetas()" onclick="addDisplayNone('metas-window')">Salvar</button>
                                </div>

                            </div>
                            <!-- /.tab-pane -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12" ng-if="dashFiltros.status === 200">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--SEGMENTO-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Segmento</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.segmento" dados="dashFiltros.segmento" style="width:100%"></select2>
                        </div>

                        <!--CARTEIRA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Atrasos</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.atraso" dados="dashFiltros.atraso" style="width:100%"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="small-box bg-white">
                    <div class="inner" style="color:black">
                        <h3 ng-bind="dashboard.resumo.metacpca | megaNumber"></h3>
                        <p>Meta CPCA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-male"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="small-box bg-white">
                    <div class="inner" style="color:black">
                        <h3 ng-bind="dashboard.resumo.cpca | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.cpca / dashboard.resumo.metacpca | percentage: 1"></h4>
                        <p>CPA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-male"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-green-active">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.metapromessa | megaNumber"></h3>
                        <p>Meta Negociação</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-street-view"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="small-box bg-green-active">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.promessa | number"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.promessa / dashboard.resumo.metapromessa | percentage: 1"></h4>
                        <p>Promessa</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-street-view"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="small-box bg-green-active">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.acordo | number"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.acordo / dashboard.resumo.metapromessa | percentage: 1"></h4>
                        <p>Acordo</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-street-view"></i>
                    </div>
                </div>
            </div>

        </div>

        <!--TABELA ANALISE DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('MetaDia','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.dia">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Meta CPCA</th>
                                        <th>CPCA</th>
                                        <th>% Feito</th>
                                        <th>Meta Promessa</th>
                                        <th>Promessa</th>
                                        <th>% Feito</th>
                                        <th>Acordo</th>
                                        <th>% Feito</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="e in dashboard.dia | groupBy: 'data'">

                                    <tr class="text-bold">
                                        <td>
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{e[0].data}}
                                        </td>
                                        <td>{{e | sumByColumn: 'metacpca'| number}}</td>
                                        <td>{{e | sumByColumn: 'cpca'| number}}</td>
                                        <td>{{e | divideSumColumns: 'cpca':'metacpca' | percentage:1}}</td>
                                        <td>{{e | sumByColumn: 'metapromessa'| number}}</td>
                                        <td>{{e | sumByColumn: 'promessa'| number}}</td>
                                        <td>{{e | divideSumColumns: 'promessa':'metapromessa' | percentage:1}}</td>
                                        <td>{{e | sumByColumn: 'acordo'| number}}</td>
                                        <td>{{e | divideSumColumns: 'acordo':'metapromessa' | percentage:1}}</td>
                                    </tr>

                                    <tr ng-repeat="c in e" ng-show="showTbody">
                                        <td>{{c.hora}}</td>
                                        <td>{{c.metacpca | number}}</td>
                                        <td>{{c.cpca | number}}</td>
                                        <td>{{c.cpca / c.metacpca | percentage:1}}</td>
                                        <td>{{c.metapromessa | number}}</td>
                                        <td>{{c.promessa | number}}</td>
                                        <td>{{c.promessa / c.metapromessa | percentage:1}}</td>
                                        <td>{{c.acordo | number}}</td>
                                        <td>{{c.acordo / c.metapromessa | percentage:1}}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!--GRAFICO DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Gráfico por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <small class="pull-right">
                            <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                                <option value="conversaopro">Conversão Promessa</option>
                                <option value="cpca">CPCA</option>
                                <option value="metacpca">% Feito CPCA</option>
                                <option value="promessa">Promessa</option>
                                <option value="metapromessa">% Feito promessa</option>
                            </select>
                        </small>
                        <high-chart series="dashboard.grafico" axis-Categories="dashboard.datas" plot-Options-Line-Data-Label="true"></high-chart>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-caedu-metas', function ($scope, $http, $filter) {
        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            segmento: '',
            atraso: '',
            ano: '' + new Date().getFullYear(),
            mes: '' + (new Date().getMonth() + 1),
        };

        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = { indicador: 'cpca' };
        $scope.mascara = { indicador: '1' };

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/caedu/dashboard/humano/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.segmento = data.Table;
            $scope.dashFiltros.atraso = data.Table1;


        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/caedu/dashboard/metas",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.dia = data.Table1;
                $scope.dashboard.diagrafico = data.Table3;
                $scope.dashboard.mascara = data.Table2;

                $scope.carregarGrafico();
                $scope.carregarMascara();

            });

            // carrega o mapa de acordo com o indicador escolhido
            $scope.carregarGrafico = function () {
                let dados = $scope.dashboard.diagrafico;
                $scope.dashboard.datas = dados.map(obj => obj.data);
                switch ($scope.grafico.indicador) {
                    case 'metacpca':
                        $scope.dashboard.grafico = [{ name: 'metacpca', data: dados.map(obj => (obj.cpca * 100 / obj.metacpca).toFixed(1) * 1) }];
                        break;
                    case 'metapromessa':
                        $scope.dashboard.grafico = [{ name: 'metapromessa', data: dados.map(obj => (obj.promessa * 100 / obj.metapromessa).toFixed(1) * 1) }];
                        break;
                    case 'metaacordo':
                        $scope.dashboard.grafico = [{ name: 'metaacordo', data: dados.map(obj => (obj.acordo * 100 / obj.metapromessa).toFixed(1) * 1) }];
                        break;
                    case 'conversaopro':
                        $scope.dashboard.grafico = [{ name: 'conversao', data: dados.map(obj => (obj.promessa * 100 / obj.cpca).toFixed(1) * 1) }];
                        break;
                    case 'conversaoaco':
                        $scope.dashboard.grafico = [{ name: 'conversao', data: dados.map(obj => (obj.acordo * 100 / obj.cpca).toFixed(1) * 1) }];
                        break;
                    default:
                        $scope.dashboard.grafico = [{ name: $scope.grafico.indicador, data: dados.map(obj => obj[$scope.grafico.indicador]) }];
                }
            }
        }

        $scope.carregarMascara = function () {

            let indicador = $scope.mascara.indicador;
            $scope.dashboard.mascara = $scope.dashboard.dados.Table2.filter(obj => obj.id_segmento == indicador);

        }

        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.salvarMetas = function () {

            $scope.metas = {
                ano: '' + new Date().getFullYear(),
                mes: '' + (new Date().getMonth() + 1),
                id_segmento: $scope.mascara.indicador,
                atrasos: JSON.stringify($scope.dashboard.mascara.map(obj => ({id: obj.id_faixa_atraso}))),
                cpca: JSON.stringify($scope.dashboard.mascara.map(obj => ({metacpca: obj.cpca}))),
                promessa: JSON.stringify($scope.dashboard.mascara.map(obj => ({metapro: obj.promessa}))),
            }

            $http({
                method: 'POST',
                url: "/api/caedu/dashboard/cadmetas",
                data: $scope.metas,
            }).then(function success(r) {
                $scope.carregarDashboard();
            });
        }

    });

</script>