@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-caedu-pagamento">
    <div ng-if="dashboard.status == 200">

        <!-- RESUMO -->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.quantidade | number"></h3>
                        <p>Qtd Pagamento</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-credit-card"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.valor | currency:'R$'"></h3>
                        <p>Vlr Pagamento</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--GRAFICO-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <h3 style="text-align:center">
                    Pagamentos do Período
                    <small class="pull-right">
                        <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                            <option value="qtd">Quantidade</option>
                            <option value="vlr">Valor</option>
                        </select>
                    </small>
                </h3>
            </div>            
            <div class="col-xs-12 col-md-8">
                <high-chart series="dashboard.dia" axis-Categories="dashboard.dias" plot-Options-Column-Data-Label="true" type="column"></high-chart>
            </div>
            <div class="col-xs-12 col-md-4">
                <high-chart series="dashboard.segmento" type="pie" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
            </div>
        </div>

        <!-- SIDE BAR CONTROL -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a data-target="#control-sidebar-filters-tab" data-toggle="tab"><i class="fa fa-filter"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Filtros -->
                <div class="tab-pane active" id="control-sidebar-filters-tab">
                    <!--DATA INCIAL-->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">Data Inicial</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                        </div>
                    </div>

                    <!--DATA FINAL-->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">Data Final</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                        </div>
                    </div>
                    <!--SEGMENTOS-->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">Segmento</label>
                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.segmento" dados="dashFiltros.segmento"></select2>
                    </div>
                    <!--FAIXAS-->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">Faixas</label>
                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.faixa" dados="dashFiltros.faixa"></select2>
                    </div>

                    <!--BOTÃO-->
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                    </div>

                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-caedu-pagamento', function ($scope, $http, $filter, dadosPagina) {
        dadosPagina.titulo = 'Pagamento';
        dadosPagina.descricao = 'Caedu'

        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            segmento: '',
            faixa: '',
        }
        $scope.dashboard = {};
        $scope.dashFiltros = {};
        $scope.grafico = { indicador: 'qtd' };

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/caedu/dashboard/humano/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            $scope.dados = r.status;

            $scope.dashFiltros.segmento = r.data.Table;
            $scope.dashFiltros.faixa = r.data.Table1;
        });


        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/caedu/dashboard/pagamento",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;

                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.dias = r.data.Table1.map(obj => obj.dia);
                $scope.dashboard.dados = r.data;

                $scope.carregarGrafico();
            });
        }

        $scope.carregarGrafico = function () {
            let dados = $scope.dashboard.dados;
          
            if ($scope.grafico.indicador == 'vlr') {
                $scope.dashboard.dia = [{ name: 'Valor', data: dados.Table1.map(obj => (obj.valor)) }];
                $scope.dashboard.segmento = [{ name: 'Valor', innerSize: '60%', data: dados.Table2.map(obj => ({ name: obj.segmento, y: obj.valor })) }];
            }
            else {
                $scope.dashboard.dia = [{ name: 'Quantidade', data: dados.Table1.map(obj => (obj.quantidade)) }];
                $scope.dashboard.segmento = [{ name: 'Quantidade', data: dados.Table2.map(obj => ({ name: obj.segmento, y: obj.quantidade })) }];
            }
        }

        $scope.carregarDashboard();

    });


</script>