@{
    Layout = "~/Views/master.cshtml";
}


<!-- DAHSBOARD -->
<div ng-controller="ctrl-ibi-horahora">
    <div ng-if="dashboard.status === 200">

        <!--CABEÇALHO-->
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-black" style="background: url('/Content/Images/Ibi/banner.png'); background-size: cover;">
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="~/Content/Images/Ibi/logo.png" height="128" width="128" style="background-color: white;">
            </div>
            <div class="box-footer">
                <div class="row" style="background-color: white; color: black;">
                    <div class="col-sm-2 col-sm-offset-1 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.discado | megaNumber"></h5>
                            <span class="description-text">Discado</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.contato | megaNumber"></h5>
                            <span class="description-text">Contato</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.cpc | megaNumber"></h5>
                            <span class="description-text">CPC</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.cpca | number"></h5>
                            <span class="description-text">CPCA</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.acordo | number"></h5>
                            <span class="description-text">Acordo</span>
                        </div>
                    </div>
                </div>

                <div class="row" style="background-color: #006699; color: white;">
                    <div class="col-sm-2 col-sm-offset-1 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1"></h5>
                            <span class="description-text">Hit Rate</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1"></h5>
                            <span class="description-text">Tx Loc</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.cpca / dashboard.resumo.cpc | percentage: 1"></h5>
                            <span class="description-text">Tx Apv</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.acordo / dashboard.resumo.cpca | percentage: 1"></h5>
                            <span class="description-text">Conversao</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.valor_acordo | currency: 'R$'"></h5>
                            <span class="description-text">Valor Acordo</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--ANALISE POR HORA-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Análise por Hora</h3>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.horahora">
                                <thead>
                                    <tr>
                                        <th>Hora</th>
                                        <th>Discado</th>
                                        <th>Contato</th>
                                        <th>CPC</th>
                                        <th>CPCA</th>
                                        <th>Acordo</th>
                                        <th>Vlr Acordo</th>                                       
                                        <th>Hit Rate</th>
                                        <th>Tx Loc</th>
                                        <th>Conversão</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="hora in dashboard.horahora">
                                        <td>{{hora.hora}}</td>
                                        <td>{{hora.discado | number}}</td>
                                        <td>{{hora.contato | number}}</td>
                                        <td>{{hora.cpc | number}}</td>
                                        <td>{{hora.cpca | number}}</td>
                                        <td>{{hora.acordo | number}}</td>
                                        <td>{{hora.valor_acordo | number}}</td>                                      
                                        <td>{{hora.contato / hora.discado | percentage:1}}</td>
                                        <td>{{hora.cpc / hora.contato | percentage:1}}</td>
                                        <td>{{hora.acordo / hora.cpca | percentage:1}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{dashboard.resumo.discado | number}}</th>
                                        <th>{{dashboard.resumo.contato | number}}</th>
                                        <th>{{dashboard.resumo.cpc | number}}</th>
                                        <th>{{dashboard.resumo.cpca | number}}</th>
                                        <th>{{dashboard.resumo.acordo | number}}</th>
                                        <th>{{dashboard.resumo.valor_acordo | number}}</th>                                        
                                        <th>{{dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.acordo / dashboard.resumo.cpca | percentage: 1}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--ANALISE POR SEGMENTACAO-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Análise por Credor</h3>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.credor">
                                <thead>
                                    <tr>
                                        <th>Credor</th>
                                        <th>Discado</th>
                                        <th>Contato</th>
                                        <th>CPC</th>
                                        <th>CPCA</th>
                                        <th>Acordo</th>
                                        <th>Vlr Acordo</th>
                                        <th>HitRate</th>
                                        <th>TxLoc</th>
                                        <th>Conversão</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="c in dashboard.credor | groupBy: 'credor'">

                                    <tr class="text-bold">
                                        <td>
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{c[0].credor}}
                                        </td>
                                        <td>{{c | sumByColumn: 'discado'| number}}</td>
                                        <td>{{c | sumByColumn: 'contato'| number}}</td>
                                        <td>{{c | sumByColumn: 'cpc'| number}}</td>
                                        <td>{{c | sumByColumn: 'cpca'| number}}</td>
                                        <td>{{c | sumByColumn: 'acordo'| number}}</td>
                                        <td>{{c | sumByColumn: 'valor_acordo'| number}}</td>
                                        <td>{{c | divideSumColumns: 'contato':'discado' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'cpc':'contato' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'acordo':'cpca' | percentage:1}}</td>
                                    </tr>

                                    <tr ng-repeat="f in c" ng-show="showTbody">
                                        <td>{{f.fase}}</td>
                                        <td>{{f.discado | number}}</td>
                                        <td>{{f.contato | number}}</td>
                                        <td>{{f.cpc | number}}</td>
                                        <td>{{f.cpca | number}}</td>
                                        <td>{{f.acordo | number}}</td>
                                        <td>{{f.valor_acordo | number}}</td>                                       
                                        <td>{{f.contato / f.discado | percentage:1}}</td>
                                        <td>{{f.cpc / f.contato | percentage:1}}</td>
                                        <td>{{f.acordo / f.cpca | percentage:1}}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--GRAFICO POR HORA-->
        <div class="row">
            <div class="col-xs-12">
                <h3 class="box-title">
                    Gráfico por Hora
                    <small class="pull-right">
                        <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                            <option value="hitrate">Hit Rate</option>
                            <option value="txloc">Tx Loc</option>
                            <option value="txapv">Tx Apv</option>
                            <option value="conversao">Conversão</option>
                            <option value="discado">Discado</option>
                            <option value="contato">Contato</option>
                            <option value="cpc">CPC</option>
                            <option value="cpca">CPCA</option>
                            <option value="acordo">Acordo</option>
                            <option value="valor_acordo">Valor Acordo</option>
                        </select>
                    </small>
                </h3>
                <high-chart series="dashboard.grafico" axis-Categories="dashboard.horas" plot-Options-Line-Data-Label="true"></high-chart>
            </div>
        </div>

        <!--PRODUÇÃO POR OPERADOR-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <h3 class="box-title">Análise por Operador</h3>
                <d-table class="table table-striped table-bordered" style="width:100%" dados="dashboard.operador" scroll-collapse="true" scroll-y="324px" order="[[4,'desc']]"></d-table>
            </div>
        </div>



        <!-- SIDE BAR CONTROL -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a data-target="#control-sidebar-filters-tab" data-toggle="tab"><i class="fa fa-filter"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Filtros -->
                <div class="tab-pane active" id="control-sidebar-filters-tab" ng-if="dashFiltros.status === 200">
                    <!--DATA INCIAL-->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">Data Inicial</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                        </div>
                    </div>

                    <!--DATA FINAL-->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">Data Final</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                        </div>
                    </div>

                    <!--CREDORES-->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">Credores</label>
                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.credores" dados="dashFiltros.credores"></select2>
                    </div>

                    <!--FASES-->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">Fases</label>
                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.fases" dados="dashFiltros.fases"></select2>
                    </div>

                    <!--BOTÃO-->
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                    </div>

                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>
</div>



<script>
    angular.module('app').controller('ctrl-ibi-horahora', function ($scope, $http, $filter, $interval, dadosPagina) {

        dadosPagina.titulo = 'Hora Hora';
        dadosPagina.descricao = 'IBI'
        $scope.showTbody = false;

        $scope.filtros = {
            dtini: $filter('date')(new Date(), "yyyy-MM-dd"),
            dtfim: $filter('date')(new Date(), "yyyy-MM-dd"),
            credores: '',
            fases: '',
        };

        $scope.dashboard = {};
        $scope.dashFiltros = {};
        $scope.grafico = { indicador: 'acordo' };

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/ibi/dashboard/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.credores = data.Table;
            $scope.dashFiltros.fases = data.Table1;
        });

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/ibi/dashboard/horahora",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;

                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.horahora = data.Table1;
                $scope.dashboard.credor = data.Table2;
                $scope.dashboard.operador = data.Table3;

                $scope.carregarGrafico();
            });
        }

        // carrega o grafico de acordo com o indicador escolhido
        $scope.carregarGrafico = function () {
            let dados = $scope.dashboard.horahora;
            $scope.dashboard.horas = dados.map(obj => obj.hora);
            switch ($scope.grafico.indicador) {
                case 'hitrate':
                    $scope.dashboard.grafico = [{ name: 'hitrate', data: dados.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) * 1) }];
                    break;
                case 'txloc':
                    $scope.dashboard.grafico = [{ name: 'txloc', data: dados.map(obj => (obj.cpc * 100 / obj.contato).toFixed(1) * 1) }];
                    break;
                case 'txapv':
                    $scope.dashboard.grafico = [{ name: 'txapv', data: dados.map(obj => (obj.cpca * 100 / obj.cpc).toFixed(1) * 1) }];
                    break;
                case 'conversao':
                    $scope.dashboard.grafico = [{ name: 'conversao', data: dados.map(obj => (obj.acordo * 100 / obj.cpca).toFixed(1) * 1) }];
                    break;
                default:
                    $scope.dashboard.grafico = [{ name: $scope.grafico.indicador, data: dados.map(obj => obj[$scope.grafico.indicador]) }];
            }

        }

        $scope.carregarDashboard();

    });
</script>
