@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-riachuelosac">

    <!-- HEADER-->
    <header class="page-header">
        <div class="page-name">Relacionamento de Canais de Vendas</div>
    </header>

    <!--FILAS-->
    <div class="col-xs-12 col-lg-6 margin-bottom">
        <div class="card">
            <div class="card-header">
                <span class="card-header-title">Filas de Atendimento</span>
                <div class="card-header-button card-header-expand">
                    <i class="fa fa-expand"></i>
                </div>
            </div>
            <div class="card-body">
                <high-chart series="dashboard.grafico_fila" axis-Categories="dashboard.fila_categorias" type="bar" plot-Options-Bar-Data-Label="true" height="360"></high-chart>
            </div>
        </div>
    </div>

    <!--QTD PA-->
    <div class="col-xs-12 col-lg-6 margin-bottom">
        <div class="card">
            <div class="card-header">
                <span class="card-header-title">Quantidade de P.A</span>
                <div class="card-header-button card-header-expand">
                    <i class="fa fa-expand"></i>
                </div>
            </div>
            <div class="card-body">

                <div class="row">

                    <div class="col-xs-6">
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3 ng-bind="dashboard.pa"></h3>
                                <p>P.A</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3 ng-bind="dashboard.atendimentodia"></h3>
                                <p>Atend/Dia/PA</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-headphones"></i>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <h4 class="text-center">Nível de Serviço: <b>{{dashboard.ns | percentage: 1}}</b></h4>
                    <div class="col-xs-12 text-center">
                        <gauge style="height: 193px;" config="dashboard.ns_gauge"></gauge>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--FILAS-->
    <div class="col-xs-12 margin-bottom">
        <div class="card">
            <div class="card-header">
                <span class="card-header-title">Análise por Fila</span>
                <div class="card-header-button card-header-expand">
                    <i class="fa fa-expand"></i>
                </div>
            </div>
            <div class="card-body">
                <!--TABELA-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.fila">
                        <thead>
                            <tr>
                                <th>Fila</th>
                                <th>NS (20s)</th>
                                <th>Chamada</th>
                                <th>% do Total</th>
                                <th>Atendida</th>
                                <th>Abandonada</th>
                                <th>% Abandono</th>
                                <th>Tempo Médio Atendimento</th>
                                <th>Tempo Médio em Fila</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="f in dashboard.fila">
                                <td>{{f.fila}}</td>
                                <td>{{f.ns}}</td>
                                <td>{{f.chamada}}</td>
                                <td>{{f.perctt}}</td>
                                <td>{{f.atendido}}</td>
                                <td>{{f.abandonado}}</td>
                                <td>{{f.percaban}}</td>
                                <td>{{f.tma}}</td>
                                <td>{{f.tmf}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <!--HORA HORA-->
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Gráfico por Hora</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <p><small>Chamadas deste mês</small></p>

                        <h4 class="text-center">Hora Hora</h4>
                        <high-chart class="margin-bottom" series="dashboard.graficohora_h" axis-Categories="dashboard.horas" type="column"
                                    plot-Options-Column-Stacking="normal" y-Axis1-Min="80"
                                    y-Axis1-Max="100" height="200"></high-chart>
                    </div>
                </div>
            </div>

            <!--TEMPOS-->
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Tempos Operação</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-xs-6">

                                <div class="small-box bg-gray">
                                    <div class="inner">
                                        <b>Logado:</b> <span ng-bind="dashboard.tempos_h.logado"></span>
                                    </div>
                                </div>

                                <div class="small-box bg-gray">
                                    <div class="inner">
                                        <b>TMA:</b> <span ng-bind="dashboard.tempos_h.tma"></span>
                                    </div>
                                </div>

                                <div class="small-box bg-gray">
                                    <div class="inner">
                                        <b>Tempo Fila:</b> <span ng-bind="dashboard.tempos_h.tmf"></span>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-6">

                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <b>Conversado:</b> <span ng-bind="dashboard.tempos_h.conversado"></span>
                                    </div>
                                </div>

                                <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <b>Pausas:</b> <span ng-bind="dashboard.tempos_h.pausas"></span>
                                    </div>
                                </div>

                                <div class="small-box bg-red">
                                    <div class="inner">
                                        <b>Disponível:</b> <span ng-bind="dashboard.tempos_h.disponivel"></span>
                                    </div>
                                </div>

                            </div>

                            <high-chart series="dashboard.tempos_h.ocupacao" type="pie" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)" height="180"></high-chart>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--REGIÃO-->
        <div class="col-xs-12 col-md-6 margin-bottom">
            <div class="card">
                <div class="card-header">
                    <span class="card-header-title">Incoming Calls por Região</span>
                    <div class="card-header-button card-header-expand">
                        <i class="fa fa-expand"></i>
                    </div>
                </div>
                <div class="card-body">
                    <p><small>Chamadas deste mês</small></p>
                    <mapa-brasil style="height: 727px" width="100%" dados="dashboard.mapa"></mapa-brasil>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-riachuelosac', function ($scope, $http, $filter) {

        $scope.dashboard = {
            comparativo: {},
            fila: {},
            tempos_h: {},
            tempos_d: {},
        };


        $scope.dashboard.fila_categorias = [
            'Instalação Realizada'
            , 'Reenvio de Sinal'
            , 'Redirecionamento de Instalador'
            , 'Agendamento de Instalação'
            , 'Troca de Plano'
            , 'Confirmação de Venda'
            , 'Reclamação'
            , 'Dúvidas Sobre Produtos'
            , 'Ativação de Produto'
        ];
        $scope.dashboard.grafico_fila = [{
            name: 'Atendimento', data: [
                    { y: 537964 },
                    { y: 143466 },
                    { y: 322778 },
                    { y: 573279 },
                    { y: 609303 },
                    { y: 501395 },
                    { y: 466414 },
                    { y: 179241 },
                    { y: 394481 },
                    //{ y: 358208 },
                    //{ y: 286987 },
                    //{ y: 107428 },
                    //{ y: 179127 },
            ]
        }];

        $scope.dashboard.pa = 400;
        $scope.dashboard.atendimentodia = 102;
        $scope.dashboard.ns = 0.975;

        $scope.dashboard.ns_gauge = {
            angle: -0.02, // The span of the gauge arc
            lineWidth: 0.25, // The line thickness
            radiusScale: 0.56, // Relative radius
            pointer: {
                length: 0.36, // // Relative to gauge radius
                strokeWidth: 0.011, // The thickness
                color: '#000000' // Fill color
            },
            limitMax: false,     // If false, max value increases automatically if value > maxValue
            limitMin: false,     // If true, the min value of the gauge will be fixed
            colorStart: '#6FADCF',   // Colors
            colorStop: '#8FC0DA',    // just experiment with them
            strokeColor: '#E0E0E0',  // to see which ones work best for you
            generateGradient: true,
            highDpiSupport: true,     // High resolution support
            minValue: 0,
            maxValue: 1,
            value: $scope.dashboard.ns,
        };

        $scope.dashboard.fila = [
            { fila: 'Instalação Realizada', ns: '98,2%', chamada: '539542', perctt: '11,5%', atendido: '537964', abandonado: '1579', percaban: '0,29%', tma: '00:03:51', tmf: '00:00:14' },
            { fila: 'Instalação Realizada', ns: '97,6%', chamada: '143878', perctt: '3,1%', atendido: '143466', abandonado: '412', percaban: '0,29%', tma: '00:03:07', tmf: '00:00:15' },
            { fila: 'Reenvio de Sinal', ns: '98,2%', chamada: '323725', perctt: '6,9%', atendido: '322778', abandonado: '947', percaban: '0,29%', tma: '00:02:59', tmf: '00:00:15' },
            { fila: 'Redirecionamento de Instalador', ns: '96,9%', chamada: '575512', perctt: '12,3%', atendido: '573279', abandonado: '2233', percaban: '0,39%', tma: '00:03:35', tmf: '00:00:15' },
            { fila: 'Agendamento de Instalação', ns: '96,9%', chamada: '611481', perctt: '13,1%', atendido: '609303', abandonado: '2178', percaban: '0,36%', tma: '00:03:15', tmf: '00:00:15' },
            { fila: 'Troca de Plano', ns: '97,4%', chamada: '503573', perctt: '10,8%', atendido: '501395', abandonado: '2178', percaban: '0,43%', tma: '00:03:07', tmf: '00:00:13' },
            { fila: 'Confirmação de Venda', ns: '97,7%', chamada: '467603', perctt: '10,0%', atendido: '466414', abandonado: '1190', percaban: '0,25%', tma: '00:03:19', tmf: '00:00:13' },
            { fila: 'Reclamação', ns: '96,8%', chamada: '179847', perctt: '3,8%', atendido: '179241', abandonado: '606', percaban: '0,34%', tma: '00:03:31', tmf: '00:00:12' },
            { fila: 'Dúvidas Sobre Produtos', ns: '97,1%', chamada: '395664', perctt: '8,5%', atendido: '394481', abandonado: '1183', percaban: '0,30%', tma: '00:03:01', tmf: '00:00:14' },
            { fila: 'Ativação de Produto', ns: '97,1%', chamada: '359695', perctt: '7,7%', atendido: '358208', abandonado: '1487', percaban: '0,41%', tma: '00:03:15', tmf: '00:00:12' },
            //{ fila: '', ns: '97,8%', chamada: '287756', perctt: '6,2%', atendido: '286987', abandonado: '769', percaban: '0,27%', tma: '00:03:49', tmf: '00:00:14' },
            //{ fila: '', ns: '97,4%', chamada: '107908', perctt: '2,3%', atendido: '107428', abandonado: '480', percaban: '0,45%', tma: '00:03:45', tmf: '00:00:14' },
            //{ fila: '', ns: '97,1%', chamada: '179847', perctt: '3,8%', atendido: '179127', abandonado: '721', percaban: '0,40%', tma: '00:02:53', tmf: '00:00:12' },
        ];

        $scope.dashboard.horas = ["08h", "09h", "10h", "11h", "12h", "13h", "14h", "15h", "16h", "17h"];

        $scope.dashboard.graficohora_h = [
                                    { name: 'atendido', type: 'column', data: [44245, 44245, 66367, 66367, 66367, 60836, 55306, 60836, 44245, 49775, 66367, 55306, 49775, 44245] },
                                    { name: 'abandonado', type: 'column', data: [391, 391, 586, 586, 586, 538, 489, 538, 391, 440, 586, 489, 440, 391] },
                                    { name: 'NS (20s)', yAxis: 1, type: 'spline', data: [96.5, 96.4, 96.6, 96.3, 96.7, 96.7, 97, 97.2, 97.3, 97.3, 97.2, 95.8, 97.1, 95.9] }
        ];


        $scope.dashboard.graficohora_d = [
                            { name: 'atendido', type: 'column', data: [252491, 252491, 308601, 308601, 280546, 308601, 280546, 308601, 280546, 280546, 280546, 280546, 252491, 252491] },
                            { name: 'abandonado', type: 'column', data: [510, 510, 623, 623, 566, 623, 566, 623, 566, 566, 566, 566, 510, 510] },
                            { name: 'NS (20s)', yAxis: 1, type: 'spline', data: [98.9, 98.5, 97.9, 98.1, 98.1, 99.1, 97.8, 98.2, 98.7, 98.4, 98.8, 98.3, 98.7, 98.2] }
        ];

        $scope.dashboard.mapa = [
  { id: 'BR-AC', value: 52419 }
, { id: 'BR-AL', value: 34946 }
, { id: 'BR-AM', value: 69892 }
, { id: 'BR-AP', value: 52419 }
, { id: 'BR-BA', value: 122311 }
, { id: 'BR-CE', value: 87365 }
, { id: 'BR-DF', value: 349460 }
, { id: 'BR-ES', value: 192203 }
, { id: 'BR-GO', value: 349460 }
, { id: 'BR-MA', value: 174730 }
, { id: 'BR-MG', value: 401879 }
, { id: 'BR-MS', value: 209676 }
, { id: 'BR-MT', value: 192203 }
, { id: 'BR-PA', value: 122311 }
, { id: 'BR-PB', value: 69892 }
, { id: 'BR-PE', value: 139784 }
, { id: 'BR-PI', value: 69892 }
, { id: 'BR-PR', value: 104838 }
, { id: 'BR-RJ', value: 297041 }
, { id: 'BR-RN', value: 244622 }
, { id: 'BR-RO', value: 104838 }
, { id: 'BR-RR', value: 69892 }
, { id: 'BR-RS', value: 174730 }
, { id: 'BR-SC', value: 331987 }
, { id: 'BR-SE', value: 122311 }
, { id: 'BR-SP', value: 436825 }
, { id: 'BR-TO', value: 139784 }
        ]

        $scope.dashboard.tempos_h.logado = "12:40";
        $scope.dashboard.tempos_h.conversado = "08:17";
        $scope.dashboard.tempos_h.disponivel = "02:28";
        $scope.dashboard.tempos_h.pausas = "01:54";
        $scope.dashboard.tempos_h.tma = "00:04:52";
        $scope.dashboard.tempos_h.tmf = "00:00:19";
        $scope.dashboard.tempos_h.ocupacao = [{ data: [{ name: "Conversando", y: 65.5, color: "#00a65a" }, { name: "Pausa", y: 15.0, color: "#f39c12" }, { name: "Disponivel", y: 19.5, color: "#dd4b39" }] }];

        $scope.dashboard.tempos_d.logado = "12:40";
        $scope.dashboard.tempos_d.conversado = "10:56";
        $scope.dashboard.tempos_d.disponivel = "01:43";
        $scope.dashboard.tempos_d.pausas = "00:00";
        $scope.dashboard.tempos_d.tma = "00:01:54";
        $scope.dashboard.tempos_d.tmf = "00:00:08";
        $scope.dashboard.tempos_d.ocupacao = [{ data: [{ name: "Conversando", y: 86.4, color: "#00a65a" }, { name: "Disponivel", y: 13.6, color: "#dd4b39" }] }];


    });
</script>