@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-marisa-humano-acaomassiva-fases">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Ação Massiva - Fases</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>


        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashFiltros.status == 200">

            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--PRODUTOS-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Atrasos</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.atrasos" dados="dashFiltros.atrasos" style="width:100%"></select2>
                            </div>


                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box">
                    <img style="width:150px; height:102px" src="~/Content/Images/Marisa/producao.png" />
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.sms | megaNumber"></h3>
                        <p>SMS</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.email | megaNumber"></h3>
                        <p>Email</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-envelope-square"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.ura | megaNumber"></h3>
                        <p>Ura</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.mala | megaNumber"></h3>
                        <p>Mala</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.boleto | megaNumber"></h3>
                        <p>Mala Whatsapp</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-whatsapp"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--ANALISE DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.dia">
                                <thead>
                                    <tr>
                                        <th>Dia</th>
                                        <th><i class="fa fa-comments"></i> SMS</th>
                                        <th><i class="fa fa-envelope-square"></i> Email</th>
                                        <th><i class="fa fa-phone"></i> Ura</th>
                                        <th><i class="fa fa-envelope"></i> Mala</th>
                                        <th><i class="fa fa-whatsapp"></i> Mala Whatsapp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dia in dashboard.dia">
                                        <td>{{dia.data}}</td>
                                        <td>{{dia.sms | number}}</td>
                                        <td>{{dia.email | number}}</td>
                                        <td>{{dia.ura | number}}</td>
                                        <td>{{dia.mala | number}}</td>
                                        <td>{{dia.boleto | number}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{dashboard.resumo.sms | number}}</th>
                                        <th>{{dashboard.resumo.email | number}}</th>
                                        <th>{{dashboard.resumo.ura | number}}</th>
                                        <th>{{dashboard.resumo.mala | number}}</th>
                                        <th>{{dashboard.resumo.boleto | number}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <!--GRAFICO FAIXA-->
            <div class="col-xs-12 col-md-6 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Faixas</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <small class="pull-right">
                            <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                                <option value="sms">SMS</option>
                                <option value="email">Email</option>
                                <option value="ura">Ura</option>
                                <option value="mala">Mala</option>
                                <option value="boleto">Mala Whatsapp</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <high-chart series="grafico.faixa" type="column" axis-Categories="dashboard.faixas" plot-Options-Column-Data-Label="true"></high-chart>
                    </div>
                </div>

            </div>

            <!--GRAFICO ATRASO-->
            <div class="col-xs-12 col-md-6 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Atraso</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <small class="pull-right">
                            <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                                <option value="sms">SMS</option>
                                <option value="email">Email</option>
                                <option value="ura">Ura</option>
                                <option value="mala">Mala</option>
                                <option value="boleto">Mala Whatsapp</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <high-chart series="grafico.atraso" type="column" axis-Categories="dashboard.atrasos" plot-Options-Column-Data-Label="true"></high-chart>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-marisa-humano-acaomassiva-fases', function ($scope, $http, $filter, $interval, dadosPagina) {
        dadosPagina.titulo = 'Ação Massiva';
        dadosPagina.descricao = 'Marisa'

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            atrasos: '',
        };
        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = { indicador: 'sms' };

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/marisa/dashboard/humano/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.atrasos = r.data.Table5;


        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/marisa/dashboard/humano/fases/acaomassiva",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.dados = r.data;
                $scope.dashboard.status = r.status;

                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.dia = r.data.Table1;
                $scope.dashboard.atraso = r.data.Table2;
                $scope.dashboard.faixa = r.data.Table3;
                $scope.dashboard.faixas = $scope.dashboard.faixa.map(obj => obj.ds_faixa);
                $scope.dashboard.atrasos = $scope.dashboard.atraso.map(obj => obj.ds_atraso);

                $scope.carregarGrafico();
            });
        }

        // carrega o mapa de acordo com o indicador escolhido
        $scope.carregarGrafico = function () {
            $scope.grafico.faixa = [{ name: $scope.grafico.indicador, data: $scope.dashboard.faixa.map(obj => obj[$scope.grafico.indicador]) }];
            $scope.grafico.atraso = [{ name: $scope.grafico.indicador, data: $scope.dashboard.atraso.map(obj => obj[$scope.grafico.indicador]) }];
        }

        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.carregarDashboard();

    });



</script>