@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-energisa-producao">

    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status == 200">

        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box" style="background-color: white">
                    <img class="img-responsive center-block" src="~/Content/Images/Energisa/energisa.jpg" height="100" width="100" />
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.discado | megaNumber"></h3>
                        <p>Discado</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.contato | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1"></h4>
                        <p>Contato</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpc | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1"></h4>
                        <p>CPC</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-male"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpca | number"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.cpca / dashboard.resumo.cpc | percentage: 1"></h4>
                        <p>CPCA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-street-view"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.promessa | number"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.promessa / dashboard.resumo.cpca | percentage: 1"></h4>
                        <p>Promessa</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Análise por Dia</h3>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.dia">
                                <thead>
                                    <tr>
                                        <th>Dia</th>
                                        <th>Carteira</th>
                                        <th>Discado</th>
                                        <th>Contato</th>
                                        <th>CPC</th>
                                        <th>CPCA</th>
                                        <th>Promessa</th>
                                        <th>HitRate</th>
                                        <th>TxLoc</th>
                                        <th>TxApv</th>
                                        <th>Conversão</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dia in dashboard.dia">
                                        <td>{{dia.data | date : 'dd/MM/yyyy'}}</td>
                                        <td>{{dia.carteira | number}}</td>
                                        <td>{{dia.discado | number}}</td>
                                        <td>{{dia.contato | number}}</td>
                                        <td>{{dia.cpc | number}}</td>
                                        <td>{{dia.cpca | number}}</td>
                                        <td>{{dia.promessa | number}}</td>
                                        <td>{{dia.contato / dia.discado | percentage:1}}</td>
                                        <td>{{dia.cpc / dia.contato | percentage:1}}</td>
                                        <td>{{dia.cpca / dia.cpc | percentage:1}}</td>
                                        <td>{{dia.promessa / dia.cpca | percentage:1}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-xs-12">
                <h3 class="box-title">
                    Gráfico por Dia
                    <small class="pull-right">
                        <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                            <option value="hitrate">Hit Rate</option>
                            <option value="txloc">Tx Loc</option>
                            <option value="txapv">Tx Apv</option>
                            <option value="conversao">Conversão</option>
                            <option value="carteira">Carteira</option>
                            <option value="discado">Discado</option>
                            <option value="contato">Contato</option>
                            <option value="cpc">CPC</option>
                            <option value="cpca">CPCA</option>
                            <option value="promessa">Promessa</option>
                        </select>
                    </small>
                </h3>
                <high-chart series="dashboard.grafico" axis-Categories="dashboard.datas" plot-Options-Line-Data-Label="true"></high-chart>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <d-table class="table table-striped table-bordered" style="width:100%" dados="dashboard.tabulacao" paging="false" order="[[2,'desc']]"></d-table>
            </div>
        </div>

    </div>

    <!-- SIDE BAR CONTROL -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a data-target="#control-sidebar-filters-tab" data-toggle="tab"><i class="fa fa-filter"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Filtros -->
            <div class="tab-pane active" id="control-sidebar-filters-tab">
                <!--DATA INCIAL-->
                <div class="form-group">
                    <label class="control-sidebar-subheading">Data Inicial</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                    </div>
                </div>

                <!--DATA FINAL-->
                <div class="form-group">
                    <label class="control-sidebar-subheading">Data Final</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                    </div>
                </div>

                <!--BOTÃO-->
                <div class="form-group">
                    <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                </div>

            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>

</div>

<script>
    angular.module('app').controller('ctrl-energisa-producao', function ($scope, $http, $filter, dadosPagina) {
        dadosPagina.titulo = 'Produção';
        dadosPagina.descricao = 'Energisa'

        // filtros iniciais
        let ontem = new Date();
        ontem.setDate(ontem.getDate() - 7);

        $scope.filtros = {
            dtini: $filter('date')(ontem, "yyyy-MM-dd"),
            dtfim: $filter('date')(new Date(), "yyyy-MM-dd"),
        };

        $scope.dashboard = {};
        $scope.grafico = { indicador: 'hitrate' };

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/energisa/dashboard/producao",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.dia = data.Table1;
                $scope.dashboard.tabulacao = data.Table2;

                $scope.carregarGrafico();

            });
        }

        // carrega o mapa de acordo com o indicador escolhido
        $scope.carregarGrafico = function () {
            let dados = $scope.dashboard.dia;
            $scope.dashboard.datas = dados.map(obj => obj.data);
            switch ($scope.grafico.indicador) {
                case 'hitrate':
                    $scope.dashboard.grafico = [{ name: 'hitrate', data: dados.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) * 1) }];
                    break;
                case 'txloc':
                    $scope.dashboard.grafico = [{ name: 'txloc', data: dados.map(obj => (obj.cpc * 100 / obj.contato).toFixed(1) * 1) }];
                    break;
                case 'txapv':
                    $scope.dashboard.grafico = [{ name: 'txapv', data: dados.map(obj => (obj.cpca * 100 / obj.cpc).toFixed(1) * 1) }];
                    break;
                case 'conversao':
                    $scope.dashboard.grafico = [{ name: 'conversao', data: dados.map(obj => (obj.promessa * 100 / obj.cpca).toFixed(1) * 1) }];
                    break;
                default:
                    $scope.dashboard.grafico = [{ name: $scope.grafico.indicador, data: dados.map(obj => obj[$scope.grafico.indicador]) }];
            }
        }

        $scope.carregarDashboard();

    });
</script>