@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-semparar-efetividade">

    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Recebimento e Efetividade</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>


        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashFiltros.empresas">

            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--EMPRESA-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Empresa</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.empresas" dados="dashFiltros.empresas" style="width:100%"></select2>
                            </div>

                            <!--CARTEIRA-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Carteira</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashFiltros.carteiras" style="width:100%"></select2>
                            </div>


                            <!--FAIXA ATRASO-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Faixa Atraso</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.faixaAtraso" dados="dashFiltros.faixaAtraso" style="width:100%"></select2>
                            </div>

                            <!--PLANO-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Plano</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.plano" dados="dashFiltros.plano" style="width:100%"></select2>
                            </div>

                            <!--TIPO DEVEDOR-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Devedor</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.devedor" dados="dashFiltros.devedor" style="width:100%"></select2>
                            </div>

                            <!--VISÃO-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Visão</label>
                                <select class="form-control" ng-model="filtros.visao">
                                    <option value="vencimento" selected="selected">Vencimento</option>
                                    <option value="andamento">Andamento</option>
                                    <option value="andamento">Pagamento</option>
                                </select>
                            </div>


                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="small-box bg-black" style="border-radius: 15px; background-color:white; text-align:center">
                        <div class="inner" >
                            <h3 ng-bind="dashboard.resumo.valor_pagamento | currency:'R$'"></h3>
                            <p>Total Pagamentos</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="small-box bg-red" style="border-radius: 15px; background-color:white;text-align:center">
                        <div class="inner" >
                            <h3 ng-bind="dashboard.resumo.valor_direto | currency:'R$'"></h3>
                            <p>Total Espontâneo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Resumos Efetividade</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row margin-bottom">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <h3 ng-bind="dashboard.resumo.qtd_acordo | number"></h3>
                                        <p>Quantidade Acordos</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <h3 ng-bind="dashboard.resumo.pagamento_acordo | number"></h3>
                                        <p>Quantidade Pagamentos</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-chevron-circle-down"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <h3 ng-bind="dashboard.resumo.pagamento_acordo / dashboard.resumo.qtd_acordo | percentage: 1"></h3>
                                        <p>Efetividade Acordo</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-line-chart"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 ng-bind="dashboard.resumo.vl_acordo | currency:'R$'"></h3>
                                        <p>Valor Acordos</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-money"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 ng-bind="dashboard.resumo.valor_acordo | currency:'R$'"></h3>
                                        <p>Valor Pagamentos</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-chevron-circle-down"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 ng-bind="dashboard.resumo.valor_acordo / dashboard.resumo.vl_acordo | percentage: 1"></h3>
                                        <p>Efetividade Acordo Financeiro</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-line-chart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Valor Pagamentos - Dia a Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right">
                            <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                                <option value="vlr_pago">Total</option>
                                <option value="pag_direto">Espontâneo</option>
                                <option value="pag_acordo">Por acordo</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.diaFinanceiro" axis-Categories="dashboard.diasPag" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Efetividade dos Acordos</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table5')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.diaProm" axis-Categories="dashboard.diasEfetividade" type="column"
                                    plot-Options-Column-Data-Label="true" y-Axis1-Min="0"
                                    y-Axis1-Max="100"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--PRODUÇÃO POR OPERADOR-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Operador</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <d-table class="table table-striped table-bordered" style="width:100%" dados="dashboard.operador" scroll-collapse="true" scroll-y="324px" order="[[3,'desc']]"></d-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>

    angular.module('app').controller('ctrl-semparar-efetividade', function ($scope, $http, $filter, dadosPagina) {
        dadosPagina.titulo = 'Efetividade';
        dadosPagina.descricao = 'Sem Parar'

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            visao: 'andamento',
            empresas: '',
            carteiras: '',
            faixaAtraso: '',
            plano: '',
            devedor: '',

        };
        $scope.grafico = { indicador: 'vlr_pago' };
        $scope.dashFiltros = {};
        $scope.dashboard = {};

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/semparar/dashboard/humano/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            $scope.dados = r.status;

            $scope.dashFiltros.empresas = r.data.Table;
            $scope.dashFiltros.carteiras = r.data.Table1;
            $scope.dashFiltros.faixaAtraso = r.data.Table2;
            $scope.dashFiltros.plano = r.data.Table6;
            $scope.dashFiltros.devedor = r.data.Table5;
        
        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/semparar/dashboard/humano/efetividade",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.diasPag = r.data.Table1.map(obj => obj.data);
                $scope.dashboard.diasEfetividade = r.data.Table3.map(obj => obj.data);

                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.diasfinanceiro = r.data.Table1;
                $scope.dashboard.operador = r.data.Table2;
                $scope.dashboard.diaProm = [
                    { name: 'acordo', type: 'column', data: data.Table3.map(obj => obj.qtd_acordo) },
                    { name: 'pagamento', type: 'column', data: data.Table3.map(obj => obj.qtd_pagto) },
                    { name: 'efetividade', type: 'spline', yAxis: 1, data: data.Table3.map(obj => obj.Efetividade) },
                ];
                $scope.carregarGrafico();

            });
        }

        // carrega o grafico de acordo com o indicador escolhido
        $scope.carregarGrafico = function () {

            let dados = $scope.dashboard.diasfinanceiro;
            console.log(dados);
            $scope.dashboard.horas = dados.map(obj => obj.hora);

            switch ($scope.grafico.indicador) {
                case 'vlr_pago':
                    //$scope.dashboard.grafico = [{ name: 'hitrate', data: dados.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) * 1) }];
                    $scope.dashboard.diaFinanceiro = [{ name: 'Valor Pagamentos', data: dados.map(obj => (obj.vlr_pago)) }];
                    break;
                case 'pag_direto':
                    //$scope.dashboard.grafico = [{ name: 'txloc', data: dados.map(obj => (obj.cpc * 100 / obj.contato).toFixed(1) * 1) }];
                    $scope.dashboard.diaFinanceiro = [{ name: 'Valor Pagamentos', data: dados.map(obj => (obj.pag_direto)) }];
                    break;
                case 'pag_acordo':
                    //$scope.dashboard.grafico = [{ name: 'txapv', data: dados.map(obj => (obj.cpca * 100 / obj.cpc).toFixed(1) * 1) }];
                    $scope.dashboard.diaFinanceiro = [{ name: 'Valor Pagamentos', data: dados.map(obj => (obj.pag_acordo)) }];
                    break;
                default:
                    //$scope.dashboard.grafico = [{ name: $scope.grafico.indicador, data: dados.map(obj => obj[$scope.grafico.indicador]) }];
                    $scope.dashboard.diaFinanceiro = [{ name: $scope.grafico.indicador, data: dados.map(obj => obj[$scope.grafico.indicador]) }];
            }

        }

        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }


        $scope.carregarDashboard();

    });

</script>
