@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-tim-acionamento">
    <div ng-if="dashboard.status === 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Acionamentos Digital</div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashFiltros.status == 200">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-xs-12 col-md-6">
                                <!--DATA INCIAL-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Data Inicial</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                    </div>
                                </div>

                                <!--PRODUTO-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Produto</label>
                                    <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.produto" dados="dashFiltros.produto"></select2>
                                </div>

                                <!--FILA-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Fila</label>
                                    <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.fila" dados="dashFiltros.fila"></select2>
                                </div>

                                <!--UF-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">UF</label>
                                    <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.uf" dados="dashFiltros.uf"></select2>
                                </div>

                                <!--ROTA-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Rota</label>
                                    <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.rota" dados="dashFiltros.rota"></select2>
                                </div>

                            </div>

                            <div class="col-xs-12 col-md-6">
                                <!--DATA FINAL-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Data Final</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                    </div>
                                </div>

                                <!--TIPO TELEFONE-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Tipo Telefone</label>
                                    <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.tipoTelefone" dados="dashFiltros.tipoTelefone"></select2>
                                </div>

                                <!--TIPO CHAMADA-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Tipo Chamada</label>
                                    <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.tipoChamada" dados="dashFiltros.tipoChamada"></select2>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 margin-bottom">
                                        <label class="control-sidebar-subheading">Agrupamentos</label>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <!--CHECKED ANO-->
                                        <div class="form-group">
                                            <input type="checkbox" ng-model="filtros.ano" ng-true-value="'ANO,'" ng-false-value="''" />
                                            <label class="control-sidebar-subheading">Ano</label>
                                        </div>
                                        <!--CHECKED MES-->
                                        <div class="form-group">
                                            <input type="checkbox" ng-model="filtros.mes" ng-true-value="'MES,'" ng-false-value="''" />
                                            <label class="control-sidebar-subheading">Mês</label>
                                        </div>
                                        <!--CHECKED MES-->
                                        <div class="form-group">
                                            <input type="checkbox" ng-model="filtros.semana" ng-true-value="'SEMANA,'" ng-false-value="''" />
                                            <label class="control-sidebar-subheading">Semana</label>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-md-3">
                                        <!--CHECKED DIA-->
                                        <div class="form-group">
                                            <input type="checkbox" ng-model="filtros.data" ng-true-value="'DATA,'" ng-false-value="''" />
                                            <label class="control-sidebar-subheading">Data</label>
                                        </div>
                                        <!--CHECKED HORA-->
                                        <div class="form-group">
                                            <input type="checkbox" ng-model="filtros.hora" ng-true-value="'HORA,'" ng-false-value="''" />
                                            <label class="control-sidebar-subheading">Hora</label>
                                        </div>
                                        <!--CHECKED OCORRENCIA-->
                                        <div class="form-group">
                                            <input type="checkbox" ng-model="filtros.chkOcorrencia" ng-true-value="'OCORRENCIA,'" ng-false-value="''" />
                                            <label class="control-sidebar-subheading">Ocorrencia</label>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-md-3">
                                        <!--CHECKED FILA-->
                                        <div class="form-group">
                                            <input type="checkbox" ng-model="filtros.chkFila" ng-true-value="'FILA,'" ng-false-value="''" />
                                            <label class="control-sidebar-subheading">Fila</label>
                                        </div>
                                        <!--CHECKED PRODUTO-->
                                        <div class="form-group">
                                            <input type="checkbox" ng_checked="true" ng-model="filtros.chkProduto" ng-true-value="'PRODUTO,'" ng-false-value="''" />
                                            <label class="control-sidebar-subheading">Produto</label>
                                        </div>
                                        <!--CHECKED ROTA-->
                                        <div class="form-group">
                                            <input type="checkbox" ng-model="filtros.chkRota" ng-true-value="'ROTA,'" ng-false-value="''" />
                                            <label class="control-sidebar-subheading">Rota</label>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-md-3">
                                        <!--CHECKED UF-->
                                        <div class="form-group">
                                            <input type="checkbox" ng-model="filtros.chkUF" ng-true-value="'UF,'" ng-false-value="''" />
                                            <label class="control-sidebar-subheading">UF</label>
                                        </div>
                                        <!--CHECKED TIPO CHAMADA-->
                                        <div class="form-group">
                                            <input type="checkbox" ng-model="filtros.chkTipoChamada" ng-true-value="'TIPO_CHAMADA,'" ng-false-value="''" />
                                            <label class="control-sidebar-subheading">Tipo Chamada</label>
                                        </div>
                                        <!--CHECKED TIPO TELEFONE-->
                                        <div class="form-group">
                                            <input type="checkbox" ng-model="filtros.chkTipoTelefone" ng-true-value="'TIPO_TELEFONE,'" ng-false-value="''" />
                                            <label class="control-sidebar-subheading">Tipo Telefone</label>
                                        </div>
                                    </div>
                                    <!--BOTÃO-->
                                    <div class="col-xs-12" style="margin-top:20px">
                                        <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Preview</button>
                                        <button type="button" class="btn btn-primary" style="float: right;" data-toggle="control-sidebar" ng-click="extrair()">Extrair</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--TABELA ACIONAMENTOS-->
        <div class="row">
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">TOP 10 Acionamentos</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body" style="overflow:auto;">
                        <table class="table table-striped table-bordered" style="width:100%; height:100%;" ng-if="dashboard.tabela">
                            <thead>
                                <tr>
                                    <th ng-repeat="c in dashboard.coluna">{{c}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="d in dashboard.tabela">
                                    <td ng-repeat="c in dashboard.coluna">{{d[c]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    angular.module('app').controller('ctrl-tim-acionamento', function ($scope, $http, $filter, $interval) {
        // filtros iniciais
        let hoje = new Date();

        $scope.filtros = {
            dtini: $filter('date')(hoje, "yyyy-MM-dd"),
            dtfim: $filter('date')(hoje, "yyyy-MM-dd"),
            fila: '',
            produto: '',
            rota: '',
            uf: '',
            tipoChamada: '',
            tipoTelefone: '',

            ano: '',
            mes: '',
            semana: '',
            data: '',
            hora: '',
            chkOcorrencia: '',
            chkFila: '',
            chkProduto: 'PRODUTO,',
            chkRota: '',
            chkUF: '',
            chkTipoChamada: '',
            chkTipoTelefone: '',

        };


        $scope.dashFiltros = {};
        $scope.dashboard = {};


        //carregar os filtros
        $http({
            method: 'GET',
            url: "/api/tim/dashboard/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;

            $scope.dashFiltros.fila = data.Table2;
            $scope.dashFiltros.produto = data.Table;
            $scope.dashFiltros.rota = data.Table3;
            $scope.dashFiltros.uf = data.Table4;
            $scope.dashFiltros.tipoChamada = data.Table5;
            $scope.dashFiltros.tipoTelefone = data.Table6;
        });


        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {

            $http({
                method: 'POST',
                url: "/api/tim/dashboard/acionamento",
                data: $scope.filtros,
            }).then(function success(r) {

                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;

                $scope.carregarAcionamentos();

            });
        }

        $scope.carregarAcionamentos = function () {

            let dados = alasql(
                 'SELECT '
                 + $scope.filtros.ano + ''
                 + $scope.filtros.mes + ''
                 + $scope.filtros.semana + ''
                 + $scope.filtros.data + ''
                 + $scope.filtros.hora + ''
                 + $scope.filtros.chkOcorrencia + ''
                 + $scope.filtros.chkFila + ''
                 + $scope.filtros.chkProduto + ''
                 + $scope.filtros.chkRota + ''
                 + $scope.filtros.chkUF + ''
                 + $scope.filtros.chkTipoChamada + ''
                 + $scope.filtros.chkTipoTelefone +
                 'sum(QTD_ACIONAMENTOS) QTD, sum(CONTATO) CTT, sum(CPC) CPC, sum(CPCA) CPCA, sum(PROMESSA) PROM, sum(VLR_PROMESSA) VLR_PROM from ? group by '
                 + $scope.filtros.ano + ''
                 + $scope.filtros.mes + ''
                 + $scope.filtros.semana + ''
                 + $scope.filtros.data + ''
                 + $scope.filtros.hora + ''
                 + $scope.filtros.chkOcorrencia + ''
                 + $scope.filtros.chkFila + ''
                 + $scope.filtros.chkProduto + ''
                 + $scope.filtros.chkRota + ''
                 + $scope.filtros.chkUF + ''
                 + $scope.filtros.chkTipoChamada + ''
                 + $scope.filtros.chkTipoTelefone + ''
                 + 'CONTADOR'
                 + ' order by PROM desc, CPCA, CPC, CTT'
                 , [$scope.dashboard.dados.Table]);


            $scope.dashboard.tabela = dados;

            //console.log($scope.dashboard.tabela[0])

            $scope.dashboard.coluna = Object.keys($scope.dashboard.tabela[0]);
        }


        //extrair dados para excel
        $scope.extrair = function () {

            var dtini = $filter('date')($scope.filtros.dtini, "dd")
            var dtfim = $filter('date')($scope.filtros.dtfim, "dd")

            if ((dtfim - dtini) < 0) {

                alert("O período inserido no filtro deverá ser de 1 mês fechado!")

            } else {

                $http({
                    method: 'POST',
                    url: "/api/tim/dashboard/download",
                    data: $scope.filtros,
                    responseType: 'arraybuffer',

                }).then(function success(r) {
                    $scope.dashboard.status = r.status;

                    var file = new File([r.data], { type: "application/csv" });
                    var objectUrl = URL.createObjectURL(file);

                    var link = document.createElement('a');
                    link.style = "display: none";
                    link.href = objectUrl;
                    link.download = 'ACIONAMENTOS_ANALYTICS_TIM_' + $filter('date')(new Date(), "yyyyMMdd HH:mm:ss") + '.csv';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                    window.URL.revokeObjectURL(objectUrl);

                });
            }

            //let dados = alasql('select * from ?',[$scope.dashboard.dados.Table]);
            //$scope.dashboard.download = dados;

            //alasql('SELECT * INTO XLSX("Acionamentos_Analytics_' + $scope.filtros.dtini + '_' + $scope.filtros.dtfim + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.tabela]);
        }

        $scope.carregarDashboard();




    });
</script>
