@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-acesso">

    <!-- HEADER-->
    <header class="page-header">
        <div class="page-name">Controle de Acesso</div>
    </header>

    <div class="row" ng-if="statusGrupo === 200">
        <div class="col-xs-12">
            <div class="form-inline">
                <select class="form-control " ng-model="model.grupo" ng-options="g.id_grupo as g.descricao for g in grupos" ng-change="popularAcessos()"></select>
            </div>
        </div>
    </div>

    <div class="row" ng-if="statusAcesso === 200">

        <div class="col-xs-12 col-sm-6">
            <h3 class="box-title">
                Pagina
                <small><input type="text" ng-model="model.buscaPagina" /></small>
            </h3>
            <div class="form-group">
                <div class="checkbox" ng-repeat="p in paginas | filter:model.buscaPagina">
                    <label>
                        <input type="checkbox" ng-checked="{{p.id_grupo}}" ng-model="p.selected" ng-click="alterarPagina(p)">
                        {{p.path}}
                    </label>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h3 class="box-title">
                Recurso
                <small><input type="text" ng-model="model.buscaRecurso" /></small>
            </h3>
            <div class="form-group">
                <div class="checkbox" ng-repeat="r in recursos | filter:model.buscaRecurso">
                    <label>
                        <input type="checkbox" ng-checked="{{r.id_grupo}}" ng-model="r.selected" ng-click="alterarRecurso(r)">
                        {{r.path}}
                    </label>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    angular.module('app').controller('ctrl-acesso', function ($scope, $http, dadosPagina) {
        dadosPagina.titulo = 'Controle de Acessos'
        dadosPagina.descricao = ''

        $scope.model = {
            grupo: 1
        };

        //carregar os grupos
        $http({
            method: 'GET',
            url: "/api/acessogrupo/grupo/consultar",
        }).then(function success(r) {
            $scope.statusGrupo = r.status;
            $scope.grupos = r.data.Table;
            $scope.popularAcessos();
        });

        $scope.popularAcessos = function () {
            $http({
                method: 'POST',
                url: "/api/acessogrupo/acesso/consultar",
                data: $scope.model,
            }).then(function success(r) {
                $scope.statusAcesso = r.status;
                $scope.paginas = r.data.Table;
                $scope.recursos = r.data.Table1;
            });
        };

        $scope.alterarPagina = function (item) {
            if (item.selected) {
                $http({
                    method: 'POST',
                    url: "/api/acessogrupo/acesso/pagina/inserir",
                    data: {
                        id_pagina: item.id_pagina,
                        id_grupo: $scope.model.grupo
                    }
                })
            }
            else {
                $http({
                    method: 'POST',
                    url: "/api/acessogrupo/acesso/pagina/remover",
                    data: {
                        id_pagina: item.id_pagina,
                        id_grupo: $scope.model.grupo
                    }
                })
            }
        };

        $scope.alterarRecurso = function (item) {
            if (item.selected) {
                $http({
                    method: 'POST',
                    url: "/api/acessogrupo/acesso/recurso/inserir",
                    data: {
                        id_recurso: item.id_recurso,
                        id_grupo: $scope.model.grupo
                    }
                })
            }
            else {
                $http({
                    method: 'POST',
                    url: "/api/acessogrupo/acesso/recurso/remover",
                    data: {
                        id_recurso: item.id_recurso,
                        id_grupo: $scope.model.grupo
                    }
                })
            }
        };

    });
</script>