@{
    Layout = "~/Views/master.cshtml";
}
<div ng-controller="ctrl-uol-pagamento-humano">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Pagamentos Humano</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>


        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashboard .status == 200">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DAHSBOARD -->
        <div ng-if="dashboard.status == 200">

            <div class="container-fluid">
                <!-- Resumo -->
                <!-- Quantidade -->
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="info-box-new bg-new-green hover-zoom-effect">
                            <div class="icon">
                                <i class="material-icons">done_outline</i>
                            </div>
                            <div class="content">
                                <div class="text">Total Pagamentos</div>
                                <div class="number" ng-bind="dashboard.resumo.totalpag | number"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="info-box-new bg-new-green hover-zoom-effect">
                            <div class="icon">
                                <i class="material-icons">attach_money</i>
                            </div>
                            <div class="content">
                                <div class="text">R$ Pagamentos</div>
                                <div class="number" ng-bind="dashboard.resumo.vlr_totalpag | currency:'R$ ' "></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="info-box-new bg-new-light-grey hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">done</i>
                            </div>
                            <div class="content">
                                <div class="text">Ticket Médio</div>
                                <div class="number" ng-bind="dashboard.resumo.vlr_totalpag/dashboard.resumo.totalpag  | currency:'R$ '"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--TABELA CARTEIRA/ATRASO-->
            <div class="row margin-bottom">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Pagamento por Carteira</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table1')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.carteira">
                                    <thead>
                                        <tr>
                                            <th>Carteira</th>
                                            <th>Qtd Total</th>
                                            <th>R$ Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="c in dashboard.carteira">
                                            <td>{{c.ds_carteira}}</td>
                                            <td>{{c.totalpag | number}}</td>
                                            <td>{{c.vlr_totalpag | currency:'R$ '}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--GRAFICO-->
            <div class="row margin-bottom">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Pagamentos do Período</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table2')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                            <small class="pull-right">
                                <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                                    <option value="qtd">Quantidade</option>
                                    <option value="vlr">Valor</option>
                                </select>
                            </small>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <high-chart series="dashboard.dia" axis-Categories="dashboard.dias" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--HISTORICO RECEBIMENTO-->
            <div class="row margin-bottom">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Financeiro ultimos mesês</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table3')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row margin-bottom">
                                <high-chart series="dashboard.qtDia" plot-Options-Spline-Data-Label="true" axis-Categories="dashboard.visao" plot-Options-Column-Stacking="normal"></high-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-uol-pagamento-humano', function ($scope, $http, $filter) {

        $scope.dashboard = {};
        $scope.grafico = { indicador: 'qtd' };

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),

        };


        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/pagseguro/dashboard/pagamento",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.dias = r.data.Table2.map(obj => obj.data);
                $scope.dashboard.carteira = r.data.Table1;

                $scope.carregarGrafico();
                $scope.mudarGrafico();

            });
        }

        $scope.mudarGrafico = function () {
            let dados = $scope.dashboard.dados;
            $scope.dashboard.visao = dados.Table3.map(obj => obj.mes_do_ano_descricao);

            $scope.dashboard.qtDia = [
                { name: 'Quantidade', type: 'column', data: dados.Table3.map(obj => (obj.totalpag)) }];

        }

        $scope.carregarGrafico = function () {
            let dados = $scope.dashboard.dados;

            if ($scope.grafico.indicador == 'vlr') {
                $scope.dashboard.dia = [{ name: 'Valor', data: dados.Table2.map(obj => (obj.vlr_totalpag)) }];

            }
            else {
                $scope.dashboard.dia = [{ name: 'Quantidade', data: dados.Table2.map(obj => (obj.totalpag)) }];
            }
        }

        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });
</script>