@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-portoseguro-promessa-residencial">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Promessas Marcação E-mail</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--TABELA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Promessas</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.promessa">
                                <thead>
                                    <tr>
                                        <th>Carteira</th>
                                        <th>ID Chamada</th>
                                        <th>Data</th>
                                        <th>Hora</th>
                                        <th>CPF</th>
                                        <th>Telefone</th>
                                        <th>Tipo</th>
                                        <th>Titulo</th>
                                        <th>Marcado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in dashboard.promessa">
                                        <td>{{p.carteira}}</td>
                                        <td>{{p.id_chamada}}</td>
                                        <td>{{p.data | date : 'dd/MM/yyyy'}}</td>
                                        <td>{{p.hora}}</td>
                                        <td>{{p.cpf}}</td>
                                        <td>{{p.telefone}}</td>
                                        <td>{{p.tipo}}</td>
                                        <td>{{p.titulo}}</td>
                                        <td><input type="checkbox" ng-checked="{{p.marcado}}" ng-model="p.marcado" ng-click="checkPromessa(p)" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-portoseguro-promessa-residencial', function ($scope, $http, $filter) {

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
        };

        $scope.dashboard = {};

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/portoseguro/dashboard/digital/residencial/promessa",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.promessa = data.Table;
            });
        }

        $scope.checkPromessa = function (chamada) {
            $http({
                method: 'POST',
                url: "/api/portoseguro/dashboard/digital/checkpromessa",
                data: {
                    id_chamada: chamada.id_chamada,
                    marcado: chamada.marcado,
                    id_carteira: chamada.id_carteira
                },
            });
        }

        $scope.carregarDashboard();

    });
</script>
