@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-projetos">
    <div ng-if="dashboard.status == 200">

        <!--HEADER-->
        <header class="page-header">
            <div class="page-name">Dashboard Projetos</div>
            <button type="button" class="btn btn-default pull-right" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                Filtros
            </button>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--FILTROS ONLINE-->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4 margin-bottom">
                <label class="control-sidebar-subheading">Responsavel</label>
                <multiple-select ng-model="dashboard.filtros.responsavel" dados="dashboard.dimensao.responsavel" ng-change="aplicarFiltros()" placeholder="Responsavel" /><multiple-select />
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 margin-bottom">
                <label class="control-sidebar-subheading">Solicitante</label>
                <multiple-select ng-model="dashboard.filtros.solicitante" dados="dashboard.dimensao.solicitante" ng-change="aplicarFiltros()" placeholder="Solicitante" /><multiple-select />
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 margin-bottom">
                <label class="control-sidebar-subheading">Departamento</label>
                <multiple-select ng-model="dashboard.filtros.departamento" dados="dashboard.dimensao.departamento" ng-change="aplicarFiltros()" placeholder="Departamento" /><multiple-select />
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 margin-bottom">
                <label class="control-sidebar-subheading">Categoria</label>
                <multiple-select ng-model="dashboard.filtros.categoria" dados="dashboard.dimensao.categoria" ng-change="aplicarFiltros()" placeholder="Categoria" /><multiple-select />
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 margin-bottom">
                <label class="control-sidebar-subheading">Prioridade</label>
                <multiple-select ng-model="dashboard.filtros.prioridade" dados="dashboard.dimensao.prioridade" ng-change="aplicarFiltros()" placeholder="Prioridade" /><multiple-select />
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 margin-bottom">
                <label class="control-sidebar-subheading">Status</label>
                <multiple-select ng-model="dashboard.filtros.status" dados="dashboard.dimensao.status" ng-change="aplicarFiltros()" placeholder="Status" /><multiple-select />
            </div>
        </div>

        <!--DASHBOARD-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Projetos por </span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <div class="card-header-title">
                            <select style="margin-left: 20px" class="form-control" ng-model="opcoes.variavel" ng-change="popularBase()">
                                <option value="responsavel">Responsável</option>
                                <option value="solicitante">Solicitante</option>
                                <option value="departamento">Departamento</option>
                                <option value="categoria">Categoria</option>
                                <option value="status">Status</option>
                                <option value="prioridade">Prioridade</option>
                            </select>
                        </div>
                    </div>
                        <div class="card-body">
                            <high-charts-gantt config="dashboard.graficogantt" width="100%"></high-charts-gantt>
                        </div>
                    </div>
            </div>
        </div>


    </div>
    </div>

<script>
    angular.module('app').controller('ctrl-projetos', function ($scope, $http, $filter, cubo) {
        
        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        // obj ref aos filtros da consulta
        $scope.filtros = {
            dtini: $filter('date')(new Date(new Date().setFullYear(new Date().getFullYear() - 1)), "yyyy-MM-dd"),
            dtfim: $filter('date')(new Date(), "yyyy-MM-dd"),
        }
        // obj ref opcoes interativas do dashboard
        $scope.opcoes = {
            variavel: 'responsavel',
            data: 'prazo',
            order: '',
            field: 'prazo',
        }
        // obj ref aos graficos e elementos do dashboard
        $scope.dashboard = {
            dimensao: {},
            filtros: {},
            datas: {},

        }
        // obj ref aos filtros de dimensoes
        $scope.dimensao = {};

        // obj ref a visualizacao do projeto
        $scope.viewprojeto = {};
        $scope.dashboard.listaTratada = [];

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/projetos/gantt",
                data: $scope.filtros,
            }).then(function success(r) {
                cubo.carregar(r.data.Table);
                $scope.dashboard.alldados = r.data;
                $scope.popularFiltros();
                $scope.popularBase();
                
                $scope.dashboard.status = r.status;

            
            })
        }

        $scope.popularFiltros = function () {
            $scope.dashboard.dimensao.responsavel   = cubo.obterDimensao('responsavel').sort();
            $scope.dashboard.dimensao.solicitante   = cubo.obterDimensao('solicitante').sort();
            $scope.dashboard.dimensao.departamento  = cubo.obterDimensao('departamento').sort();
            $scope.dashboard.dimensao.categoria     = cubo.obterDimensao('categoria').sort();
            $scope.dashboard.dimensao.prioridade    = cubo.obterDimensao('prioridade').sort();
            $scope.dashboard.dimensao.status        = cubo.obterDimensao('status').sort();

           
        }
        
        //monta a base conforme indicador escolhido
        $scope.popularBase = function () {
             
            $scope.dashboard.listaTratada = [];

            let dados = $scope.dashboard.alldados;
            let pai = $scope.opcoes.variavel;
            let geral =  cubo.obter();
            let base = '';

            
            let baseFullTratada = alasql('select ' + pai +' parente, nome, dtini, dtfim, evolucao, cor  from ?', [geral]);           
            let basePai = alasql('select ' + pai +' nome  from ? group by ' + pai +'  ', [geral]);

            for (let i = 0; i < (baseFullTratada.length) ; i++) {
                
                let linha = baseFullTratada[i];   
            
                let serie = { nome: linha.nome, id: linha.nome, parente: linha.parente, dtini: linha.dtini, dtfim: linha.dtfim, completed: linha.evolucao, color: linha.cor};

                $scope.dashboard.listaTratada.push(serie);

             }  

              for (let i = 0; i < (basePai.length) ; i++) {
    
                let linha = basePai[i];   
            
                let serie = { nome: linha.nome, id: linha.nome, parente: '', dtini: '', dtfim: '', completed: '', color: ''};

                $scope.dashboard.listaTratada.push(serie);

             } 

             let dtini2 = alasql('select dtini from ? order by dtini', [baseFullTratada])[0];   
             let dtfim2 = alasql('select dtfim from ? order by dtfim desc', [baseFullTratada])[0];  
             $scope.dashboard.datas.dtini = dtini2;
             $scope.dashboard.datas.dtfim = dtfim2;
                

             $scope.popularDashboard($scope.dashboard.datas, $scope.dashboard.listaTratada); 
           
        }
        
        //faz o array com a series da forma que o grafico pede
        $scope.popularDashboard = function (datas, dados) {

            // OBTER DIMENSOES (JA FILTRADO)
            $scope.dimensao.responsavel = cubo.obterDimensao('responsavel');
            $scope.dimensao.solicitante = cubo.obterDimensao('solicitante');
            $scope.dimensao.departamento = cubo.obterDimensao('departamento');
            $scope.dimensao.categoria = cubo.obterDimensao('categoria');
            $scope.dimensao.prioridade = cubo.obterDimensao('prioridade');
            $scope.dimensao.status = cubo.obterDimensao('status');
             
  
            // CARREGAR AS VISUALIZAÇÕES
            $scope.dashboard.projetos = dados;
           

            $scope.dashboard.graficoFila = [];

            for (let i = 0; i < (dados.length) ; i++) {
                
                let linha = dados[i];   
    
                var today = new Date(linha.dtini)

                // Set to 00:00:00:000 today
                today.setUTCHours(0);
                today.setUTCMinutes(0);
                today.setUTCSeconds(0);
                today.setUTCMilliseconds(0);

                var today2 = new Date(linha.dtfim)

                // Set to 00:00:00:000 today
                today2.setUTCHours(0);
                today2.setUTCMinutes(0);
                today2.setUTCSeconds(0);
                today2.setUTCMilliseconds(0);
                        
                let serie = { name: linha.nome, id: linha.nome, parent: linha.parente, start: today.getTime(), end: today2.getTime(), completed: linha.completed, color: linha.color};
 
                $scope.dashboard.graficoFila.push(serie);

             }   
               

            let BaseGantt = $scope.dashboard.graficoFila;
            var dtprimeiroprojeto = new Date(datas.dtini.dtini);
            var dtultimoprojeto  = new Date(datas.dtfim.dtfim);
            
            //Monta o grafico com a base já tratada
            $scope.dashboard.graficogantt = {
            credits: {
                enable: false,
                text:''           
            },
            scrollbar: {
                    enabled: true
            },
            title: {
                text: 'Projetos - Gantt'
            },
            subtitle: {
                text: 'Reponsaveis x Projetos'
            },
            xAxis: {
                min: dtprimeiroprojeto.getTime(),
                max: dtultimoprojeto.getTime(), 
                tickLength: 0
            },
            series: [{ name: 'Projetos', data: BaseGantt.map(obj => ({ name: obj.name, id: obj.id, parent: obj.parent, start: obj.start, end: obj.end, color: obj.color, completed: obj.completed})) }]

            }

                                 
        }

        $scope.aplicarFiltros = function () {

            cubo.limparFiltros();

            cubo.filtrar('responsavel', $scope.dashboard.filtros.responsavel);
            cubo.filtrar('solicitante', $scope.dashboard.filtros.solicitante);
            cubo.filtrar('departamento', $scope.dashboard.filtros.departamento);
            cubo.filtrar('categoria', $scope.dashboard.filtros.categoria);
            cubo.filtrar('prioridade', $scope.dashboard.filtros.prioridade);
            cubo.filtrar('status', $scope.dashboard.filtros.status);

            cubo.aplicarFiltros();
  
            $scope.popularBase();
        }


        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function () {
            alasql('SELECT id_projeto, nome, objetivo, prazo, dtini, dtfim, responsavel, solicitante, departamento, categoria, prioridade, status, etapas, etapas_concluidas, comentarios, ultima_atualizacao, ultimo_comentario INTO XLSX("projetos.xlsx", { headers: true }) FROM ? ', [$scope.dashboard.projetos]);
        }

    });
</script>
<style>
    .alerta-vermelho {
        background-color: #ff3b3b;
        color: white;
    }

    input[type=checkbox]:checked + span {
        text-decoration: line-through;
    }

    #lista_projetos tr:hover {
        cursor: pointer;
        font-weight: bold;
    }

    .riscado {
        text-decoration: line-through;
    }
</style>