@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-projetos">
    <div>

        <!--HEADER-->
        <header class="page-header">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                <i class="fa fa-plus"></i>
                Novo Projeto
            </button>
            <button type="button" class="btn btn-default pull-right" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                Filtros
            </button>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="opcoes.status == 200">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--STATUS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Status</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="lista.filtros.status" dados="opcoes.statuses"></select2>
                        </div>

                        <!--RESPONSAVEIS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Responsável</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="lista.filtros.responsaveis" dados="opcoes.responsavel"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarProjetos()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--PESQUISA e ORDENACAO-->
        <div class="row">
            <div class="col-xs-12 col-sm-8 margin-bottom">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input class="form-control" ng-model="lista.search" placeholder="Pesquisar" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 margin-bottom">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-sort-alpha-asc"></i>
                        <input type="radio" name="ordenacao" ng-model="lista.order" value="" checked="checked" />
                        <i class="fa fa-sort-alpha-desc"></i>

                        <input type="radio" name="ordenacao" ng-model="lista.order" value="-" />
                    </div>
                    <select class="form-control" ng-model="lista.orderField">
                        <option value="prazo">Prazo</option>
                        <option value="ultima_atualizacao">Ultima Atualização</option>
                        <option value="dtini">Data Inicio</option>
                        <option value="id_status">Status</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- LISTA DE PROJETOS -->
        <div class="row">
            <div ng-repeat="x in lista.dados | filter: lista.search | orderBy: lista.order+lista.orderField" class="col-xs-12 col-md-6">
                <div class="box box-default" style="cursor: pointer" ng-click="popularEdit(x.id_projeto)" data-toggle="modal" data-target="#modal-edit">

                    <div class="box-header" style="margin: 15px 15px 50px 15px; font-size: 12px;">
                        <ul class="list-inline">
                            <li class="pull-left" style="font-size: 14px;">
                                <i class="fa fa-lightbulb-o"></i>
                                <b ng-bind="x.id_projeto + ' - ' + x.nome | uppercase"></b>
                            </li>
                            <li class="pull-right">
                                <span ng-bind="x.prioridade"></span>
                                <i ng-class="x.icone"></i>
                            </li>
                            <li class="pull-right" ng-show="x.prazo" ng-class="{'alerta-vermelho': x.dias_restantes_prazo < 0  && x.id_status < 5}">
                                <i class="fa fa-calendar"></i>
                                <span ng-bind="x.prazo"></span>
                            </li>
                        </ul>
                    </div>

                    <div class="box-body" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-eye"></i>
                                        <span ng-bind="x.responsavel"></span>
                                    </td>
                                    <td>
                                        <i class="fa fa-user"></i>
                                        <span ng-bind="x.solicitante"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-tag"></i>
                                        <span ng-bind="x.categoria"></span>
                                    </td>
                                    <td>
                                        <i class="fa fa-map-marker"></i>
                                        <span ng-bind="x.departamento"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar progress-bar-success" ng-style="{'width': (x.etapas_concluidas*100/x.etapas)+'%'}"></div>
                        </div>

                        <ul class="list-inline" style="font-size: 12px;">
                            <li>
                                <i class="fa fa-check-square-o"></i>
                                <span ng-bind="x.etapas_concluidas + '/' + x.etapas"></span>
                            </li>
                            <li ng-attr-title="{{x.ultimo_comentario}}">
                                <i class="fa fa-commenting-o"></i>
                                <span ng-bind="x.comentarios"></span>
                            </li>
                            <li ng-class="{'alerta-vermelho': x.ultima_atualizacao_dias > 5  && x.id_status < 5}">
                                <i class="fa fa-refresh"></i>
                                <span>Há {{x.ultima_atualizacao_dias}} dias</span>
                            </li>
                            <li class="pull-right">
                                <b>Status:</b> <span ng-bind="x.status"></span>
                            </li>
                        </ul>

                    </div>
                </div>




            </div>
        </div>

        <!-- MODAL INSERIR-->
        <div class="modal fade" id="modal-default" style="display: none;">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Novo Projeto</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-12 margin-bottom">
                                    <label>Nome</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-lightbulb-o"></i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nome do projeto" ng-model="novoprojeto.nome" />
                                    </div>
                                </div>

                                <div class="col-xs-12 margin-bottom">
                                    <label>Objetivo</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </div>
                                        <textarea class="form-control" rows="3" placeholder="Descrever o objetivo do projeto" ng-model="novoprojeto.objetivo"></textarea>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6 margin-bottom">
                                    <label>Prioridade</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <select class="form-control" ng-model="novoprojeto.id_prioridade" ng-options="x.id as x.descricao for x in opcoes.prioridade">
                                            <option value="">Selecione</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-md-6 margin-bottom">
                                    <label>Prazo</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="novoprojeto.prazo"></date-picker>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6 margin-bottom">
                                    <label>Responsável</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <select class="form-control" ng-model="novoprojeto.id_responsavel" ng-options="x.id as x.descricao for x in opcoes.responsavel">
                                            <option value="">Selecione</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6 margin-bottom">
                                    <label>Solicitante</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <select class="form-control" ng-model="novoprojeto.id_solicitante" ng-options="x.id as x.descricao for x in opcoes.solicitante">
                                            <option value="">Selecione</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6 margin-bottom">
                                    <label>Departamento</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <select class="form-control" ng-model="novoprojeto.id_departamento" ng-options="x.id as x.descricao for x in opcoes.departamento">
                                            <option value="">Selecione</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6 margin-bottom">
                                    <label>Categoria</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-tag"></i>
                                        </div>
                                        <select class="form-control" ng-model="novoprojeto.id_categoria" ng-options="x.id as x.descricao for x in opcoes.categoria">
                                            <option value="">Selecione</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6 margin-bottom">
                                    <label>Porte</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-tag"></i>
                                        </div>
                                        <select class="form-control" ng-model="novoprojeto.id_porte" ng-options="x.id as x.descricao for x in opcoes.porte">
                                            <option value="">Selecione</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="inserirProjeto($event)">Inserir</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!-- MODAL EDITAR-->
        <div class="modal fade" id="modal-edit" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">{{editprojeto.id_projeto + ' - ' + editprojeto.nome | uppercase}}</h4>
                    </div>
                    <div class="modal-body">

                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs margin-bottom">
                                <li class="active"><a href="#informacoes" data-toggle="tab" aria-expanded="false"><i class="fa fa-info"></i> Informações</a></li>
                                <li class=""><a href="#checklist" data-toggle="tab" aria-expanded="false"><i class="fa fa-check-square-o"></i> Checklist</a></li>
                                <li class=""><a href="#comentarios" data-toggle="tab" aria-expanded="true"><i class="fa fa-commenting-o"></i> Comentários</a></li>
                                <li class=""><a href="#kpi" data-toggle="tab" aria-expanded="true"><i class="fa fa-key"></i> KPI'S</a></li>
                            </ul>
                            <div class="tab-content">
                                <!--INFORMACOES-->
                                <div class="tab-pane active" id="informacoes">
                                    <form role="form">
                                        <div class="row">
                                            <input type="hidden" ng-model="editprojeto.id" />

                                            <div class="col-xs-12 col-md-8 margin-bottom">
                                                <label>Nome</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-lightbulb-o"></i>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Nome do projeto" ng-model="editprojeto.nome" />
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-4 margin-bottom">
                                                <label>Status</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-exclamation-circle"></i>
                                                    </div>
                                                    <select class="form-control" ng-model="editprojeto.id_status" ng-options="x.id as x.descricao for x in opcoes.statuses">
                                                        <option value="">Selecione</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 margin-bottom">
                                                <label>Objetivo</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-pencil-square-o"></i>
                                                    </div>
                                                    <textarea class="form-control" rows="3" placeholder="Descrever o objetivo do projeto" ng-model="editprojeto.objetivo"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-6 margin-bottom">
                                                <label>Prioridade</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <select class="form-control" ng-model="editprojeto.id_prioridade" ng-options="x.id as x.descricao for x in opcoes.prioridade">
                                                        <option value="">Selecione</option>
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="col-md-6 margin-bottom">
                                                <label>Prazo</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar-check-o"></i>
                                                    </div>
                                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="editprojeto.prazo"></date-picker>
                                                </div>
                                            </div>

                                            <div class="col-md-6 margin-bottom">
                                                <label>Data Inicio</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar-plus-o"></i>
                                                    </div>
                                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="editprojeto.dtini"></date-picker>
                                                </div>
                                            </div>

                                            <div class="col-md-6 margin-bottom">
                                                <label>Data Fim</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar-times-o"></i>
                                                    </div>
                                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="editprojeto.dtfim"></date-picker>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-6 margin-bottom">
                                                <label>Responsável</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-eye"></i>
                                                    </div>
                                                    <select class="form-control" ng-model="editprojeto.id_responsavel" ng-options="x.id as x.descricao for x in opcoes.responsavel">
                                                        <option value="">Selecione</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-6 margin-bottom">
                                                <label>Solicitante</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </div>
                                                    <select class="form-control" ng-model="editprojeto.id_solicitante" ng-options="x.id as x.descricao for x in opcoes.solicitante">
                                                        <option value="">Selecione</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-6 margin-bottom">
                                                <label>Departamento</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-map-marker"></i>
                                                    </div>
                                                    <select class="form-control" ng-model="editprojeto.id_departamento" ng-options="x.id as x.descricao for x in opcoes.departamento">
                                                        <option value="">Selecione</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-6 margin-bottom">
                                                <label>Categoria</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-tag"></i>
                                                    </div>
                                                    <select class="form-control" ng-model="editprojeto.id_categoria" ng-options="x.id as x.descricao for x in opcoes.categoria">
                                                        <option value="">Selecione</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-6 margin-bottom">
                                                <label>Porte</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-tag"></i>
                                                    </div>
                                                    <select class="form-control" ng-model="editprojeto.id_porte" ng-options="x.id as x.descricao for x in opcoes.porte">
                                                        <option value="">Selecione</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editarProjeto($event)">Salvar</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removerProjeto()">Excluir</button>
                                    </div>
                                </div>
                                <!--CHECKLIST-->
                                <div class="tab-pane" id="checklist">
                                    <div class="input-group margin-bottom">
                                        <input ng-model="novaetapa" type="text" class="form-control" placeholder="Nova Etapa">
                                        <div class="input-group-btn">
                                            <button class="btn btn-outline-secondary" type="button" ng-click="inserirEtapa()">Adicionar</button>
                                        </div>
                                    </div>
                                    <div class="progress" style="height: 5px;">
                                        <div class="progress-bar progress-bar-success" ng-style="{'width': (editprojeto.etapas_concluidas*100/editprojeto.etapas)+'%'}"></div>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="x in editprojeto.etapas_">
                                            <input type="checkbox" ng-checked="{{x.concluido}}" ng-model="x.concluido" ng-click="editarEtapa(x)" ng-true-value="1" ng-false-value="0" />
                                            <span ng-bind="x.descricao"></span>
                                            <span class="badge badge-danger" style="cursor: pointer" ng-click="removerEtapa(x.id_etapa)">X</span>
                                        </li>
                                    </ul>
                                </div>
                                <!--COMENTARIOS-->
                                <div class="tab-pane" id="comentarios">
                                    <div class="input-group margin-bottom">
                                        <textarea ng-model="novocomentario" class="form-control" placeholder="Escreva um comentário ..." rows="3" maxlength="500"></textarea>
                                        <span class="input-group-addon btn btn-primary" ng-click="inserirComentario()">Adicionar</span>
                                    </div>
                                    <!-- TIMELINE -->
                                    <ul class="timeline">
                                        <li ng-repeat="x in editprojeto.comentarios_">
                                            <i class="fa fa-commenting-o"></i>
                                            <div class="timeline-item">
                                                <span class="time">
                                                    <i class="fa fa-calendar-o"></i> <span style="padding-right:5px;">{{x.data}}</span>
                                                    <i class="fa fa-clock-o"></i> <span style="padding-right:5px;">{{x.hora}}</span>
                                                    <i class="fa fa-close" ng-click="removerComentario(x.id_comentario)" style="cursor: pointer;"></i>
                                                </span>
                                                <div class="timeline-body" ng-bind="x.comentario"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--KPI-->
                                <div class="tab-pane" id="kpi">
                                    <div class="row">

                                        <div class="col-xs-12 col-md-4 margin-bottom">
                                            <label>Esforço</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                <input-mask mask="##0,0" reverse="true" class="form-control" ng-model="editprojeto.esforco" />
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-4 margin-bottom">
                                            <label>Custo Setup</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-money"></i>
                                                </div>
                                                <input-mask mask="##0,00" reverse="true" class="form-control" ng-model="editprojeto.custo_setup" />
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-4 margin-bottom">
                                            <label>Custo Mensal</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-money"></i>
                                                </div>
                                                <input-mask mask="##0,00" reverse="true" class="form-control" ng-model="editprojeto.custo_mensal" />
                                            </div>
                                        </div>

                                        <div class="col-xs-12 margin-bottom">
                                            <label>KPI Quantitativo</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </div>
                                                <textarea class="form-control" rows="3" placeholder="Descrever os indicadores quantitativos" ng-model="editprojeto.kpi_quantitativo"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 margin-bottom">
                                            <label>KPI Qualitativo</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </div>
                                                <textarea class="form-control" rows="3" placeholder="Descrever os indicadores qualitativos" ng-model="editprojeto.kpi_qualitativo"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 margin-bottom">
                                            <label>Aferição KPI</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </div>
                                                <textarea class="form-control" rows="3" placeholder="Descrever o aferição dos indicadores" ng-model="editprojeto.kpi_afericao"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editarKPI($event)">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

        </div>
    </div>
</div>

<script>
    angular.module('app').controller('ctrl-projetos', function ($scope, $http) {

        // obj ref a lista de projetos
        $scope.lista = {
            filtros: {
                status: null,
                responsaveis: '',
            },
            order: '',
            orderField: 'prazo',
        };
        // obj ref ao novo projeto
        $scope.novoprojeto = {};
        // obj ref a edicao de projeto
        $scope.editprojeto = {};
        // obj ref as opcoes de escolha do formulario (variaveis)
        $scope.opcoes = {};


        // funções CRUD
        $scope.carregarOpcoes = function () {

            $http({
                method: 'POST',
                url: "/api/projetos/variaveis",
                data: $scope.filtros,
            }).then(function success(r) {

                $scope.opcoes.responsavel = r.data.Table;
                $scope.opcoes.solicitante = r.data.Table1;
                $scope.opcoes.departamento = r.data.Table2;
                $scope.opcoes.categoria = r.data.Table3;
                $scope.opcoes.prioridade = r.data.Table4;
                $scope.opcoes.statuses = r.data.Table5;
                $scope.opcoes.porte = r.data.Table6;

                $scope.opcoes.status = r.status;

            });
        }
        $scope.carregarProjetos = function (id_projeto) {
            $http({
                method: 'POST',
                url: "/api/projetos/consultar",
                data: $scope.lista.filtros,
            }).then(function success(r) {
                $scope.lista.dados = r.data.Table;
                $scope.lista.etapas = r.data.Table1;
                $scope.lista.comentarios = r.data.Table2;
                $scope.lista.status = r.status;

                // se precisar atualizar algum projeto em visualização
                if (id_projeto)
                    $scope.popularEdit(id_projeto);
            })
        }
        $scope.inserirProjeto = function ($event) {

            if (!$scope.novoprojeto.nome) {
                $('[ng-model="novoprojeto.nome"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.novoprojeto.objetivo) {
                $('[ng-model="novoprojeto.objetivo"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.novoprojeto.id_responsavel) {
                $('[ng-model="novoprojeto.id_responsavel"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.novoprojeto.id_solicitante) {
                $('[ng-model="novoprojeto.id_solicitante"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.novoprojeto.id_departamento) {
                $('[ng-model="novoprojeto.id_departamento"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.novoprojeto.id_categoria) {
                $('[ng-model="novoprojeto.id_categoria"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.novoprojeto.id_prioridade) {
                $('[ng-model="novoprojeto.id_prioridade"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.novoprojeto.id_porte) {
                $('[ng-model="novoprojeto.id_porte"]').focus();
                $event.stopPropagation();
                return false;
            }

            $http({
                method: 'POST',
                url: "/api/projetos/inserir",
                data: $scope.novoprojeto,
            }).then(function success(r) {
                $scope.novoprojeto = {}
                $scope.carregarProjetos();
            });

        }
        $scope.popularEdit = function (id) {
            let prj = $scope.lista.dados.find(x => x.id_projeto == id);
            $scope.editprojeto = Object.create(prj);
            $('[ng-model="editprojeto.prazo"]').datepicker('setDate', prj.prazo);
            $('[ng-model="editprojeto.dtini"]').datepicker('setDate', prj.dtini);
            $('[ng-model="editprojeto.dtfim"]').datepicker('setDate', prj.dtfim);

            $scope.editprojeto.etapas_ = $scope.lista.etapas.filter(x => x.id_projeto == prj.id_projeto);
            $scope.editprojeto.comentarios_ = $scope.lista.comentarios.filter(x => x.id_projeto == prj.id_projeto);
        }
        $scope.editarProjeto = function ($event) {

            if (!$scope.editprojeto.nome) {
                $('[ng-model="editprojeto.nome"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.editprojeto.objetivo) {
                $('[ng-model="editprojeto.objetivo"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.editprojeto.id_status) {
                $('[ng-model="editprojeto.id_status"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.editprojeto.id_responsavel) {
                $('[ng-model="editprojeto.id_responsavel"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.editprojeto.id_solicitante) {
                $('[ng-model="editprojeto.id_solicitante"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.editprojeto.id_departamento) {
                $('[ng-model="editprojeto.id_departamento"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.editprojeto.id_categoria) {
                $('[ng-model="editprojeto.id_categoria"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.editprojeto.id_prioridade) {
                $('[ng-model="editprojeto.id_prioridade"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.editprojeto.id_porte) {
                $('[ng-model="editprojeto.id_porte"]').focus();
                $event.stopPropagation();
                return false;
            }
            if (!$scope.editprojeto.dtini) {
                $('[ng-model="editprojeto.dtini"]').focus();
                $event.stopPropagation();
                return false;
            }

            $http({
                method: 'POST',
                url: "/api/projetos/editar",
                data: $scope.editprojeto,
            }).then(function success(r) {
                $scope.editprojeto = {}
                $scope.carregarProjetos();
            });

        }
        $scope.removerProjeto = function () {

            if (confirm('Tem certeza que deseja excluir este projeto?')) {
                $http({
                    method: 'POST',
                    url: "/api/projetos/excluir",
                    data: $scope.editprojeto,
                }).then(function success(r) {
                    $scope.editprojeto = {}
                    $scope.carregarProjetos();
                });
            }

        }
        $scope.inserirEtapa = function () {

            if (!$scope.novaetapa) {
                $('[ng-model="novaetapa"]').focus();
                $event.stopPropagation();
                return false;
            }

            let id_projeto = $scope.editprojeto.id_projeto;
            let descricao = $scope.novaetapa;

            $http({
                method: 'POST',
                url: "/api/projetos/etapas/inserir",
                data: { id_projeto: id_projeto, descricao: descricao },
            }).then(function success(r) {
                $scope.novaetapa = ''
                $scope.carregarProjetos($scope.editprojeto.id_projeto);
            });

        }
        $scope.removerEtapa = function (id) {
            if (confirm('Tem certeza que deseja excluir esta etapa?')) {
                $http({
                    method: 'POST',
                    url: "/api/projetos/etapas/excluir",
                    data: { id_etapa: id },
                }).then(function success(r) {
                    $scope.carregarProjetos($scope.editprojeto.id_projeto);
                });
            }
        }
        $scope.editarEtapa = function (etapa) {

            let id = etapa.id_etapa;
            let concluido = etapa.concluido;

            if (concluido) {
                $http({
                    method: 'POST',
                    url: "/api/projetos/etapas/concluir",
                    data: { id_etapa: id },
                }).then(function success(r) {
                    $scope.carregarProjetos($scope.editprojeto.id_projeto);
                });
            }
            else {
                $http({
                    method: 'POST',
                    url: "/api/projetos/etapas/reativar",
                    data: { id_etapa: id },
                }).then(function success(r) {
                    $scope.carregarProjetos($scope.editprojeto.id_projeto);
                });
            }
        }
        $scope.inserirComentario = function () {

            if (!$scope.novocomentario) {
                $('[ng-model="novocomentario"]').focus();
                $event.stopPropagation();
                return false;
            }

            let id_projeto = $scope.editprojeto.id_projeto;
            let comentario = $scope.novocomentario;

            $http({
                method: 'POST',
                url: "/api/projetos/comentarios/inserir",
                data: { id_projeto: id_projeto, comentario: comentario },
            }).then(function success(r) {
                $scope.novocomentario = ''
                $scope.carregarProjetos($scope.editprojeto.id_projeto);
            });

        }
        $scope.removerComentario = function (id) {
            if (confirm('Tem certeza que deseja excluir este comentario?')) {
                $http({
                    method: 'POST',
                    url: "/api/projetos/comentarios/excluir",
                    data: { id_comentario: id },
                }).then(function success(r) {
                    $scope.carregarProjetos($scope.editprojeto.id_projeto);
                });
            }
        }
        $scope.editarKPI = function ($event) {

            $http({
                method: 'POST',
                url: "/api/projetos/kpi/editar",
                data: $scope.editprojeto,
            }).then(function success(r) {
                $scope.editprojeto = {}
                $scope.carregarProjetos();
            });
        }

        // executar ao iniciar a página
        let querystring = new URLSearchParams(window.location.search);
        $scope.carregarProjetos(querystring.get('id'));
        $scope.carregarOpcoes();

        if (querystring.get('id')) {
            $('#modal-edit').modal('show');
        }

    });
</script>

<style>
    input[type=checkbox]:checked + span {
        text-decoration: line-through;
    }

    .alerta-vermelho {
        background-color: #ff3b3b;
        color: white;
        border-radius: 15px;
    }
</style>