@{
    Layout = "~/Views/master.cshtml";
}

<script>
    angular.module('app').controller('ctrl-cpfl-lote', function ($scope, $http, $filter, dadosPagina) {

        dadosPagina.titulo = 'Análise de Lote';
        dadosPagina.descricao = 'Cpfl'

        // variaveis
        $scope.filtros = {
            dtini: $filter('date')(new Date(new Date().getFullYear(), new Date().getMonth(), 1), "yyyy-MM-dd"),
            dtfim: $filter('date')(new Date(), "yyyy-MM-dd"),
            carteiras: '',
            //situacao: '-1',
        };
        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.lotes = [];
        $scope.visao = 'atual';
        $scope.atual = {
            indicador: '%trabalhado',
        }


        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/cpfl/dashboard/filtros",
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.carteiras = data.Table;
        });


        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/cpfl/dashboard/lote",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.lotes = [...new Set(r.data.Table.map(o => o.data_lote))];

                $scope.atual.tabela = r.data.Table;
                $scope.atual.media = r.data.Table1[0];
                $scope.atual.resumo = r.data.Table2[0];
                $scope.montarGraficoAtual();
                $scope.dashboard_status = r.status;
                $scope.dashboard.dados = r.data;
            });
        }

        $scope.montarGraficoAtual = function () {
            $scope.atual.grafico = [
                    { name: 'Contrato', data: $scope.atual.tabela.map(o => (o.contrato)) },
                    { name: $scope.atual.indicador, type: 'spline', yAxis: 1, data: $scope.atual.tabela.map(o => obterIndicador(o, $scope.atual.indicador)) },
            ];
        }



        function obterIndicador(registro, indicador) {
            if (indicador == '%estoque') { return (registro['estoque'] * 100 / registro['contrato']).toFixed(1) * 1 }
            else if (indicador == '%trabalhado') { return (registro['trabalhado'] * 100 / registro['contrato']).toFixed(1) * 1 }
            else if (indicador == '%discado') { return (registro['discado'] * 100 / registro['contrato']).toFixed(1) * 1 }
            else if (indicador == '%contato') { return (registro['contato'] * 100 / registro['contrato']).toFixed(1) * 1 }
            else if (indicador == '%cpc') { return (registro['cpc'] * 100 / registro['contrato']).toFixed(1) * 1 }
            else if (indicador == '%cpca') { return (registro['cpca'] * 100 / registro['contrato']).toFixed(1) * 1 }
            else if (indicador == '%promessa') { return (registro['promessa'] * 100 / registro['contrato']).toFixed(1) * 1 }
            else if (indicador == '%pagamento') { return (registro['pagamento'] * 100 / registro['contrato']).toFixed(1) * 1 }
            else if (indicador == 'trabalhado_tt') { return (registro['discado_tt'] / registro['contrato']).toFixed(1) * 1 }
            else if (indicador == 'discado_tt') { return (registro['trabalhado_tt'] * 100 / registro['contrato']).toFixed(1) * 1 }
            else { return registro[indicador] }
        }

        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.carregarDashboard();

    });

</script>

<!-- HTML -->
<div ng-controller="ctrl-cpfl-lote">
    <div ng-if="dashboard_status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Lote Produção</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>


        <!-- FILTROS -->
        <div class="row margin-bottom">

            <div class="col-xs-12" ng-if="dashFiltros.status === 200">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">

                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--CARTEIRAS-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Carteiras</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashFiltros.carteiras" style="width:100%"></select2>
                            </div>

                            @*SEGMENTACOES
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Situação</label>
                                    <select class="form-control" data-placeholder="Selecione" ng-model="filtros.situacao">
                                        <option value="-1">Tudo</option>
                                        <option value="0">Aberto</option>
                                        <option value="1">Fechado</option>
                                    </select>
                                </div>*@

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--RESUMO-->
        <div class="row margin-bottom">

            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="atual.resumo.contrato | megaNumber"></h3>
                        <p>Carteira Acumulada</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-briefcase"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="(atual.resumo.trabalhado_tt/atual.resumo.contrato) | percentage:1 "></h3>
                        <p>Trabalhado x Carteira</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="(atual.resumo.discado_tt/atual.resumo.contrato) | percentage:1 "></h3>
                        <p>Discagem x Carteira</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="(atual.resumo.discado/atual.resumo.contrato) | percentage:1 "></h3>
                        <p>% Discado  (unq)</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="(atual.resumo.contato/atual.resumo.contrato) | percentage:1 "></h3>
                        <p>% Contato  (unq)</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="(atual.resumo.cpc/atual.resumo.contrato) | percentage:1 "></h3>
                        <p>% CPC  (unq)</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-male"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="(atual.resumo.promessa/atual.resumo.contrato) | percentage:1 "></h3>
                        <p>% Promessa (unq)</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="(atual.resumo.pagamento/atual.resumo.contrato) | percentage:1 "></h3>
                        <p>% Pagamento (unq)</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>

        </div>

        <!-- VISÃO ATUAL-->
        <div class="row" ng-if="visao == 'atual'">

            <!--GRAFICO ATUAL-->
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <small class="pull-left">
                            <label>Indicador:</label>
                            <select ng-model="atual.indicador" ng-change="montarGraficoAtual()">
                                <option value="%trabalhado">% Trabalhado</option>
                                <option value="%discado">% Discado</option>
                                <option value="%contato">% Contato</option>
                                <option value="%cpc">% CPC</option>
                                <option value="%promessa">% Promessa</option>
                                <option value="%pagamento">% Pagamento</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">

                        <high-chart series="atual.grafico" axis-Categories="lotes" type="column"
                                    plot-Options-Spline-Data-Label="true" plot-Options-Column-Stacking="normal"
                                    y-Axis1-Min="0" y-Axis1-Max="100"></high-chart>


                    </div>
                </div>
            </div>


            <!--TABELA ATUAL-->
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Lote a Lote</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%;" ng-if="atual.tabela">
                                <thead>
                                    <tr>
                                        <th>Lote</th>
                                        <th>Contrato</th>
                                        <th>Trabalhado TT</th>
                                        <th>Discado TT</th>
                                        <th>%Trabalhado</th>
                                        <th>%Discado</th>
                                        <th>%Contato</th>
                                        <th>%CPC</th>
                                        <th>%Promessa</th>
                                        <th>%Pagamento</th>
                                        <th>R$ Valor</th>
                                        @*<th>R$ Tckt Medio</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="d in atual.tabela" data-compare-group="group1">
                                        <td>{{d.data_lote}}</td>
                                        <td>{{d.contrato | number}}</td>
                                        <td>{{d.trabalhado_tt / d.contrato | percentage:1}}</td>
                                        <td>{{d.discado_tt / d.contrato | percentage:1}}</td>
                                        <td>{{d.trabalhado / d.contrato | percentage:1}}</td>
                                        <td>{{d.discado / d.contrato | percentage:1}}</td>
                                        <td>{{d.contato / d.contrato | percentage:1}}</td>
                                        <td>{{d.cpc / d.contrato | percentage:1}}</td>
                                        <td>{{d.promessa / d.contrato | percentage:1}}</td>
                                        <td>{{d.pagamento / d.contrato | percentage:1}}</td>
                                        <td>{{d.valor | currency:'R$ '}}</td>
                                        @*<td>{{d.contrato /  d.valor| currency:'R$ '}}</td>*@
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Média</th>
                                        <th>{{atual.media.contrato | number}}</th>
                                        <th>{{atual.media.trabalhado_tt / atual.media.contrato | percentage:1}}</th>
                                        <th>{{atual.media.discado_tt / atual.media.contrato | percentage:1}}</th>
                                        <th>{{atual.media.trabalhado / atual.media.contrato | percentage:1}}</th>
                                        <th>{{atual.media.discado / atual.media.contrato | percentage:1}}</th>
                                        <th>{{atual.media.contato / atual.media.contrato | percentage:1}}</th>
                                        <th>{{atual.media.cpc / atual.media.contrato | percentage:1}}</th>
                                        <th>{{atual.media.promessa / atual.media.contrato | percentage:1}}</th>
                                        <th>{{atual.media.pagamento / atual.media.contrato | percentage:1}}</th>
                                        <th>{{atual.media.valor | currency:'R$ '}}</th>
                                        @*<th>{{atual.media.contrato / atual.media.valor | currency:'R$ '}}</th>*@
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
