@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-cpfl-recebimento">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Recebimento</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>


        <!-- FILTROS -->
        <div class="row margin-bottom">

            <div class="col-xs-12" ng-if="dashFiltros.status === 200">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">

                            <!--CARTEIRA-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Carteira</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashFiltros.carteiras" style="width:100%"></select2>
                            </div>


                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DAHSBOARD -->
        <div ng-if="dashboard.status == 200">

            <div class="container-fluid">

                <!-- Widgets -->
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-new bg-new-blue hover-zoom-effect">
                            <div class="icon">
                                <i class="material-icons">done_outline</i>
                            </div>
                            <div class="content">
                                <div class="text">Total Pagamentos</div>
                                <div class="number" ng-bind="dashboard.resumo.totalpag | number"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-new bg-new-cyan hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">done</i>
                            </div>

                            <div class="content">
                                <div class="text">Espontaneos</div>
                                <div class="number" ng-bind="dashboard.resumo.espontaneo | number"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-new bg-new-light-green hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">done_all</i>
                            </div>

                            <div class="content">
                                <div class="text">Operação</div>
                                <div class="number" ng-bind="dashboard.resumo.promessa | number"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-new-4 hover-zoom-effect">
                            <div class="icon">
                                <i class="material-icons col-blue">bar_chart</i>
                            </div>
                            <div class="content">
                                <div class="text">% Operação</div>
                                <div class="number" ng-bind="dashboard.resumo.promessa/dashboard.resumo.totalpag | percentage:1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-new bg-new-blue hover-zoom-effect">
                            <div class="icon">
                                <i class="material-icons">attach_money</i>
                            </div>
                            <div class="content">
                                <div class="text">R$ Pagamentos</div>
                                <div class="number" ng-bind="dashboard.resumo.vlr_totalpag | megaNumber "></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-new bg-new-cyan hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">money_off</i>
                            </div>
                            <div class="content">
                                <div class="text">R$ Espontaneos</div>
                                <div class="number" ng-bind="dashboard.resumo.vlr_espontaneo | megaNumber "></div>
                                <div class="percent-new" ng-bind="dashboard.resumo.vlr_espontaneo/ dashboard.resumo.vlr_totalpag| percentage:1 "></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-new bg-new-light-green hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">attach_money</i>
                            </div>

                            <div class="content">
                                <div class="text">R$ Operação</div>
                                <div class="number" ng-bind="dashboard.resumo.vlr_promessa | megaNumber "></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-new-4 hover-zoom-effect">
                            <div class="icon">
                                <i class="material-icons col-blue">bar_chart</i>
                            </div>
                            <div class="content">
                                <div class="text">% Operação Financeiro</div>
                                <div class="number" ng-bind="dashboard.resumo.vlr_promessa/dashboard.resumo.vlr_totalpag | percentage:1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--ANALISE POR SUPERVISOR-->
            <div class="row">
                <div class="col-xs-12 col-lg-12  col-md-6 margin-bottom">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Análise por Segmento</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table2')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.tabela">
                                    <thead>
                                        <tr>
                                            <th>Credor</th>
                                            <th>Total Pagamento</th>
                                            <th>Total Pag Financeiro</th>
                                            <th>Espontâneo </th>
                                            <th>Espontâneo Financeiro</th>
                                            <th>Promessa</th>
                                            <th>Promessa Financeiro</th>
                                            <th>% Operação</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="g in dashboard.tabela | groupBy: 'ds_carteira'">

                                        <tr class="text-bold">
                                            <td>
                                                <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                                {{g[0].ds_carteira}}
                                            </td>
                                            <td>{{g | sumByColumn: 'totalpag'| number}}</td>
                                            <td>{{g | sumByColumn: 'vlr_totalpag'| currency:'R$ '}}</td>

                                            <td>{{g | sumByColumn: 'espontaneo'| number}}</td>
                                            <td>{{g | sumByColumn: 'vlr_espontaneo'| currency:'R$ '}}</td>

                                            <td>{{g | sumByColumn: 'promessa'| number}}</td>
                                            <td>{{g | sumByColumn: 'vlr_promessa'| currency:'R$ '}}</td>
                                            <td>{{g | divideSumColumns: 'promessa':'totalpag' | percentage:1 }}</td>

                                        </tr>

                                        <tr ng-repeat="c in g" ng-show="showTbody">
                                            <td>{{c.dt_pagamento}}</td>
                                            <td>{{c.totalpag | number}}</td>
                                            <td>{{c.vlr_totalpag | currency:'R$ ' }}</td>
                                            <td>{{c.espontaneo | number}}</td>
                                            <td>{{c.vlr_espontaneo | currency:'R$ '}}</td>
                                            <td>{{c.promessa | number}}</td>
                                            <td>{{c.vlr_promessa | currency:'R$ '}}</td>
                                            <td>{{c.promessa/c.totalpag | percentage:1}}</td>

                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--ANALISE POR SUPERVISOR E EQUIPE-->
            <div class="row">
                <div class="col-xs-12 col-lg-6  col-md-6 margin-bottom">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Recebimento por Supervisor</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table1')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            @*<high-charts config="dashboard.vlCarteira2"></high-charts>*@
                            <high-chart series="dashboard.vlSupervisor" type="pie" inner-size="60%" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 margin-bottom">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Recebimento por Equipes</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table3')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <high-chart series="dashboard.equipes" axis-Categories="dashboard.equipe" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

    angular.module('app').controller('ctrl-cpfl-recebimento', function ($scope, $http, $filter, $interval, dadosPagina) {
        dadosPagina.titulo = 'Recebimento';
        dadosPagina.descricao = 'Oi Telecomunicações'

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), -60);


        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            carteiras: '',

        };
        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = { indicador: 'hitrate' };

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/cpfl/dashboard/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.carteiras = r.data.Table;

        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/cpfl/dashboard/recebimento",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.tabela = r.data.Table2;
                $scope.dashboard.vlSupervisor = [{ name: 'Recebimento', innerSize: '60%', data: r.data.Table1.map(obj => ({ name: obj.supervisor, y: obj.valor_promessa })) }];
                $scope.dashboard.equipe = r.data.Table3.map(obj => obj.equipe);
                $scope.dashboard.equipes = [{ name: 'Equipe', data: r.data.Table3.map(obj => (obj.valor_promessa)) }];

                //        $scope.dashboard.vlCarteira2 =
                //        {
                //            chart: {
                //                    plotBackgroundColor: null,
                //                    plotBorderWidth: null,
                //                    plotShadow: false,
                //                    type: 'pie'
                //            },
                //            title: {
                //                text: ''
                //            },
                //            tooltip: {
                //                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                //            },
                //            plotOptions: {
                //                pie: {
                //                        allowPointSelect: true,
                //                        cursor: 'pointer',
                //                        dataLabels: {
                //                        enabled: false
                //                        },
                //                    showInLegend: true
                //                }
                //            },
                //            series: [{
                //                name: 'Brands',
                //                colorByPoint: true,
                //                data: r.data.Table1.map(obj => ({ name: obj.supervisor, y: obj.valor_promessa }))
                //            }]
                //        }


            });
        }

        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.carregarDashboard();

    });

</script>

