@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-riachuelo-pf-horahora">

    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Dashboard Produtos Financeiros</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->
        <div class="row margin-bottom">

            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.discado | megaNumber"></h3>
                        <p>Discado</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.mailing | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.discado / dashboard.resumo.mailing | number: 1"></h4>
                        <p>Carteira</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-briefcase"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.contato | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1"></h4>
                        <p>Contato</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpc | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1"></h4>
                        <p>CPC</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-male"></i>
                    </div>
                </div>
            </div>

           

        </div>

        <!--POR DIA/HORA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div ng-if="opcoes.tabela == 'dia'" class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <div ng-if="opcoes.tabela == 'hora'" class="card-header-button" ng-click="extrair('Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right">
                            <label>
                                <input type="radio" name="opcoesTabela" ng-model="opcoes.tabela" value="dia" />
                                Dia
                            </label>
                            <label>
                                <input type="radio" name="opcoesTabela" ng-model="opcoes.tabela" value="hora" />
                                Hora
                            </label>
                        </small>
                    </div>
                    <div class="card-body">
                        <div class="margin-bottom" ng-if="opcoes.tabela == 'dia'">
                            <small>
                                <input type="button" class="btn btn-primary" value="{{opcoes.edit? 'Cancelar':'Editar'}}" ng-click="editar()" />
                            </small>
                        </div>
                        <div class="table-responsive">
                            <table name="table1" class="table table-striped table-bordered" style="width:100%" ng-if="opcoes.tabela == 'dia'">
                                <thead>
                                    <tr>
                                        <th>Dia</th>
                                        <th>Carteira</th>
                                        <th>Discado</th>
                                        <th>Contato</th>
                                        <th>CPC</th>
                                        <th>Hit Rate</th>
                                        <th>Tx Loc</th>
                                        <th>Spin</th>
                                    </tr>
                                </thead>
                                <tbody id="idtbody">
                                    <tr ng-repeat="dia in dashboard.dia">
                                        <td>{{dia.data}}</td>
                                        <td ng-if="opcoes.edit">
                                            <input type="number" id="idinput" min="0" max="9999999" placeholder="9.999.999" class="form-control" onkeyup="if (this.value > 9999999) { this.value = '9999999';} else if (this.value < 0) {this.value = '0';}" value="{{dia.mailing}}" ng-disabled="!opcoes.edit" />
                                        </td>
                                        <td ng-if="!opcoes.edit">{{dia.mailing | number}}</td>
                                        <td>{{dia.discado | number}}</td>
                                        <td>{{dia.contato | number}}</td>
                                        <td>{{dia.cpc | number}}</td>
                                        <td>{{dia.contato / dia.discado | percentage: 1}}</td>
                                        <td>{{dia.cpc / dia.contato | percentage: 1}}</td>
                                        <td>{{dia.discado / dia.mailing | number: 1 }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{dashboard.resumo.mailing | number}}</th>
                                        <th>{{dashboard.resumo.discado | number}}</th>
                                        <th>{{dashboard.resumo.contato | number}}</th>
                                        <th>{{dashboard.resumo.cpc | number}}</th>
                                        <th>{{dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.discado / dashboard.resumo.mailing | number: 1 }}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <small>
                            <input type="button" class="btn btn-success" value="Salvar" ng-if="opcoes.edit && opcoes.tabela == 'dia'" ng-click="salvar()" />
                        </small>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="opcoes.tabela == 'hora'">
                                <thead>
                                    <tr>
                                        <th>Hora</th>
                                        <th>Discado</th>
                                        <th>Contato</th>
                                        <th>CPC</th>
                                        <th>Hit Rate</th>
                                        <th>Tx Loc</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="hora in dashboard.hora">
                                        <td>{{hora.hora}}</td>
                                        <td>{{hora.discado | number}}</td>
                                        <td>{{hora.contato | number}}</td>
                                        <td>{{hora.cpc | number}}</td>
                                        <td>{{hora.contato / hora.discado | percentage:1}}</td>
                                        <td>{{hora.cpc / hora.contato | percentage:1}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{dashboard.resumo.discado | number}}</th>
                                        <th>{{dashboard.resumo.contato | number}}</th>
                                        <th>{{dashboard.resumo.cpc | number}}</th>
                                        <th>{{dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1}}</th>
                                        <th>{{dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <!--UF-->
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Região</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right">
                            <select ng-model="mapa.indicador" ng-change="carregarMapa()">
                                <option value="discado">Discado</option>
                                <option value="contato">Contato</option>
                                <option value="cpc">CPC</option>
                                <option value="hitrate">Hit Rate</option>
                                <option value="txloc">Tx Loc</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <mapa-brasil style="height: 400px" width="100%" dados="mapa.dados"></mapa-brasil>
                    </div>
                </div>
            </div>
            <!--TABULACAO-->
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Tabulação</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <d-table class="table table-striped table-bordered" style="width:100%" dados="dashboard.tabulacao" paging="false" scroll-collapse="true" scroll-y="324px" order="[[2,'desc']]"></d-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-riachuelo-pf-horahora', function ($scope, $http, $filter) {

        $scope.filtros = {
            dtini: $filter('date')(new Date(), "yyyy-MM-dd"),
            dtfim: $filter('date')(new Date(), "yyyy-MM-dd"),
        };

        $scope.dashboard = {};
        $scope.opcoes = {
            tabela: 'hora',
            edit: false
        };
        $scope.mapa = {
            indicador: 'txloc'
        };



        // Objeto MailingPf
        $scope.mailingPf = [{
            data: '',
            qtd_mailing: ''
        }];

        $scope.cadastrarMailing = function () {
            $http({
                method: 'POST',
                url: "/api/riachuelo/dashboard/pf/cadmailing",
                data: JSON.stringify($scope.mailingPf),
            }).then(function success(r) {

                $scope.mailingPf = [{
                    data: '',
                    qtd_mailing: ''
                }];

                //console.log($scope.mailingPf);
                location.reload();
                $scope.carregarDashboard();

            });
        }

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/riachuelo/dashboard/pf/horahora",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.dados = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.dia = r.data.Table1;
                $scope.dashboard.hora = r.data.Table2;
                $scope.dashboard.uf = r.data.Table3;
                $scope.dashboard.tabulacao = r.data.Table4;

                $scope.carregarMapa();
            });
        }

        $scope.carregarMapa = function () {
            let dados = $scope.dashboard.uf;
            switch ($scope.mapa.indicador) {
                case 'hitrate':
                    $scope.mapa.dados = dados.map(obj => ({ id: 'BR-' + obj.uf, value: (obj.contato * 100 / obj.discado).toFixed(1) }));
                    break;
                case 'txloc':
                    $scope.mapa.dados = dados.map(obj => ({ id: 'BR-' + obj.uf, value: (obj.cpc * 100 / obj.contato).toFixed(1) }));
                    break;
                default:
                    $scope.mapa.dados = dados.map(obj => ({ id: 'BR-' + obj.uf, value: obj[$scope.mapa.indicador] }));
            }
        }

        $scope.editar = function () {
            $scope.opcoes.edit = !$scope.opcoes.edit;
        }


        $scope.salvar = function () {

            $scope.opcoes.edit = !$scope.opcoes.edit;

            let tabela = document.getElementById('idtbody')

            for (let i = 0; i < tabela.rows.length; i++) {

                let dt = tabela.children[i].children[0].innerHTML
                let txt = tabela.children[i].children[1].getElementsByTagName('input').item(0).value;

                //let serie = [{ name: 'data', data: dt }, { name: 'qtd_mailing', data: txt, }];

                $scope.mailingPf.push({ data: dt, qtd_mailing: txt });
            }

            //console.log($scope.mailingPf);
            $scope.cadastrarMailing();
        }

        $scope.carregarDashboard();

        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });

</script>