@{
    Layout = "~/Views/master.cshtml";
}



<div ng-controller="ctrl-ibi-metas">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Metas Operacionais</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('metas-window')">
                <i class="fa fa-edit"></i>
                CADASTRO DE META
            </div>
        </header>

        <!--CADASTRO DE META -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="metas-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Cadastro de Meta - Valores do dia</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Filtros -->
                            <div class="tab-pane active" id="control-sidebar-filters-tab">
                                <div class="row">

                                    <div class="col-md-6">

                                        <!--ANO-->
                                        <div class="form-group">
                                            <label class="control-sidebar-subheading" style="width: 100px;">Ano</label>
                                            <select ng-model="filtros.ano">
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                            </select>
                                        </div>

                                        <!--MES-->
                                        <div class="form-group">
                                            <label class="control-sidebar-subheading" style="width: 100px;">Mês</label>
                                            <select ng-model="filtros.mes">
                                                <option value="1">Janeiro</option>
                                                <option value="2">Fevereiro</option>
                                                <option value="3">Março</option>
                                                <option value="4">Abril</option>
                                                <option value="5">Maio</option>
                                                <option value="6">Junho</option>
                                                <option value="7">Julho</option>
                                                <option value="8">Agosto</option>
                                                <option value="9">Setembro</option>
                                                <option value="10">Outubro</option>
                                                <option value="11">Novembro</option>
                                                <option value="12">Dezembro</option>
                                            </select>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-sidebar-subheading" style="width: 100px;">Segmento</label>
                                            <select ng-model="mascara.indicador">
                                                <option value="" selected="selected"> Selecione</option>
                                                <option ng-repeat="cc in dashFiltros.segmento" value="{{cc.id_segmento}}">{{cc.ds_segmento}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-sidebar-subheading" style="width: 100px;">Carteira</label>
                                            <select ng-model="mascara.indicador">
                                                <option value="" selected="selected"> Selecione</option>
                                                <option ng-repeat="car in dashFiltros.carteira" value="{{car.id_carteira}}">{{car.carteira}}</option>
                                            </select>
                                        </div>


                                        <!--ATRASO2-->
                                        @*<div class="form-group">
            <label class="control-sidebar-subheading" style="width: 100px;">FASE 2 CPCA</label>
            <input-mask class="mask" ng-model="filtros.meta_atraso2" mask="0000" reverse="true" placeholder="5.000"></input-mask>
        </div>

        ATRASO3
        <div class="form-group">
            <label class="control-sidebar-subheading" style="width: 100px;">FASE 3 CPCA</label>
            <input-mask id="mask_pl" ng-model="filtros.meta_atraso3" mask="0000" reverse="true" placeholder="5.000"></input-mask>
        </div>

        ATRASO4
        <div class="form-group">
            <label class="control-sidebar-subheading" style="width: 100px;">FASE 4 CPCA</label>
            <input-mask ng-model="filtros.meta_atraso4" mask="0000" reverse="true" placeholder="5.000"></input-mask>
        </div>

        ATRASO5
        <div class="form-group">
            <label class="control-sidebar-subheading" style="width: 100px;">FASE 5 CPCA</label>
            <input-mask ng-model="filtros.meta_atraso5" mask="0000" reverse="true" placeholder="5.000"></input-mask>
        </div>

        ATRASO6
        <div class="form-group">
            <label class="control-sidebar-subheading" style="width: 100px;">FASE 6 CPCA</label>
            <input-mask id="mask_pl" ng-model="filtros.meta_atraso6" mask="0000" reverse="true" placeholder="5.000"></input-mask>
        </div>

         ATRASO7
        <div class="form-group">
            <label class="control-sidebar-subheading" style="width: 100px;">FASE 7 CPCA</label>
            <input-mask ng-model="filtros.meta_atraso7" mask="0000" reverse="true" placeholder="5.000"></input-mask>
        </div>

        ATRASO8
        <div class="form-group">
            <label class="control-sidebar-subheading" style="width: 100px;">FASE 8 CPCA</label>
            <input-mask ng-model="filtros.meta_atraso8" mask="0000" reverse="true" placeholder="5.000"></input-mask>
        </div>

        ATRASO9
        <div class="form-group">
            <label class="control-sidebar-subheading" style="width: 100px;">FASE 9 CPCA</label>
            <input-mask ng-model="filtros.meta_atraso9" mask="0000" reverse="true" placeholder="5.000"></input-mask>
        </div>

        ATRASO10
        <div class="form-group">
            <label class="control-sidebar-subheading" style="width: 100px;">FASE 10 CPCA</label>
            <input-mask ng-model="filtros.meta_atraso10" mask="0000" reverse="true" placeholder="5.000"></input-mask>
        </div>*@

                                    </div>

                                    @*<div class="col-md-6">

                                        ATRASO PP 2
                                        <div class="form-group">
                                            <label class="control-sidebar-subheading" style="width: 100px;">FASE 2 Promessa</label>
                                            <input-mask ng-model="filtros.meta_pp_atraso2" mask="0000" reverse="true" placeholder="5.000"></input-mask>
                                        </div>


                                        ATRASO PP 3
                                        <div class="form-group">
                                            <label class="control-sidebar-subheading" style="width: 100px;">FASE 3 Promessa</label>
                                            <input-mask ng-model="filtros.meta_pp_atraso3" mask="0000" reverse="true" placeholder="5.000"></input-mask>
                                        </div>

                                        ATRASO PP 4
                                        <div class="form-group">
                                            <label class="control-sidebar-subheading" style="width: 100px;">FASE 4 Promessa</label>
                                            <input-mask ng-model="filtros.meta_pp_atraso4" mask="0000" reverse="true" placeholder="5.000"></input-mask>
                                        </div>

                                        ATRASO PP 5
                                        <div class="form-group">
                                            <label class="control-sidebar-subheading" style="width: 100px;">FASE 5 Promessa</label>
                                            <input-mask ng-model="filtros.meta_pp_atraso5" mask="0000" reverse="true" placeholder="5.000"></input-mask>
                                        </div>

                                        ATRASO PP 6
                                        <div class="form-group">
                                            <label class="control-sidebar-subheading" style="width: 100px;">FASE 6 Promessa</label>
                                            <input-mask ng-model="filtros.meta_pp_atraso6"  mask="0000" reverse="true" placeholder="5.000"></input-mask>
                                        </div>

                                        ATRASO PP 7
                                        <div class="form-group">
                                            <label class="control-sidebar-subheading" style="width: 100px;">FASE 7 Promessa</label>
                                            <input-mask ng-model="filtros.meta_pp_atraso7" mask="0000" reverse="true" placeholder="5.000"></input-mask>
                                        </div>

                                        ATRASO PP 8
                                        <div class="form-group">
                                            <label class="control-sidebar-subheading" style="width: 100px;">FASE 8 Promessa</label>
                                            <input-mask ng-model="filtros.meta_pp_atraso8" mask="0000" reverse="true" placeholder="5.000"></input-mask>
                                        </div>

                                        ATRASO PP 9
                                        <div class="form-group">
                                            <label class="control-sidebar-subheading" style="width: 100px;">FASE 9 Promessa</label>
                                            <input-mask ng-model="filtros.meta_pp_atraso9" mask="0000" reverse="true" placeholder="5.000"></input-mask>
                                        </div>

                                        ATRASO PP 10
                                        <div class="form-group">
                                            <label class="control-sidebar-subheading" style="width: 100px;">FASE 10 Promessa</label>
                                            <input-mask ng-model="filtros.meta_pp_atraso10" mask="0000" reverse="true" placeholder="5.000"></input-mask>
                                        </div>
                                    </div>*@

                                </div> 

                                <!--BOTÃO-->
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="salvarMetas()" onclick="addDisplayNone('metas-window')">Salvar</button>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--FAIXAS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Fases</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.faixas" dados="dashFiltros.faixas" style="width:100%"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="small-box bg-white">
                    <div class="inner" style="color:black">
                        <h3 ng-bind="dashboard.resumo.metacpca | megaNumber"></h3>
                        <p>Meta CPCA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-male"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="small-box bg-white">
                    <div class="inner" style="color:black">
                        <h3 ng-bind="dashboard.resumo.cpca | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.cpca / dashboard.resumo.metacpca | percentage: 1"></h4>
                        <p>CPA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-male"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="small-box bg-new-red">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.metapromessa | megaNumber"></h3>
                        <p>Meta Acordo</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-street-view"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="small-box bg-new-red">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.promessa | number"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.promessa / dashboard.resumo.metapromessa | percentage: 1"></h4>
                        <p>Acordo</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-street-view"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--TABELA ANALISE DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('ProducaoEmpresa','Table5')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.dia">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Meta CPCA</th>
                                        <th>CPCA</th>
                                        <th>% Feito</th>
                                        <th>Meta Promessa</th>
                                        <th>Promessa</th>
                                        <th>% Feito</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="e in dashboard.dia | groupBy: 'data'">

                                    <tr class="text-bold">
                                        <td>
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{e[0].data}}
                                        </td>
                                        <td>{{e | sumByColumn: 'metacpca'| number}}</td>
                                        <td>{{e | sumByColumn: 'cpca'| number}}</td>
                                        <td>{{e | divideSumColumns: 'cpca':'metacpca' | percentage:1}}</td>
                                        <td>{{e | sumByColumn: 'metapromessa'| number}}</td>
                                        <td>{{e | sumByColumn: 'promessa'| number}}</td>
                                        <td>{{e | divideSumColumns: 'promessa':'metapromessa' | percentage:1}}</td>
                                    </tr>

                                    <tr ng-repeat="c in e" ng-show="showTbody">
                                        <td>{{c.hora}}</td>
                                        <td>{{c.metacpca | number}}</td>
                                        <td>{{c.cpca | number}}</td>
                                        <td>{{c.cpca / c.metacpca | percentage:1}}</td>
                                        <td>{{c.metapromessa | number}}</td>
                                        <td>{{c.promessa | number}}</td>
                                        <td>{{c.promessa / c.metapromessa | percentage:1}}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!--GRAFICO DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Gráfico por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <small class="pull-right">
                            <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                                <option value="conversao">Conversão</option>
                                <option value="cpca">CPCA</option>
                                <option value="metacpca">% Feito CPCA</option>
                                <option value="promessa">Promessa</option>
                                <option value="metapromessa">% Feito promessa</option>
                            </select>
                        </small>
                        <high-chart series="dashboard.grafico" axis-Categories="dashboard.datas" plot-Options-Line-Data-Label="true"></high-chart>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-ibi-metas', function ($scope, $http, $filter) {
        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),         
            
            ano: '' + new Date().getFullYear(),
            mes: '' + (new Date().getMonth() + 1),
            segmento: '',
            carteira: '',
            empresa: "[{ 'id':'2'}]",
            //faixas: '',
            //meta_atraso2: '',
            //meta_atraso3: '',
            //meta_atraso4: '',
            //meta_atraso5: '',
            //meta_atraso6: '',
            //meta_atraso7: '',
            //meta_atraso8: '',
            //meta_atraso9: '',
            //meta_atraso10: '',

            //meta_pp_atraso2: '',
            //meta_pp_atraso3: '',
            //meta_pp_atraso4: '',
            //meta_pp_atraso5: '',
            //meta_pp_atraso6: '',
            //meta_pp_atraso7: '',
            //meta_pp_atraso8: '',
            //meta_pp_atraso9: '',
            //meta_pp_atraso10: '',
            
        };

        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = { indicador: 'conversao' };

        // carregar os filtros
        $http({
            method: 'POST',
            url: "/api/bradesco/dashboard/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.segmento = r.data.Table;
            $scope.dashFiltros.carteira = r.data.Table1;
            $scope.dashFiltros.faixas = r.data.Table5;

        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/bradesco/dashboard/metas",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.dia = data.Table1;
                $scope.dashboard.diagrafico = data.Table3;


                // setar os valores das metas nos campos
                setTimeout(function () {
                //    if (data.Table2.find(o => o.id_atraso == 2) && data.Table2.find(o => o.id_atraso == 2)["cpca"] > 0)
                //        $scope.filtros.meta_atraso2 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 2)["cpca"]);
                //    else
                //        $scope.filtros.meta_atraso2 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 3) && data.Table2.find(o => o.id_atraso == 3)["cpca"] > 0)
                //        $scope.filtros.meta_atraso3 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 3)["cpca"])
                //    else
                //        $scope.filtros.meta_atraso3 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 4) && data.Table2.find(o => o.id_atraso == 4)["cpca"] > 0)
                //        $scope.filtros.meta_atraso4 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 4)["cpca"])
                //    else
                //        $scope.filtros.meta_atraso4 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 5) && data.Table2.find(o => o.id_atraso == 5)["cpca"] > 0)
                //        $scope.filtros.meta_atraso5 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 5)["cpca"])
                //    else
                //        $scope.filtros.meta_atraso5 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 6) && data.Table2.find(o => o.id_atraso == 6)["cpca"] > 0)
                //        $scope.filtros.meta_atraso6 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 6)["cpca"])
                //    else
                //        $scope.filtros.meta_atraso6 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 7) && data.Table2.find(o => o.id_atraso == 7)["cpca"] > 0)
                //        $scope.filtros.meta_atraso7 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 7)["cpca"])
                //    else
                //        $scope.filtros.meta_atraso7 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 8) && data.Table2.find(o => o.id_atraso == 8)["cpca"] > 0)
                //        $scope.filtros.meta_atraso8 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 8)["cpca"])
                //    else
                //        $scope.filtros.meta_atraso8 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 9) && data.Table2.find(o => o.id_atraso == 9)["cpca"] > 0)
                //        $scope.filtros.meta_atraso9 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 9)["cpca"])
                //    else
                //        $scope.filtros.meta_atraso9 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 10) && data.Table2.find(o => o.id_atraso == 10)["cpca"] > 0)
                //        $scope.filtros.meta_atraso10 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 10)["cpca"])
                //    else
                //        $scope.filtros.meta_atraso10 = 0;






                //    if (data.Table2.find(o => o.id_atraso == 2) && data.Table2.find(o => o.id_atraso == 2)["promessa"] > 0)
                //        $scope.filtros.meta_pp_atraso2 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 2)["promessa"]);
                //    else
                //        $scope.filtros.meta_pp_atraso2 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 3) && data.Table2.find(o => o.id_atraso == 3)["promessa"] > 0)
                //        $scope.filtros.meta_pp_atraso3 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 3)["promessa"])
                //    else
                //        $scope.filtros.meta_pp_atraso3 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 4) && data.Table2.find(o => o.id_atraso == 4)["promessa"] > 0)
                //        $scope.filtros.meta_pp_atraso4 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 4)["promessa"])
                //    else
                //        $scope.filtros.meta_pp_atraso4 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 5) && data.Table2.find(o => o.id_atraso == 5)["promessa"] > 0)
                //        $scope.filtros.meta_pp_atraso5 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 5)["promessa"])
                //    else
                //        $scope.filtros.meta_pp_atraso5 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 6) && data.Table2.find(o => o.id_atraso == 6)["promessa"] > 0)
                //        $scope.filtros.meta_pp_atraso6 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 6)["promessa"])
                //    else
                //        $scope.filtros.meta_pp_atraso6 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 7) && data.Table2.find(o => o.id_atraso == 7)["promessa"] > 0)
                //        $scope.filtros.meta_pp_atraso7 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 7)["promessa"])
                //    else
                //        $scope.filtros.meta_pp_atraso7 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 8) && data.Table2.find(o => o.id_atraso == 8)["promessa"] > 0)
                //        $scope.filtros.meta_pp_atraso8 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 8)["promessa"])
                //    else
                //        $scope.filtros.meta_pp_atraso8 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 9) && data.Table2.find(o => o.id_atraso == 9)["promessa"] > 0)
                //        $scope.filtros.meta_pp_atraso9 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 9)["promessa"])
                //    else
                //        $scope.filtros.meta_pp_atraso9 = 0;

                //    if (data.Table2.find(o => o.id_atraso == 10) && data.Table2.find(o => o.id_atraso == 10)["promessa"] > 0)
                //        $scope.filtros.meta_pp_atraso10 = $('.mask').masked(data.Table2.find(o => o.id_atraso == 10)["promessa"])
                //    else
                //        $scope.filtros.meta_pp_atraso10 = 0;



                //    $scope.$apply();
                }, 2000);

                $scope.carregarGrafico();

            });

            // carrega o mapa de acordo com o indicador escolhido
            $scope.carregarGrafico = function () {
                let dados = $scope.dashboard.diagrafico;
                $scope.dashboard.datas = dados.map(obj => obj.data);
                switch ($scope.grafico.indicador) {
                    case 'metacpca':
                        $scope.dashboard.grafico = [{ name: 'metacpca', data: dados.map(obj => (obj.cpca * 100 / obj.metacpca).toFixed(1) * 1) }];
                        break;
                    case 'metapromessa':
                        $scope.dashboard.grafico = [{ name: 'metapromessa', data: dados.map(obj => (obj.promessa * 100 / obj.metapromessa).toFixed(1) * 1) }];
                        break;
                    case 'conversao':
                        $scope.dashboard.grafico = [{ name: 'conversao', data: dados.map(obj => (obj.promessa * 100 / obj.cpca).toFixed(1) * 1) }];
                        break;
                    default:
                        $scope.dashboard.grafico = [{ name: $scope.grafico.indicador, data: dados.map(obj => obj[$scope.grafico.indicador]) }];
                }
            }
        }



        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.salvarMetas = function () {
            $http({
                method: 'POST',
                url: "/api/bradesco/dashboard/cadmetas",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.carregarDashboard();
            });
        }

    });

</script>
