@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-sky-atemporal">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Atemporal Humano</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>


        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12" ng-if="dashFiltros.status === 200">
                <div id="filtros-window" class="card display">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <!--PERIODO-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Periodo</label>
                                        <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.periodo" dados="dashFiltros.periodo"></select2>
                                    </div>

                                    <!--DIA DA SEMANA-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Dia da Semana</label>
                                        <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.diasemana" dados="dashFiltros.diasemana"></select2>
                                    </div>

                                    <!--CARTEIRA-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Carteira</label>
                                        <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.carteira" dados="dashFiltros.carteira"></select2>
                                    </div>

                                    <!--SUPERVISOR-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Supervisor</label>
                                        <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.supervisor" dados="dashFiltros.supervisor"></select2>
                                    </div>

                                    <!--BOTÃO-->
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <!--DIAS UTEIS-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Dia Útil</label>
                                        <small>
                                            <select class="form-control" ng-model="filtros.diautil">
                                                <option value="">Todos</option>
                                                <option value="1">Somente dia útil</option>
                                                <option value="0">Somente fim de semana</option>
                                            </select>
                                        </small>
                                    </div>

                                    <!--SEMANA DO MES-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Semana do Mes</label>
                                        <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.semanames" dados="dashFiltros.semanames"></select2>
                                    </div>

                                    <!--SEGMENTACAO-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Segmentação</label>
                                        <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.segmentacao" dados="dashFiltros.segmentacao"></select2>
                                    </div>

                                    <!--OCORRENCIA-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Ocorrência</label>
                                        <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.ocorrencia" dados="dashFiltros.ocorrencia"></select2>
                                    </div>

                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <!--DIAS-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Intervalo Dias</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <input type="number" class="form-control pull-left col-6" placeholder="inicial..." ng-model="filtros.dtini" />
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <input type="number" class="form-control pull-right col-6" placeholder="final" ng-model="filtros.dtfim" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--FERIADO-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Feriado</label>
                                        <small>
                                            <select class="form-control" ng-model="filtros.feriado">
                                                <option value="">Contabilizar feriados</option>
                                                <option value="0">Retirar feriados</option>
                                            </select>
                                        </small>
                                    </div>

                                    <!--TENURE-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Tenure</label>
                                        <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.tenure" dados="dashFiltros.tenure"></select2>
                                    </div>

                                    <!--CLASSIFICACAO-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Classificação</label>
                                        <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.classificacao" dados="dashFiltros.classificacao"></select2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DAHSBOARD -->
        <div ng-if="dashboard.status == 200">
            <!--ANÁLISE POR DIA-->

            <div class="row margin-bottom">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Análise por Dia</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                            <small class="pull-right">
                                <label>
                                    <input type="radio" name="graficoExibir" ng-model="grafico.exibir" value="false"/>
                                    Tabela
                                </label>
                                <label>
                                    <input type="radio" name="graficoExibir" ng-model="grafico.exibir" value="true" checked="checked" />
                                    Gráfico
                                </label>

                            </small>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" ng-show="grafico.exibir == 'false'">
                                <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.dia">
                                    <thead>
                                        <tr>
                                            <th ng-repeat="(key, val) in dashboard.dia[0]">{{ key }}</th>
                                        </tr>
                                    </thead>
                                    <tbody id="idtbody">
                                        <tr ng-repeat="row in dashboard.dia">
                                            <td ng-repeat="column in row">
                                                {{ column }}
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th ng-repeat="(key, val) in dashboard.resumo[0]">{{ val }}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!--GRAFICO FILA-->
                            <div ng-show="grafico.exibir == 'true'">
                                <high-chart series="dashboard.graficoMes" axis-Categories="dashboard.dias"></high-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    angular.module('app').controller('ctrl-sky-atemporal', function ($scope, $http, $filter) {
        // filtros iniciais
        let newdate = new Date();


        newdate.setDate(newdate.getDate());

        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);


        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = { exibir: 'true' };

        $scope.filtros = {
            dtini: 1,//$filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "dd"),
            periodo: '',
            diautil: '',
            diasemana: '',
            semanames: '',
            feriado: '',
            carteira: '',
            segmentacao: '',
            tenure: '',
            supervisor: '',
            ocorrencia: '',
            classificacao: '',
            //equipe: '',
        };



        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/sky/dashboard/humano/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;

            $scope.dashFiltros.carteira = r.data.Table;
            $scope.dashFiltros.segmentacao = r.data.Table1;
            $scope.dashFiltros.supervisor = data.Table2;
            $scope.dashFiltros.tenure = data.Table3;
            $scope.dashFiltros.periodo = data.Table8;
            $scope.dashFiltros.diasemana = data.Table9;
            $scope.dashFiltros.semanames = data.Table10;
            $scope.dashFiltros.ocorrencia = data.Table11;
            $scope.dashFiltros.classificacao = data.Table12;
        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/sky/dashboard/humano/atemporal",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.dia = data.Table;
                $scope.dashboard.resumo = data.Table1;
                $scope.dashboard.mes = data.Table2;

                
                $scope.carregarGrafico();
            });            
        }

        $scope.carregarGrafico = function () {
            
            let meses = $scope.dashboard.dados.Table3;

            $scope.dashboard.dias = $scope.dashboard.dados.Table4.map(obj => obj.dia)

            $scope.dashboard.graficoMes = [];

            for (let i = 0; i < (meses.length); i++) {

                let mes = meses[i];

                let tabela = alasql('select mes, dia, qtd, evolucao from ? where mes in (' + mes.mes + ') ', [$scope.dashboard.mes]);
                
                let serie = { name: mes.mes_descricao, data: tabela.map(obj => obj.qtd), type: 'column' };
                
                $scope.dashboard.graficoMes.push(serie);
            }

        }

        // carrega o mapa de acordo com o indicador escolhido
        $scope.CompararResultados = function () {


            let tb = document.getElementById('idtbody');

            console.log(tb);
            //.getElementsByTagName("tbody")[0];

            //.getElementsByTagName("tr");


            //FirstCells = rows[0].getElementsByTagName('td');
            //SecondCells = rows[1].getElementsByTagName('td');

            //console.log(rows);
            //console.log(SecondCells);

            // loops through each row
            //for (i = 0; i < rows.length; i++) {

            //    for (j = 1; j < rows.length; j++) {

            //        FirstCells = rows[i].getElementsByTagName('td');
            //        SecondCells = rows[j].getElementsByTagName('td');

            //        if (cells[0].innerHTML == 'R')
            //            rows[i].className = "red";

            //        if (cells[0].innerHTML == 'Y')
            //            rows[i].className = "yellow";
            //    }
            //}
        }

        $scope.carregarDashboard();


        //$scope.CompararResultados();
        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });

</script>