@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-sky-carteira">

    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Carteira</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>


        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashFiltros.status == 200">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--CARTEIRAS-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Carteiras</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashFiltros.carteiras" style="width:100%"></select2>
                            </div>

                            <!--SEGMENTACOES-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Segmentacoes</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.segmentacoes" dados="dashFiltros.segmentacoes" style="width:100%"></select2>
                            </div>

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO E MEDIA CARTEIRA-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-5 margin-bottom">

                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Inclusão, Devolução e Carteira Ativa</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="info-box bg-green">
                            <span class="info-box-icon"><i class="fa fa-plus-square"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Inclusão</span>
                                <span class="info-box-number">{{dashboard.resumo.inclusao | number}}</span>
                                <span class="progress-description">
                                    {{dashboard.resumo.vlInclusao | currency:'R$'}}
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>

                        <div class="info-box bg-yellow">
                            <span class="info-box-icon"><i class="fa fa-minus-square"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Devolução</span>
                                <span class="info-box-number">{{dashboard.resumo.devolucao | number}}</span>
                                <span class="progress-description">
                                    {{dashboard.resumo.vlDevolucao | currency:'R$'}}
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>

                        <div class="info-box bg-blue">
                            <span class="info-box-icon"><i class="fa fa-minus-square"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Baixa Total</span>
                                <span class="info-box-number">{{dashboard.resumo.baixa_total | number}}</span>
                                <span class="progress-description">
                                    {{dashboard.resumo.vlBaixaTotal | currency:'R$'}}
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>


                        <div class="info-box bg-purple">
                            <span class="info-box-icon"><i class="fa fa-minus-square"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Baixa Administrativa</span>
                                <span class="info-box-number">{{dashboard.resumo.baixa_adm | number}}</span>
                                <span class="progress-description">
                                    {{dashboard.resumo.vlBaixaAdm | currency:'R$'}}
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>

                        <div class="info-box bg-red">
                            <span class="info-box-icon"><i class="fa fa-archive"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Média de Carteira Ativa</span>
                                <span class="info-box-number">{{dashboard.resumo.ativo | number}}</span>
                                <span class="progress-description">
                                    {{dashboard.resumo.vlAtivo | currency:'R$'}}
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-7 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Média Carteira Ativa por Produto</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('VolumeCarteira','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.carteira" type="pie" height="525" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--GRAFICO POR DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Gráfico por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('VolumeDia','Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right">
                            <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                                <option value="inclusao">Inclusão</option>
                                <option value="devolucao">Devolução</option>
                                <option value="baixa_total">Baixa Total</option>
                                <option value="baixa_adm">Baixa Adm</option>
                                <option value="ativo">Ativo</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.graficoQtd" axis-Categories="dashboard.dias" plot-Options-Column-Data-Label="true" type="column" height="300"></high-chart>
                        <high-chart series="dashboard.graficoVlr" axis-Categories="dashboard.dias" plot-Options-Line-Data-Label="true" height="300"></high-chart>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    angular.module('app').controller('ctrl-sky-carteira', function ($scope, $http, $filter) {
        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            carteiras: '',
            segmentacoes: '',
        };
        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = {
            indicador: 'ativo'
        };

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/sky/dashboard/humano/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.carteiras = data.Table;
            $scope.dashFiltros.segmentacoes = data.Table1;
        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/sky/dashboard/humano/carteira",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.dias = r.data.Table2.map(obj => obj.data);

                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.carteira = [{ name: 'Quantidade', innerSize: '60%', data: r.data.Table1.map(obj => ({ name: obj.produto, y: obj.ativo })) }];
                $scope.dashboard.dia = r.data.Table2;

                $scope.carregarGrafico();
            });
        }


        // carrega o mapa de acordo com o indicador escolhido
        $scope.carregarGrafico = function () {
            let dados = $scope.dashboard.dia;
            let indicador = $scope.grafico.indicador;

            $scope.dashboard.graficoQtd = [{ name: 'Quantidade', data: dados.map(obj => (obj[indicador])) }];
            $scope.dashboard.graficoVlr = [{ name: 'Valor', data: dados.map(obj => (obj[indicador + 'Vlr'])) }];
        }


        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });

</script>
