@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-sky-comparativo">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Gráfico Comparativo {{conceito.string}}</div>

            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
            <div class="page-menu-button" ng-click="carregarDashboard()">
                <input type="button" class="btn btn-danger" ng-click="filtros.conceito = '_uniq'" value="UNIQ" />
            </div>
            <div class="page-menu-button" ng-click="carregarDashboard()">
                <input type="button" class="btn btn-danger" ng-click="filtros.conceito = ''" value="TOTAL" />
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashFiltros.status == 200">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>

                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- PERIODO 1 -->
                            <div class="col-xs-12 col-sm-6">
                                <fieldset>
                                    <legend>Periodo 1 (Presente)</legend>

                                    <!--DATAS-->
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <!--DATA INCIAL-->
                                            <div class="form-group">
                                                <label class="control-sidebar-subheading">Data Inicial</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-6">
                                            <!--DATA FINAL-->
                                            <div class="form-group">
                                                <label class="control-sidebar-subheading">Data Final</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--HORA INICIO-->
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-sidebar-subheading">Hora Inicio</label>
                                                <select class="form-control" ng-model="filtros.horaini">
                                                    <option value="7" selected="selected">07h</option>
                                                    <option value="8">08h</option>
                                                    <option value="9">09h</option>
                                                    <option value="10">10h</option>
                                                    <option value="11">11h</option>
                                                    <option value="12">12h</option>
                                                    <option value="13">13h</option>
                                                    <option value="14">14h</option>
                                                    <option value="15">15h</option>
                                                    <option value="16">16h</option>
                                                    <option value="17">17h</option>
                                                    <option value="18">18h</option>
                                                    <option value="19">19h</option>
                                                    <option value="20">20h</option>
                                                    <option value="21">21h</option>
                                                    <option value="22">22h</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-xs-12 col-sm-6">
                                            <!--HORA FIM-->
                                            <div class="form-group">
                                                <label class="control-sidebar-subheading">Hora Final</label>
                                                <select class="form-control" ng-model="filtros.horafim">
                                                    <option value="7">07h</option>
                                                    <option value="8">08h</option>
                                                    <option value="9">09h</option>
                                                    <option value="10">10h</option>
                                                    <option value="11">11h</option>
                                                    <option value="12">12h</option>
                                                    <option value="13">13h</option>
                                                    <option value="14">14h</option>
                                                    <option value="15">15h</option>
                                                    <option value="16">16h</option>
                                                    <option value="17">17h</option>
                                                    <option value="18">18h</option>
                                                    <option value="19">19h</option>
                                                    <option value="20">20h</option>
                                                    <option value="21">21h</option>
                                                    <option value="22" selected="selected">22h</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!--CARTEIRA-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Carteira</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteira" dados="dashFiltros.carteira" style="width:100%"></select2>
                                    </div>

                                    <!--SEGMENTACAO-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Segmentacao</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.segmentacao" dados="dashFiltros.segmentacao" style="width:100%"></select2>
                                    </div>

                                    <!--TENURE-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Tenure</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.tenure" dados="dashFiltros.tenure" style="width:100%"></select2>
                                    </div>

                                    <!--SUPERVISOR-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Supervisor</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.supervisor" dados="dashFiltros.supervisor" style="width:100%"></select2>
                                    </div>

                                    <!--EQUIPE-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Equipe</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.equipe" dados="dashFiltros.equipe" style="width:100%"></select2>
                                    </div>

                                    <!--OCORRÊNCIA-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Ocorrência</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.ocorrencia" dados="dashFiltros.ocorrencia" style="width:100%"></select2>
                                    </div>

                                    <!--AGENTE-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Agente</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.agente" dados="dashFiltros.agente" style="width:100%"></select2>
                                    </div>

                                    <!--BOTÃO-->
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                                    </div>
                                </fieldset>
                            </div>

                            <!-- PERIODO 2 -->
                            <div class="col-xs-12 col-sm-6">
                                <fieldset>
                                    <legend>Periodo 2 (Passado)</legend>

                                    <!--DATAS-->
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <!--DATA INCIAL-->
                                            <div class="form-group">
                                                <label class="control-sidebar-subheading">Data Inicial</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini_2"></date-picker>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-6">
                                            <!--DATA FINAL-->
                                            <div class="form-group">
                                                <label class="control-sidebar-subheading">Data Final</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim_2"></date-picker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--HORAS-->
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-sidebar-subheading">Hora Inicio</label>
                                                <select class="form-control" ng-model="filtros.horaini_2">
                                                    <option value="7" selected="selected">07h</option>
                                                    <option value="8">08h</option>
                                                    <option value="9">09h</option>
                                                    <option value="10">10h</option>
                                                    <option value="11">11h</option>
                                                    <option value="12">12h</option>
                                                    <option value="13">13h</option>
                                                    <option value="14">14h</option>
                                                    <option value="15">15h</option>
                                                    <option value="16">16h</option>
                                                    <option value="17">17h</option>
                                                    <option value="18">18h</option>
                                                    <option value="19">19h</option>
                                                    <option value="20">20h</option>
                                                    <option value="21">21h</option>
                                                    <option value="22">22h</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-sidebar-subheading">Hora Final</label>
                                                <select class="form-control" ng-model="filtros.horafim_2">
                                                    <option value="7">07h</option>
                                                    <option value="8">08h</option>
                                                    <option value="9">09h</option>
                                                    <option value="10">10h</option>
                                                    <option value="11">11h</option>
                                                    <option value="12">12h</option>
                                                    <option value="13">13h</option>
                                                    <option value="14">14h</option>
                                                    <option value="15">15h</option>
                                                    <option value="16">16h</option>
                                                    <option value="17">17h</option>
                                                    <option value="18">18h</option>
                                                    <option value="19">19h</option>
                                                    <option value="20">20h</option>
                                                    <option value="21">21h</option>
                                                    <option value="22" selected="selected">22h</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!--CARTEIRA-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Carteira</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteira_2" dados="dashFiltros.carteira" style="width:100%"></select2>
                                    </div>

                                    <!--SEGMENTACAO-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Segmentacao</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.segmentacao_2" dados="dashFiltros.segmentacao" style="width:100%"></select2>
                                    </div>

                                    <!--TENURE-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Tenure</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.tenure_2" dados="dashFiltros.tenure" style="width:100%"></select2>
                                    </div>

                                    <!--SUPERVISOR-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Supervisor</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.supervisor_2" dados="dashFiltros.supervisor" style="width:100%"></select2>
                                    </div>

                                    <!--EQUIPE-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Equipe</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.equipe_2" dados="dashFiltros.equipe" style="width:100%"></select2>
                                    </div>

                                    <!--OCORRÊNCIA-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Ocorrência</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.ocorrencia_2" dados="dashFiltros.ocorrencia" style="width:100%"></select2>
                                    </div>

                                    <!--AGENTE-->
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">Agente</label>
                                        <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.agente_2" dados="dashFiltros.agente" style="width:100%"></select2>
                                    </div>

                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- GRAFICO E QUADROS -->
        <div class="row">
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-header">

                        <div class="card-header-title">
                            {{grafico.indicador}} por :
                        </div>
                        <div class="card-header-title">
                            <select style="margin-left: 20px" class="form-control" ng-model="filtros.visao" ng-change="carregarDashboard()">
                                <option value="hora" selected="selected">Hora</option>
                                <option value="dia">Dia do Mês</option>
                                <option value="dia_semana">Dia da Semana</option>
                                <option value="semana">Semana do Mês</option>
                                <option value="mes">Mês do Ano</option>
                            </select>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--GRAFICO-->
                        <high-chart series="dashboard.series" axis-Categories="dashboard.categories" type="line" plot-Options-Line-Data-Label="true"></high-chart>

                        <!--QUADROS -->
                        <div class="row">
                            <!--INDICADORES PERCENTUAIS-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-2 col-lg-offset-1">
                                    <div class="small-box" ng-class="dashboard.ocupacao.vs >= 0 ? 'bg-green' : 'bg-red'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.ocupacao.vs | percentage:1"></h3>
                                            <p>{{dashboard.ocupacao.p1 | percentage:1}} vs {{dashboard.ocupacao.p2 | percentage:1}}</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-hourglass-half"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'ocupacao'" class="small-box-footer">Ocupação <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-2">
                                    <div class="small-box" ng-class="dashboard.tma.vs >= 0 ? 'bg-red' : 'bg-green'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.tma.vs | percentage:1"></h3>
                                            <p>{{dashboard.tma.p1 | formatTimer}} vs {{dashboard.tma.p2 | formatTimer}}</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'tma'" class="small-box-footer">TMA <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-2">
                                    <div class="small-box" ng-class="dashboard.tme.vs >= 0 ? 'bg-red' : 'bg-green'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.tme.vs | percentage:1"></h3>
                                            <p>{{dashboard.tme.p1 | formatTimer }} vs {{dashboard.tme.p2 | formatTimer}}</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'tme'" class="small-box-footer">TME <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-2">
                                    <div class="small-box" ng-class="dashboard.improdutivo.vs >= 0 ? 'bg-red' : 'bg-green'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.improdutivo.vs | percentage:1"></h3>
                                            <p>{{dashboard.improdutivo.p1 | percentage:1}} vs {{dashboard.improdutivo.p2 | percentage:1}}</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-thumbs-o-down"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'improdutivo'" class="small-box-footer">Improdutivo <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-2">
                                    <div class="small-box" ng-class="dashboard.pausa.vs >= 0 ? 'bg-red' : 'bg-green'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.pausa.vs | percentage:1"></h3>
                                            <p>{{dashboard.pausa.p1 | percentage : 1 }} vs {{dashboard.pausa.p2 | percentage : 1 }}</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-hourglass-end"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'pausa'" class="small-box-footer">Pausa <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!--INDICADORES ABSOLUTOS-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-2 col-lg-offset-1">
                                    <div class="small-box" ng-show="exibirQuadro.show" ng-class="dashboard.discado.vs >= 0 ? 'bg-green' : 'bg-red'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.discado.vs | percentage:1"></h3>
                                            <p>{{dashboard.discado.p1 | megaNumber}} vs {{dashboard.discado.p2 | megaNumber}}</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'discado'" class="small-box-footer">Discado <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-2">
                                    <div class="small-box" ng-class="dashboard.contato.vs >= 0 ? 'bg-green' : 'bg-red'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.contato.vs | percentage:1"></h3>
                                            <p>{{dashboard.contato.p1 | megaNumber}} vs {{dashboard.contato.p2 | megaNumber}}</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-headphones"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'contato'" class="small-box-footer">Contato <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-2">
                                    <div class="small-box" ng-class="dashboard.cpc.vs >= 0 ? 'bg-green' : 'bg-red'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.cpc.vs | percentage:1"></h3>
                                            <p>{{dashboard.cpc.p1 | number}} vs {{dashboard.cpc.p2 | number}}</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-male"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'cpc'" class="small-box-footer">CPC <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-2">
                                    <div class="small-box" ng-class="dashboard.cpca.vs >= 0 ? 'bg-green' : 'bg-red'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.cpca.vs | percentage:1"></h3>
                                            <p>{{dashboard.cpca.p1 | number}} vs {{dashboard.cpca.p2 | number}}</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-street-view"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'cpca'" class="small-box-footer">CPCA <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-2">
                                    <div class="small-box" ng-class="dashboard.promessa.vs >= 0 ? 'bg-green' : 'bg-red'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.promessa.vs | percentage:1"></h3>
                                            <p>{{dashboard.promessa.p1 | number}} vs {{dashboard.promessa.p2 | number}}</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-handshake-o"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'promessa'" class="small-box-footer">Promessa <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!--INDICADORES RELATIVOS-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-2 col-lg-offset-1">
                                    <div class="small-box" ng-show="exibirQuadro.show" ng-class="dashboard.hitrate.vs >= 0 ? 'bg-green' : 'bg-red'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.hitrate.vs | percentage:1"></h3>
                                            <p>{{dashboard.hitrate.p1 | percentage:1}} vs {{dashboard.hitrate.p2 | percentage:1}}</p>
                                            <p><h5> Dif : {{dashboard.difhitrate.dif | percentage:1}} </h5> </p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-bullseye"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'hitrate'" class="small-box-footer">Hit Rate <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-2">
                                    <div class="small-box" ng-class="dashboard.txloc.vs >= 0 ? 'bg-green' : 'bg-red'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.txloc.vs | percentage:1"></h3>
                                            <p>{{dashboard.txloc.p1 | percentage:1}} vs {{dashboard.txloc.p2 | percentage:1}}</p>
                                            <p><h5> Dif : {{dashboard.diftxloc.dif | percentage:1}} </h5> </p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'txloc'" class="small-box-footer">Tx Loc <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-2">
                                    <div class="small-box" ng-class="dashboard.txapv.vs >= 0 ? 'bg-green' : 'bg-red'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.txapv.vs | percentage:1"></h3>
                                            <p>{{dashboard.txapv.p1 | percentage:1}} vs {{dashboard.txapv.p2 | percentage:1}}</p>
                                            <p><h5> Dif : {{dashboard.diftxapv.dif | percentage:1}} </h5></p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'txapv'" class="small-box-footer">Tx Apv <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-2">
                                    <div class="small-box" ng-class="dashboard.conversao.vs >= 0 ? 'bg-green' : 'bg-red'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.conversao.vs | percentage:1"></h3>
                                            <p>{{dashboard.conversao.p1 | percentage:1}} vs {{dashboard.conversao.p2 | percentage:1}}</p>
                                            <p><h5> Dif : {{dashboard.difconversao.dif | percentage:1}} </h5></p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-thumbs-up"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'conversao'" class="small-box-footer">Conversão <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-2">
                                    <div class="small-box" ng-show="exibirQuadro.show" ng-class="dashboard.esforco.vs >= 0 ? 'bg-red' : 'bg-green'">
                                        <div class="inner">
                                            <h3 ng-bind="dashboard.esforco.vs | percentage:1"></h3>
                                            <p>{{dashboard.esforco.p1 | number : 0 }} vs {{dashboard.esforco.p2 | number : 0 }}</p>
                                            <p><h5> Dif : {{dashboard.difesforco.dif | number : 0 }} </h5></p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </div>
                                        <a href="#" ng-click="grafico.indicador = 'esforco'" class="small-box-footer">Esforço <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    angular.module('app').controller('ctrl-sky-comparativo', function ($scope, $http, $filter, dadosPagina) {
        dadosPagina.titulo = 'Comparativo';
        dadosPagina.descricao = 'Sky Humano'

        // filtros iniciais
        let _dt1 = new Date();
        let _dt2 = new Date();
        _dt1.setDate(_dt1.getDate() - 1);
        _dt2.setDate(_dt2.getDate() - 2);
        _dt1 = $filter('date')(_dt1, "yyyy-MM-dd");
        _dt2 = $filter('date')(_dt2, "yyyy-MM-dd");

        $scope.filtros = {
            dtini: _dt1,
            dtfim: _dt1,
            dtini_2: _dt2,
            dtfim_2: _dt2,

            horaini: '7',
            horafim: '22',
            horaini_2: '7',
            horafim_2: '22',

            carteira: '',
            segmentacao: '',
            tenure: '',
            supervisor: '',
            equipe: '',
            ocorrencia: '',
            agente: '',

            carteira_2: '',
            segmentacao_2: '',
            tenure_2: '',
            supervisor_2: '',
            equipe_2: '',
            ocorrencia_2: '',
            agente_2: '',

            visao: 'hora',
            conceito: '',
        };

        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = { indicador: 'promessa' };
        $scope.exibirQuadro = { show: true };
        $scope.conceito = { string: '' }

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/sky/dashboard/humano/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.carteira = data.Table;
            $scope.dashFiltros.segmentacao = data.Table1;
            $scope.dashFiltros.supervisor = data.Table2;
            $scope.dashFiltros.tenure = data.Table3;
            $scope.dashFiltros.ocorrencia = data.Table6;
            $scope.dashFiltros.agente = data.Table13;

        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/sky/dashboard/humano/comparativo",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;


                $scope.carregarGrafico();
                $scope.carregarComparativo();

                console.log($scope.filtros.conceito)

                if ($scope.filtros.conceito == '') {
                    $scope.conceito.string = '- Total';
                } else {
                    $scope.conceito.string = '- Uniq';
                }

                
                $scope.OcultarQuadro();

            });
        }

        $scope.carregarGrafico = function () {
            let indicador = $scope.grafico.indicador;

            $scope.dashboard.categories = $scope.dashboard.dados.Table.map(r => r.categoria);

            let series1, series2;
            switch (indicador) {
                case 'hitrate':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.contato2 * 100 / obj.discado2).toFixed(1) * 1);
                    break;
                case 'txloc':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.cpc * 100 / obj.contato).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.cpc2 * 100 / obj.contato2).toFixed(1) * 1);
                    break;
                case 'txapv':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.cpca * 100 / obj.cpc).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.cpca2 * 100 / obj.cpc2).toFixed(1) * 1);
                    break;
                case 'conversao':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.promessa * 100 / obj.cpca).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.promessa2 * 100 / obj.cpca2).toFixed(1) * 1);
                    break;
                case 'esforco':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.discado / obj.contato).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.discado2 / obj.contato2).toFixed(1) * 1);
                    break;
                case 'ocupacao':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.tmp_ocupado * 100 / obj.tmp_logadoA).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.tmp_ocupado2 * 100 / obj.tmp_logadoA2).toFixed(1) * 1);
                    break;
                case 'tma':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.tmp_falado / obj.contato).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.tmp_falado2 / obj.contato2).toFixed(1) * 1);
                    break;
                case 'tme':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.tmp_disponivel / obj.contato).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.tmp_disponivel2 / obj.contato2).toFixed(1) * 1);
                    break;
                case 'pausa':
                    series1 = $scope.dashboard.dados.Table.map(obj => (obj.tmp_pausa * 100 / obj.tmp_logadoB).toFixed(1) * 1);
                    series2 = $scope.dashboard.dados.Table.map(obj => (obj.tmp_pausa2 * 100 / obj.tmp_logadoB2).toFixed(1) * 1);
                    break;
                default:
                    series1 = $scope.dashboard.dados.Table.map(obj => obj[indicador]);
                    series2 = $scope.dashboard.dados.Table.map(obj => obj[indicador + '2']);
            }

            $scope.dashboard.series = [
                { name: 'Período 1', data: series1 },
                { name: 'Período 2', data: series2, dashStyle: 'shortdot' }
            ];

        }

        $scope.carregarComparativo = function () {
            let dados1 = alasql('select sum(discado) discado, sum(contato) contato, sum(cpc) cpc, sum(cpca) cpca, sum(promessa) promessa, sum(improdutivo) improdutivo, sum(tmp_falado) tmp_falado, sum(tmp_disponivel) tmp_disponivel, sum(tmp_ocupado) tmp_ocupado, sum(tmp_logadoA) tmp_logadoA, sum(tmp_logadoB) tmp_logadoB, sum(tmp_pausa) tmp_pausa  from ?', [$scope.dashboard.dados.Table])[0];
            let dados2 = alasql('select sum(discado2) discado, sum(contato2) contato, sum(cpc2) cpc, sum(cpca2) cpca, sum(promessa2) promessa, sum(improdutivo2) improdutivo, sum(tmp_falado2) tmp_falado, sum(tmp_disponivel2) tmp_disponivel, sum(tmp_ocupado2) tmp_ocupado, sum(tmp_logadoA2) tmp_logadoA, sum(tmp_logadoB2) tmp_logadoB, sum(tmp_pausa2) tmp_pausa from ?', [$scope.dashboard.dados.Table])[0];

            let calculo = {
                hitrate1: dados1.contato / dados1.discado,
                hitrate2: dados2.contato / dados2.discado,
                txloc1: dados1.cpc / dados1.contato,
                txloc2: dados2.cpc / dados2.contato,
                txapv1: dados1.cpca / dados1.cpc,
                txapv2: dados2.cpca / dados2.cpc,
                conversao1: dados1.promessa / dados1.cpca,
                conversao2: dados2.promessa / dados2.cpca,
                esforco1: dados1.discado / dados1.contato,
                esforco2: dados2.discado / dados2.contato,
                ocupacao1: dados1.tmp_ocupado / dados1.tmp_logadoA,
                ocupacao2: dados2.tmp_ocupado / dados2.tmp_logadoA,
                tma1: dados1.tmp_falado / dados1.contato,
                tma2: dados2.tmp_falado / dados2.contato,
                tme1: dados1.tmp_disponivel / dados1.contato,
                tme2: dados2.tmp_disponivel / dados2.contato,
                improd1: dados1.improdutivo / dados1.contato,
                improd2: dados2.improdutivo / dados2.contato,
                pausa1: dados1.tmp_pausa / dados1.tmp_logadoB,
                pausa2: dados2.tmp_pausa / dados2.tmp_logadoB
            }

            $scope.dashboard.ocupacao = { p1: calculo.ocupacao1, p2: calculo.ocupacao2, vs: calculo.ocupacao1 / calculo.ocupacao2 - 1 };
            $scope.dashboard.tma = { p1: calculo.tma1, p2: calculo.tma2, vs: calculo.tma1 / calculo.tma2 - 1 };
            $scope.dashboard.tme = { p1: calculo.tme1, p2: calculo.tme2, vs: calculo.tme1 / calculo.tme2 - 1 };
            $scope.dashboard.improdutivo = { p1: calculo.improd1, p2: calculo.improd2, vs: calculo.improd1 / calculo.improd2 - 1 };
            $scope.dashboard.pausa = { p1: calculo.pausa1, p2: calculo.pausa2, vs: calculo.pausa1 / calculo.pausa2 - 1 };

            $scope.dashboard.discado = { p1: dados1.discado, p2: dados2.discado, vs: dados1.discado / dados2.discado - 1 };
            $scope.dashboard.contato = { p1: dados1.contato, p2: dados2.contato, vs: dados1.contato / dados2.contato - 1 };
            $scope.dashboard.cpc = { p1: dados1.cpc, p2: dados2.cpc, vs: dados1.cpc / dados2.cpc - 1 };
            $scope.dashboard.cpca = { p1: dados1.cpca, p2: dados2.cpca, vs: dados1.cpca / dados2.cpca - 1 };
            $scope.dashboard.promessa = { p1: dados1.promessa, p2: dados2.promessa, vs: dados1.promessa / dados2.promessa - 1 };

            $scope.dashboard.hitrate = { p1: calculo.hitrate1, p2: calculo.hitrate2, vs: calculo.hitrate1 / calculo.hitrate2 - 1 };
            $scope.dashboard.txloc = { p1: calculo.txloc1, p2: calculo.txloc2, vs: calculo.txloc1 / calculo.txloc2 - 1 };
            $scope.dashboard.txapv = { p1: calculo.txapv1, p2: calculo.txapv2, vs: calculo.txapv1 / calculo.txapv2 - 1 };
            $scope.dashboard.conversao = { p1: calculo.conversao1, p2: calculo.conversao2, vs: calculo.conversao1 / calculo.conversao2 - 1 };

            $scope.dashboard.esforco = { p1: calculo.esforco1, p2: calculo.esforco2, vs: calculo.esforco1 / calculo.esforco2 - 1 };

            $scope.dashboard.difhitrate = { dif: calculo.hitrate1 - calculo.hitrate2 };
            $scope.dashboard.diftxloc = { dif: calculo.txloc1 - calculo.txloc2 };
            $scope.dashboard.diftxapv = { dif: calculo.txapv1 - calculo.txapv2 };
            $scope.dashboard.difconversao = { dif: calculo.conversao1 - calculo.conversao2 };
            $scope.dashboard.difesforco = { dif: calculo.esforco1 - calculo.esforco2 };

        }

        $scope.OcultarQuadro = function () {

            if (!$scope.filtros.ocorrencia == '' || !$scope.filtros.ocorrencia_2 == '' || !$scope.filtros.supervisor == '' || !$scope.filtros.supervisor_2 == '' || !$scope.filtros.agente == '' || !$scope.filtros.agente_2 == '') {
                $scope.exibirQuadro.show = false;
            }
            else
                $scope.exibirQuadro.show = true;
        }

        $scope.carregarDashboard();



        $scope.$watch('grafico.indicador', function (newVal, oldVal) {
            if ($scope.dashboard.status == 200)
                $scope.carregarGrafico();
        });

        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("comparativo_analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });
</script>
