@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-sky-horahora">

    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status === 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Hora Hora Humano</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">

            <div class="col-xs-12" ng-if="dashFiltros.status === 200">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--CARTEIRA-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Carteira</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteira" dados="dashFiltros.carteira" style="width:100%"></select2>
                            </div>

                            <!--SEGMENTACAO-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Segmentação</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.segmentacao" dados="dashFiltros.segmentacao" style="width:100%"></select2>
                            </div>

                            <!--SUPERVISOR-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Supervisor</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.supervisor" dados="dashFiltros.supervisor" style="width:100%"></select2>
                            </div>

                            <!--TENURE-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Tenure</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.tenure" dados="dashFiltros.tenure" style="width:100%"></select2>
                            </div>

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--BANNER-->
        <div class="box box-widget widget-user">
            <div class="widget-user-header" style="background: url('/Content/Images/Sky/bg.png') center center;">
            </div>

            <!--IMAGEM REDONDA-->
            <div class="widget-user-image">
                <img class="img-circle" src="~/Content/Images/Sky/logo.png" height="128" width="128">
            </div>

            <!--RESUMO DE PRODUÇÃO-->
            <div class="box-footer">

                <div class="row" style="background-color:rgba(255, 255, 255, 0.00); color:black; opacity: 0.8">
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.discado | megaNumber"></h5>
                            <span class="description-text">Discado</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.transferido | megaNumber"></h5>
                            <span class="description-text">Atendido</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.contato | megaNumber"></h5>
                            <span class="description-text">Contato</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.cpc | megaNumber"></h5>
                            <span class="description-text">CPC</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.cpca | number"></h5>
                            <span class="description-text">CPCA</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.promessa | number"></h5>
                            <span class="description-text">Promessa</span>
                        </div>
                    </div>
                </div>

                <div class="row" style="background-color:#ff0000; color:white;">
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1"></h5>
                            <span class="description-text">Hit Rate</span>
                        </div>
                    </div>
                    <div class="col-sm-1 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.contato / dashboard.resumo.transferido | percentage: 1"></h5>
                            <span class="description-text">Tx Tab</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1"></h5>
                            <span class="description-text">Tx Loc</span>
                        </div>
                    </div>
                    <div class="col-sm-1 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.cpca / dashboard.resumo.cpc | percentage: 1"></h5>
                            <span class="description-text">Tx Apv</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.promessa / dashboard.resumo.cpca | percentage: 1"></h5>
                            <span class="description-text">Conversão</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.promessa_cartao | number"></h5>
                            <span class="description-text">Promessa Cartão</span>
                        </div>
                    </div>
                    <div class="col-sm-2 border-right">
                        <div class="description-block">
                            <h5 class="description-header" ng-bind="dashboard.resumo.promessa_parc | number"></h5>
                            <span class="description-text">Promessa Parcelada</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--PRODUÇÃO POR CARTEIRA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Carteira</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.carteira">
                                <thead>
                                    <tr>
                                        <th>Carteira</th>
                                        <th>Discado</th>
                                        <th>Atendido</th>
                                        <th>Contato</th>
                                        <th>CPC</th>
                                        <th>CPCA</th>
                                        <th>Promessa</th>
                                        <th>Pro. Cartão</th>
                                        <th>Pro. Parcelada</th>
                                        <th>% Cartão</th>
                                        <th>% Parcelado</th>
                                        <th>Hit Rate</th>
                                        <th>Tx Tab</th>
                                        <th>Tx Loc</th>
                                        <th>Tx Apv</th>
                                        <th>Conversão</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="c in dashboard.carteira | groupBy: 'carteira'">

                                    <tr class="text-bold">
                                        <td>
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{c[0].carteira}}
                                        </td>
                                        <td>{{c | sumByColumn: 'discado'| number}}</td>
                                        <td>{{c | sumByColumn: 'transferido'| number}}</td>
                                        <td>{{c | sumByColumn: 'contato'| number}}</td>
                                        <td>{{c | sumByColumn: 'cpc'| number}}</td>
                                        <td>{{c | sumByColumn: 'cpca'| number}}</td>
                                        <td>{{c | sumByColumn: 'promessa'| number}}</td>
                                        <td>{{c | sumByColumn: 'promessa_cartao'| number}}</td>
                                        <td>{{c | sumByColumn: 'promessa_parc'| number}}</td>
                                        <td>{{c | divideSumColumns: 'promessa_cartao':'promessa' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'promessa_parc':'promessa' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'contato':'discado' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'contato':'transferido' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'cpc':'contato' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'cpca':'cpc' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'promessa':'cpca' | percentage:1}}</td>
                                    </tr>

                                    <tr ng-repeat="p in c" ng-show="showTbody">
                                        <td>{{p.segmentacao}}</td>
                                        <td>{{p.discado | number}}</td>
                                        <td>{{p.transferido | number}}</td>
                                        <td>{{p.contato | number}}</td>
                                        <td>{{p.cpc | number}}</td>
                                        <td>{{p.cpca | number}}</td>
                                        <td>{{p.promessa | number}}</td>
                                        <td>{{p.promessa_cartao | number}}</td>
                                        <td>{{p.promessa_parc | number}}</td>
                                        <td>{{p.promessa_cartao / p.promessa | percentage:1}}</td>
                                        <td>{{p.promessa_parc / p.promessa | percentage:1}}</td>
                                        <td>{{p.contato / p.discado | percentage:1}}</td>
                                        <td>{{p.contato / p.transferido | percentage:1}}</td>
                                        <td>{{p.cpc / p.contato | percentage:1}}</td>
                                        <td>{{p.cpca / p.cpc | percentage:1}}</td>
                                        <td>{{p.promessa / p.cpca | percentage:1}}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--ANÁLISE POR HORA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Hora</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.horahora">
                                    <thead>
                                        <tr>
                                            <th>Hora</th>
                                            <th>Discado</th>
                                            <th>Atendido</th>
                                            <th>Contato</th>
                                            <th>CPC</th>
                                            <th>CPCA</th>
                                            <th>Promessa</th>
                                            <th>Pro. Cartão</th>
                                            <th>Pro. Parcelada</th>
                                            <th>% Cartão</th>
                                            <th>% Parcelado</th>
                                            <th>Hit Rate</th>
                                            <th>Tx Tab</th>
                                            <th>Tx Loc</th>
                                            <th>Tx Apv</th>
                                            <th>Conversão</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="hora in dashboard.horahora">
                                            <td>{{hora.hora}}</td>
                                            <td>{{hora.discado | number}}</td>
                                            <td>{{hora.transferido | number}}</td>
                                            <td>{{hora.contato | number}}</td>
                                            <td>{{hora.cpc | number}}</td>
                                            <td>{{hora.cpca | number}}</td>
                                            <td>{{hora.promessa | number}}</td>
                                            <td>{{hora.promessa_cartao | number}}</td>
                                            <td>{{hora.promessa_parc | number}}</td>
                                            <td>{{hora.promessa_cartao / hora.promessa | percentage:1}}</td>
                                            <td>{{hora.promessa_parc / hora.promessa | percentage:1}}</td>
                                            <td>{{hora.contato / hora.discado | percentage:1}}</td>
                                            <td>{{hora.contato / hora.transferido | percentage:1}}</td>
                                            <td>{{hora.cpc / hora.contato | percentage:1}}</td>
                                            <td>{{hora.cpca / hora.cpc | percentage:1}}</td>
                                            <td>{{hora.promessa / hora.cpca | percentage:1}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Total</th>
                                            <th>{{dashboard.resumo.discado | number}}</th>
                                            <th>{{dashboard.resumo.transferido | number}}</th>
                                            <th>{{dashboard.resumo.contato | number}}</th>
                                            <th>{{dashboard.resumo.cpc | number}}</th>
                                            <th>{{dashboard.resumo.cpca | number}}</th>
                                            <th>{{dashboard.resumo.promessa | number}}</th>
                                            <th>{{dashboard.resumo.promessa_cartao | number}}</th>
                                            <th>{{dashboard.resumo.promessa_parc | number}}</th>
                                            <th>{{dashboard.resumo.promessa_cartao / dashboard.resumo.promessa | percentage: 1}}</th>
                                            <th>{{dashboard.resumo.promessa_parc / dashboard.resumo.promessa | percentage: 1}}</th>
                                            <th>{{dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1}}</th>
                                            <th>{{dashboard.resumo.contato / dashboard.resumo.transferido | percentage: 1}}</th>
                                            <th>{{dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1}}</th>
                                            <th>{{dashboard.resumo.cpca / dashboard.resumo.cpc | percentage: 1}}</th>
                                            <th>{{dashboard.resumo.promessa / dashboard.resumo.cpca | percentage: 1}}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--GRAFICO POR HORA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Gráfico por Hora</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <small class="pull-right">
                            <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                                <option value="hitrate">Hit Rate</option>
                                <option value="txtab">Tx Tabulação</option>
                                <option value="txloc">Tx Loc</option>
                                <option value="txapv">Tx Apv</option>
                                <option value="conversao">Conversão</option>
                                <option value="discado">Discado</option>
                                <option value="transferido">Atendido</option>
                                <option value="contato">Contato</option>
                                <option value="cpc">CPC</option>
                                <option value="cpca">CPCA</option>
                                <option value="promessa">Promessa</option>
                                <option value="promessa_cartao">Promessa Cartão</option>
                                <option value="promessa_parc">Promessa Parcelada</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.grafico" axis-Categories="dashboard.horas" plot-Options-Line-Data-Label="true"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--PRODUÇÃO POR EQUIPE-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Supervisor/Equipe</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.equipe">
                                <thead>
                                    <tr>
                                        <th>Equipe</th>
                                        <th>Contato</th>
                                        <th>CPC</th>
                                        <th>CPCA</th>
                                        <th>Promessa</th>
                                        <th>Promessa Cartão</th>
                                        <th>Promessa Parcelada</th>
                                        <th>% Cartão</th>
                                        <th>% Parcelado</th>
                                        <th>TxLoc</th>
                                        <th>TxApv</th>
                                        <th>Conversão</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="c in dashboard.equipe | groupBy: 'supervisor'">

                                    <tr class="text-bold">
                                        <td>
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{c[0].supervisor}}
                                        </td>
                                        <td>{{c | sumByColumn: 'contato'| number}}</td>
                                        <td>{{c | sumByColumn: 'cpc'| number}}</td>
                                        <td>{{c | sumByColumn: 'cpca'| number}}</td>
                                        <td>{{c | sumByColumn: 'promessa'| number}}</td>
                                        <td>{{c | sumByColumn: 'promessa_cartao'| number}}</td>
                                        <td>{{c | sumByColumn: 'promessa_parc'| number}}</td>
                                        <td>{{c | divideSumColumns: 'promessa_cartao':'promessa' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'promessa_parc':'promessa' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'cpc':'contato' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'cpca':'cpc' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'promessa':'cpca' | percentage:1}}</td>
                                    </tr>

                                    <tr ng-repeat="p in c" ng-show="showTbody">
                                        <td>{{p.equipe}}</td>
                                        <td>{{p.contato | number}}</td>
                                        <td>{{p.cpc | number}}</td>
                                        <td>{{p.cpca | number}}</td>
                                        <td>{{p.promessa | number}}</td>
                                        <td>{{p.promessa_cartao | number}}</td>
                                        <td>{{p.promessa_parc | number}}</td>
                                        <td>{{p.promessa_cartao / p.promessa | percentage:1}}</td>
                                        <td>{{p.promessa_parc / p.promessa | percentage:1}}</td>
                                        <td>{{p.cpc / p.contato | percentage:1}}</td>
                                        <td>{{p.cpca / p.cpc | percentage:1}}</td>
                                        <td>{{p.promessa / p.cpca | percentage:1}}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--PRODUÇÃO POR OPERADOR-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Operador</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <d-table class="table table-striped table-bordered" style="width:100%" dados="dashboard.operador" scroll-collapse="true" scroll-y="324px" order="[[4,'desc']]"></d-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<script>
    angular.module('app').controller('ctrl-sky-horahora', function ($scope, $http, $filter) {

        $scope.filtros = {
            dtini: $filter('date')(new Date(), "yyyy-MM-dd"),
            carteira: '',
            segmentacao: '',
            supervisor: '',
            tenure: '',
        };
        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = { indicador: 'promessa' };

        //carregar os filtros
        $http({
            method: 'GET',
            url: "/api/sky/dashboard/humano/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.carteira = data.Table;
            $scope.dashFiltros.segmentacao = data.Table1;
            $scope.dashFiltros.supervisor = data.Table2;
            $scope.dashFiltros.tenure = data.Table3;
        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/sky/dashboard/humano/horahora",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.horahora = data.Table1;
                $scope.dashboard.carteira = data.Table2;
                $scope.dashboard.operador = data.Table3;
                $scope.dashboard.equipe = data.Table4;

                $scope.carregarGrafico();
            });
        }

        // carrega o grafico de acordo com o indicador escolhido
        $scope.carregarGrafico = function () {
            let dados = $scope.dashboard.horahora;
            $scope.dashboard.horas = dados.map(obj => obj.hora);
            switch ($scope.grafico.indicador) {
                case 'hitrate':
                    $scope.dashboard.grafico = [{ name: 'hit rate', data: dados.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) * 1) }];
                    break;
                case 'txtab':
                    $scope.dashboard.grafico = [{ name: 'taxa tabulação', data: dados.map(obj => (obj.contato * 100 / obj.transferido).toFixed(1) * 1) }];
                    break;
                case 'txloc':
                    $scope.dashboard.grafico = [{ name: 'taxa localização', data: dados.map(obj => (obj.cpc * 100 / obj.contato).toFixed(1) * 1) }];
                    break;
                case 'txapv':
                    $scope.dashboard.grafico = [{ name: 'taxa aproveitamento', data: dados.map(obj => (obj.cpca * 100 / obj.cpc).toFixed(1) * 1) }];
                    break;
                case 'conversao':
                    $scope.dashboard.grafico = [{ name: 'conversão', data: dados.map(obj => (obj.promessa * 100 / obj.cpca).toFixed(1) * 1) }];
                    break;
                default:
                    $scope.dashboard.grafico = [{ name: $scope.grafico.indicador, data: dados.map(obj => obj[$scope.grafico.indicador]) }];
            }
        }

        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.carregarDashboard();

    });

</script>
