@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-sky-producao">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Produção Humano</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>


        <!-- FILTROS -->
        <div class="row margin-bottom">

            <div class="col-xs-12" ng-if="dashFiltros.status === 200">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--CARTEIRA-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Carteira</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteira" dados="dashFiltros.carteira" style="width:100%"></select2>
                            </div>

                            <!--SEGMENTACAO-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Segmentação</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.segmentacao" dados="dashFiltros.segmentacao" style="width:100%"></select2>
                            </div>

                            <!--SUPERVISOR-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Supervisor</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.supervisor" dados="dashFiltros.supervisor" style="width:100%"></select2>
                            </div>

                            <!--TENURE-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Tenure</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.tenure" dados="dashFiltros.tenure" style="width:100%"></select2>
                            </div>

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DAHSBOARD -->
        <div ng-if="dashboard.status == 200">

            <div class="row margin-bottom">
                <div class="col-xs-12 col-md-4 col-lg-2">
                    <div class="small-box bg-gray">
                        <div class="inner">
                            <h3 ng-bind="dashboard.resumo.discado | megaNumber"></h3>
                            <p>Discado</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4 col-lg-2">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3 ng-bind="dashboard.resumo.contato | megaNumber"></h3>
                            <h4 class="pull-right" ng-bind="dashboard.resumo.contato / dashboard.resumo.discado | percentage: 1"></h4>
                            <p>Contato</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-headphones"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4 col-lg-2">
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3 ng-bind="dashboard.resumo.cpc | number"></h3>
                            <h4 class="pull-right" ng-bind="dashboard.resumo.cpc / dashboard.resumo.contato | percentage: 1"></h4>
                            <p>CPC</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-male"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4 col-lg-2">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3 ng-bind="dashboard.resumo.cpca | number"></h3>
                            <h4 class="pull-right" ng-bind="dashboard.resumo.cpca / dashboard.resumo.cpc | percentage: 1"></h4>
                            <p>CPCA</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-street-view"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4 col-lg-2">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3 ng-bind="dashboard.resumo.promessa | number"></h3>
                            <h4 class="pull-right" ng-bind="dashboard.resumo.promessa / dashboard.resumo.cpca | percentage: 1"></h4>
                            <p>Promessa</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-thumbs-o-up"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4 col-lg-2">
                    <div class="small-box" style="color:white; background-color:#004592;">
                        <div class="inner">
                            <h3 ng-bind="dashboard.resumo.Ticket_Medio"></h3>
                            <p>Ticket Médio Pro</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-usd"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin-bottom">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Análise por Dia</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table1')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.dia">
                                    <thead>
                                        <tr>
                                            <th>Dia</th>
                                            <th>Discado</th>
                                            <th>Contato</th>
                                            <th>CPC</th>
                                            <th>CPCA</th>
                                            <th>Promessa</th>
                                            <th>Ticket Médio Promessa</th>
                                            <th>HitRate</th>
                                            <th>TxLoc</th>
                                            <th>TxApv</th>
                                            <th>Conversão</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dia in dashboard.dia">
                                            <td>{{dia.data | date : 'dd/MM/yyyy'}}</td>
                                            <td>{{dia.discado | number}}</td>
                                            <td>{{dia.contato | number}}</td>
                                            <td>{{dia.cpc | number}}</td>
                                            <td>{{dia.cpca | number}}</td>
                                            <td>{{dia.promessa | number}}</td>
                                            <td>{{dia.Ticket_Medio | number}}</td>
                                            <td>{{dia.contato / dia.discado | percentage:1}}</td>
                                            <td>{{dia.cpc / dia.contato | percentage:1}}</td>
                                            <td>{{dia.cpca / dia.cpc | percentage:1}}</td>
                                            <td>{{dia.promessa / dia.cpca | percentage:1}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin-bottom"">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Gráfico por Dia</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <small class="pull-right">
                                <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                                    <option value="hitrate">Hit Rate</option>
                                    <option value="txloc">Tx Loc</option>
                                    <option value="txapv">Tx Apv</option>
                                    <option value="conversao">Conversão</option>
                                    <option value="discado">Discado</option>
                                    <option value="contato">Contato</option>
                                    <option value="cpc">CPC</option>
                                    <option value="cpca">CPCA</option>
                                    <option value="promessa">Promessa</option>
                                    <option value="Ticket_Medio">Ticket Médio Promessa</option>
                                </select>
                            </small>
                        </div>
                        <div class="card-body">
                            <high-chart series="dashboard.grafico" axis-Categories="dashboard.datas" plot-Options-Line-Data-Label="true"></high-chart>
                        </div>
                    </div>
                </div>
            </div>

            <!--PRODUÇÃO POR EQUIPE-->
            <div class="row margin-bottom">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Análise por Supervisor/Equipe</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table3')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.equipe">
                                    <thead>
                                        <tr>
                                            <th>Equipe</th>
                                            <th>Contato</th>
                                            <th>CPC</th>
                                            <th>CPCA</th>
                                            <th>Promessa</th>
                                            <th>Promessa Cartão</th>
                                            <th>Promessa Migração</th>
                                            <th>% Cartão</th>
                                            <th>% Migração</th>
                                            <th>TxLoc</th>
                                            <th>TxApv</th>
                                            <th>Conversão</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="c in dashboard.equipe | groupBy: 'supervisor'">

                                        <tr class="text-bold">
                                            <td>
                                                <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                                {{c[0].supervisor}}
                                            </td>
                                            <td>{{c | sumByColumn: 'contato'| number}}</td>
                                            <td>{{c | sumByColumn: 'cpc'| number}}</td>
                                            <td>{{c | sumByColumn: 'cpca'| number}}</td>
                                            <td>{{c | sumByColumn: 'promessa'| number}}</td>
                                            <td>{{c | sumByColumn: 'promessa_cartao'| number}}</td>
                                            <td>{{c | sumByColumn: 'promessa_migracao'| number}}</td>
                                            <td>{{c | divideSumColumns: 'promessa_cartao':'promessa' | percentage:1}}</td>
                                            <td>{{c | divideSumColumns: 'promessa_migracao':'promessa' | percentage:1}}</td>
                                            <td>{{c | divideSumColumns: 'cpc':'contato' | percentage:1}}</td>
                                            <td>{{c | divideSumColumns: 'cpca':'cpc' | percentage:1}}</td>
                                            <td>{{c | divideSumColumns: 'promessa':'cpca' | percentage:1}}</td>
                                        </tr>

                                        <tr ng-repeat="p in c" ng-show="showTbody">
                                            <td>{{p.equipe}}</td>
                                            <td>{{p.contato | number}}</td>
                                            <td>{{p.cpc | number}}</td>
                                            <td>{{p.cpca | number}}</td>
                                            <td>{{p.promessa | number}}</td>
                                            <td>{{p.promessa_cartao | number}}</td>
                                            <td>{{p.promessa_migracao | number}}</td>
                                            <td>{{p.promessa_cartao / p.promessa | percentage:1}}</td>
                                            <td>{{p.promessa_migracao / p.promessa | percentage:1}}</td>
                                            <td>{{p.cpc / p.contato | percentage:1}}</td>
                                            <td>{{p.cpca / p.cpc | percentage:1}}</td>
                                            <td>{{p.promessa / p.cpca | percentage:1}}</td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- ANÁLISE POR OCORRENCIA -->
            <div class="row margin-bottom"">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Andamentos</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('Table2')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <d-table class="table table-striped table-bordered" style="width:100%" dados="dashboard.tabulacao" paging="false" order="[[1,'desc']]"></d-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

            angular.module('app').controller('ctrl-sky-producao', function ($scope, $http, $filter) {
            // filtros iniciais
            let newdate = new Date();
            let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

            $scope.filtros = {
                dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
                dtfim: $filter('date')(newdate, "yyyy-MM-dd"),           
                carteira: '',
                segmentacao: '',
                supervisor: '',
                tenure: ''
            };
            $scope.dashFiltros = {};
            $scope.dashboard = {};
            $scope.grafico = { indicador: 'promessa' };

            // carregar os filtros
            $http({
                method: 'GET',
                url: "/api/sky/dashboard/humano/filtros",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashFiltros.status = r.status;

                $scope.dashFiltros.carteira = r.data.Table;
                $scope.dashFiltros.segmentacao = r.data.Table1;
                $scope.dashFiltros.supervisor = data.Table2;
                $scope.dashFiltros.tenure = data.Table3;
            });

            // obtem filtros do escopo e carrega os dados do dashboard
            $scope.carregarDashboard = function () {
                $http({
                    method: 'POST',
                    url: "/api/sky/dashboard/humano/producao",
                    data: $scope.filtros,
                }).then(function success(r) {
                    let data = r.data;
                    $scope.dashboard.status = r.status;
                    $scope.dashboard.resumo = data.Table[0];
                    $scope.dashboard.dia = data.Table1;
                    $scope.dashboard.tabulacao = data.Table2;
                    $scope.dashboard.equipe = data.Table3;

                    $scope.carregarGrafico();

                });
            }

            // carrega o mapa de acordo com o indicador escolhido
            $scope.carregarGrafico = function () {
                let dados = $scope.dashboard.dia;
                $scope.dashboard.datas = dados.map(obj => obj.data);
                switch ($scope.grafico.indicador) {
                    case 'hitrate':
                        $scope.dashboard.grafico = [{ name: 'hitrate', data: dados.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) * 1) }];
                        break;
                    case 'txloc':
                        $scope.dashboard.grafico = [{ name: 'txloc', data: dados.map(obj => (obj.cpc * 100 / obj.contato).toFixed(1) * 1) }];
                        break;
                    case 'txapv':
                        $scope.dashboard.grafico = [{ name: 'txapv', data: dados.map(obj => (obj.cpca * 100 / obj.cpc).toFixed(1) * 1) }];
                        break;
                    case 'conversao':
                        $scope.dashboard.grafico = [{ name: 'conversao', data: dados.map(obj => (obj.promessa * 100 / obj.cpca).toFixed(1) * 1) }];
                        break;
                    default:
                        $scope.dashboard.grafico = [{ name: $scope.grafico.indicador, data: dados.map(obj => obj[$scope.grafico.indicador]) }];
                }
            }

            $scope.carregarDashboard();

        });

</script>