<!DOCTYPE html>
<html>
<head>
    <title>Analytics Credit Cash</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <!--STYLES-->    
    <link href="/Content/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/Styles/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/Styles/ionicons.min.css" rel="stylesheet" />
    <link href="/Content/Styles/loading.css" rel="stylesheet" />
    <link href="/Content/Styles/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="/Content/Styles/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="/Content/Styles/select2.min.css" rel="stylesheet" />
    <link href="/Content/Styles/datatables.min.css" rel="stylesheet" />
    <link href="/Content/Styles/app.css?3" rel="stylesheet" />

    <!--SCRIPTS-->
    <script src="/Content/Scripts/jquery.min.js"></script>
    <script src="/Content/Scripts/bootstrap.min.js"></script>
    <script src="/Content/Scripts/jquery.slimscroll.min.js"></script>
    <script src="/Content/Scripts/angular.min.js"></script>
    <script src="/Content/Scripts/angular-filter.min.js"></script>
    <script src="/Content/Scripts/sweetalert.min.js"></script>
    <script src="/Content/Scripts/highcharts.js"></script>
    <script src="/Content/Scripts/sankey.js"></script>
    <script src="/Content/Scripts/funnel.js"></script>
    <script src="/Content/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="/Content/Scripts/bootstrap-timepicker.min.js"></script>
    <script src="/Content/Scripts/select2.full.min.js"></script>
    <script src="/Content/Scripts/jquery.dataTables.min.js"></script>
    <script src="/Content/Libs/amcharts/amcharts.js"></script>
    <script src="/Content/Libs/ammap/ammap.js"></script>
    <script src="/Content/Libs/amcharts/themes/light.js"></script>
    <script src="/Content/Scripts/alasql.min.js"></script>
    <script src="/Content/Scripts/xlsx.core.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <!--APP-->
    <script src="/App/app-module.js"></script>
    <!--SERVICES-->
    <script src="/App/Services/dadosPagina.js"></script>
    <script src="/App/Services/httpInterceptor.js"></script>
    <script src="/App/Services/cubo.js"></script>
    <!--FILTERS-->
    <script src="/App/Filters/megaNumber.js"></script>
    <script src="/App/Filters/divideSumColumns.js"></script>
    <script src="/App/Filters/sumByColumn.js"></script>
    <script src="/App/Filters/percentage.js"></script>
    <script src="/App/Filters/corrigePercent.js"></script>
    <script src="~/App/Filters/formatTimer.js"></script>
    <script src="~/App/Filters/avgColumn.js"></script>
    <!--CONFIG-->
    <script src="/App/Config/app-http.js"></script>
    <!--DIRECTIVES-->
    <script src="/App/Directives/highChart.js?3"></script>
    <script src="/App/Directives/sankeyChart.js"></script>
    <script src="/App/Directives/datePicker.js?3"></script>
    <script src="/App/Directives/timePicker.js"></script>
    <script src="/App/Directives/select2.js?4"></script>
    <script src="/App/Directives/dTable.js?3"></script>
    <script src="/App/Directives/mapaBrasil.js"></script>
    <script src="/App/Directives/uploadFile.js"></script>

</head>
<body class="menu-opened" ng-app="app" ng-controller="ctrl-master">



    <!--BACKGROUND-->
    <div class="main-background" ng-style="{'background': credor.background}"></div>

    <!--MAIN HEADER-->
    <div class="main-header" ng-style="{'background-color': credor.cor_primaria}">
        <div class="main-menu-button cursor-pointer" ng-style="{'background-color': credor.cor_secundaria, 'color': credor.cor_fonte_secundaria}" onclick="toggleMenu()">
            <i class="fa fa-angle-up main-menu-button-close"></i>
            <i class="fa fa-angle-down main-menu-button-open"></i>
        </div>
        <div class="main-logo" ng-style="{'background-image': 'url('+ credor.logo + ')'}"></div>
        <div class="main-title" ng-style="{'color': credor.cor_fonte_primaria}" ng-bind="credor.nome"></div>
        <div class="main-credorwindow-button cursor-pointer" ng-style="{'background-color': credor.cor_secundaria, 'color': credor.cor_fonte_secundaria}" ng-click="toggleCredorWindow()">
            <i class="fa fa-th"></i>
        </div>
        <div class="main-nav cursor-pointer">
            <a href="/Login.html" onclick="return confirm('Deseja Sair?')"><i  ng-style="{'color': credor.cor_fonte_primaria}" class="fa fa-power-off"></i></a>
        </div>
        <div class="main-nav cursor-pointer">
            <a href="/Views/Home/home.cshtml"><i ng-style="{'color': credor.cor_fonte_primaria}" class="fa fa-home"></i></a>
        </div>
    </div>

    <!--CONTAINER-->
    <div class="main-container">

        <!--MAIN MENU-->
        <div class="main-menu" ng-style="{'background-color': credor.cor_secundaria, 'color': credor.cor_fonte_secundaria}">
            <ul class="nav metismenu">
                <li ng-if="menu.subpath" ng-repeat="item in menu.subpath" ng-include="'/Views/menuitem.html'" ng-class="{'nav-dropdown active': item.subpath}"></li>
            </ul>
        </div>

        <!--CREDOR WINDOW-->
        <div class="main-credorwindow">
            <div class="main-credorlist">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="c in credores" ng-click="acessarCredor(c)">
                        <div class="main-credor-item">
                            <img ng-src="{{c.logo}}" />
                            <div>{{c.nome}}</div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>

        <!--WRAPPER-->
        <div class="main-wrapper">
            @RenderBody()
        </div>

    </div>

    <!--LOADING-->
    <div ng-class="dadosPagina.loading ? 'loading' : ''"><div></div></div> 

</body>
</html>

<!--CONTROLLER MAIN-->
<script>
    angular.module('app').controller('ctrl-master', function ($scope, $http, $window, dadosPagina) {
        $scope.dadosPagina = dadosPagina;

        $http({
            method: 'POST',
            url: "/api/analytics/carregarMenu",
        }).then(function success(r) {
            $scope.credores = r.data.Table;
            $scope.paginas = r.data.Table1;

            // setar credor atual
            let pagina = $scope.paginas.filter(p => p.url == decodeURI(window.location.pathname))[0];
            if (pagina != undefined) {
                let credor = $scope.credores.filter(c => c.id_credor == pagina.id_credor)[0];
                $scope.alterarMenu(credor);
            }
        });

        $scope.alterarMenu = function (c) {
            $scope.credor = c;
            let menu = $scope.paginas.filter(p => p.id_credor == c.id_credor);
            $scope.menu = formatarMenu(menu);
            
        };

        $scope.acessarCredor = function (c) {
            if (c.paginas > 0) {
                $scope.alterarMenu(c);               
            }
            else {
                swal("Você não possui acesso a essa empresa");
            }
        }

        $scope.toggleCredorWindow = function() {
            if (document.body.classList.contains('credorwindow-opened')) {
                document.body.classList.remove("credorwindow-opened");
                // setar credor atual
                let pagina = $scope.paginas.filter(p => p.url == decodeURI(window.location.pathname))[0];
                if (pagina != undefined) {
                    let credor = $scope.credores.filter(c => c.id_credor == pagina.id_credor)[0];
                    $scope.alterarMenu(credor);
                }
            }
            else {
                document.body.classList.add("credorwindow-opened");
            }
        }

        // formata o menu hierarquicamente para usar no ng-repeat
        function formatarMenu(paginas) {
            // inicializa o menu formatado
            let menu = { path: 'menu', subpath: [] };

            // varre todas as paginas da lista
            paginas.forEach(function (pagina) {
                // quebra cada item da hierarquia
                let hierarquia = pagina.path.split('/');

                // varre toda a hierarquia da pagina (inicializa o diretoria atual com o menu root)
                for (let i = 1, atual = menu; i < hierarquia.length; i++) {

                    // popula verificando se é uma pagina, root ou uma pasta
                    let item;

                    // pagina
                    if (i == hierarquia.length - 1)
                        item = pagina;
                        // root
                    else if (i == 0)
                        item = { path: hierarquia[i], subpath: [], root: 1 };
                        // pasta
                    else
                        item = { path: hierarquia[i], subpath: [] };

                    // procura este item dentro da hierarquia
                    let find = atual.subpath.find(f => f.path === item.path);

                    // se não encontrar adiciona
                    if (find === undefined)
                        atual.subpath.push(item);

                    // seta o diretorio atual de pesquisa para o item adicionado (ou ja existente)
                    atual = atual.subpath.find(f => f.path === item.path);
                }
            });
            // retorna
            return menu;
        }

    });

    function toggleMenu() {
        document.body.classList.toggle("menu-opened");
        window.dispatchEvent(new Event('resize'));
    }

    $('.metismenu').on('click', '.nav-dropdown a', function () {
        $(this).parent()[0].classList.toggle('active');
    });

    function removeDisplayNone(element_id) {
        document.getElementById(element_id).classList.remove('display-none');
    }

    function addDisplayNone(element_id) {
        document.getElementById(element_id).classList.add('display-none');
    }

    function toggleDisplayNone(element_id) {
        document.getElementById(element_id).classList.toggle('display-none');
    }

    $(document).on('click', '.card-header-close', function () {
        $(this).parent().parent().addClass('display-none');   
    });

    $(document).on('click', '.card-header-expand', function () {
        let card = $(this).parent().parent();
        card.toggleClass('expanded');
        window.dispatchEvent(new Event('resize'));
    });

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114966040-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-114966040-1');
</script>
