@{
    Layout = "~/Views/master.cshtml";
}



<div ng-controller="ctrl-carrefour-efetividade">

    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status == 200">

        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.qtd_acordo | number"></h3>
                        <p>Qtd Acordo</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-credit-card"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.vl_acordo | currency:'R$'"></h3>
                        <p>Vlr Acordo</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.risco | currency:'R$'"></h3>
                        <p>Vlr Risco</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.pagamento | number"></h3>
                        <p>Qtd Pagamento</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-chevron-circle-down"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.valor | currency:'R$'"></h3>
                        <p>Vlr Pagamento</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-chevron-circle-down"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--ANALISE POR SEGMENTACAO-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary" style="border-top-color: #66cc33">
                    <div class="box-header with-border">
                        <h3 class="box-title">Análise por Segmentação</h3>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.grupo">
                                <thead>
                                    <tr>
                                        <th>Credor</th>
                                        <th>Quantidade Acordo</th>
                                        <th>Valor Acordo</th>
                                        <th>Quantidade Pagamento</th>
                                        <th>Valor Pagamento</th>
                                        <th>Risco</th>
                                        <th>Efetividade Qtd</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="g in dashboard.grupo | groupBy: 'credor'">

                                    <tr class="text-bold">
                                        <td>
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{g[0].credor}}
                                        </td>
                                        <td>{{g | sumByColumn: 'quantidade_acordo'| number}}</td>
                                        <td>{{g | sumByColumn: 'valor_acordo'| number}}</td>
                                        <td>{{g | sumByColumn: 'quantidade_pgto'| number}}</td>
                                        <td>{{g | sumByColumn: 'valor_pgto'| number}}</td>
                                        <td>{{g | sumByColumn: 'risco'| number}}</td>
                                        <td>{{g | divideSumColumns: 'quantidade_pgto':'quantidade_acordo' | percentage:1}}</td>
                                    </tr>

                                    <tr ng-repeat="c in g" ng-show="showTbody">
                                        <td>{{c.data}}</td>
                                        <td>{{c.quantidade_acordo | number}}</td>
                                        <td>{{c.valor_acordo | number }}</td>
                                        <td>{{c.quantidade_pgto | number}}</td>
                                        <td>{{c.valor_pgto | number}}</td>
                                        <td>{{c.risco | number}}</td>
                                        <td>{{c.quantidade_pgto / c.quantidade_acordo | percentage:1}}</td>

                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary" style="border-top-color: #66cc33">
            <div class="box-header with-border">
                <h3 class="box-title">Análise Gráfica</h3>
            </div>
            <div class="box-body">

                <div class="row margin-bottom">
                    <div class="col-xs-12">
                        <high-chart series="dashboard.qtDia" axis-Categories="dashboard.diasPag" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>
                <div class="row margin-bottom">
                    <div class="col-xs-12">
                        <high-chart series="dashboard.qtDiaAcordo" axis-Categories="dashboard.diasAcordo" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>

                <div class="row margin-bottom">
                    <div class="col-xs-12">
                        <high-chart series="dashboard.efetividadeDia" axis-Categories="dashboard.diasEfetividade" plot-Options-Line-Data-Label="true"></high-chart>
                    </div>
                </div>
            </div>
        </div>
            <div class="box box-primary" style="border-top-color: #66cc33">
                <div class="box-header with-border">
                    <h3 class="box-title">Análise por Operador</h3>
                </div>
                <div class="box-body">
                    <!--PRODUÇÃO POR OPERADOR-->
                    <div class="row margin-bottom">
                        <div class="col-xs-12">
                            
                            <d-table class="table table-striped table-bordered" style="width:100%" dados="dashboard.operador" scroll-collapse="true" scroll-y="324px" order="[[3,'desc']]"></d-table>
                        </div>
                    </div>

                </div>
            </div>

                <!-- SIDE BAR CONTROL -->
                <aside class="control-sidebar control-sidebar-dark">
                    <!-- Create the tabs -->
                    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                        <li class="active"><a data-target="#control-sidebar-filters-tab" data-toggle="tab"><i class="fa fa-filter"></i></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab" ng-if="dashFiltros.status === 200">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--CREDORES-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Credores</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.credores" dados="dashFiltros.credores"></select2>
                            </div>

                            <!--VISÃO-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Visão</label>
                                <select class="form-control" ng-model="filtros.visao">
                                    <option value="vencimento">Vencimento</option>
                                    <option value="andamento" selected="selected">Andamento</option>
                                </select>
                            </div>


                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Dados</button>
                            </div>

                        </div>
                        <!-- /.tab-pane -->
                    </div>
                </aside>
                <!-- /.control-sidebar -->
                <!-- Add the sidebar's background. This div must be placed
            immediately after the control sidebar -->
                <div class="control-sidebar-bg"></div>

            </div>


            <script>

                angular.module('app').controller('ctrl-carrefour-efetividade', function ($scope, $http, $filter, dadosPagina) {
                    dadosPagina.titulo = 'Efetividade';
                    dadosPagina.descricao = 'Carrefour'

                    // filtros iniciais
                    let newdate = new Date();
                    let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

                    $scope.filtros = {
                        dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
                        dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
                        visao: 'andamento',
                        credores: '',

                    };
                    $scope.dashFiltros = {};
                    $scope.dashboard = {};

                    // carregar os filtros
                    $http({
                        method: 'GET',
                        url: "/api/carrefour/dashboard/filtros",
                        data: $scope.filtros,
                    }).then(function success(r) {
                        let data = r.data;
                        $scope.dashFiltros.status = r.status;
                        $scope.dashFiltros.credores = data.Table;
                    });


                    // obtem filtros do escopo e carrega os dados do dashboard
                    $scope.carregarDashboard = function () {
                        $http({
                            method: 'POST',
                            url: "/api/carrefour/dashboard/efetividade",
                            data: $scope.filtros,
                        }).then(function success(r) {
                            let data = r.data;

                            $scope.dashboard.diasPag = r.data.Table1.map(obj => obj.data);
                            $scope.dashboard.diasAcordo = r.data.Table4.map(obj => obj.data);
                            $scope.dashboard.diasEfetividade = r.data.Table4.map(obj => obj.data);
                            $scope.dashboard.grupo = data.Table5;

                            $scope.dashboard.status = r.status;
                            $scope.dashboard.resumo = data.Table[0];
                            $scope.dashboard.qtDia = [{ name: 'Quantidade Pagamentos', data: r.data.Table1.map(obj => (obj.qtd_pagto)) }];
                            $scope.dashboard.efetividadeDia = [{ name: 'Efetividade', data: data.Table2.map(obj => (obj.qtd_pagto * 100 / obj.qtd_acordo).toFixed(1) / 1) }];
                            $scope.dashboard.operador = r.data.Table3;
                            $scope.dashboard.qtDiaAcordo = [{ name: 'Quantidade Acordos', data: r.data.Table4.map(obj => (obj.qtd_acordo)) }];
                        });
                    }

                    $scope.carregarDashboard();

                });

            </script>
