@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-riachuelo-enriquecimento">
    <div ng-if="dashboard.status === 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Performance de Enriquecimento</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab" ng-if="dashboardFiltros.status === 200">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--CAMPANHAS-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Carteiras</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashboardFiltros.data.Table" style="width:100%"></select2>
                            </div>

                            <!--REGIAO-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Região</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.regiao" dados="dashboardFiltros.data.Table6" style="width:100%"></select2>
                            </div>

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDados()">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--GRAFICO CARTEIRA-->
        <div class="row">
            <div class="col-xs-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Carteiras</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Grafico','Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                            <small class="pull-right">
                                <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                                    <option value="hitrate">Hit Rate</option>
                                    <option value="txloc">Tx Loc</option>
                                    <option value="txapv">Tx Apv</option>
                                    <option value="conversao">Conversão</option>
                                    <option value="discado">Discado</option>
                                    <option value="contato">Contato</option>
                                    <option value="cpc">CPC</option>
                                    <option value="cpca">CPCA</option>
                                    <option value="promessa">Promessa</option>
                                </select>
                            </small>
                        <high-chart series="dashboard.grafico" axis-Categories="dashboard.carteiras" plot-Options-Line-Data-Label="true"></high-chart>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<script>
    angular.module('app').controller('ctrl-riachuelo-enriquecimento', function ($scope, $http, $filter, dadosPagina) {
        dadosPagina.titulo = 'Performance Enriquecimento';
        dadosPagina.descricao = 'Riachuelo'

        $scope.dashboard = {};
        $scope.grafico = {
            indicador: 'txloc'
        }

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            carteiras: '',
            funcionario: '',
            regiao: '',
        };

        // carrega os filtros e colocar no scope
        $scope.carregarFiltros = function () {
            $http({
                method: 'GET',
                url: "/api/riachuelo/dashboard/filtros",
            }).then(function success(r) {
                $scope.dashboardFiltros = r;
            });
        }

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDados = function () {
            $http({
                method: 'POST',
                url: "/api/riachuelo/dashboard/enriquecimento",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.r = r;
                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.dia = data.Table1;
                $scope.dashboard.carteira = data.Table2;
                $scope.dashboard.estado = data.Table3;

                $scope.carregarGrafico();

            });
        }

        // carrega o mapa de acordo com o indicador escolhido
        $scope.carregarGrafico = function () {
            let dados = $scope.dashboard.carteira;
            $scope.dashboard.carteiras = dados.map(obj => obj.carteira);
            switch ($scope.grafico.indicador) {
                case 'hitrate':
                    $scope.dashboard.grafico = [{ name: 'hitrate', data: dados.map(obj => (obj.contato * 100 / obj.discado).toFixed(1) * 1) }];
                    break;
                case 'txloc':
                    $scope.dashboard.grafico = [{ name: 'txloc', data: dados.map(obj => (obj.cpc * 100 / obj.contato).toFixed(1) * 1) }];
                    break;
                case 'txapv':
                    $scope.dashboard.grafico = [{ name: 'txapv', data: dados.map(obj => (obj.cpca * 100 / obj.cpc).toFixed(1) * 1) }];
                    break;
                case 'conversao':
                    $scope.dashboard.grafico = [{ name: 'conversao', data: dados.map(obj => (obj.promessa * 100 / obj.cpca).toFixed(1) * 1) }];
                    break;
                default:
                    $scope.dashboard.grafico = [{ name: $scope.grafico.indicador, data: dados.map(obj => obj[$scope.grafico.indicador]) }];
            }
        }


        $scope.carregarFiltros();
        $scope.carregarDados();

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.r.data[tabela]]);
        }

    });


</script>
