@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-riachuelo-gerencial">

    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Gerencial</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--CAMPANHAS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Campanhas</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashFiltros.carteiras" style="width:100%"></select2>
                        </div>

                        <!--FUNCIONARIO-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Funcionário</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.funcionario" dados="dashFiltros.funcionario" style="width:100%"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- BANNER -->
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-black" style="background: url('/Content/Images/Riachuelo/banner-richuelo.jpg') center center;">
            </div>
        </div>

        <!-- QTD RECEBIMENTO -->
        <div class="row margin-bottom">

            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.qtd_inclusao | number "></h3>
                        <p>Quantidade Carteira</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-plus-square"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.qtd_pago | number "></h3>
                        <p>Quantidade Recebimento</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.qtd_pago  / dashboard.resumo.qtd_inclusao | percentage: 1 "></h3>
                        <p> % Recebido </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-percent"></i>
                    </div>
                </div>
            </div>

        </div>

        <!-- VALOR RECEBIMENTO -->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.vlr_inclusao | currency:'R$ ' "></h3>
                        <p>Valor Carteira</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-dollar"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.vlr_pago | currency:'R$ '"></h3>
                        <p>Valor Recebimento</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.vlr_pago / dashboard.resumo.vlr_inclusao | percentage: 1 "></h3>
                        <p> % Recebido </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-percent"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- GRÁFICO -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Recebimento de Carteira</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Analitico','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 style="text-align:center">{{dashFiltros.year2 > dashFiltros.year1 ? dashFiltros.year2 : dashFiltros.year1 + ' / ' + dashFiltros.year2}}</h3>
                        <high-chart series="dashboard.qtEfetividade" axis-Categories="dashboard.semanaReceb" type="column"
                                    plot-Options-Spline-Data-Label="true" y-Axis1-Min="0"
                                    y-Axis1-Max="100"></high-chart>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script>

    angular.module('app').controller('ctrl-riachuelo-gerencial', function ($scope, $http, $filter, $interval, dadosPagina) {
        dadosPagina.titulo = 'Gerencial';
        dadosPagina.descricao = 'Riachuelo'

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);
        let firstDayYear = '2018-01-01'

        $scope.filtros = {
            dtini: $filter('date')(firstDayYear, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            carteiras: '',
            funcionario: ''
        };
        $scope.dashFiltros = {};
        $scope.dashboard = {};

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/riachuelo/dashboard/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.carteiras = data.Table;
            $scope.dashFiltros.funcionario = data.Table1;
        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/riachuelo/dashboard/gerencial",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;
                $scope.dashFiltros.year1 = new Date(($scope.filtros.dtini)).getFullYear();
                $scope.dashFiltros.year2 = new Date(($scope.filtros.dtfim)).getFullYear();

                console.log($scope.dashFiltros.year);
                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.semanaReceb = r.data.Table1.map(obj => obj.semana);

                $scope.dashboard.qtEfetividade = [
                   { name: 'Carteira', type: 'column', data: data.Table1.map(obj => obj.qtd_inclusao) },
                   { name: 'Recebimento', type: 'column', data: data.Table1.map(obj => obj.qtd_pago) },
                   { name: 'Recebido', type: 'spline', yAxis: 1, data: data.Table1.map(obj => obj.qtEfetividade) },
                ];

                /*
                $scope.dashboard.qtPromessa = [
                    { name: 'Promessas', type: 'column', data: r.data.Table1.map(obj => (obj.qtd_promessa)) },
                    { name: 'Dias', type: 'column', data: r.data.Table1.map(obj => (obj.dias)) }
                ];


                $scope.dashboard.qtInclusao = [{ name: 'Entradas', data: r.data.Table2.map(obj => (obj.qtd_inclusao)) }];

                $scope.dashboard.vlEfetividade = [
                   { name: 'Vlr Entrada', type: 'column', data: data.Table3.map(obj => obj.vlr_inclusao) },
                   { name: 'Vlr Pago', type: 'column', data: data.Table3.map(obj => obj.vlr_pago) },
                   { name: 'Efetividade', type: 'spline', yAxis: 1, data: data.Table3.map(obj => obj.vlrEfetividade) },
                ];*/



            });
        }

        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });

</script>