@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-riachuelo-pagamento">

    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Pagamento</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none" ng-if="dashFiltros.status == 200">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--CAMPANHAS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Campanhas</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashFiltros.carteiras" style="width:100%"></select2>
                        </div>

                        <!--ATRASO-->
                        <div class="form-group" ng-if="dashFiltros.atrasos">
                            <label class="control-sidebar-subheading">Atraso</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.atrasos" dados="dashFiltros.atrasos" style="width:100%"></select2>
                        </div>

                        <!--EMPRESA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Empresa</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.empresa" dados="dashFiltros.empresa" style="width:100%"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-4 margin-bottom">
                <img class="image-responsive center-block" src="/Content/Images/Riachuelo/pgto-riachuelo.png" style="height: 100px; width: 100%; object-fit: cover;" />
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.quantidade | number"></h3>
                        <p>Qtd Pagamento</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-credit-card"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.valor | currency:'R$'"></h3>
                        <p>Vlr Pagamento</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-8">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Dia Quantidade</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('DiaQuantidade','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.qtDia" axis-Categories="dashboard.dias" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Carteira Quantidade </span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraQuantidade','Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.qtCarteira" type="pie" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-8">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Dia Valor</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('DiaValor','Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.vlDia" axis-Categories="dashboard.dias" plot-Options-Line-Data-Label="true"></high-chart>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Carteira Valor</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraValor','Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.vlCarteira" type="pie" inner-size="60%" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="control-sidebar-bg"></div>


</div>

<script>

    angular.module('app').controller('ctrl-riachuelo-pagamento', function ($scope, $http, $filter, $interval, dadosPagina) {
        dadosPagina.titulo = 'Pagamento';
        dadosPagina.descricao = 'Riachuelo'

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            carteiras: '',
            atrasos: '',
            empresa: '',
        };
        $scope.dashFiltros = {};
        $scope.dashboard = {};

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/riachuelo/dashboard/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.carteiras = data.Table;
            $scope.dashFiltros.atrasos = r.data.Table9;
            $scope.dashFiltros.empresa = data.Table12;

        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/riachuelo/dashboard/pagamento",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.dados = data;
                $scope.dashboard.status = r.status;

                $scope.dashboard.dias = r.data.Table1.map(obj => obj.data);

                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.qtDia = [{ name: 'Quantidade', data: r.data.Table1.map(obj => (obj.quantidade)) }];
                $scope.dashboard.vlDia = [{ name: 'Valor', data: r.data.Table2.map(obj => (obj.valor)) }];
                $scope.dashboard.qtCarteira = [{ name: 'Quantidade', data: r.data.Table3.map(obj => ({ name: obj.carteira, y: obj.quantidade })) }];
                $scope.dashboard.vlCarteira = [{ name: 'Valor', innerSize: '60%', data: r.data.Table4.map(obj => ({ name: obj.carteira, y: obj.valor })) }];

            });
        }

        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });

</script>