@{
    Layout = "~/Views/master.cshtml";
}



<div ng-controller="ctrl-riachuelo-pesquisa">

    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Pesquisa Inadimplência Digital</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" ng-click="extrair('Analitico','Table6')">
                <i class="fa fa-file-excel-o"></i>
                Analítico
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--CAMPANHAS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Campanhas</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashFiltros.carteiras" style="width:100%"></select2>
                        </div>

                        <!--OCORRENCIA-->
                        @*<div class="form-group">
                            <label class="control-sidebar-subheading">Ocorrencias</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.ocorrencia" dados="dashFiltros.ocorrencia" style="width:100%"></select2>
                        </div>*@

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">

            <!-- BANDEIRA -->
            <div class="col-xs-12 col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Resumo (Chamadas)</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Bandeira','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="small-box bg-black" style="border-radius: 15px;text-align:center">
                                <div class="inner">
                                    <h3 ng-bind="dashboard.resumo.qtd_total | number"></h3>
                                    <p>Chegaram na Pesquisa</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="small-box bg-black" style="border-radius: 15px;text-align:center">
                                <div class="inner">
                                    <h3 ng-bind="dashboard.resumo.qtd_pesquisa | number "></h3>
                                    <p>Interagiram</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="small-box bg-gray" style="border-radius: 15px;text-align:center">
                                <div class="inner">
                                    <h3 ng-bind="dashboard.resumo.percentual_total">%</h3>
                                    <p>Percentual do Total</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="small-box bg-red" style="border-radius: 15px;text-align:center">
                                <div class="inner">
                                    <h3 ng-bind="dashboard.resumo.duracao | formatTimer"></h3>
                                    <p>Média Duracao</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-headphones"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom">
                            <div class="col-xs-12">
                                <high-chart series="dashboard.bandeira" type="pie" inner-size="60%" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--REGIAO-->
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Retorno por UF          </span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraRegiao','Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right">
                            <select ng-model="mapa.indicador" ng-options="i.name as i.name for i in mapa.tabulacao" ng-change="carregarMapa()"></select> 
                        </small>
                            <label>
                                <input type="radio" name="graficoMapaExibir" ng-model="mapa.exibir" value="false"  />
                                Gráfico
                            </label>
                            <label>
                                <input type="radio" name="graficoMapaExibir" ng-model="mapa.exibir" value="true" checked="checked"/>
                                Tabela      
                            </label>
                     </div>
                    <div class="card-body">

                        <!--TABELA-->
                        <div class="table-responsive" ng-show="mapa.exibir == 'true'" style="height:664px">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.tbmapa">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>% No Estado</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="e in dashboard.tbmapa | groupBy: 'UF'">

                                    <tr class="text-bold">
                                        <td>
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{e[0].UF}}
                                        </td>
                                        <td>{{e | sumByColumn: 'percentual' | number:0 }}</td>
                                    </tr>

                                    <tr ng-repeat="c in e" ng-show="showTbody">
                                        <td>{{c.ds_pes_tratado}}</td>
                                        <td>{{c.percentual }}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                        <div ng-show="mapa.exibir == 'false'">
                            <mapa-brasil style="height:664px" width="100%" dados="dashboard.mapa"></mapa-brasil>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="row margin-bottom">

            <!--ATENDIMENTO POR DIA-->
            <div class="col-xs-12 col-lg-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Respostas por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <p><small>% por Ocorrencia</small></p>
                        <high-chart series="dashboard.grafico" axis-Categories="dashboard.datas" type="column"
                                    plot-Options-Column-Stacking="normal"></high-chart>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<script>

    angular.module('app').controller('ctrl-riachuelo-pesquisa', function ($scope, $http, $filter, $interval, dadosPagina) {
        dadosPagina.titulo = 'Pesquisa Inadimplência';
        dadosPagina.descricao = 'Riachuelo'
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            carteiras: ''
        };
        $scope.dashFiltros = {};

        $scope.dashboard = { dados: [] };


        $scope.mapa = {
            indicador: 'Nao Informado', exibir: 'false'
        };


        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/riachuelo/dashboard/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.carteiras = data.Table;

        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/riachuelo/dashboard/pesquisa",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;

                $scope.dashboard.datas = data.Table2.map(obj => obj.data);

                $scope.dashboard.faixaCarteira = data.Table1.map(obj => obj.ds_pes_tratado);
                $scope.dashboard.fxaCartao = data.Table2.map(obj => obj.ds_pes_tratado);
                $scope.dashboard.tbmapa = data.Table3;

                $scope.dashboard.dados = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.bandeira = [{ name: 'Quantidade', innerSize: '60%', data: data.Table1.map(obj => ({ name: obj.ds_pes_tratado, y: obj.qtd_total })) }];        
                        
                let qtdColuna = data.Table4[0];
                let colunas = data.Table5;
                $scope.mapa.tabulacao = colunas;

                var cores = ['#989898', '#a8a8a8', '#b9b9b9', '#cacaca', '#dcdcdc', '#ededed', '#989898', '#989898', '#7d7d7d', '#636363', '#4a4a4a', '#323232', '#1c1c1c', '#000000'];

                $scope.dashboard.grafico = [];

                for (let i = 0; i < (colunas.length) ; i++) {

                    let campo = colunas[i];
                    let cor = cores[i];
                    
                    let serie = { name: campo.name, color: cor, type: 'column', data: data.Table2.map(obj => obj[campo.name]) };
                    
                    $scope.dashboard.grafico.push(serie);

                }

                $scope.carregarMapa();
            });
        }

        // carrega o mapa de acordo com o indicador escolhido
        $scope.carregarMapa = function () {


            let dados = $scope.dashboard.dados.Table3;
            $scope.dashboard.mapa = dados.filter(obj => obj.ds_pes_tratado == $scope.mapa.indicador).map(obj => ({ id: 'BR-' + obj.UF, value: obj.percentual }));

            
        }

        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });

</script>