@{
    Layout = "~/Views/master.cshtml";
}

<!-- DAHSBOARD -->
<div ng-controller="ctrl-riachuelo-smsdigital">
    <div ng-if="dashboard.status === 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">WS - SMS Promessas</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">

            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none" ng-if="dashFiltros.status == 200">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--EMPRESA-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Empresa</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.empresa" dados="dashFiltros.empresa" style="width:100%"></select2>
                            </div>


                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- RESUMO -->
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box bg-purple-active">
                    <span class="info-box-icon">
                        <i class="fa fa-handshake-o"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="text">Total Disponiveis</div>
                        <div class="info-box-number" ng-bind="dashboard.resumo.promessa | number"></div>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            <b>{{dashboard.resumo.promessa_media_dia}}</b> - Média Disponiveis Dia
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box bg-green-active">
                    <span class="info-box-icon">
                        <i class="fa fa-envelope-open-o "></i>
                    </span>
                    <div class="info-box-content">
                        <div class="text">Total SMS</div>
                        <div class="info-box-number" ng-bind="dashboard.resumo.total_sms | number"></div>
                        <div class="progress">
                            <div class="progress-bar" style="width: {{dashboard.resumo.pct_cadastrado}}%"></div>
                        </div>
                        <span class="progress-description">
                            <b>{{dashboard.resumo.pct_cadastrado}}%</b> Sms Enviados
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box bg-aqua-active">
                    <span class="info-box-icon">
                        <i class="fa fa-at"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="text">Total E-mail</div>
                        <div class="info-box-number" ng-bind="dashboard.resumo.total_email | number"></div>
                        <div class="progress">
                            <div class="progress-bar" style="width: {{dashboard.resumo.pct_email}}%"></div>
                        </div>
                        <span class="progress-description">
                            <b>{{dashboard.resumo.pct_email}}%</b> E-mail Enviados
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box bg-orange-active">
                    <span class="info-box-icon">
                        <i class="fa fa-money"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="text">Total Custo</div>
                        <div class="info-box-number" ng-bind="dashboard.resumo.custo | currency:'R$ '"></div>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            <b>{{dashboard.resumo.custo_media_dia}}</b> - Média Custo Dia
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!--ANALISE POR DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por DIA</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('GraficoDia','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>

                        <div class="card-header-button" ng-show="buttonDownload.exibir == true" ng-click="extrair('NaoCadastrados','Table2')">
                            <i class="fa fa-cloud-download"></i>
                        </div>

                        <small class="pull-right">
                            <label>
                                <input type="radio" name="graficoDiaExibir" ng-model="graficoDia.exibir" value="true" />
                                Tabela
                            </label>
                            <label>
                                <input type="radio" name="graficoDiaExibir" ng-model="graficoDia.exibir" value="false" checked="checked" />
                                Gráfico
                            </label>
                            <select ng-model="grafico.indicador" ng-change="carregarGraficoDia()">
                                <option value="promessa">Promessa</option>
                                <option value="demais">Demais</option>
                                <option value="consolidado">Consolidado</option>
                            </select>
                        </small>

                    </div>
                    <div class="card-body">
                        <!--TABELA-->
                        <div class="table-responsive" ng-show="graficoDia.exibir == 'true'">
                            <table class="table table-striped table-bordered" style="text-align:center" ng-if="dashboard.dia">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Dia</th>
                                        <th style="text-align:center">Total</th>
                                        <th style="text-align:center">Promessa</th>
                                        <th style="text-align:center">Demais</th>
                                        <th style="text-align:center">SMS Total</th>
                                        <th style="text-align:center">SMS Promessa</th>
                                        <th style="text-align:center">SMS Demais</th>
                                        <th style="text-align:center">Custo</th>
                                        <th style="text-align:center">% SMS</th>
                                        <th style="text-align:center">% Promessa</th>
                                        <th style="text-align:center">% Demais</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dia in dashboard.dia">
                                        <td>{{dia.data | date : 'dd/MM/yyyy'}}</td>
                                        <td>{{dia.total | number}}</td>
                                        <td>{{dia.promessa | number}}</td>
                                        <td>{{dia.demais| number}}</td>
                                        <td>{{dia.total_sms| number}}</td>
                                        <td>{{dia.quantidade_promessa_sms | number}}</td>
                                        <td>{{dia.quantidade_demais_sms | number}}</td>
                                        <td>{{dia.custo | currency:'R$ '}}</td>
                                        <td>{{dia.total_sms / dia.total | percentage:1}}</td>
                                        <td>{{dia.quantidade_promessa_sms / dia.promessa | percentage:1}}</td>
                                        <td>{{dia.quantidade_demais_sms / dia.demais | percentage:1}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th style="text-align:center">Total</th>
                                        <th style="text-align:center">{{dashboard.resumo.total | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.promessa | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.demais | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.total_sms | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.quantidade_promessa_sms | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.quantidade_demais_sms | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.custo | currency:'R$ '}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.total_sms / dashboard.resumo.total | percentage: 1}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.quantidade_promessa_sms / dashboard.resumo.promessa | percentage: 1}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.quantidade_demais_sms / dashboard.resumo.demais | percentage: 1}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <!--GRAFICO-->
                        <div ng-show="graficoDia.exibir == 'false'">
                            <high-chart series="dashboard.graficoDia" axis-Categories="dashboard.dias" plot-Options-Column-Data-Label="true"></high-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--ANALISE POR CARTEIRA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Carteira</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('GraficoDia','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <!--TABELA-->
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="text-align:center" ng-if="dashboard.carteira">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Carteira</th>
                                        <th style="text-align:center">Total</th>
                                        <th style="text-align:center">Promessa</th>
                                        <th style="text-align:center">Demais</th>
                                        <th style="text-align:center">SMS E-mail</th>
                                        <th style="text-align:center">SMS Total</th>
                                        <th style="text-align:center">SMS Promessa</th>
                                        <th style="text-align:center">SMS Demais</th>
                                        <th style="text-align:center">Custo</th>
                                        <th style="text-align:center">% Total</th>
                                        <th style="text-align:center">% Promessa</th>
                                        <th style="text-align:center">% Demais</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dia in dashboard.carteira">
                                        <td>{{dia.carteira }}</td>
                                        <td>{{dia.total | number}}</td>
                                        <td>{{dia.promessa | number}}</td>
                                        <td>{{dia.demais| number}}</td>
                                        <td>{{dia.total_email| number}}</td>
                                        <td>{{dia.total_sms| number}}</td>
                                        <td>{{dia.quantidade_promessa_sms | number}}</td>
                                        <td>{{dia.quantidade_demais_sms | number}}</td>
                                        <td>{{dia.custo | currency:'R$ '}}</td>
                                        <td>{{dia.total_sms / dia.total | percentage:1}}</td>
                                        <td>{{dia.quantidade_promessa_sms / dia.promessa | percentage:1}}</td>
                                        <td>{{dia.quantidade_demais_sms / dia.demais | percentage:1}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th style="text-align:center">Total</th>
                                        <th style="text-align:center">{{dashboard.resumo.total | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.promessa | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.demais | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.total_sms | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.quantidade_promessa_sms | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.quantidade_demais_sms | number}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.custo | currency:'R$ '}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.total_sms / dashboard.resumo.total | percentage: 1}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.quantidade_promessa_sms / dashboard.resumo.promessa | percentage: 1}}</th>
                                        <th style="text-align:center">{{dashboard.resumo.quantidade_demais_sms / dashboard.resumo.demais | percentage: 1}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<script>
    angular.module('app').controller('ctrl-riachuelo-smsdigital', function ($scope, $http, $filter, $interval, dadosPagina) {

        dadosPagina.titulo = 'Boleto Sms';
        dadosPagina.descricao = 'Sem Parar Digital'
        $scope.showTbody = false;
        $scope.dashFiltros = {};


        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);


        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            empresa: '',
        };

        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.graficoDia = { exibir: 'false' };
        $scope.buttonDownload = { exibir: false };
        $scope.grafico = { indicador: 'promessa' };

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/riachuelo/dashboard/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.empresa = data.Table12;
            
        });

        $scope.carregarDashboard = function () {
            $scope.buttonDownload.exibir = $scope.filtros.carregar
            $http({
                method: 'POST',
                url: "/api/riachuelo/dashboard/sms",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.dia = r.data.Table1;
                $scope.dashboard.dias = r.data.Table1.map(obj => obj.data);
                $scope.dashboard.carteira = r.data.Table2;

                $scope.carregarGraficoDia();

            });
        }

         // carrega o grafico de acordo com o indicador escolhido
        $scope.carregarGraficoDia = function () {
            let dados = $scope.dashboard.dia;
            //$scope.dashboard.horas = dados.map(obj => obj.hora);
            switch ($scope.grafico.indicador) {
                case 'consolidado':

                $scope.dashboard.graficoDia = [
                    { name: 'Disponivel', type: 'column', color: '#555299', data: dados.map(obj => (obj.total)) },
                    { name: 'Sms', type: 'column', color: '#008d4c', data: dados.map(obj => (obj.total_sms)) },
                    { name: 'E-mail', type: 'column', color: '#0086a6', data: dados.map(obj => (obj.total_email)) },
                    { name: '%',  yAxis: 1, type: 'spline',  data: dados.map(obj => (obj.total_sms * 100 / obj.total).toFixed(1) * 1) }
                ];
                    break;
                case 'promessa':

                $scope.dashboard.graficoDia = [
                    { name: 'Promessa', type: 'column', color: '#555299', data: dados.map(obj => (obj.promessa)) },
                    { name: 'Sms', type: 'column', color: '#008d4c', data: dados.map(obj => (obj.quantidade_promessa_sms)) },
                    { name: 'E-mail', type: 'column', color: '#0086a6', data: dados.map(obj => (obj.total_email)) },
                    { name: '%', yAxis: 1, type: 'spline', data: dados.map(obj => (obj.quantidade_promessa_sms * 100 / obj.promessa).toFixed(1) * 1) }
                ];
                    break;
                case 'demais':
                $scope.dashboard.graficoDia = [
                    { name: 'Demais', type: 'column', color: '#555299', data: dados.map(obj => (obj.demais)) },
                    { name: 'Sms', type: 'column', color: '#008d4c', data: dados.map(obj => (obj.quantidade_demais_sms)) },
                    { name: 'E-mail', type: 'column', color: '#0086a6', data: dados.map(obj => (obj.total_email)) },
                    { name: '%', yAxis: 1, type: 'spline', data: dados.map(obj => (obj.quantidade_demais_sms * 100 / obj.demais).toFixed(1) * 1) }
                ];
                    break;
                default:

                $scope.dashboard.graficoDia = [
                    { name: 'Total', type: 'column', color: '#555299', data: dados.map(obj => (obj.total)) },
                    { name: 'Sms', type: 'column', color: '#008d4c', data: dados.map(obj => (obj.total_sms)) },
                    { name: 'E-mail', type: 'column', color: '#0086a6', data: dados.map(obj => (obj.total_email)) },
                    { name: '%', yAxis: 1, type: 'spline', data: dados.map(obj => (obj.total_sms * 100 / obj.total).toFixed(1) * 1) }
                ];
            }

        }

        // carrega o gráfico dia
        //$scope.carregarGraficoDia = function () {
        //    let dados = $scope.dashboard.dia;

        //    $scope.dashboard.graficoDia = [
        //        { name: 'Disponivel', type: 'column', color: '#555299', data: dados.map(obj => (obj.promessa)) },
        //        { name: 'Sms', type: 'column', color: '#008d4c', data: dados.map(obj => (obj.envio_sms)) },
        //        { name: '%',  yAxis: 1, type: 'spline',  data: dados.map(obj => (obj.envio_sms * 100 / obj.promessa).toFixed(1) * 1) }
                
        //    ];
        //}

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.carregarDashboard();

    });

</script>
