@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-tim-ura-horahora">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Ura - Hora Hora</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->
        <div class="row margin-bottom">

            <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.discagens | megaNumber"></h3>
                        <p>Discagens</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-phone-square"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="small-box bg-light-blue">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.cpc | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.cpc / dashboard.resumo.discagens | percentage: 1"></h4>
                        <p>CPC</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.venda | megaNumber"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.venda / dashboard.resumo.cpc | percentage: 1"></h4>
                        <p>Vendas</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.gross | number"></h3>
                        @*<h4 class="pull-right" ng-bind="dashboard.resumo.gross / dashboard.resumo.venda | percentage: 1"></h4>*@
                        <p>Gross</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa fa-check"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.chips | number"></h3>
                        <p>Chips</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-caret-square-o-up"></i>
                    </div>
                </div>
            </div>

            @*<div class="col-xs-12 col-md-4 col-lg-2">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.recusa | number"></h3>
                        <h4 class="pull-right" ng-bind="dashboard.resumo.recusa / dashboard.resumo.cpc | percentage: 1"></h4>
                        <p>Recusas</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-down"></i>
                    </div>
                </div>
            </div>*@

        </div>

        <!--HORA HORA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Hora</span>
                        <small class="pull-right">
                            <span>Indicadores:</span>
                            <select ng-model="dashboard.indicador" ng-change="carregarGraficoHora()">
                                <option value="discagens">Discagens</option>
                                <option value="cpc">CPC</option>
                                <option value="venda">Venda</option>
                                <option value="gross">Gross</option>
                                <option value="chips">Chips</option>
                                <option value="recusa">Recusa</option>
                                <option value="txvenda">% Venda</option>
                                <option value="txrecusa">% Recusa</option>
                            </select>
                            <select ng-model="dashboard.indicador2" ng-change="carregarGraficoHora()">
                                <option value="discagens">Discagens</option>
                                <option value="cpc">CPC</option>
                                <option value="venda">Venda</option>
                                <option value="gross">Gross</option>
                                <option value="chips">Chips</option>
                                <option value="recusa">Recusa</option>
                                <option value="txvenda">% Venda</option>
                                <option value="txrecusa">% Recusa</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <high-charts config="dashboard.hora" style="width: 100%; height: 350px"></high-charts>
                    </div>
                </div>
            </div>
        </div>

        <!--PRODUÇÃO POR OPERADOR-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise por Operador</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.operacao">
                                <thead>
                                    <tr>
                                        <th>Operador</th>
                                        <th>#</th>
                                        <th>Acionamento</th>
                                        <th>Contato</th>
                                        <th>Efetivo</th>
                                        <th>% Efetivo</th>
                                        <th>Recusa</th>
                                        <th>Venda</th>
                                        <th>% Recusa</th>
                                        <th>% Venda</th>
                                        <th>Chips</th>
                                        <th>Controle</th>
                                        <th>Pós</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="c in dashboard.operacao | groupBy: 'supervisor'">

                                    <tr class="text-bold">
                                        <td class="text-bold">
                                            <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                            {{c[0].supervisor}}
                                        </td>
                                        <td>{{c.length}}</td>
                                        <td>{{c | sumByColumn: 'qtd' | number}}</td>
                                        <td>{{c | sumByColumn: 'contato'| number}}</td>
                                        <td>{{c | sumByColumn: 'efetivo'| number}}</td>
                                        <td>{{c | divideSumColumns: 'efetivo':'contato' | percentage:1}}</td>
                                        <td>{{c | sumByColumn: 'recusa'| number}}</td>
                                        <td>{{c | sumByColumn: 'venda'| number}}</td>
                                        <td>{{c | divideSumColumns: 'recusa':'efetivo' | percentage:1}}</td>
                                        <td>{{c | divideSumColumns: 'venda':'efetivo' | percentage:1}}</td>
                                        <td>{{c | sumByColumn: 'chips'| number}}</td>
                                        <td>{{c | sumByColumn: 'controle'| number}}</td>
                                        <td>{{c | sumByColumn: 'pos'| number}}</td>
                                    </tr>

                                    <tr ng-repeat="p in c" ng-show="showTbody">
                                        <td colspan="2">{{p.operador}}</td>
                                        <td>{{p.qtd | number}}</td>
                                        <td>{{p.contato | number}}</td>
                                        <td>{{p.efetivo | number}}</td>
                                        <td>{{p.efetivo / p.contato | percentage:1}}</td>
                                        <td>{{p.recusa | number}}</td>
                                        <td>{{p.venda | number}}</td>
                                        <td>{{p.recusa / p.efetivo | percentage:1}}</td>
                                        <td>{{p.venda / p.efetivo | percentage:1}}</td>
                                        <td>{{p.chips | number}}</td>
                                        <td>{{p.controle | number}}</td>
                                        <td>{{p.pos | number}}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--PRODUTO-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Vendas por Produto</span>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.produto">
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Vendas</th>
                                    <th>Gross</th>
                                    <th>Chips</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="c in dashboard.produto | groupBy: 'plano'">

                                <tr class="text-bold">
                                    <td class="text-bold">
                                        <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                        {{c[0].plano}}
                                    </td>
                                    <td>{{c | sumByColumn: 'venda' | number}}</td>
                                    <td>{{c | sumByColumn: 'gross' | number}}</td>
                                    <td>{{c | sumByColumn: 'chips'| number}}</td>
                                </tr>

                                <tr ng-repeat="p in c" ng-show="showTbody">
                                    <td>{{p.resultado}}</td>
                                    <td>{{p.venda | number}}</td>
                                    <td>{{p.gross | number}}</td>
                                    <td>{{p.chips | number}}</td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>

<script>
    angular.module('app').controller('ctrl-tim-ura-horahora', function ($scope, $http, $filter) {

        $scope.filtros = {
            dtini: $filter('date')(new Date(), "yyyy-MM-dd"),
            dtfim: $filter('date')(new Date(), "yyyy-MM-dd"),
        };

        $scope.dashboard = {
            indicador: 'venda',
            indicador2: 'cpc'
        };

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/tim/vendas/ura/horahora",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.dados = r.data;

                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.operacao = r.data.Table2;
                //$scope.dashboard.origem = r.data.Table5;
                $scope.dashboard.produto = r.data.Table3;

                $scope.carregarGraficoHora();

                $scope.dashboard.status = r.status;
            });
        }

        $scope.carregarGraficoHora = function () {
            $scope.dashboard.hora = {
                title: {
                    text: ''
                },
                yAxis: [
                    {
                        title: {
                            text: ''
                        },
                    },
                    {
                        title: {
                            text: ''
                        },
                        opposite: true,
                    }
                ],
                xAxis: {
                    categories: $scope.dashboard.dados.Table1.map(o => o.hora)
                },
                series: [
                    {
                        type: 'line',
                        name: $scope.dashboard.indicador,
                        color: '#00a65a',
                        data: $scope.dashboard.dados.Table1.map(o => o[$scope.dashboard.indicador]),
                        dataLabels: {
                            enabled: true
                        }
                    },
                    {
                        type: 'column',
                        yAxis: 1,
                        name: $scope.dashboard.indicador2,
                        color: 'rgba(0,115,183,0.4)',
                        data: $scope.dashboard.dados.Table1.map(o => o[$scope.dashboard.indicador2]),
                        dataLabels: {
                            enabled: true
                        }
                    },
                ],
                credits: {
                    enabled: false
                }
            };
        }

        

        $scope.carregarDashboard();
    });

</script>