@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-vivo-carteira">
    <div ng-if="dashboard.status == 200" >

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Carteira</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashFiltros.status == 200">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--PRODUTOS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Produtos</label>
                            <select2 style="width: 100%;" class="form-control" data-placeholder="Selecione" ng-model="filtros.produtos" dados="dashFiltros.produtos"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->
        <div class="row margin-bottom">

            <!--INCLUSAO, DEVOLUCAO, CARTEIRA ATIVA-->
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Inclusão, Devolução e Carteira Ativa</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="info-box bg-green">
                            <span class="info-box-icon"><i class="fa fa-plus-square"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Inclusão</span>
                                <span class="info-box-number">{{dashboard.resumo.inclusao | number}}</span>
                                <span class="progress-description">
                                    {{dashboard.resumo.vlInclusao | currency:'R$'}}
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>

                        <div class="info-box bg-yellow">
                            <span class="info-box-icon"><i class="fa fa-minus-square"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Devolução</span>
                                <span class="info-box-number">{{dashboard.resumo.devolucao | number}}</span>
                                <span class="progress-description">
                                    {{dashboard.resumo.vlDevolucao | currency:'R$'}}
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>

                        <div class="info-box bg-red">
                            <span class="info-box-icon"><i class="fa fa-archive"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Média de Carteira Ativa</span>
                                <span class="info-box-number">{{dashboard.resumo.ativo | number}}</span>
                                <span class="progress-description">
                                    {{dashboard.resumo.vlAtivo | currency:'R$'}}
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                </div>
            </div>

            <!--CARTEIRA POR SEGMENTO-->
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Média Carteira Ativa por Segmento</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.carteira" type="pie" height="300" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>

        </div>

        <!--ANALISE POR DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Gráfico por Dia</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right" style="padding-left: 10px">
                            <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                                <option value="inclusao">Inclusão</option>
                                <option value="devolucao">Devolução</option>
                                <option value="ativo">Ativo</option>
                            </select>
                        </small>
                        <small class="pull-right">
                            <label>
                                <input type="radio" name="graficoOuTabela" ng-model="graficoOuTabela" value="false" checked="checked" />
                                Gráfico
                            </label>
                            <label>
                                <input type="radio" name="graficoOuTabela" ng-model="graficoOuTabela" value="true" />
                                Tabela
                            </label>
                        </small>
                    </div>
                    <div class="card-body">

                        <!--QTD-->
                        <div ng-show="graficoOuTabela == 'false'">
                            <h3 class="text-center">Quantidade</h3>
                            <high-chart series="dashboard.graficoQtd" axis-Categories="dashboard.dias" plot-Options-Column-Data-Label="true" type="column" height="300"></high-chart>
                        </div>

                        <!--TKM-->
                        <div ng-show="graficoOuTabela == 'false'">
                            <h3 class="text-center">Ticket Médio</h3>
                            <high-chart series="dashboard.graficoVlr" axis-Categories="dashboard.dias" plot-Options-Line-Data-Label="true" height="300"></high-chart>
                        </div>

                        <!--AGN-->
                        <div ng-show="graficoOuTabela == 'false'">
                            <h3 class="text-center">Aging Médio</h3>
                            <high-chart series="dashboard.graficoAgn" axis-Categories="dashboard.dias" plot-Options-Column-Data-Label="true" type="column" height="300"></high-chart>
                        </div>

                        <!--TABELA-->
                        <div ng-show="graficoOuTabela == 'true'">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.tabela">
                                    <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Quantidade</th>
                                            <th>Ticket Médio</th>
                                            <th>Aging Médio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in dashboard.tabela">
                                            <td>{{row.data}}</td>
                                            <td>{{row.quantidade}}</td>
                                            <td>{{row.valor}}</td>
                                            <td>{{row.aging}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <!--POR ESTADO-->
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div id="info" class="card-header">
                        <span class="card-header-title">Volumes {{grafico.indicador | uppercase}} por Estado - {{dashboard.mapa.estado}}</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive" ng-show="graficoMapa.exibir == 'true'">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="small-box" style="background-color:{{cores.cor}}; color:white">
                                                <div class="inner">
                                                    <p><h4>Contratos</h4></p>
                                                    <h5 ng-bind="depara.campo1 | number"></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="small-box" style="background-color:{{cores.cor}}; color:white">
                                                <div class="inner">
                                                    <p><h4>Financeiro</h4></p>
                                                    <h5 ng-bind="depara.campo3 | currency: 'R$ ' "></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="small-box" style="background-color:{{cores.cor}}; color:white">
                                                <div class="inner">
                                                    <p><h4>% do Total</h4></p>
                                                    <h5 ng-bind="depara.campo2 "></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="small-box" style="background-color:{{cores.cor}}; color:white">
                                                <div class="inner">
                                                    <p><h4>Ticket Médio</h4></p>
                                                    <h5 ng-bind="depara.campo5 | currency: 'R$ '"></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="small-box" style="background-color:{{cores.cor}}; color:white">
                                                <div class="inner">
                                                    <p><h4>Média Aging</h4></p>
                                                    <h5 ng-bind="depara.campo4 | number"></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8">
                                    <mapa-brasil style="height: 505px" width="100%" dados="dashboard.estado" ng-change="mudarEstado(idSelecionadoMapa, grafico.indicador)" ng-model="idSelecionadoMapa"></mapa-brasil>
                                </div>
                          </div>
                       </div>
                      </div>
                    </div>
                </div>
            </div>


        </div>
     </div>


<script>

    angular.module('app').controller('ctrl-vivo-carteira', function ($scope, $http, $filter, $interval) {
        $scope.graficoOuTabela = 'false';

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            produtos: ''
        };

        $scope.idSelecionadoMapa = '';
        $scope.graficoMapa = { exibir: 'true' };
        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = {
            indicador: 'ativo'
        };

        //Objeto para alterar o ng bind
        $scope.depara = {
             campo1: ''
            ,campo2: ''
            ,campo3: ''
            ,campo4: ''
            ,campo5: ''
        };

        $scope.cores = {
            cor: '#dd4b39'
        };


        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/vivo/dashboard/filtros",
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.produtos = data.Table2;
        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/vivo/dashboard/carteira",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;

                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.carteira = [{ name: 'Quantidade', innerSize: '60%', data: r.data.Table1.map(obj => ({ name: obj.segmentacao, y: obj.mediaAtivo })) }];

                $scope.dashboard.dias = r.data.Table2.map(obj => obj.data);
                $scope.dashboard.dia = r.data.Table2;

                $scope.dashboard.estado = alasql('select "BR-" + uf id, ativo [percent], ativo_porcento [value], uf, estado, ativo, ativo_porcento, ativoVlr, ativoTkm, ativoAgn, devolucao, devolucao_porcento, devolucaoVlr, devolucaoAgn, devolucaoTkm, inclusao, inclusao_porcento, inclusaoVlr, inclusaoAgn, inclusaoTkm from ?', [r.data.Table3]);

                $scope.dashboard.maiorEfetividade = alasql('select top 1 "BR-" + uf id from ?', [r.data.Table3])[0];
                $scope.mudarEstado($scope.dashboard.maiorEfetividade);



                $scope.carregarGrafico();
            });
        }

        $scope.mudarEstado = function (id, indicador) {

            //let dados = alasql('select id, [value], uf, estado, qtd_promessa, qtd_pago, vlr_promessa, vlr_pago, efet_porcentagem from ? where id like ("%' + id + '%")', [$scope.dashboard.estado])[0];
            let dados = alasql('select id, [percent], [value], uf, estado, ' + indicador + ', ' + indicador + '_porcento, ' + indicador + 'Vlr, ' + indicador + 'Tkm, ' + indicador + 'Agn from ? where id like ("%' + id + '%")', [$scope.dashboard.estado])[0];
            $scope.dashboard.mapa = dados;

            $scope.depara.campo1 = $scope.dashboard.mapa[indicador];
            $scope.depara.campo2 = $scope.dashboard.mapa[indicador + '_porcento'];
            $scope.depara.campo3 = $scope.dashboard.mapa[indicador + 'Vlr'];
            $scope.depara.campo4 = $scope.dashboard.mapa[indicador + 'Agn'];
            $scope.depara.campo5 = $scope.dashboard.mapa[indicador + 'Tkm'];
            
            switch (indicador) {
                case 'ativo':
                    $scope.cores.cor = '#dd4b39';
                    break;
                case 'inclusao':
                    $scope.cores.cor = '#008d4c';
                    break;
                case 'devolucao':
                    $scope.cores.cor = '#f39c12';
                    break;
            }

        }





        // carrega o mapa de acordo com o indicador escolhido
        $scope.carregarGrafico = function () {
            let dados = $scope.dashboard.dia;
            let dados2 = $scope.dashboard.mapabase;
            let indicador = $scope.grafico.indicador;
            let id = $scope.idSelecionadoMapa;

            $scope.dashboard.graficoQtd = [{ name: 'Quantidade', data: dados.map(obj => (obj[indicador])) }];
            $scope.dashboard.graficoVlr = [{ name: 'Valor', data: dados.map(obj => (obj[indicador + 'Vlr'])) }];
            $scope.dashboard.graficoAgn = [{ name: 'Aging', data: dados.map(obj => (obj[indicador + 'Agn'])) }];
            $scope.dashboard.tabela = dados.map(obj => ({ data: obj.data, quantidade: obj[indicador], valor: obj[indicador + 'Vlr'], aging: obj[indicador + 'Agn'] }));

            $scope.mudarEstado(id, indicador);

        }




        $scope.carregarDashboard();

        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });

</script>
