@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-vivo-disparos">

    <!--Extrair Dados-->
    <div class="row margin-bottom" style="margin-top: 20px" ng-if="extrair">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    Extrair Dados Disparos
                </div>
                <div class="card-body">

                    <!--DATA INCIAL-->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">Data Inicial</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini" style="width:100%"></date-picker>
                        </div>
                    </div>

                    <!--DATA INCIAL-->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">Data Final</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim" style="width:100%"></date-picker>
                        </div>
                    </div>

                    <div class="input-group">
                        <button class="btn" ng-click="extrairDados()">
                            <i class="fa fa-file-excel-o"></i>
                            Extrair
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div ng-if="!extrair" id="reportContainer" style="position: absolute; height: calc(100% - 20px); width: calc(100% - 20px);"></div>

</div>

<script>
    document.body.classList.remove('menu-opened');
    angular.module('app').controller('ctrl-vivo-disparos', function ($scope, $http, $filter, $window) {

        $scope.extrair = $window.location.search == "?extrair";

        // filtros iniciais
        let newdate = new Date();
        newdate = newdate.setDate(newdate.getDate() - 1);
        $scope.filtros = {
            dtini: $filter('date')(newdate, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
        };

        // extrair dados para excel
        $scope.extrairDados = function () {
            $http({
                method: 'POST',
                url: "/api/vivo/new/humano/dashboard/disparos/extrair",
                data: $scope.filtros,
            }).then(function success(r) {
                alasql('SELECT * INTO XLSX("disparos.xlsx", {headers: true}) FROM ?', [r.data.Table]);
            });
        }

        // relatorio powerbi
        $scope.report = {};
        if (!$scope.extrair) {
            $http({
                method: 'POST',
                url: "/api/vivo/new/humano/dashboard/disparos",
                data: $scope.model,
            }).then(function success(r) {

                let accessToken = r.data.EmbedToken.token;
                let embedUrl = r.data.EmbedUrl;
                let embedReportId = r.data.Id;
                let models = window['powerbi-client'].models;
                let config = {
                    type: 'report',
                    tokenType: models.TokenType.Embed,
                    accessToken: accessToken,
                    embedUrl: embedUrl,
                    id: embedReportId,
                    permissions: models.Permissions.All,
                    settings: {
                        filterPaneEnabled: false,
                        navContentPaneEnabled: false
                    },
                    viewMode: models.ViewMode.View,
                };
                let reportContainer = $('#reportContainer')[0];
                $scope.report = powerbi.embed(reportContainer, config);
            });
        }

    });
</script>