@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-vivo-disparos">
    <div ng-if="dashboard.status == 200">
        <!--BOTÃO FILTROS-->
        <header class="page-header">
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" data-toggle="modal" data-target="#modal-default">
                <i class="fa fa-filter"></i>
                Filtros
            </div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" ng-click="extrair()">
                <i class="fa fa-file-excel-o"></i>
                Extrair
            </div>
        </header>
        <!-- MODAL FILTROS-->
        <div class="modal fade" id="modal-default" style="display: none;">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Filtros</h4>
                    </div>
                    <div class="modal-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini" style="width:100%"></date-picker>
                            </div>
                        </div>

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim" style="width:100%"></date-picker>
                            </div>
                        </div>

                        <!--EMPRESA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Empresa</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.empresa" dados="dashFiltros.empresa"></select2>
                        </div>

                        <!--CARTEIRA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Billing</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.tipobilling" dados="dashFiltros.tipobilling"></select2>
                        </div>

                        <!--AGING-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Aging</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.aging" dados="dashFiltros.aging"></select2>
                        </div>

                        <!--ESTRATÉGIA (segmentacao)-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Estratégia</label>
                            <select2 style="width: 100%" class="form-control" data-placeholder="Selecione" ng-model="filtros.segmentacao" dados="dashFiltros.segmentacao"></select2>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <!--CARREGAR-->
                        <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard(dashboard.visao)">Carregar Dados</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!-- SELEÇÃO DE VISÃO-->
        <div class="row margin-bottom text-center" style="margin-top: 15px;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-info active" ng-click="carregarDashboard('')">
                    <input type="radio"> Ambos
                </label>
                <label class="btn btn-info" ng-click="carregarDashboard('_sms')">
                    <input type="radio"> SMS
                </label>
                <label class="btn btn-info" ng-click="carregarDashboard('_email')">
                    <input type="radio"> Email
                </label>
            </div>
        </div>

        <!-- RESUMO -->
        <div class="row margin-bottom">

            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-light-blue">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.gerado | number"></h3>
                        <p>Gerado</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-sign-out"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="info-box bg-green">
                    <span class="info-box-icon">
                        <i class="fa fa-check-square-o"></i>
                    </span>
                    <div class="info-box-content">
                        <h3 ng-bind="dashboard.resumo.entregue | number">-</h3>
                        <h4 class="pull-right" style="line-height: 0" ng-bind="dashboard.resumo.entregue / dashboard.resumo.gerado | percentage: 1">-</h4>
                        <div>Entregue</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="info-box bg-red">
                    <span class="info-box-icon">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <div class="info-box-content">
                        <h3 ng-bind="dashboard.resumo.gerado - dashboard.resumo.entregue | number">-</h3>
                        <h4 class="pull-right" style="line-height: 0" ng-bind="(dashboard.resumo.gerado - dashboard.resumo.entregue) / dashboard.resumo.gerado | percentage: 1">-</h4>
                        <div>Não Entregue</div>
                    </div>
                </div>
            </div>


        </div>

        <!--GRAFICO POR DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Dia a Dia</span>
                    </div>
                    <div class="card-body">
                        <high-charts config="dashboard.dia" style="width: 100%; height: 400px"></high-charts>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-vivo-disparos', function ($scope, $http, $filter, cubo) {

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            empresa: '',
            tipobilling: '',
            aging: '',
            segmentacao: '',
        };

        // carregar os filtros
        $scope.dashFiltros = {};
        $http({
            method: 'GET',
            url: "/api/vivo/new/humano/dashboard/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.empresa = data.Table;
            $scope.dashFiltros.tipobilling = data.Table1;
            $scope.dashFiltros.aging = data.Table2;
            $scope.dashFiltros.supervisor = data.Table3;
            $scope.dashFiltros.equipe = data.Table4;
            $scope.dashFiltros.segmentacao = data.Table6;
        });

        $scope.dashboard = {
            visao: ''
        }

        $scope.carregarDashboard = function (visao) {
            $http({
                method: 'POST',
                url: "/api/vivo/new/humano/dashboard/disparos",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;

                if (!visao) visao = '';
                $scope.dashboard.visao = visao;

                $scope.dashboard.resumo = {
                    gerado: data.Table[0]['gerado' + visao],
                    entregue: data.Table[0]['entregue' + visao]
                }


                $scope.dashboard.dia = data.Table1;

                $scope.dashboard.dia = {
                    title: {
                        text: ''
                    },
                    yAxis: [
                        { visible: false },
                        { visible: false }
                    ],
                    xAxis: {
                        categories: data.Table1.map(r => r.data)
                    },
                    legend: {
                        enabled: false,
                    },
                    plotOptions: {
                        spline: {
                            dataLabels: {
                                enabled: true,
                            }
                        },
                        column: {
                            dataLabels: {
                                enabled: true,
                            }
                        }
                    },
                    tooltip: {
                        shared: true
                    },
                    credits: {
                        enabled: false
                    },
                    series: [
                        { type: 'column', name: 'Gerado', data: data.Table1.map(r => r['gerado' + visao]), color: '#3c8dbc' },
                        { type: 'spline', name: 'Entregue', data: data.Table1.map(r => r['entregue' + visao]), color: '#00a65a' }
                    ]
                };


            });
        }

        // extrair dados para excel
        $scope.extrair = function () {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados.Table2]);
        }

        $scope.carregarDashboard();
    });
</script>