@{
    Layout = "~/Views/master.cshtml";
}


    <div ng-controller="ctrl-oi-cadastro">

        <!-- DAHSBOARD -->
        <!-- HEADER-->
        @*<header class="page-header">
            <div class="page-name">Editar Capacity</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                Periodo
            </div>
        </header>*@




        <!-- FILTROS -->
        <div class="row margin-bottom">

            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Período</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>


                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()">Carregar Capacity</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div ng-if="capacityMes.qtd > 0 || capacityMes.qtd_real > 0" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Marcar todos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja atualizar TODO capacity do período selecionado?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" ng-click="salvar()">Sim</button>
                    </div>
                </div>
            </div>
        </div>

        <!--VISÃO DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Capacity - Diario</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row margin-bottom">
                            <div class="col-xs-3">
                                <label class="control-sidebar-subheading" ng-if="opcoes.edit"> Definir para todo Periodo:</label>
                                <div style="margin-bottom: 25px;" ng-if="opcoes.edit" class="input-group">
                                    <div class="input-group-addon" data-toggle="modal" data-target="#exampleModal">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <input ng-if="opcoes.edit" style="color: red; font-weight: bold;" type="number" min="0" max="100" placeholder="Capacity - Exem.: 15" class="form-control" ng-model="capacityMes.qtd" />
                                    <input ng-if="opcoes.edit" style="color: red; font-weight: bold;" type="number" min="0" max="100" placeholder="Capacity Real - Exem.: 10" class="form-control" ng-model="capacityMes.qtd_real" />
                                </div>
                                <small>
                                    <input type="button" class="btn btn-secondary" value="{{opcoes.edit? 'Cancelar':'Editar'}}" ng-click="editar()" />
                                </small>
                            </div>
                        </div>
                        <div class="table">
                            <table class="table table-striped table-bordered" ng-if="dashboard.dia" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Data</th>
                                        <th style="text-align:center">Capacity</th>
                                        <th style="text-align:center">Capacity Real</th>
                                        <th ng-if="opcoes.edit" style="text-align:center">Alterar</th>
                                    </tr>
                                </thead>
                                <tbody id="idtbody">
                                    <tr ng-repeat="dia in dashboard.dia">
                                        <td>{{dia.data | date : 'dd/MM/yyyy'}}</td>
                                        <td ng-if="opcoes.edit">
                                            <input type="number" id="idinput" min="0" max="9999999" placeholder="9.999.999" class="form-control" onkeyup="if (this.value > 9999999) { this.value = '9999999';} else if (this.value < 0) {this.value = '0';}" value="{{dia.quantidade_pa}}" ng-disabled="!opcoes.edit" />
                                        </td>
                                        <td ng-if="opcoes.edit">
                                            <input type="number" id="idinput" min="0" max="9999999" placeholder="9.999.999" class="form-control" onkeyup="if (this.value > 9999999) { this.value = '9999999';} else if (this.value < 0) {this.value = '0';}" value="{{dia.quantidade_pa_real}}" ng-disabled="!opcoes.edit" />
                                        </td>
                                        <td id="maisuma" ng-if="!opcoes.edit">{{dia.quantidade_pa | number}}</td>
                                        <td id="maisuma" ng-if="!opcoes.edit">{{dia.quantidade_pa_real | number}}</td>
                                        <td ng-if="opcoes.edit">
                                            <small>
                                                <input type="button" class="btn btn-success" value="Salvar" ng-if="opcoes.edit" ng-click="salvar()" />
                                            </small>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

<script>
    angular.module('app').controller('ctrl-oi-cadastro', function ($scope, $http, $filter, dadosPagina) {
        dadosPagina.titulo = 'Editar';
        dadosPagina.descricao = 'Oi'

        // filtros iniciais
        $scope.dashFiltros = {};

        $scope.capacityMes = {
             qtd: ''
            ,qtd_real:''
        };


        $scope.filtros = {
            dtini: $filter('date')(new Date(), "yyyy-MM-dd"),
            dtfim: $filter('date')(new Date(), "yyyy-MM-dd"),
        };

        $scope.dashboard = {};

        $scope.opcoes = {
            edit: false
        };

        // Objeto Mailing
        $scope.capacity = [{
            data: '',
            quantidade_pa: '',
            quantidade_pa_real: '',
        }];

        $scope.cadastrarCapacity = function () {
            $http({
                method: 'POST',
                url: "/api/oi/dashboard/cadcapacity",
                data: JSON.stringify($scope.capacity),
            }).then(function success(r) {

                // Objeto Mailing
                $scope.capacity = [{
                    data: '',
                    quantidade_pa: '',
                    quantidade_pa_real: '',
                }];

                
                $('#exampleModal').modal('toggle');
                $scope.zeraCapacity();
                
            });

        }


        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {

           
            $http({
                method: 'POST',
                url: "/api/oi/dashboard/capacity",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.dia = data.Table;

            });
        
        }

        $scope.editar = function () {
            $scope.opcoes.edit = !$scope.opcoes.edit;
        }

        $scope.zeraCapacity = function () {

            if ($scope.capacityMes.qtd > 0) {

                location.reload();

            } else {

                $scope.carregarDashboard(); 
            }
        }


        $scope.salvar = function () {

            let valor = $scope.capacityMes.qtd;
            let valor_real = $scope.capacityMes.qtd_real;

            if (valor > 0 && valor_real > 0) {

                let tabela = document.getElementById('idtbody')

                for (let i = 0; i < tabela.rows.length; i++) {

                    tabela.children[i].children[1].getElementsByTagName('input').item(0).value = valor;
                    tabela.children[i].children[2].getElementsByTagName('input').item(0).value = valor_real;
                }

            } else if ((valor = '' && valor_real > 0) || !(valor = '' && valor_real > 0)) {

                alert("Preencha a informação nos dois campos e tente novamente.");
            }

            $scope.opcoes.edit = !$scope.opcoes.edit;
            
            let tabela = document.getElementById('idtbody')


            for (let i = 0; i < tabela.rows.length; i++) {

                
                let dt = $scope.converterData(tabela.children[i].children[0].innerHTML);
                let txt = tabela.children[i].children[1].getElementsByTagName('input').item(0).value;
                let txt2 = tabela.children[i].children[2].getElementsByTagName('input').item(0).value;

                $scope.capacity.push({ data: dt, quantidade_pa: txt, quantidade_pa_real: txt2});

            }
            
            $scope.cadastrarCapacity($scope.capacity);

        }

        // extrair dados para excel
        $scope.extrair = function (tabela) {
            alasql('SELECT * INTO XLSX("analytics.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

        $scope.carregarDashboard();

        $scope.converterData = function (data) {
            var dia = data.split("/")[0];
            var mes = data.split("/")[1];
            var ano = data.split("/")[2];

            return ano + '-' + ("0" + mes).slice(-2) + '-' + ("0" + dia).slice(-2);
        }
    });

</script>