
@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-riachuelo-pagamento">
    <!-- DAHSBOARD -->
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Pagamento</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12" ng-if="dashFiltros.status === 200">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <!--RANKING-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Ranking</label>
                                    <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.regra_pagamento" dados="dashFiltros.regra_pagamento" style="width:100%"></select2>
                                </div>

                                <!--EMPRESA-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Empresa</label>
                                    <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.empresas" dados="dashFiltros.empresas" style="width:100%"></select2>
                                </div>

                                <!--CARTEIRA-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Carteiras</label>
                                    <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashFiltros.carteiras" style="width:100%"></select2>
                                </div>

                                <!--BANDEIRA-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Bandeira</label>
                                    <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.bandeira" dados="dashFiltros.bandeira" style="width:100%"></select2>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">

                                <!--FAIXAS-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Faixas</label>
                                    <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.faixas" dados="dashFiltros.faixas" style="width:100%"></select2>
                                </div>

                                <!--SEGMENTAÇÃO BASE SAVE-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Segmento</label>
                                    <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.save" dados="dashFiltros.save" style="width:100%"></select2>
                                </div>

                                <!--ORIGEM DO PAGAMENTO-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Origem</label>
                                    <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.origem" dados="dashFiltros.origem" style="width:100%"></select2>
                                </div>

                                <!--TIPO DO PAGAMENTO-->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">Tipo de Plano</label>
                                    <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.plano" dados="dashFiltros.plano" style="width:100%"></select2>
                                </div>
                            </div>
                        </div>
                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.qtd_pagamento | number"></h3>
                        <p>Qtd Pagamento</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-credit-card"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.valor_pagamento | currency:'R$'"></h3>
                        <p>Vlr Pagamento</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.valor_contabil | currency:'R$'"></h3>
                        <p>Vlr Contábil</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-xs-offset-0 col-md-offset-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.pj_vlr_pagamento | currency:'R$'"></h3>
                        <p>Projeção de Pagamento</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.pj_vlr_contabil | currency:'R$'"></h3>
                        <p>Projeção Contábil</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-8">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Dia Quantidade</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('DiaQuantidade','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.qtDia" axis-Categories="dashboard.dias" type="column" plot-Options-Column-Data-Label="true" y-Axis1-Min="0"
                                    y-Axis1-Max="100"></high-chart>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Carteira Quantidade </span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraQuantidade','Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.qtCarteira" type="pie" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-bottom">
        <div class="col-xs-12 col-md-8">
            <div class="card">
                <div class="card-header">
                    <span class="card-header-title">Dia Valor</span>
                    <div class="card-header-button card-header-expand">
                        <i class="fa fa-expand"></i>
                    </div>
                    <div class="card-header-button" ng-click="extrair('DiaValor','Table3')">
                        <i class="fa fa-file-excel-o"></i>
                    </div>
                    <small class="pull-right">
                        <select ng-model="grafico.indicador" ng-change="carregarGrafico()">
                            <option value="vlr_caixa">Caixa</option>
                            <option value="vlr_contabil">Contábil</option>
                        </select>
                    </small>
                </div>
                <div class="card-body">
                    <high-chart series="dashboard.valor" axis-Categories="dashboard.dias" type="column" plot-Options-Column-Data-Label="true" y-Axis1-Min="0"
                                y-Axis1-Max="100"></high-chart>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <span class="card-header-title">Carteira Valor </span>
                    <div class="card-header-button card-header-expand">
                        <i class="fa fa-expand"></i>
                    </div>
                    <div class="card-header-button" ng-click="extrair('CarteiraValor','Table4')">
                        <i class="fa fa-file-excel-o"></i>
                    </div>
                    <small class="pull-right">
                        <select ng-model="grafico2.indicador" ng-change="carregarGrafico2()">
                            <option value="vlr_caixaCarteira">Caixa</option>
                            <option value="vlr_contabilCarteira">Contábil</option>
                        </select>
                    </small>
                </div>
                <div class="card-body">
                    <high-chart series="dashboard.valorCarteira" type="pie" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                </div>
            </div>
        </div>
    </div>

    <!--PROJECAO MES-->
    <div class="row margin-bottom">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <span class="card-header-title">Projeção de Fechamento</span>
                    <div class="card-header-button card-header-expand">
                        <i class="fa fa-expand"></i>
                    </div>
                    <small class="pull-right">
                        <select ng-model="grafico3.indicador" ng-change="carregarGrafico3()">
                            <option value="PjValorCaixa">Caixa</option>
                            <option value="PjValorContabil">Contábil</option>
                        </select>
                    </small>
                </div>
                <div class="card-body">
                    <high-charts config="dashboard.projecao_mes" style="width: 100%; height: 350px"></high-charts>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    angular.module('app').controller('ctrl-riachuelo-pagamento', function ($scope, $http, $filter, $interval, dadosPagina) {
        dadosPagina.titulo = 'Pagamento';
        dadosPagina.descricao = 'Riachuelo'

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);

        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            empresas: '',
            carteiras: '',
            bandeira: '',
            faixas: '',
            save: '',
            origem: '',
            plano: '',
            regra_pagamento: '',
        };
        $scope.dashFiltros = {};
        $scope.dashboard = {};
        $scope.grafico = { indicador: 'vlr_caixa' };
        $scope.grafico2 = { indicador: 'vlr_caixaCarteira' };
        $scope.grafico3 = { indicador: 'PjValorCaixa' };

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/riachuelo/dashboard/humano/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.empresas = data.Table7;
            $scope.dashFiltros.carteiras = data.Table8;
            $scope.dashFiltros.bandeira = r.data.Table14;
            $scope.dashFiltros.faixas = data.Table10;
            $scope.dashFiltros.save = r.data.Table9;
            $scope.dashFiltros.origem = r.data.Table11;
            $scope.dashFiltros.plano = r.data.Table12;
            $scope.dashFiltros.regra_pagamento = r.data.Table17;
        });

        // obtem filtros do escopo e carrega os dados do dashboard
        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/riachuelo/dashboard/humano/pagamento",
                data: $scope.filtros,
            }).then(function success(r) {
                let data = r.data;
                $scope.dashboard.dados = r.data;
                $scope.dashboard.status = r.status;
                $scope.dashboard.dias = r.data.Table1.map(obj => obj.data);
                $scope.dashboard.carteira = r.data.Table4.map(obj => obj.carteira);
                $scope.dashboard.status = r.status;
                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.qtDia = [{ name: 'Quantidade', data: r.data.Table1.map(obj => (obj.qtd)) }];
                $scope.dashboard.qtCarteira = [{ name: 'Quantidade', data: r.data.Table2.map(obj => ({ name: obj.carteira, y: obj.qtd })) }];
                $scope.dashboard.dados = r.data;
                $scope.dashboard.dados2 = r.data;
                $scope.dashboard.dados3 = r.data;
                $scope.carregarGrafico();
                $scope.carregarGrafico2();
                $scope.carregarGrafico3();
            });
        }

        $scope.carregarGrafico = function () {
            let dados = $scope.dashboard.dados;

            if ($scope.grafico.indicador == 'vlr_caixa') {
                $scope.dashboard.valor = [{ name: 'Valor Caixa', data: dados.Table3.map(obj => (obj.vlr_pagamento)) }];
                $scope.dashboard.carteira = [{ name: 'Valor Caixa', innerSize: '60%', data: dados.Table4.map(obj => ({ name: obj.carteira, y: obj.carteira })) }];
            }
            else {
                $scope.dashboard.valor = [{ name: 'Valor Contábil', data: dados.Table3.map(obj => (obj.vlr_contabil)) }]
            };
            $scope.dashboard.carteira = [{ name: 'Valor Contábil', data: dados.Table4.map(obj => ({ name: obj.carteira, y: obj.carteira })) }];
        }

        $scope.carregarGrafico2 = function () {
            let dados = $scope.dashboard.dados2;

            if ($scope.grafico2.indicador == 'vlr_caixaCarteira') {
                $scope.dashboard.valorCarteira = [{ name: 'Valor Caixa', innerSize: '60%', data: dados.Table4.map(obj => ({ name: obj.carteira, y: obj.vlr_pagamento })) }];
            }
            else {
                $scope.dashboard.valorCarteira = [{ name: 'Valor Contábil', innerSize: '60%', data: dados.Table4.map(obj => ({ name: obj.carteira, y: obj.vlr_contabil })) }];
            }
        }


        $scope.carregarGrafico3 = function () {
            let indicador = $scope.grafico3.indicador;
            let data = $scope.dashboard.dados3;
            let mes_recebido = '';
            let mes_projecao = '';

            switch (indicador) {
                case 'PjValorCaixa':
                    mes_recebido = data.Table5.map(obj => ({ y: obj.vlr_pagamento }));
                    mes_projecao = data.Table6.map(obj => ({ y: obj.vlr_pagamento }));
                    break;
                case 'PjValorContabil':
                    mes_recebido = data.Table5.map(obj => ({ y: obj.vlr_contabil }));
                    mes_projecao = data.Table6.map(obj => ({ y: obj.vlr_contabil }));
                    break;
            }

            mes_recebido[mes_recebido.length - 1].dataLabels = { enabled: true };
            mes_projecao[mes_projecao.length - 1].dataLabels = { enabled: true };

            $scope.dashboard.projecao_mes = {
                title: {
                    text: ''
                },
                yAxis: {
                    title: {
                        text: ''
                    },
                },
                xAxis: {
                    categories: data.Table1.map(obj => obj.data)
                },
                series: [
                    {
                        type: 'line',
                        name: 'Projeção',
                        color: 'black',
                        dashStyle: 'dot',
                        marker: { symbol: 'circle' },
                        data: mes_projecao
                    },
                    {
                        type: 'area',
                        name: 'Recebimento',
                        color: 'black',
                        marker: { symbol: 'circle' },
                        data: mes_recebido
                    },
                ],
                credits: {
                    enabled: false
                }
            };
        }

        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });

</script>
