@{
    Layout = "~/Views/master.cshtml";
}

<!-- DAHSBOARD -->

<div ng-controller="ctrl-sicredidig-baseativa">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Estratificação de Base</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12" ng-if="dashFiltros.status === 200">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--EMPRESA-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Empresa</label>
                            <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.empresa" dados="dashFiltros.empresa" style="width:100%"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-white">
                    <div class="inner" style="color:black">
                        <h3 ng-bind="dashboard.resumo.CONTRATO | number"></h3>
                        <p>Total Contratos</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-file-text"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.CONTRATOVLR | megaNumber"></h3>
                        <p>Total Financeiro</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.TCK_MEDIO | currency:'R$'"></h3>
                        <p>Tckt Medio</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ticket"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.TEL_CLIENTE | number"></h3>
                        <p>Tels. por Cliente</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--FAIXA DE ATRASO-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Faixa de Atraso</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraAtraso','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.atraso" axis-Categories="dashboard.faixaAtraso" plot-Options-Line-Data-Label="true" type="line"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--FAIXA DE VALOR-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Faixa de Valor</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraValor','Table3')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.valor" axis-Categories="dashboard.faixaValor" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--FAIXA IDADE-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Faixa de Idade</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraIdade','Table2')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.idade" axis-Categories="dashboard.faixaIdade" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                    </div>
                </div>

            </div>
        </div>

        <!--GRUPOS-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-12">
                <div class="card col-md-12">
                    <div class="card-header">
                        <span class="card-header-title">Localização</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraRegiao','Table4')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <small class="pull-right">
                            <select ng-model="mapa.indicador" ng-change="carregarMapa()">
                                <option value="quantidade">Quantidade</option>
                                <option value="percentual">Percentual</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <mapa-brasil style="height:400px" width="100%" dados="dashboard.mapa"></mapa-brasil>
                    </div>
                </div>
            </div>
        </div>

        <!--EMPRESAS-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Empresas</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Empresa','Table5')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.empresa" type="pie" inner-size="60%" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Situações Contratos</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('CarteiraSituacao','Table6')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <high-chart series="dashboard.situacao" axis-Categories="dashboard.faixaSituacao" plot-Options-Bar-Data-Label="true" type="bar"></high-chart>
                    </div>
                </div>
            </div>
        </div>

        <!--ESTADO, ORIGEM E TIPO TELEFONE-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Telefone Preferencial</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('Table9')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.estado">
                            <thead>
                                <tr>
                                    <th>Estado</th>
                                    <th>Prefer. - SIM</th>
                                    <th>Prefer. - NÃO</th>
                                    <th>Qtd Telefones</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="e in dashboard.estado | groupBy: 'estado'">
                                <tr class="text-bold">
                                    <td>
                                        <i class="fa fa margin-right-5" ng-click="showTbody = !showTbody" ng-class="showTbody ? 'fa-minus' : 'fa-plus'"></i>
                                        {{e[0].estado}}
                                    </td>
                                    <td>{{e | sumByColumn: 'preferencial_sim' | number}} </td>
                                    <td>{{e | sumByColumn: 'preferencial_nao' | number}} </td>
                                    <td>{{e | sumByColumn: 'qtd_tel' | number}} </td>
                                </tr>
                                <tr ng-repeat="d in e" ng-show="showTbody">
                                    <td>{{d.ddd}}</td>
                                    <td>{{d.preferencial_sim | number}}</td>
                                    <td>{{d.preferencial_nao | number}}</td>
                                    <td>{{d.qtd_tel | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row margin-bottom">
                <div class="col-xs-12 col-md-6 margin-bottom">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Tipo de Telefone</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('OrigemTelefone','Table8')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                            <small class="pull-right">
                                <select ng-model="grafico.origem" ng-change="carregarGrafico()">
                                    <option value="devedor">Devedor</option>
                                    <option value="referencia">Referência</option>
                                </select>
                            </small>
                        </div>
                        <div class="card-body">
                            <high-chart series="dashboard.grafico" axis-Categories="dashboard.faixaTelefone" plot-Options-Column-Data-Label="true" type="column"></high-chart>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Origem Telefone</span>
                            <div class="card-header-button card-header-expand">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="card-header-button" ng-click="extrair('OrigemTelefone','Table7')">
                                <i class="fa fa-file-excel-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <high-chart series="dashboard.origemTelefone" type="pie" inner-size="60%" tooltip-Point-Format="{point.y} (<b>{point.percentage:.1f}%</b>)"></high-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    angular.module('app').controller('ctrl-sicredidig-baseativa', function ($scope, $http, $filter, $interval, dadosPagina) {
        dadosPagina.titulo = 'Estratificação de Base';
        dadosPagina.descricao = 'Sicredi - Digital'

        $scope.filtros = {
            empresa: '',
        };

        $scope.mapa = {
            indicador: 'percentual'
        };

        $scope.grafico = {
            origem: 'devedor'
        };

        $scope.dashFiltros = {};
        $scope.dashboard = {};


        //carregar os filtros
        $http({
            method: 'GET',
            url: "/api/sicredi/dashboard/digital/filtros",
        }).then(function success(r) {
            let data = r.data;
            $scope.dashFiltros.status = r.status;

            $scope.dashFiltros.empresa = r.data.Table;

        });

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/sicredi/dashboard/digital/baseativa",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                let data = r.data;
                $scope.dashboard.dados = r.data;

                $scope.dashboard.resumo = data.Table[0];


                $scope.dashboard.faixaAtraso = data.Table1.map(obj => obj.ds_aging);
                $scope.dashboard.faixaIdade = data.Table2.map(obj => obj.ds_idade);
                $scope.dashboard.faixaValor = data.Table3.map(obj => obj.ds_saldo);
                $scope.dashboard.faixaEmpresa = data.Table5.map(obj => obj.ds_empresa);
                $scope.dashboard.faixaSituacao = data.Table6.map(obj => obj.ds_situacao);
                $scope.dashboard.faixaTelefone = data.Table8.map(obj => obj.tipo_telefone);
                $scope.dashboard.estado = r.data.Table9;

                $scope.dashboard.origemTelefone = [{ name: 'Quantidade', innerSize: '60%', data: data.Table7.map(obj => ({ name: obj.origem, y: obj.qtd_telefone }))}];


                let indicador = 'CONTRATO';
                $scope.dashboard.resumo = data.Table[0];
                $scope.dashboard.atraso = [{ name: [indicador], data: data.Table1.map(obj => (obj[indicador])), color: '#026636' }];
                $scope.dashboard.idade = [{ name: [indicador], data: data.Table2.map(obj => (obj[indicador])), color: '#026636' }];
                $scope.dashboard.valor = [{ name: [indicador], data: data.Table3.map(obj => (obj[indicador])), color: '#026636' }];
                $scope.dashboard.empresa = [{ name: 'Quantidade', innerSize: '60%', data: data.Table5.map(obj => ({ name: obj.ds_empresa, y: obj.CONTRATO })) }];
                $scope.dashboard.situacao = [{ name: 'Quantidade', data: data.Table6.map(obj => (obj.CONTRATO)), color: '#026636' }];

                $scope.carregarMapa();
                $scope.carregarGrafico();

            });
        }

        // carrega o mapa de acordo com o indicador escolhido
        $scope.carregarMapa = function () {
            let dados = $scope.dashboard.dados.Table4;
            switch ($scope.mapa.indicador) {
                case 'percentual':
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.ds_estado, value: (obj.percentual) }));
                    break;
                case 'quantidade':
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.ds_estado, value: (obj.quantidade) }));
                    break;
                default:
                    $scope.dashboard.mapa = dados.map(obj => ({ id: 'BR-' + obj.ds_estado, value: obj[$scope.mapa.indicador] }));
            }
        }


        // carrega o tipo de telefone de acordo com o indicador escolhido
        $scope.carregarGrafico = function () {
            let dados = $scope.dashboard.dados.Table8;
            switch ($scope.grafico.origem) {
                case 'devedor':
                    $scope.dashboard.grafico = [{ name: 'Quantidade', data: dados.map(obj => (obj.devedor)), color: '#026636' }];
                    break;
                case 'referencia':
                    $scope.dashboard.grafico = [{ name: 'Quantidade', data: dados.map(obj => (obj.referencia)), color: '#026636' }];
                    break;
                default:
                    $scope.dashboard.grafico = [{ name: 'Quantidade', data: dados.map(obj => (obj.devedor)), color: '#026636' }];
            }
            console.log($scope.dashboard.grafico)
        }


        $scope.carregarDashboard();

        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }
    });

</script>
