@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-monitoria-campanha">

    <!-- HEADER-->
    <header class="page-header">
        <div class="page-name">Campanhas</div>
    </header>

    <!--LISTA DE CAMPANHAS-->
    <div class="row margin-bottom">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <span class="card-header-title">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-default">
                            Inserir Nova Campanha
                        </button>
                    </span>
                    <div class="card-header-button card-header-expand">
                        <i class="fa fa-expand"></i>
                    </div>
                </div>
                <div class="card-body">


                    <div class="row margin-bottom" ng-if="campanhasLista">
                        <div class="col-xs-12">
                            <d-table class="table table-striped table-bordered" style="width:100%" dados="campanhasLista"></d-table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- MODAL INSERIR-->
    <div class="modal fade" id="modal-default" style="display: none;" ng-if="empresasLista">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Inserir Campanha</h4>
                </div>
                <div class="modal-body">

                    <form role="form">

                        <div class="form-group">
                            <label>Empresa</label>
                            <select class="form-control" ng-model="campanha.indicador" ng-options="g.id_empresa as g.empresa for g in empresasLista"></select>
                        </div>

                        <div class="form-group">
                            <label>Campanha</label>
                            <input type="text" class="form-control" placeholder="Nome Campanha" ng-model="campanha.campanha" />
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="inserirPagina($event)">Inserir</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- MODAL EDITAR-->
    <div class="modal fade" id="modal-edit" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="refresh()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Editar Campanha</h4>
                </div>
                <div class="modal-body">

                    <form role="form" id="teste">

                        <input type="hidden" ng-model="editdiario.id_campanha" />

                        <div class="form-group">
                            <label>Empresa</label>
                            <select class="form-control" ng-model="editcampanha.id_empresa" ng-options="g.id_empresa as g.empresa for g in empresasLista">
                                <option value="">Selecione</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Campanha</label>
                            <input type="text" class="form-control" placeholder="Nome Campanha" ng-model="editcampanha.campanha" />
                        </div>

                        <div class="form-group">
                            <label>Ativo: </label>
                            <input type="checkbox" ng-model="editcampanha.ativo" />
                        </div>

                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editarCampanha()">Salvar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<script>
    angular.module('app').controller('ctrl-monitoria-campanha', function ($scope, $http, $filter, $window, dadosPagina) {
        dadosPagina.titulo = 'Campanha';
        dadosPagina.descricao = ''

        // carregar os paginas
        $scope.carregarPaginas = function () {
            $http({
                method: 'GET',
                url: "/api/monitoria/campanha/obter",
            }).then(function success(r) {

                $scope.campanhasLista = r.data.Table;
                $scope.empresasLista = r.data.Table1;

            });

        }

        $scope.carregarPaginas();

        $scope.refresh = function () {
            location.reload();
        }

        // INSERIR CAMPANHA
        $scope.campanha = {
            campanha: '',
            indicador: ''

        }; // objeto para inserir campanha

        $scope.inserirPagina = function ($event) {

            if (!$scope.campanha.campanha) {
                $event.stopPropagation();
                $window.alert("Insira um nome para campanha.");
                return false;
            }

            if (!$scope.campanha.indicador) {
                $event.stopPropagation();
                $window.alert("Insira a empresaa da campanha.");
                return false;
            }

            $http({
                method: 'POST',
                url: "/api/monitoria/campanha/inserir",
                data: $scope.campanha,
            }).then(function success(r) {
                $scope.empresa = {
                    nome: '',
                };

                location.reload(); //eliminar o cache dos grupos
                $scope.carregarPaginas();


            });
        }

        // EDITAR CAMPANHA
        $scope.editcampanha = {}; // objeto para editar campanha
        $scope.editarCampanha = function () {
            $http({
                method: 'POST',
                url: "/api/monitoria/campanha/alterar",
                data: $scope.editcampanha,
            }).then(function success(r) {
                $scope.carregarPaginas();
            });
        }

        // ao clicar em uma campanha, carregar modal
        $(document).on('click', '.table tbody tr', function () {
            // obtem o id da campanha para buscar
            let id = $(this).find('td:nth-child(1)').html();


            // consultar dados da campanha
            $http({
                method: 'POST',
                url: "/api/monitoria/campanha/consultar",
                data: { id_campanha: id }
            }).then(function success(r) {

                $scope.editcampanha.id_campanha = r.data.Table[0].id_campanha;
                $scope.editcampanha.empresa = r.data.Table[0].empresa;
                $scope.editcampanha.campanha = r.data.Table[0].campanha;
                $scope.editcampanha.id_empresa = r.data.Table[0].id_empresa;
                $scope.editcampanha.ativo = r.data.Table[0].ativo;

                $('#modal-edit').modal('show');


            });

        });

    });

</script>

<style>
    .table tbody tr {
        cursor: pointer;
    }

        .table tbody tr:hover {
            font-weight: bold;
        }
</style>