@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-monitoria-carteira">

    <!-- HEADER-->
    <header class="page-header">
        <div class="page-name">Carteiras</div>
    </header>

    <!--LISTA DE CAMPANHAS-->
    <div class="row margin-bottom">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <span class="card-header-title">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-default">
                            Inserir Nova Carteira
                        </button>
                    </span>
                    <div class="card-header-button card-header-expand">
                        <i class="fa fa-expand"></i>
                    </div>
                </div>
                <div class="card-body">


                    <div class="row margin-bottom" ng-if="carteirasLista">
                        <div class="col-xs-12">
                            <d-table class="table table-striped table-bordered" style="width:100%" dados="carteirasLista"></d-table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- MODAL INSERIR-->
    <div class="modal fade" id="modal-default" style="display: none;" ng-if="gruposLista">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Inserir Carteira</h4>
                </div>
                <div class="modal-body">

                    <form role="form">

                        <div class="form-group">
                            <label>Grupo</label>
                            <select class="form-control" ng-model="carteira.grupo" ng-options="g.id_grupo as g.grupo for g in gruposLista"></select>
                        </div>
                        <div class="form-group" ng-show="carteira.grupo">
                            <label>Empresa</label>
                            <select class="form-control" ng-model="carteira.empresa" ng-options="e.id_empresa as e.empresa for e in empresasLista | filter:{id_grupo: carteira.grupo}:true">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Carteira</label>
                            <input type="text" class="form-control" placeholder="Nome Carteira" ng-model="carteira.nome" />
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="inserirCarteira($event)">Inserir</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- MODAL EDITAR-->
    <div class="modal fade" id="modal-edit" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="refresh()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Editar Campanha</h4>
                </div>
                <div class="modal-body">

                    <form role="form" id="teste">

                        <input type="hidden" ng-model="editdiario.id_empresa" />

                        <div class="form-group">
                            <label>Grupo</label>
                            <select class="form-control" ng-model="editcarteira.id_grupo" ng-options="g.id_grupo as g.grupo for g in gruposLista">
                                <option value="">Selecione</option>
                            </select>
                        </div>

                        <div class="form-group" ng-show="editcarteira.id_grupo">
                            <label>Empresa</label>
                            <select class="form-control" ng-model="editcarteira.id_empresa" ng-options="f.id_empresa as f.empresa for f in empresasLista | filter:{id_grupo: editcarteira.id_grupo}:true">
                                <option value="">Selecione</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Carteira</label>
                            <input type="text" class="form-control" placeholder="Nome Campanha" ng-model="editcarteira.carteira" />
                        </div>

                        <div class="form-group">
                            <label>Ativo: </label>
                            <input type="checkbox" ng-model="editcarteira.ativo" />
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editarCarteira()">Salvar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>


<script>
    angular.module('app').controller('ctrl-monitoria-carteira', function ($scope, $http, $filter, $window, dadosPagina) {
        dadosPagina.titulo = 'Carteira';
        dadosPagina.descricao = ''

        // carregar carteiras
        $scope.carregarCarteiras = function () {
            $http({
                method: 'GET',
                url: "/api/monitoria/carteira/obter",
            }).then(function success(r) {

                $scope.carteirasLista = r.data.Table;
                $scope.gruposLista = r.data.Table1;
                $scope.empresasLista = r.data.Table2;
                console.log($scope.empresasLista);

            });

        }

        $scope.carregarCarteiras();

        $scope.refresh = function () {
            location.reload();
        }

        // INSERIR CARTEIRA
        $scope.carteira = {
            nome: '',
            id_grupo: '',
            id_empresa: ''

        }; // objeto para inserir campanha

        $scope.inserirCarteira = function ($event) {

            if (!$scope.carteira.nome) {
                $event.stopPropagation();
                $window.alert("Insira um nome para Carteira.");
                return false;
            }

            if (!$scope.carteira.id_grupo) {
                $event.stopPropagation();
                $window.alert("Insira o grupo da carteira.");
                return false;
            }

            if (!$scope.carteira.id_empresa) {
                $event.stopPropagation();
                $window.alert("Insira a empresa da carteira.");
                return false;
            }

            $http({
                method: 'POST',
                url: "/api/monitoria/carteira/inserir",
                data: $scope.carteira,
            }).then(function success(r) {
                $scope.empresa = {
                    nome: '',
                };

                location.reload(); //eliminar o cache dos grupos
                $scope.carregarCarteiras();


            });
        }

        // EDITAR CARTEIRA
        $scope.editcarteira = {}; // objeto para editar campanha
        $scope.editarCarteira = function () {
            $http({
                method: 'POST',
                url: "/api/monitoria/carteira/alterar",
                data: $scope.editcarteira,
            }).then(function success(r) {
                $scope.carregarCarteiras();
            });
        }

        // ao clicar em uma campanha, carregar modal
        $(document).on('click', '.table tbody tr', function () {
            // obtem o id da campanha para buscar
            let id = $(this).find('td:nth-child(1)').html();


            // consultar dados da campanha
            $http({
                method: 'POST',
                url: "/api/monitoria/carteira/consultar",
                data: { id_carteira: id }
            }).then(function success(r) {

                $scope.editcarteira.id_carteira = r.data.Table[0].id_carteira;
                $scope.editcarteira.carteira = r.data.Table[0].carteira;
                $scope.editcarteira.id_grupo = r.data.Table[0].id_grupo;
                $scope.editcarteira.grupo = r.data.Table[0].grupo;
                $scope.editcarteira.id_empresa = r.data.Table[0].id_empresa;
                $scope.editcarteira.empresa = r.data.Table[0].empresa;
                $scope.editcarteira.ativo = r.data.Table[0].ativo;

                $('#modal-edit').modal('show');


            });

        });

    });

</script>

<style>
    .table tbody tr {
        cursor: pointer;
    }

        .table tbody tr:hover {
            font-weight: bold;
        }
</style>