@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-tim-projecao">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Projecao</div>
        </header>

        <div class="row margin-bottom">
            <div class="col-xs-12">
                <label>Indicador</label>
                <select ng-model="dashboard.indicador" ng-change="popularDashboard()">
                    <option value="venda" selected>Vendas</option>
                    <option value="ativacao">Ativações</option>
                </select>
            </div>
        </div>

        <!--PROJECAO DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Projeção de Hoje</span>
                        <small class="pull-right">
                            <span>Comparar com:</span>
                            <select ng-model="filtros.compararhojecom" ng-change="carregarDashboard()">
                                <option value="1">Ontem</option>
                                <option value="2">Anteontem</option>
                                <option value="3">Trasanteontem</option>
                                <option value="7">Semana Passada</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <high-charts config="dashboard.grafico_hoje" style="width: 100%; height: 350px"></high-charts>
                    </div>
                </div>
            </div>
        </div>

        <!--PROJECAO MES-->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Projeção do Mês</span>
                        <small class="pull-right">
                            <span>Comparar com:</span>
                            <select ng-model="filtros.compararmescom" ng-change="carregarDashboard()">
                                <option value="1">Mês Passado</option>
                                <option value="2">Mês Retrasado</option>
                            </select>
                        </small>
                    </div>
                    <div class="card-body">
                        <high-charts config="dashboard.grafico_mes" style="width: 100%; height: 350px"></high-charts>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    angular.module('app').controller('ctrl-tim-projecao', function ($scope, $http, $filter) {

        $scope.dashboard = {};
        $scope.dashboard.indicador = 'venda';
        $scope.filtros = {
            compararhojecom: '1',
            compararmescom: '1'
        };

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/tim/vendas/projecao",
                data: $scope.filtros,
            }).then(function success(r) {
                // DADOS DO DASHBOARD
                $scope.dashboard.dados = r.data;

                //POPULAR DASHBOARD
                $scope.popularDashboard();

                // STATUS DASHBOARD OK
                $scope.dashboard.status = r.status;
            });
        }

        $scope.popularDashboard = function () {
            // PROJECAO DE HOJE
            if ($scope.dashboard.dados.Table.length > 0) {
                let hoje_realizado = $scope.dashboard.dados.Table.filter(o => o.projecao == 0).map(o => ({ y: o[$scope.dashboard.indicador] }));
                let hoje_projecao = $scope.dashboard.dados.Table.map(o => ({ y: o[$scope.dashboard.indicador] }));
                let hoje_comparativo = $scope.dashboard.dados.Table.map(o => ({ y: o[$scope.dashboard.indicador+'_comparativo'] }));
                hoje_realizado[hoje_realizado.length - 1].dataLabels = { enabled: true };
                hoje_projecao[hoje_projecao.length - 1].dataLabels = { enabled: true };

                $scope.dashboard.grafico_hoje = {
                    title: {
                        text: ''
                    },
                    yAxis: {
                        title: {
                            text: ''
                        },
                    },
                    xAxis: {
                        categories: $scope.dashboard.dados.Table.map(o => o.hora)
                    },
                    series: [
                        {
                            type: 'line',
                            name: 'Comparativo',
                            color: 'rgba(0, 53, 140, 0.2)',
                            data: hoje_comparativo
                        },
                        {
                            type: 'area',
                            name: 'Realizado',
                            color: 'black',
                            marker: { symbol: 'circle' },
                            data: hoje_realizado
                        },
                        {
                            type: 'line',
                            name: 'Projeção',
                            color: 'black',
                            dashStyle: 'dot',
                            marker: { symbol: 'circle' },
                            data: hoje_projecao
                        },
                    ],
                    credits: {
                        enabled: false
                    }
                };
            }
            
            // PROJECAO DO MES
            if ($scope.dashboard.dados.Table1.length > 0) {
                let hoje_realizado = $scope.dashboard.dados.Table1.filter(o => o.projecao == 0).map(o => ({ y: o[$scope.dashboard.indicador] }));
                let hoje_projecao = $scope.dashboard.dados.Table1.map(o => ({ y: o[$scope.dashboard.indicador] }));
                let hoje_comparativo = $scope.dashboard.dados.Table1.map(o => ({ y: o[$scope.dashboard.indicador+'_comparativo'] }));
                hoje_realizado[hoje_realizado.length - 1].dataLabels = { enabled: true };
                hoje_projecao[hoje_projecao.length - 1].dataLabels = { enabled: true };

                $scope.dashboard.grafico_mes = {
                    title: {
                        text: ''
                    },
                    yAxis: {
                        title: {
                            text: ''
                        },
                    },
                    xAxis: {
                        categories: $scope.dashboard.dados.Table1.map(o => o.dia)
                    },
                    series: [
                        {
                            type: 'line',
                            name: 'Comparativo',
                            color: 'rgba(0, 53, 140, 0.2)',
                            data: hoje_comparativo
                        },
                        {
                            type: 'area',
                            name: 'Realizado',
                            color: 'black',
                            marker: { symbol: 'circle' },
                            data: hoje_realizado
                        },
                        {
                            type: 'line',
                            name: 'Projeção',
                            color: 'black',
                            dashStyle: 'dot',
                            marker: { symbol: 'circle' },
                            data: hoje_projecao
                        },
                    ],
                    credits: {
                        enabled: false
                    }
                };
            }
        }

        $scope.carregarDashboard();
    });

</script>