@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-sms-acompanhamento">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Acompanhamento</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashFiltros.status == 200">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--CENTROCUSTO-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Centro de Custo</label>
                            <select2 style="width: 100%;" class="form-control" data-placeholder="Selecione" ng-model="filtros.centrocusto" dados="dashFiltros.centrocusto"></select2>
                        </div>

                        <!--CARTEIRAS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Carteiras</label>
                            <select2 style="width: 100%;" class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashFiltros.carteiras"></select2>
                        </div>

                        <!--FORNECEDORES-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Fornecedores</label>
                            <select2 style="width: 100%;" class="form-control" data-placeholder="Selecione" ng-model="filtros.fornecedores" dados="dashFiltros.fornecedores"></select2>
                        </div>

                        <!--USUARIOS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Usuarios</label>
                            <select2 style="width: 100%;" class="form-control" data-placeholder="Selecione" ng-model="filtros.usuarios" dados="dashFiltros.usuarios"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--FILTROS INTERATIVOS-->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3 margin-bottom">
                <label class="control-sidebar-subheading">Centro de Custo</label>
                <multiple-select ng-model="dashboard.filtros.centrocusto" dados="dashboard.dimensao.centrocusto" ng-change="aplicarFiltros()" placeholder="Centro de Custo" /><multiple-select />
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 margin-bottom">
                <label class="control-sidebar-subheading">Carteira</label>
                <multiple-select ng-model="dashboard.filtros.carteira" dados="dashboard.dimensao.carteira" ng-change="aplicarFiltros()" placeholder="Carteira" /><multiple-select />
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 margin-bottom">
                <label class="control-sidebar-subheading">Usuario</label>
                <multiple-select ng-model="dashboard.filtros.usuario" dados="dashboard.dimensao.usuario" ng-change="aplicarFiltros()" placeholder="Usuario" /><multiple-select />
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 margin-bottom">
                <label class="control-sidebar-subheading">Fornecedor</label>
                <multiple-select ng-model="dashboard.filtros.fornecedor" dados="dashboard.dimensao.fornecedor" ng-change="aplicarFiltros()" placeholder="Fornecedor" /><multiple-select />
            </div>
        </div>

        <!--RESUMO-->
        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.lote | number"></h3>
                        <p>Lotes</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-file-excel-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3 ng-bind="dashboard.resumo.enviado | number"></h3>
                        <p>SMS</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>R$ {{dashboard.resumo.custo | number}}</h3>
                        <p>Custo</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--DASHBAORD-->
        <div class="row margin-bottom">
            <!--DIA-->
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-body">
                        <high-charts config="dashboard.dia" style="width: 100%; height: 300px"></high-charts>
                    </div>
                </div>
            </div>
            <!--CENTRO DE CUSTO-->
            <div class="col-xs-12 col-md-5 margin-bottom">
                <div class="card">
                    <div class="card-body">
                        <high-charts config="dashboard.centrocusto" style="width: 100%; height: 300px"></high-charts>
                    </div>
                </div>
            </div>
            <!--CARTEIRA-->
            <div class="col-xs-12 col-md-7 margin-bottom">
                <div class="card">
                    <div class="card-body">
                        <high-charts config="dashboard.carteira" style="width: 100%; height: 300px"></high-charts>
                    </div>
                </div>
            </div>
        </div>

        <!--ANALITICO-->
        <div class="row  margin-bottom">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Lote a Lote</span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.analitico">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Arquivo</th>
                                        <th>Sucesso</th>
                                        <th>Registros</th>
                                        <th>SMS Enviado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr align="center" ng-repeat="r in dashboard.analitico">
                                        <td>{{r.datac}}</td>
                                        <td>{{r.arquivo}}</td>
                                        <td>{{r.sucesso ? 'SIM' : 'NÃO'}}</td>
                                        <td>{{r.qtd_registros | number}}</td>
                                        <td>{{r.qtd_enviado | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-sms-acompanhamento', function ($scope, $http, $filter, cubo) {

        // obj ref aos filtros da consulta
        $scope.filtros = {
            dtini: $filter('date')(new Date(new Date().getFullYear(), new Date().getMonth(), 1), "yyyy-MM-dd"),
            dtfim: $filter('date')(new Date(), "yyyy-MM-dd"),
            centrocusto: '',
            carteiras: '',
            fornecedores: '',
            usuarios: '',
        };
        // obj ref aos graficos e elementos do dashboard
        $scope.dashboard = {
            dimensao: {},
            filtros: {},
        }
        // obj ref aos filtros de dimensoes (interativos)
        $scope.dimensao = {};
        // obj ref as opcoes de filtros fixos
        $scope.dashFiltros = {};


        // carregar os filtros fixos
        $http({
            method: 'GET',
            url: "/api/sms/filtros",
            data: $scope.filtros,
        }).then(function success(r) {           
            $scope.dashFiltros.centrocusto = r.data.Table;
            $scope.dashFiltros.carteiras = r.data.Table1;
            $scope.dashFiltros.fornecedores = r.data.Table2;
            $scope.dashFiltros.usuarios = r.data.Table3;

            $scope.dashFiltros.status = r.status;
        });

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/sms/dashboard/acompanhamento",
                data: $scope.filtros,
            }).then(function success(r) {
                console.log(r.data.Table);
                cubo.carregar(r.data.Table);
                $scope.popularDashboard();
                $scope.popularFiltros();
                $scope.dashboard.status = r.status;
            });
        }

        $scope.popularFiltros = function () {
            $scope.dashboard.dimensao.centrocusto = cubo.obterDimensao('centrocusto').sort();
            $scope.dashboard.dimensao.carteira = cubo.obterDimensao('carteira').sort();            
            $scope.dashboard.dimensao.fornecedor = cubo.obterDimensao('fornecedor').sort();
            $scope.dashboard.dimensao.usuario = cubo.obterDimensao('usuario').sort();
        }

        $scope.popularDashboard = function () {

            // OBTER DIMENSOES (JA FILTRADO)
            $scope.dimensao.centrocusto = cubo.obterDimensao('centrocusto');
            $scope.dimensao.carteira = cubo.obterDimensao('carteira');
            $scope.dimensao.fornecedor = cubo.obterDimensao('fornecedor');
            $scope.dimensao.usuario = cubo.obterDimensao('usuario');

            // CARREGAR AS VISUALIZAÇÕES
            let dados = cubo.obter();
            $scope.dashboard.analitico = dados;

            let dia = alasql('select data, sum(custo) custo from ? group by data order by data', [dados]);
            let centrocusto = alasql('select centrocusto, sum(custo) custo from ? group by centrocusto', [dados]);
            let carteira = alasql('select carteira, sum(custo) custo from ? group by carteira order by custo desc', [dados]);

            $scope.dashboard.resumo = alasql('select count(*) lote, sum(qtd_enviado) enviado, sum(custo) custo from ?', [dados])[0];

            $scope.dashboard.dia = {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Dia a Dia'
                },
                yAxis: {
                    visible: false,
                },
                xAxis: {
                    categories: dia.map(obj => obj['data'])
                },
                legend: {
                    enabled: false,
                },
                plotOptions: {
                    spline: {
                        dataLabels: {
                            enabled: true,
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{ name: 'Custo', data: dia.map(obj => obj.custo), color: '#333' }]
            };
            $scope.dashboard.centrocusto = {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Centro de Custo'
                },
                plotOptions: {
                    pie: {
                        innerSize: '60%'
                    }
                },
                legend: {
                    enabled: false,
                },
                credits: {
                    enabled: false
                },
                series: [{ name: 'Custo', data: centrocusto.map(obj => ({ name: obj.centrocusto, y: obj.custo })) }]
            };            
            $scope.dashboard.carteira = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Carteira'
                },
                yAxis: {
                    visible: false,
                },
                xAxis: {
                    categories: carteira.map(obj => obj['carteira'])
                },
                legend: {
                    enabled: false,
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true,
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{ name: 'Custo', data: carteira.map(obj => obj.custo) }]
            };

        }

        $scope.aplicarFiltros = function () {

            cubo.limparFiltros();

            cubo.filtrar('centrocusto', $scope.dashboard.filtros.centrocusto);
            cubo.filtrar('carteira', $scope.dashboard.filtros.carteira);
            cubo.filtrar('fornecedor', $scope.dashboard.filtros.fornecedor);
            cubo.filtrar('usuario', $scope.dashboard.filtros.usuario);

            cubo.aplicarFiltros();

            $scope.popularDashboard();
        }

        $scope.carregarDashboard();

    });

</script>
