@{
    Layout = "~/Views/master.cshtml";
}


<div ng-controller="ctrl-sms-custo">
    <div ng-if="dashboard.status == 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">Custos</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom" ng-if="dashFiltros.status == 200">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!--DATA INCIAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                            </div>
                        </div>

                        <!--DATA FINAL-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                            </div>
                        </div>

                        <!--CENTROCUSTO-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Centro de Custo</label>
                            <select2 style="width: 100%;" class="form-control" data-placeholder="Selecione" ng-model="filtros.centrocusto" dados="dashFiltros.centrocusto"></select2>
                        </div>

                        <!--CARTEIRAS-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Carteiras</label>
                            <select2 style="width: 100%;" class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashFiltros.carteiras"></select2>
                        </div>

                        <!--FORNECEDORES-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Fornecedores</label>
                            <select2 style="width: 100%;" class="form-control" data-placeholder="Selecione" ng-model="filtros.fornecedores" dados="dashFiltros.fornecedores"></select2>
                        </div>

                        <!--ESTADO-->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">Estado</label>
                            <select2 style="width: 100%;" class="form-control" data-placeholder="Selecione" ng-model="filtros.estados" dados="dashFiltros.estados"></select2>
                        </div>

                        <!--BOTÃO-->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--RESUMO-->

        <div class="row margin-bottom">
            <div class="col-xs-12 col-md-5 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Análise Geral</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row margin-bottom">
                            <div class="col-xs-7 col-md-7">
                                <div class="info-box bg-green-active">
                                    <span class="info-box-icon">
                                        <i class="fa fa-usd"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <p>Custo Total</p>
                                        <h3 ng-bind="dashboard.resumo.custo | currency: 'R$ '"></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <div class="info-box bg-green">
                                    <div class="inner" style="padding:5px;text-align:center">
                                        <p>Tickect Médio</p>
                                        <h3 class="info-box-number" ng-bind="dashboard.resumo.ticket_med | currency: 'R$ '"></h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-bottom">
                            <div class="col-xs-7 col-md-7">
                                <div class="info-box bg-blue-active">
                                    <span class="info-box-icon">
                                        <i class="fa fa-files-o"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <p>Lotes</p>
                                        <h3 ng-bind="dashboard.resumo.qtd_lote | number: 0"></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <div class="info-box bg-blue">
                                    <div class="inner" style="padding:5px;text-align:center">
                                        <p>Registros</p>
                                        <h3 class="info-box-number" ng-bind="dashboard.resumo.qtd_registros | number: 0"></h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-bottom">
                            <div class="col-xs-7 col-md-7">
                                <div class="info-box bg-yellow-active">
                                    <span class="info-box-icon">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <p>Enviado</p>
                                        <p>
                                            <h4 class="pull-right" ng-bind="dashboard.resumo.qtd_sucesso / dashboard.resumo.qtd_tentativa | percentage: 2"></h4></>
                                            <h3 ng-bind="dashboard.resumo.qtd_sucesso | number: 0"></h3>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <div class="info-box bg-yellow">
                                    <div class="inner" style="padding:5px;text-align:center">
                                        <p>Tentativa</p>
                                        <h3 class="info-box-number" ng-bind="dashboard.resumo.qtd_tentativa | number: 0"></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-7 margin-bottom">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Custo por Carteira</span>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                        <div class="card-header-button" ng-click="extrair('VolumeCarteira','Table1')">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <high-chart series="dashboard.carteira" axis-Categories="dashboard.carteiras" style="height:375px" type="column" plot-Options-Spline-Data-Label="true" plot-Options-Column-Data-Label="true"></high-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <span class="card-header-title">Custo por Dia</span>
                <div class="card-header-button card-header-expand">
                    <i class="fa fa-expand"></i>
                </div>
                <div class="card-header-button" ng-click="extrair('VolumeCarteira','Table1')">
                    <i class="fa fa-file-excel-o"></i>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <high-chart series="dashboard.dia" axis-Categories="dashboard.datas" style="height:375px" type="column" plot-Options-Spline-Data-Label="true" plot-Options-Column-Data-Label="true"></high-chart>
                </div>
            </div>
        </div>

        <!--LOTE-->
        @*<div class="row  margin-bottom">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">Lotes Importados</span>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" style="width:100%" ng-if="dashboard.lote">
                                    <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Hora</th>
                                            <th>Centro Custo</th>
                                            <th>Carteira</th>
                                            <th>Fornecedor</th>
                                            <th>Usuário</th>
                                            <th>Layout</th>
                                            <th>Registros</th>
                                            <th>Tentativas</th>
                                            <th>Enviado</th>
                                            <th>% Enviado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="r in dashboard.lote">
                                            <td>{{r.data}}</td>
                                            <td>{{r.hora}}</td>
                                            <td>{{r.centrocusto}}</td>
                                            <td>{{r.carteira}}</td>
                                            <td>{{r.fornecedor}}</td>
                                            <td>{{r.usuario}}</td>
                                            <td>{{r.layout}}</td>
                                            <td>{{r.registros | number}}</td>
                                            <td>{{r.tentativa | number}}</td>
                                            <td>{{r.disparado | number}}</td>
                                            <td>{{r.disparado / r.registros | percentage:1}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        <!--GRAFICO DIA-->
        @*<div class="row margin-bottom">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-title">SMS por Dia</span>
                        </div>
                        <div class="card-body">
                            <high-chart series="dashboard.dia" axis-Categories="dashboard.datas" type="column" plot-Options-Column-Data-Label="true"></high-chart>
                        </div>
                    </div>
                </div>
            </div>*@

    </div>
</div>

<script>
    angular.module('app').controller('ctrl-sms-custo', function ($scope, $http, $filter) {

        $scope.filtros = {
            dtini: $filter('date')(new Date(), "yyyy-MM-dd"),
            dtfim: $filter('date')(new Date(), "yyyy-MM-dd"),
            centrocusto: '',
            carteiras: '',
            fornecedores: '',
            estados: '',
        };

        $scope.dashFiltros = {};
        $scope.dashboard = {};

        // carregar os filtros
        $http({
            method: 'GET',
            url: "/api/sms/lote/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.centrocusto = r.data.Table;
            $scope.dashFiltros.carteiras = r.data.Table1;
            $scope.dashFiltros.fornecedores = r.data.Table2;
            $scope.dashFiltros.estados = r.data.Table4;

        });

        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/sms/dashboard/custo",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;

                //console.log(r.data);

                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.fornecedor = r.data.Table1;
                //$scope.dashboard.dia = r.data.Table2;
                $scope.dashboard.arquivo = r.data.Table3;
                $scope.dashboard.estado = r.data.Table4;
                //$scope.dashboard.carteira = r.data.Table5;
                $scope.dashboard.centroCusto = r.data.Table6;

                 $scope.dashboard.carteiras = r.data.Table5.map(obj => obj.carteira);
                $scope.dashboard.carteira = [
                    { name: 'R$ Valor', color: '#08b967', data: r.data.Table5.map(obj => obj.custo) }
                    , { name: '% Enviado', yAxis: 1, type: 'spline', color: 'rgba(232, 2, 39, 1)', data: r.data.Table5.map(obj => (obj.qtd_sucesso * 100 / obj.qtd_tentativa).toFixed(1) * 1) }];
            

                $scope.dashboard.datas = r.data.Table2.map(obj => obj.data);
                $scope.dashboard.dia = [
                    { name: 'R$ Valor', color: '#f9b344', data: r.data.Table2.map(obj => obj.custo) }
                    , { name: '% Enviado', yAxis: 1,  type: 'spline', color: 'rgba(232, 2, 39, 1)', data: r.data.Table2.map(obj => (obj.qtd_sucesso * 100 / obj.qtd_tentativa).toFixed(1) * 1) }];
            });
        }

        $scope.carregarDashboard();

    });

</script>
