@{
    Layout = "~/Views/master.cshtml";
}


<!-- DAHSBOARD -->
<div ng-controller="ctrl-sms-digital">
    <div ng-if="dashboard.status === 200">

        <!-- HEADER-->
        <header class="page-header">
            <div class="page-name">SMS Digital</div>
            <div class="page-menu-button" ng-style="{'background-color': credor.cor_primaria, 'color': credor.cor_fonte_primaria}" onclick="toggleDisplayNone('filtros-window')">
                <i class="fa fa-filter"></i>
                FILTROS
            </div>
        </header>

        <!-- FILTROS -->
        <div class="row margin-bottom">
            <div class="col-xs-12">
                <div id="filtros-window" class="card display-none">
                    <div class="card-header">
                        <span class="card-header-title">Filtros</span>
                        <div class="card-header-button card-header-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-header-button card-header-expand">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Filtros -->
                        <div class="tab-pane active" id="control-sidebar-filters-tab">
                            <!--DATA INCIAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtini"></date-picker>
                                </div>
                            </div>

                            <!--DATA FINAL-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <date-picker class="form-control pull-right" placeholder="yyyy-mm-dd" ng-model="filtros.dtfim"></date-picker>
                                </div>
                            </div>

                            <!--Carteiras-->
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Carteiras</label>
                                <select2 class="form-control" data-placeholder="Selecione" ng-model="filtros.carteiras" dados="dashFiltros.carteiras" style="width:100%"></select2>
                            </div>

                            <!--BOTÃO-->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-toggle="control-sidebar" ng-click="carregarDashboard()" onclick="addDisplayNone('filtros-window')">Carregar Dados</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- RESUMO -->
        <div class="row margin-bottom">

            <div class="col-xs-12 col-md-6">
                <div class="info-box bg-blue">
                    <span class="info-box-icon">
                        <i class="fa fa-envelope-open-o "></i>
                    </span>
                    <div class="info-box-content">
                        <h3 ng-bind="dashboard.resumo.quantidade | number"></h3>
                        <div>SMS</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="info-box bg-green">
                    <span class="info-box-icon">
                        <i class="fa fa-money"></i>
                    </span>
                    <div class="info-box-content">
                        <h3>R$ {{dashboard.resumo.custo | number}}</h3>
                        <div>Custo</div>
                    </div>
                </div>
            </div>
        </div>


        <!--ANALISE POR DIA-->
        <div class="row margin-bottom">
            <div class="col-xs-12 margin-bottom">
                <div class="card">
                    <div class="card-body">
                        <small class="pull-right">
                            <select ng-model="dashboard.indicador" style="color:black" ng-change="carregarGraficoDia()">
                                <option value="quantidade">Quantidade</option>
                                <option value="custo">Custo</option>
                            </select>
                        </small>
                        <high-charts config="dashboard.graficoDia" style="width: 100%; height: 300px"></high-charts>
                    </div>
                </div>
            </div>

            <!--CENTRO DE CUSTO-->
            <div class="col-xs-12 col-md-5 margin-bottom">
                <div class="card">
                    <div class="card-body">
                        <high-charts config="dashboard.centrocusto" style="width: 100%; height: 300px"></high-charts>
                    </div>
                </div>
            </div>
            <!--CARTEIRA-->
            <div class="col-xs-12 col-md-7 margin-bottom">
                <div class="card">
                    <div class="card-body">
                        <high-charts config="dashboard.carteira" style="width: 100%; height: 300px"></high-charts>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    angular.module('app').controller('ctrl-sms-digital', function ($scope, $http, $filter, dadosPagina) {

        dadosPagina.titulo = 'Sms';
        dadosPagina.descricao = 'Digital'
        $scope.showTbody = false;
        $scope.dashFiltros = {};
        $scope.dashboard = {
            indicador: 'custo'
        };

        // filtros iniciais
        let newdate = new Date();
        let primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);


        $scope.filtros = {
            dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"),
            dtfim: $filter('date')(newdate, "yyyy-MM-dd"),
            carteiras: '',
        };

        // carregar os filtros fixos
        $http({
            method: 'GET',
            url: "/api/sms/filtros",
            data: $scope.filtros,
        }).then(function success(r) {
            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.carteiras = r.data.Table1;

        });


        $scope.carregarDashboard = function () {
            $http({
                method: 'POST',
                url: "/api/sms/dashboard/smsdigital",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.dashboard.status = r.status;
                $scope.dashboard.dados = r.data;

                $scope.dashboard.resumo = r.data.Table[0];
                $scope.dashboard.dia = r.data.Table1;
                let cart = r.data.Table2;
                let tipo = r.data.Table3;

                $scope.dashboard.centrocusto = {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Tipo SMS'
                    },
                    yAxis: [
                        {
                            title: {
                                text: 'Quantidade'
                            },
                        },
                        {
                            title: {
                                text: 'Custo'
                            },
                            opposite: true
                        }],
                    xAxis: {
                        categories: tipo.map(obj => obj['ds_tipo_sms'])
                    },
                    legend: {
                        enabled: true,
                    },
                    plotOptions: {
                        column: {
                            dataLabels: {
                                enabled: true,
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: [
                        { name: 'Quantidade', data: tipo.map(obj => obj.quantidade), color: '#0073b7' },
                        { name: 'Custo', yAxis: 1, data: tipo.map(obj => obj.custo), color: '#008548' }]
                };


                $scope.dashboard.carteira = {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Carteira'
                    },
                    yAxis: [
                        {
                            title: {
                                text: 'Quantidade'
                            },
                        },
                        {
                            title: {
                                text: 'Custo'
                            },
                            opposite: true
                        }],
                    xAxis: {
                        categories: cart.map(obj => obj['carteira'])
                    },
                    legend: {
                        enabled: true,
                    },
                    plotOptions: {
                        column: {
                            dataLabels: {
                                enabled: true,
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: [
                        { name: 'Quantidade', data: cart.map(obj => obj.quantidade), color: '#0073b7' },
                        { name: 'Custo', yAxis: 1, data: cart.map(obj => obj.custo), color: '#008548' }]
                };

                $scope.carregarGraficoDia();

            });
        }

        // carrega o gráfico dia
        $scope.carregarGraficoDia = function () {
            let dados = $scope.dashboard.dia;

            $scope.dashboard.graficoDia = {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Dia a Dia'
                },
                yAxis: {
                    visible: false,
                },
                xAxis: {
                    categories: dados.map(obj => obj['data'])
                },
                legend: {
                    enabled: false,
                },
                plotOptions: {
                    spline: {
                        dataLabels: {
                            enabled: true,
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{ name: 'Custo', data: dados.map(obj => obj[$scope.dashboard.indicador]), color: '#0073b7' }]
            };
        }

        $scope.carregarDashboard();


        // extrair dados para excel
        $scope.extrair = function (nomeArquivo, tabela) {
            alasql('SELECT * INTO XLSX("' + nomeArquivo + '.xlsx", {headers: true}) FROM ?', [$scope.dashboard.dados[tabela]]);
        }

    });


</script>

