@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-sms-upload">

</div>

<script>
    angular.module('app').controller('ctrl-sms-upload', function ($scope, $http, $filter) {



    });
</script>