@{
    Layout = "~/Views/master.cshtml";
}

<div ng-controller="ctrl-sms-upload">
    <div class="margin-bottom">
        <!--FILTROS-->
        <div class="col-xs-12 margin-bottom" ng-if="dashFiltros.status == 200">
            <div class="card">
                <div class="card-header">
                    <span class="card-header-title">Filtros</span>
                </div>
                <div class="card-body">
                    <div class="row">

                        <!--CENTRO DE CUSTO-->
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Centro de Custo</label>
                                <select ng-model="filtros.centrocusto" class="form-control">
                                    <option value="" selected="selected"> Selecione</option>
                                    <option ng-repeat="cc in dashFiltros.centrocusto" value="{{cc.id_centrocusto}}">{{cc.centrocusto}}</option>
                                </select>
                            </div>
                        </div>

                        <!--CARTEIRA-->
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Carteira</label>
                                <select ng-model="filtros.carteira" class="form-control">
                                    <option value="" selected="selected"> Selecione</option>
                                    <option ng-repeat="c in dashFiltros.carteira" value="{{c.id_carteira}}">{{c.carteira}}</option>
                                </select>
                            </div>
                        </div>

                        <!--FORNECEDOR-->
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Fornecedor</label>
                                <select ng-model="filtros.fornecedor" class="form-control">
                                    <option value="" selected="selected"> Selecione</option>
                                    <option ng-repeat="f in dashFiltros.fornecedor" value="{{f.id_fornecedor}}">{{f.fornecedor}}</option>
                                </select>
                            </div>
                        </div>

                        <!--LAYOUT ARQUIVO-->
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            <div class="form-group">
                                <label class="control-sidebar-subheading">Layout do Arquivo</label>
                                <select ng-model="filtros.layout" ng-change="getLayout( filtros.layout )" class="form-control">
                                    <option value="" selected="selected"> Selecione</option>
                                    <option ng-repeat="l in dashFiltros.layout" value="{{l.id_layout}}">{{l.layout}}</option>
                                </select>
                            </div>
                        </div>

                        <!--UPLOAD ARQUIVO-->
                        <div class="col-xs-12 col-sm-4 col-md-2" ng-show="validarSelecao()">
                            <div class="form-group">
                                <label>Upload Arquivo</label>
                                <input type="file" id="fileInput" accept="{{arquivo.extensao[0]}}" uploadfile="filtros.arquivo" />
                                <input type="hidden" ng-model="filtros.arquivo" />
                            </div>
                        </div>
                    </div>

                    <!-- BOTÃO UPLOAD ARQUIVO-->
                    <div class="form-group">
                        <button data-toggle="modal" data-target="#modalUpload" ng-disabled="!validarSelecaoArquivo()" type="button" class="btn btn-success">Importar Arquivo</button>
                    </div>
                </div>

            </div>
        </div>

        <!--PREVIEW LAYOUT ARQUIVO-->
        <div class="row margin-bottom" ng-show="validarSelecao()">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-header-title">Layout do arquivo selecionado</span>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered" style="width:100%" ng-if="arquivo.metadados">
                            <thead>
                                <tr>
                                    <th ng-repeat="x in arquivo.metadados">{{  x.name }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL CONFIRMAR UPLOAD-->
        <div class="modal" id="modalUpload" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Confirmar Upload</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><h4>Tem certeza que é este o arquivo que deseja importar?</h4></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" ng-click="importarArquivo()" data-dismiss="modal">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    angular.module('app').controller('ctrl-sms-upload', function ($scope, $http, $filter) {


        $scope.filtros = {

            centrocusto: '',
            carteira: '',
            fornecedor: '',
            layout: '',
            tabela: '',
            arquivo: ''
        };

        $scope.arquivo = {};
        $scope.dashFiltros = {};
        $scope.arquivo = {};

        //carregar os filtros
        $http({
            method: 'GET',
            url: "/api/sms/lote/filtros",
            data: $scope.filtros,
        }).then(function success(r) {

            $scope.dashFiltros.status = r.status;
            $scope.dashFiltros.centrocusto = r.data.Table;
            $scope.dashFiltros.carteira = r.data.Table1;
            $scope.dashFiltros.fornecedor = r.data.Table2;
            $scope.dashFiltros.layout = r.data.Table3;

        });


        $scope.getPreviewLayout = function () {

            $http({
                method: 'POST',
                url: "/api/sms/lote/getPreviewLayout",
                data: $scope.filtros,
            }).then(function success(r) {
                $scope.arquivo.status = r.status;
                $scope.arquivo.metadados = r.data.Table;
            });
        }

        $scope.validarSelecao = function () {

            let show = false;

            if (!$scope.filtros.centrocusto == '' && !$scope.filtros.carteira == '' && !$scope.filtros.fornecedor == '' && !$scope.filtros.layout == '') {
                show = true;

            }

            return show;
        }

        $scope.validarSelecaoArquivo = function () {
            let show = false;

            if (!$scope.filtros.arquivo == '') {
                show = true;
            }
            return show;
        }

        $scope.getLayout = function (id) {

            let extensao = alasql = ('select extensao_arquivo from ? where id_layout = ' + id + '', [$scope.dashFiltros.layout][0]);
            let tabela = alasql = ('select tabela from ? where id_layout = ' + id + '', [$scope.dashFiltros.layout][0]);

            $scope.filtros.tabela = tabela.map(obj => obj.tabela)[0];
            $scope.arquivo.extensao = extensao.map(obj => obj.extensao_arquivo);

            $scope.getPreviewLayout();
        }

        $scope.importarArquivo = function () {
            $http({
                method: 'POST',
                url: "/api/sms/lote/upload",
                data: $scope.filtros,
            }).then(function success(r) {

                //let status = r.status;
                //let id = r.data;                

                if (r.status == 200) {

                    alert("Arquivo importado com sucesso!");
                    $("#fileInput").val('');
                    $scope.filtros.centrocusto = '';
                    $scope.filtros.carteira = '';
                    $scope.filtros.fornecedor = '';
                    $scope.filtros.layout = '';
                    $scope.filtros.tabela = '';
                    $scope.filtros.arquivo = '';

                } else if (r.status == 500) {
                    console.log(r.data.Message);
                    
                    alert(r.data.Message);

                    $("#fileInput").val('');
                    $scope.filtros.centrocusto = '';
                    $scope.filtros.carteira = '';
                    $scope.filtros.fornecedor = '';
                    $scope.filtros.layout = '';
                    $scope.filtros.tabela = '';
                    $scope.filtros.arquivo = '';
                }

            });
        }

    });
</script>